<script id="BreadcrumbTrail-template" type="text/x-jquery-tmpl">
<div id="BreadcrumbTrailArea" class="BreadcrumbTrailAreaLayoutStyle">
	<ul id="ID_BreadcrumbTrail" class="BreadcrumbTrail">
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont">1.</span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_ProductSelection"></span></a></li>
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont">2.</span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_ApplicantInfo"></span></a></li>
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont">3.</span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_FinancialAndEmploymentInfo"></span></a></li>
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont">4.</span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_SupplementaryCard "></span></a></li>
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont">5.</span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_OptionalProducts"></span></a></li>
		<li><a href="#"><span class="BreadcrumbTrailItemNumberFont"></span><span class="BreadcrumbTrailItemFont" data-translationKey="breadCrumbItem_Confirmation"></span></a></li>
	</ul>
</div>
</script>