<script id="CC_Legal_OMR-template" type="text/x-jquery-tmpl">
<!--<span id="TandCTitle" class="TandC_Title_Format" data-translationKey="chooseProduct_ReadTandC"></span>//-->	
<span id="legalOMR" class="TandC_Content_Format">
<!-- US3766 //-->
<br><span data-translationKey="legal_omr_first_chapter" ></span>
<br><span data-translationKey="legal_omr_second_chapter" ></span>
<br><span data-translationKey="legal_omr_third_chapter" ></span>
<br><span data-translationKey="legal_omr_four_chapter" ></span>
<br><span data-translationKey="legal_omr_five_chapter" ></span>
<br><br><span data-translationKey="legal_omr_six_chapter" ></span>
<br><br><span data-translationKey="legal_omr_seven_chapter" ></span>
<br><span data-translationKey="legal_omr_eight_chapter" ></span>
<br><span data-translationKey="legal_omr_nine_chapter" ></span>

</span> 
</script>