<script id="CC_Legal_OMC-template" type="text/x-jquery-tmpl">
<!--<span id="TandCTitle" class="TandC_Title_Format" data-translationKey="chooseProduct_ReadTandC"></span>//-->
<!--<span id="legalOMC" class="TandC_Content_Format">
<br><span data-translationKey="legal_omc_first_chapter" ></span>
<br><span data-translationKey="legal_omc_second_chapter" ></span>
<br><span data-translationKey="legal_omc_fourth_chapter" ></span>
<br><span data-translationKey="legal_omc_fives_chapter" ></span>
<br><span data-translationKey="legal_omc_six_chapter" ></span>
<br><span data-translationKey="legal_omc_seven_chapter" ></span>
</span>-->
<!-- US3012 -->
<span id="legalOMC" class="TandC_Content_Format">
<br><span data-translationKey="legal_omc_first_chapter_ectm" ></span>
<br><span data-translationKey="legal_omc_second_chapter_ectm" ></span>
<br><span data-translationKey="legal_omc_fourth_chapter" ></span>
<br><span data-translationKey="legal_omc_fives_chapter" ></span>
<br><span data-translationKey="legal_omc_seven_chapter" ></span>
</span>
</script>