<script id="CC_OMC-template" type="text/x-jquery-tmpl">
    <blockquote>
    
	<!-- US3012 start -->
	<p>
        <span data-translationKey="omc_first_chapter_ectm" style="color: #d52b1e; font-size: large;"><b></b></span>
    </p>
    <p data-translationKey="omc_second_chapter_ectm">
    </p>
	<ul>
        <li> <span data-translationKey="omc_fourth_chapter_ectm" ></span>            
        </li>
        <li><span data-translationKey="omc_fives_chapter_ectm" ></span>
            
        </li>
        <li><span data-translationKey="omc_sixt_chapter_ectm" ></span>
        </li>
    </ul>
	<!-- US3012 end -->
    <h4><span data-translationKey="omc_eight_chapter" ></span></h4>
    <ul>
        <li><span data-translationKey="omc_nine_chapter" ></span>
        </li>
        <li><span data-translationKey="omc_ten_chapter" ></span>
        </li>
        <li><span data-translationKey="omc_eleven_chapter" ></span>
        </li>
        <li><span data-translationKey="omc_twelve_chapter" ></span>
        </li>
        <li><span data-translationKey="omc_13_chapter" ></span>
        </li>
    </ul>
    <h4><span data-translationKey="omc_14_chapter" ></span></h4>
    <ul>
        <li><span data-translationKey="omc_15_chapter" ></span></h4>
        </li>
        <li><span data-translationKey="omc_16_chapter" ></span>
        </li>
    </ul>
    </p>
</blockquote>
</script>
