<script id="WICIBreadcrumbs" type="text/x-jquery-tmpl">
    <ul id="BreadcrumbTrailArea" class="breadcrumbs {{if isNotEmployee}} breadcrumbs-longer {{if current === 6 || current === 8 }} widthOptionalProductBreadcrum {{/if}} {{if current === 8 }} breadcrumbs-full {{/if}}  {{/if}} {{if !isNotEmployee}} {{if current === 8 }} breadcrumbs-full{{/if}} {{/if}} ScreenLayoutFullWidth">
        <li class="{{if current === 1}}breadcrumbs-item-current{{else current > 1}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">1. <span data-translationKey="breadCrumbItem_ProductSelection"></span>
            </span>
        </li>
        <li class="{{if current === 2}}breadcrumbs-item-current{{else current > 2}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">2. <span data-translationKey="breadCrumbItem_EmailInfo"></span>
            </span>
        </li>
        <li class="{{if current === 3}}breadcrumbs-item-current{{else current > 3}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">3. <span data-translationKey="breadCrumbItem_ApplicantInfo"></span>
            </span>
        </li>        
        <li class="{{if current === 4}}breadcrumbs-item-current{{else current > 4}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">4. <span data-translationKey="breadCrumbItem_FinancialAndEmploymentInfo"></span>
            </span>
        </li>
        <li class="{{if current === 5}}breadcrumbs-item-current{{else current > 5}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">5. <span data-translationKey="breadCrumbItem_SupplementaryCard"></span>
            </span>
        </li>
        {{if isNotEmployee}}
        <li class="{{if current === 6}}breadcrumbs-item-current{{else current > 6}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">6. <span data-translationKey="breadCrumbItem_OptionalProducts"></span>
            </span>
        </li>
        {{/if}}
        {{if isNotEmployee && !landLineFlag}}
        <li class="{{if current === 7}}breadcrumbs-item-current{{else current > 7}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">7. <span data-translationKey="breadCrumbItem_MobilePayments"></span>
            </span>
        </li>        
        {{else !landLineFlag}}
        <li class="{{if current === 7}}breadcrumbs-item-current{{else current > 7}}breadcrumbs-item-active{{/if}}">
            <span class="breadcrumbs-item-text-wrapper">6. <span data-translationKey="breadCrumbItem_MobilePayments"></span>
            </span>
        </li>
        {{/if}}
        <li class="{{if current === 8}}breadcrumbs-item-current{{/if}}">
            <span class="breadcrumbs-item-text-wrapper"><span data-translationKey="breadCrumbItem_Confirmation"></span>
            </span>
        </li>
    </ul>
</script>
