<script id="MobilePaymentNotePageFooter-template" type="text/x-jquery-tmpl">
	<footer class="pageFooter disclaimerFooterHeight">
		<div class="disclaimerFooterText">
		      <p class="personalInfoIncText" data-translationKey="personalData_TermsandConditions_Para1"></p>
          	  <p class="personalInfoIncText" data-translationKey="personalData_TermsandConditions_Para2"></p>
          	  <br>
	          <span class="phoneNote" data-translationKey="personalData_Note"></span>
		</div>
	</footer>
	<br>
</script>
