APIAutomation/.classpath
APIAutomation/.classpath
APIAutomation/.settings/org.eclipse.jdt.core.prefs
WICIMobile3/bin/classes
WICIMobile3/.gradle
WICIWebApp3/local.properties
WICIMobile3/.project
WICIWebApp3/conf/compass/.sass-cache
WICIWebApp3/WebContent/app/version.js
WICIWebApp3/WebContent/app/conf/connectionDetails.js
WICIWebApp3/WebContent/app/view/css/wiciwebapp.css
WICIMobile3/.project
APIAutomation/.settings/org.eclipse.jdt.core.prefs
APIAutomation/.classpath
