<?xml version="1.0" encoding="UTF-8"?>
<web-app
    metadata-complete="true"
    id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>WICIMiddlewareBroker2</display-name>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.ctfs.WICI.Filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AddressLookup</display-name>
		<servlet-name>AddressLookup</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.AddressLookupServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IsAlive</display-name>
		<servlet-name>IsAlive</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.IsAliveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VersionServlet</display-name>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.VersionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DatabaseAccessServlet</display-name>
		<servlet-name>DatabaseAccessServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.DatabaseAccessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitAccountApplicationServlet</display-name>
		<servlet-name>InitAccountApplicationServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.InitAccountApplicationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PollAccountApplicationResponseServlet</display-name>
		<servlet-name>PollAccountApplicationResponseServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.PollAccountApplicationResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeviceAdminServlet</display-name>
		<servlet-name>DeviceAdminServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.DeviceAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReceiveAccountResponseServlet</display-name>
		<servlet-name>ReceiveAccountResponseServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.ReceiveAccountResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgentServlet</display-name>
		<servlet-name>AgentServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.AgentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InstantIssuanceServlet</display-name>
		<servlet-name>InstantIssuanceServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.InstantIssuanceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IsServerAliveServlet</display-name>
		<servlet-name>IsServerAliveServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.IsServerAliveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TMXEmailRiskAssessmentServlet</display-name>
		<servlet-name>TMXEmailRiskAssessmentServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.TMXEmailRiskAssessmentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AbbrevaitedCityServlet</display-name>
		<servlet-name>AbbrevaitedCityServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.AbbrevaitedCityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RetrieveJobDescriptionServlet</display-name>
		<servlet-name>RetrieveJobDescriptionServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.RetrieveJobDescriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckCPEligibilityServlet</display-name>
		<servlet-name>CheckCPEligibilityServlet</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.CheckCPEligibilityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressLookup</servlet-name>
		<url-pattern>/AddressLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstantIssuanceServlet</servlet-name>
		<url-pattern>/InstantIssuance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IsServerAliveServlet</servlet-name>
		<url-pattern>/IsServerAlive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgentServlet</servlet-name>
		<url-pattern>/Agent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>
		/Version</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitAccountApplicationServlet</servlet-name>
		<url-pattern>
		/InitAccountApplication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PollAccountApplicationResponseServlet</servlet-name>
		<url-pattern>
		/PollAccountApplicationResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeviceAdminServlet</servlet-name>
		<url-pattern>/DeviceAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceiveAccountResponseServlet</servlet-name>
		<url-pattern>
		/ReceiveAccountResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TMXEmailRiskAssessmentServlet</servlet-name>
		<url-pattern>/TMXProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AbbrevaitedCityServlet</servlet-name>
		<url-pattern>/AbbreviateCity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveJobDescriptionServlet</servlet-name>
		<url-pattern>/RetrieveJobDescriptionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckCPEligibilityServlet</servlet-name>
		<url-pattern>/CheckCPEligibility</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-role>
		<description>Field Marketing Representatives</description>
		<role-name>FMR</role-name>
	</security-role>
	<security-role>
		<description>Application Admins</description>
		<role-name>WICI-ADMIN</role-name>
	</security-role>
	<security-role>
		<description>Application Demo Mode</description>
		<role-name>WICI-DEMO</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all resources</web-resource-name>
			<description>something</description>
			<url-pattern>*</url-pattern>
			<!--<url-pattern>/Login/*</url-pattern>//-->
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Constraint for user role</description>
			<role-name>FMR</role-name>
			<role-name>WICI-ADMIN</role-name>
			<role-name>WICI-DEMO</role-name>
		</auth-constraint>
		<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Form based authentication</realm-name>
		<form-login-config>
			<form-login-page>/dummyLogin.jsp</form-login-page>
			<form-error-page>/dummyLogin.jsp?status=failure</form-error-page>
		</form-login-config>
	</login-config>
    <resource-ref>
    	<res-ref-name>jdbc/WICIDataSource</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    	<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
   		<res-ref-name>jdbc/tctSales</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    	<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<res-ref-name>jdbc/instcrds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>	
	
</web-app>