<script id="pageFooter-template" type="text/x-jquery-tmpl">
	<footer class="pageFooter darkGrayGradient">
		{{if previousButtonId}}
			<a href="#" data-theme="r" data-role="button" class=" ${previousButtonId} pageNavigationButton previous ui-btn ui-btn-icon-left ui-corner-left ui-btn-up-r">
				<span class="buttonAltText"></span>
				<span class="buttonAltTextLabel" data-translationKey="pageHeader_previous"></span>
			</a>
		{{/if}}

		{{if nextButtonId}}
			<a href="#" data-theme="r" data-role="button" class="${nextButtonId} pageNavigationButton next ui-btn ui-btn-icon-right ui-corner-right ui-btn-up-r">
				<span class="buttonAltTextLabel" data-translationKey="pageHeader_next"></span>
				<span class="buttonAltText"></span>
			</a>
		{{/if}}
	</footer>
</script>
