$bcHeight: 47px;

@mixin breadcrumbs-item-shared-styles {
  background-color: #E3E3E3;
  color: $red;
}

ul.breadcrumbs {
  width: 100%;
  background-color: #CECECE;
  height: $bcHeight;
  left: 0;
  margin: 0;
  max-height: $bcHeight;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 50;
  min-width: 0 !important;

  > li {
    @include box-sizing(border-box);
    background-color: #CECECE;
    color: #969696;
    display: table;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: $bcHeight;
    padding-right: 30px;
    position: relative;
    text-shadow: 1px 50% white;

    &:first-child { width: 12%; }
    &:nth-child(2) { width: 12%; }
    &:nth-child(3) { width: 11%; }
    &:nth-child(4) { width: 16%; }
    &:nth-child(5) { width: 13%; }
    &:nth-child(6) { width: 13%; }
    &:nth-child(7) { width: 13%; }
    
    &:last-child { padding: 0; }

    &:after {
      background: url('../../images/notvisited_crumb_sep.png') no-repeat;
      content: '';
      height: $bcHeight;
      position: absolute;
      right: 0;
      top: 0;
      width: 31px;
    }

    &.breadcrumbs-item-active {
      @include breadcrumbs-item-shared-styles();

      &:after {
        background-image: url('../../images/visited_crumb_sep.png');
        width: 30px;
      }
    }

    &.breadcrumbs-item-current {
      @include breadcrumbs-item-shared-styles();

      &:after {
        background-image: url('../../images/visited_left_crumb_sep.png');
        width: 29px;
      }
    }

    &:last-child:after {
      background: none;
    }

    > .breadcrumbs-item-text-wrapper {
      padding-left: 5px;
      vertical-align: middle;
      display: table-cell;
    }

    &:first-child > .breadcrumbs-item-text-wrapper {
      padding-left: 15px;
    }
  }

  &.breadcrumbs-longer {
    > li {
      &:first-child { width: 12%; }
      &:nth-child(2) { width: 10%; }
      &:nth-child(3) { width: 10%; }
      &:nth-child(4) { width: 17%; }
      &:nth-child(5) { width: 11%; }
      &:nth-child(6) { width: 10%; }
      &:nth-child(7) { width: 10%; }
      &:nth-child(8) { width: 10%; }
    }
  }

  &.breadcrumbs-full {
    background-color: #E3E3E3;
  }
}

.breadcrumbPadding{
  padding-top: 100px !important;
}

.widthOptionalProductBreadcrum {
  width: 104%;
}

@media only screen
and (max-width: 1000px) {
  ul.breadcrumbs.breadcrumbs-longer {
    > li {
      &:first-child {
        min-width: 0 !important;
      }
    }
  }
}

@media only screen
and (max-width: 900px) {
  ul.breadcrumbs {
    > li {
      font-size: 10pt;
      min-width: 0 !important;

      > .breadcrumbs-item-text-wrapper {
        padding-left: 0;
      }

      &:first-child > .breadcrumbs-item-text-wrapper {
        padding-left: 8px;
      }
    }
  }
}


@media only screen
and (max-width: 710px) {
  ul.breadcrumbs {
    > li {
      font-size: 9pt;
    }

    &.breadcrumbs-longer > li {
      font-size: 9pt;
    }
  }
}

