@import "_mixins";
@import "_const";
@import "_breadcrumbs"; 
@import "_jquery-custom";
@import "_cocd_table";


.mainpage {
  width: 299px;
}

a {
  -webkit-touch-callout:none;
}

/* START - Common Styles */
html,body {
  background: #ffffff;
}

.align-vertical-middle-container {
  display: table;

  > .align-vertical-middle-item {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
  }
}

#WICIWebAppMainPage {
  background-color: #FFFFFF;
  background-image: none;
}

.ui-page {
  outline: none;
  min-height:100%;
  height:100%;
}
.logoIcon {
  margin: auto;
  background-size: 100%;
  height: 75px;
  width: 75px;
}
.uppercase {
  text-transform: uppercase;
}
.logoIconUnclicked {
  background-image: #{inline-image("icon_unclicked.png")};

}
.logoIconClicked {
  background-image: #{inline-image("icon_clicked.png")};


}
.wiciLoginPage {
  background-color: #E6E6E6;
  min-height:100%;
  height:100%;
}

.wiciChooseProductPage {
  background-color: #FFFFFF;
  padding-top: 0;
}

.wiciWhiteBackgroundPage {
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 100%;
}

.pageTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21pt;
  font-color: #000;
  font-weight: bold;
}

.pageSubTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  font-color: #000;
}

/* US4637 Email page starts */
#emailInfo_omc_card{
    background-image: inline-image("emailInfo_for_OMC.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#emailInfo_omp_omr_card{
   background-image: inline-image("emailInfo_for_OMP_OMR.png");
   background-size: 100%;
   background-repeat: no-repeat;
}

#emailInfo_omp_omr_card.fr{
  background-image: #{inline_image("emailInfo_for_OMP_OMR_fr.png")} !important;
}

#omcCard.fr {
  background-image: #{inline_image("omc_fr.png")} !important;
}

.EmailInfoDontMissText{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  color: #FF0000;
}
/* US4637 Email page ends */
.summaryPageSubTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  font-color: #000;
}

.locationDetailsFont {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  font-color: #000;
}

.exitApplicationFont {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  font-color: #000;
}

.ScreenLayout{
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 70px;
  box-sizing: border-box;
  margin-bottom: -70px;
}




/* US4131 - Start */


.ScreenLayout_OptionalProducts{
  padding-left: 0px;
  padding-right: 0px;
  height: auto !important;
  box-sizing: border-box;
  margin-top: 7px;
}

.title {
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #cc0608;
    font-size: 26px;
    text-shadow: none;
}

.title_arrow img {
    display: block;
    margin: -22px auto;
}

.red_icon {
	margin-top: -15px;
    margin-right: 15px;
}

.credit_prot_division {
    display: table;
    position: relative;
    line-height: 32px;
}

.credit_prot {
	display: table-cell;
    vertical-align: top;
}

.red_arrow {
	
}

#section_1 ul {
    list-style-image: #{inline_image("red_checkbox.png")};
}

.section {
	display: inline-block;
	text-align: left;
	margin-top: 15px;
    margin-bottom: 20px;
}

.align_center {
	text-align: center;
}

.small {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}


/* US4131 - End */



.ScreenLayoutFullWidth{
  padding-left: 0;
  padding-right: 0;
}

.RedLabel {
  color: $red;
}

#dialogButtonContainer {
  text-align: center;
}

.settingsContainer
{
  max-height: 250px;
  max-width: 300px;
}

.settingsContainer2Buttons
{
  max-height: 176px;
  max-width: 300px;
}

.navigationControls {
  width: 100%
}

.Login_CanadianTireLogo{
  background-image: inline-image("CTB_LoginScreen_Logo_English.png");
  height: 120px;
  /*height: 230px; Mark's Logo removed*/
  width: 477px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.Login_CanadianTireLogo_French{
  background-image: inline-image("CTB_LoginScreen_Logo_French.png");
  height: 120px;  
  /*height: 230px; Mark's Logo removed*/
  width: 477px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.PageHeader_CanadianTireLogo_inner {
  height: 60px;
  width: 247px;
  background-size: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.PageHeader_CanadianTireLogo {
  width: 100%;
  box-sizing: border-box;
}

.PageHeader_CanadianTireLogo_English.PageHeader_CanadianTireLogo_LeftPadding {
  padding-left: 150px;
}

.PageHeader_CanadianTireLogo_English.PageHeader_CanadianTireLogo_RightPadding {
  padding-right: 210px;
}

.PageHeader_CanadianTireLogo_English .PageHeader_CanadianTireLogo_inner {
  background-image: #{inline-image("CTB_Navbar_Logo_English.png")};
}

.PageHeader_CanadianTireLogo_French.PageHeader_CanadianTireLogo_LeftPadding {
  padding-left: 170px;
  padding-right: 60px;
}

.PageHeader_CanadianTireLogo_French.PageHeader_CanadianTireLogo_RightPadding {
  padding-right: 250px;
}

.PageHeader_CanadianTireLogo_French .PageHeader_CanadianTireLogo_inner {
  background-image: #{inline-image("CTB_Navbar_Logo_French.png")};
}

.pageHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 70px;
}
.pageFooter {
  position: relative;
  width: 100%;
  height: 70px;
}

.pageHeaderPadding {
  padding-top: 50px;
}

.pageHeader {
  h2 {
    color: #464646;
    font-size: 16px;
  }

  .pageHeader-right-button-group {
    position: absolute;
    top: -7px;
    right: 0;

    .next {
      position: static;

      .buttonAltText {
        background-image: #{inline-image("next.png")};
        background-position: right;
      }
    }

    .settings {
      left: -70px;
      top: 0;

      .buttonAltText {
        background-image: #{inline-image("settings_icon.png")};
        background-position: center center;
      }
    }
  }

  .pageNavigationButton {
    @include border-radius(10px);
    font-size: 1.7em;
    padding: 11px 10px 2px;
    height: 40px;
    position: absolute;
    top: -7px;

    .buttonAltText {
      background: 0 0 no-repeat;
      display: inline-block;
      background-size: cover;
      height: 30px;
      width: 40px;
    }

    .buttonAltTextLabel {
      position: relative;
      top: -6px;
      text-shadow: none;
    }

    &.previous {
      left: 0;

      .buttonAltText {
        background-image: #{inline-image("previous.png")};
      }
    }

    &.rightPosition {
      right: 0;
    }
  }
}

.pageFooter {
  h2 {
    color: #464646;
    font-size: 16px;
  }

  .pageNavigationButton {
    @include border-radius(10px);
    height: 40px;
    padding: 11px 10px 2px;
    font-size: 1.7em;
    position: absolute;
    margin: 6px;

    .buttonAltText {
      background: 0 0 no-repeat;
      display: inline-block;
      background-size: cover;
      height: 30px;
      width: 40px;
    }

    .buttonAltTextLabel {
      position: relative;
      top: -6px;
      text-shadow: none;
    }

    &.previous {
      left: 0;

      .buttonAltText {
        background-image: #{inline-image("previous.png")};
      }
    }

    &.next {
      right: 0;

      .buttonAltText {
        background-image: #{inline-image("next.png")};
        background-position: right;
      }
    }

    &.settings {
      right: 65px;
      border-bottom-left-radius: .6em;
      border-top-left-radius: .6em;
      border-bottom-left-radius: .6em;
      border-top-left-radius: .6em;
      padding-left: 0;

      .buttonAltText {
        background-image: #{inline-image("settings_icon.png")};
        background-position: center center;
      }
    }
    &.rightPosition
    {
      right: 0;
    }
  }
}


/*------Gradient Title Bar------*/
.redGradient{
  background: #ed2524; /* Old browsers */
  background: -moz-linear-gradient(top,  #ed2524 0%, #a1020e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed2524), color-stop(100%,#a1020e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ed2524 0%,#a1020e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ed2524 0%,#a1020e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ed2524 0%,#a1020e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ed2524 0%,#a1020e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed2524', endColorstr='#a1020e',GradientType=0 ); /* IE6-9 */
  height: 50px;
}

.darkGrayGradient{
  background: #333333; /* Old browsers */
  //background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  height: 70px;
}


.alignRightAtEdgeofTitleBar{
  float:right;
  text-align:right;
}

/*------Gradient Title Bar------*/

/*-------BEGIN: Dialog Stuff ------*/


#messageDialog {
  ul li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}
#messageDialog.removeExpired {
  ul li {
    list-style-type: disc;
  }
}

.ui-dialog-background {
  opacity: 0.5;
  display: block !important;
  -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog {
  min-height: 100% !important;
  background: transparent !important;
}
//US4282
.ui-dialog_homePhone{
  min-height: 80% !important;
  background: transparent !important;
}

.ui-page_homePhone {
  outline: none;
  min-height:80%;
  height:80%;
}
//US4282
/*-------END: Dialog Stuff ------*/

/*------------BEGIN Table-Related-Stuff------------*/
.regularTable{
  @include border-radius(0);
  border:1px solid #CCCCCC;

  font-color: #5E5D5D;
  background-color:#F7F7F7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14pt;

  padding-left: 15px;
}
.regularTableEx {
  @include border-radius(0);
  border:1px solid #CCCCCC;

  font-color: #5E5D5D;
  background-color:#F7F7F7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14pt;
}
.labelPadingLeft15{
  padding-left: 15px;
}
.sizeSelector{
  font-size : 14pt;
}
/*
.tableNoBorder
{
      tr td {
        border:0px;
        padding: 0;
    }
      border:0px;
}
*/

.tableNoCellsBorder
{
  tr td {
    border:0px;
  }
}

table{
  @include border-radius(11px);
  border: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  border-spacing: 0;
}

tr {
  border-bottom: solid 1px #CCCCCC;
}

table tr th td {
  border:1px solid #CCCCCC;
  border-spacing: 0;
}

tr {
  td {
    height: 47px;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
    border-spacing: 0;

    &:first-child {
      border-left: none;
    }
  }

  &:first-child td {
    border-top: none;
  }
}

.withBorderTop {
  border-top: solid 1px #CCCCCC !important;
}

.loginTableWidth tr:last-child td:first-child {
  @include border-radius(0 0 0 11px);
}


.heightForRadioButtonLabelCell{
  height: 70px;
}

.tableWithPadding50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.grayTableNoBorder {
  background-color: #F7F7F7;
  border: 0;

  tr td {
    border: 0;
  }
}

.textNormal{
  font-weight:normal;
}

/*------------END Table-Related-Stuff------------*/

.selectRow {
  border:1px solid #EA2323;
  border-bottom:1px solid #EA2323;
  border-top:1px solid #EA2323;
  border-left:1px solid #EA2323;
  border-right:1px solid #EA2323;
}

.signatureScreenText{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: regular;
  font-size: 16pt;
  font-color: #FF5E5D5D;
}

.fieldLabelsTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  font-color: #5E5D5D;
}

.fieldLabelsTopCell{
  @include border-radius(11px 0 0 0);
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  font-color: #5E5D5D;

  padding-left: 15px;
}


.fieldLabelsOneCell{
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 11px;
}

.fieldLabelsBottomCell{
  @include border-radius(0 0 0 11px);

  font-color: #5E5D5D;
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;

  padding-left: 15px;

}

.fieldLabelsSingleCell{
  @include border-radius(11px 0 0 11px);

  font-color: #5E5D5D;
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;

  padding-left: 15px;
}

.fieldLabelsCell{
  @include border-radius(0);

  font-color: #5E5D5D;
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;

  padding-left: 15px;
}
.op_fieldLabelsCell{
  @include border-radius(0);
  font-color: #5E5D5D;
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  padding-left: 20px;
}
.fieldTableHeaderTopCell{
  @include border-radius(11px 11px 0 0);

  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  font-color: #5E5D5D;

  padding-left: 15px;
}

.fieldLabelsCell25{
  width:25%;
}

.fieldSize55{
  width:55%;
}

.fieldValuesCell{
  @include border-radius(0);

  padding-left: 15px;
  padding-right: 15px;
}

.fieldValuesCellFlip{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F7F7F7;
  width:15%;
  text-align: center;
}

.fieldValuesTopCell{
  padding-left: 15px;
  padding-right: 15px;

  @include border-radius(0 11px 0 0);
}

/* US4637 Email page starts */
 #omcCardEmailInfo {
    background-image: #{inline_image("emailInfo_for_OMC.png")};
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  #omcCardEmailInfo.en_card {
    background-image: #{inline_image("emailInfo_for_OMC.png")};
  }

  #omcCardEmailInfo.fr_card {
    background-image: #{inline_image("emailInfo_for_OMC_fr.png")};
  }
  .emailInfoCard{
      background-size: 800px 600px;
      display: block;
      text-decoration: none;
      position: relative;
      border-radius: 0px;
      margin: 0px auto;
      outline-style: none;
      height: 600px;
      margin-bottom: 15px;
  }
  
 
  #emailInfo_OMR_OMP_image{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  
  .emailInfo_OMR_OMP_cardImage{
    background-image: #{inline_image("emailInfo_for_OMP_OMR.png")};
    background-size: 800px 600px;
    display: block;
    text-decoration: none;
    position: relative;
    border-radius: 0px;
    margin: 0px auto;
    outline-style: none;
    height: 500px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding-top: 25px;
  }
  
  .emailInfo_OMR_OMP_cardImage_fr {
    background-image: #{inline_image("emailInfo_for_OMP_OMR_fr.png")};
    background-size: 800px 600px;
    display: block;
    text-decoration: none;
    position: relative;
    border-radius: 0px;
    margin: 0px auto;
    outline-style: none;
    height: 500px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding-top: 25px;
  }
  
.fieldEmailInfoCell{
  @include border-radius(11px 0 0 11px);
  background-color:#F7F7F7;
  width:50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  font-color: #5E5D5D;
  padding-left: 15px;
}
/* US4637 Email page ends */
.fieldValuesBottomCell{
  padding-left: 15px;
  padding-right: 15px;

  -webkit-border-bottom-right-radius: 11px;
}

.fieldValuesOneCell
{
  padding-left: 15px;
  padding-right: 15px;

  -webkit-border-bottom-right-radius: 11px;
  -webkit-border-top-right-radius: 11px;
}

.fieldCellSize40 {
  max-width:40%;
}

.fieldCellSize50 {
  max-width:50%;
}

.fieldCellSize55 {
  max-width:55%;
}

.fieldCellSize60 {
  max-width:60%;
}

.fieldCellSize80 {
  max-width:80%;
}

.fieldCellSize33 {
  width:33%;
}

.fieldCellSize30 {
  width:30%;
}

.fieldCellSize20 {
  width:20%;
}

.fieldCellSize5 {
  width:1%;
}

.genericTableWidth{
  width:700px;
}

.stretchThisTable{
  width:100%;
}

.fieldValuesTextField{
  #background-color:transparent;
  border: 0 solid;
  height:30px;
  width:100%;
  color:#5E5D5D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-color:#5E5D5D;
}

.fieldValuesSelectField{
  height:30px;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-color:#5E5D5D;
}

.fieldValuesPhoneField {
  background-color:transparent;
  border: 0 solid;
  height:30px;
  width:100%;
  color:#5E5D5D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-color:#5E5D5D;
}

.upperCaseField{
  text-transform: uppercase;
}
/* luk: used in ValidationDecorator */
.errorField{
  border: 1px solid;
  border-color: $red;
  box-shadow: 0 0 10px red;
  -webkit-box-shadow: 0 0 10px red;
  -moz-box-shadow: 0 0 10px red;
  @include border-radius(7px);

  -webkit-appearance: none;

}

/* END - Common Styles */


#loginScreenImage_ctfs_image_titleblock{
  padding-top: 118px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: #{inline_image("ctfs_titleblock.png")};
}

/* START - Login Screen */

/* END - Login Screen */

/* START - button ---------------------------------------------- */
.button {
  display: table-cell;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: middle;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: .5em 0em .5em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);

  @include border-radius(.25em);

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  height: 72px;
  width: 640px;
}

.button:disabled {
  opacity: 0.5;
}

.button_disabled {
  color: #c8c8c8;
  border: solid 1px #dedede;
  background: #faddde;
  opacity: 0.5;
  disabled:true;
  ui-disabled:true;
}

.buttonText{
  font-family: Arial;
  font-size: 16pt;
  color: #FFF;
  line-height: 22px;
  height: 72px;
}

.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

/* red */
.red {
  color: $red;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top,  #c9151b,  #a11115);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* greenflat */
.greenflat {
  color: #faddde;
  border: solid 1px rgb(34, 152, 12);
  background: rgb(24, 142, 2);
}

.greenflat:active {
  background: rgb(30, 148, 10);
}

/* grayflat */
.grayflat {
  color: #c8c8c8;
  border: solid 1px #cccccc;
  background: #dedede;
}

.grayflat:active {
  background: #dedede;
}

/* darkgrayflat */
.darkgrayflat {
  color: #a7a7a7;
  border: solid 1px #aaaaaaa;
  background: #bcbcbc;
}

.darkgrayflat:active {
  background: #bcbcbc;
}

/* blackflat */
.blackflat {
  color: #676767;
  border: solid 1px #aaaaaaa;
  background: #565656;
}

.blackflat:active {
  background: #565656;
}
/* blackflat */
.darkgrayflat {
  background: #555555;
}

.rightalign {
  float: right;
}
.leftAlign {
  float: left;
}


.wrapper {
    width:100%;
    clear:both;
    position: absolute;
    left: 30%;
}
.first {
    width:50px;
    float:left;
    margin: 5px 0 0 0;
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    font-size: 14px;
}
.second {
    width:30%;
    float:left;
}
.third {
    width:50px;
    float:left;
    margin: 6px 0 0 10px;
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    font-size: 14px;
}


/* END - button ---------------------------------------------- */

/* ------------------------- US4454 -------------------------*/

.agentRadioButton{
    font-weight: bold;
    font-size: 22px;
    width: 5%;
    padding-left: 8px;
    vertical-align: middle;
    padding-right: 8px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.agentRadioButtonField{
width:2em;
vertical-align: middle;
height:2em;
}

.agentLoginScreenRadioButtons{
text-align: center;
}

.agentRadiobutton input[type="radio"]:checked,
.agentRadiobutton input[type="radio"]:not(:checked) {
    position: relative;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 5px;
    padding-top: 10px;
    position: relative;
    margin-bottom: 0;
}
.agentRadiobutton input[type="radio"]:checked + label,
.agentRadiobutton input[type="radio"]:not(:checked) + label
{
   
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -5px;
    left: -5px;
    background: #eee;
    border:1px solid #ddd;
    border-radius: 50%;   
    
}
.agentRadiobutton input[type="radio"]:checked + label:before,
.agentRadiobutton input[type="radio"]:not(:checked) + label:before {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
   
}
.agentRadiobutton input[type="radio"]:checked + label:after,
.agentRadiobutton input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    
    position: absolute;
    
    
}
.agentRadiobutton input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.agentRadiobutton input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.agentTableWidth{
  width: 100%;
}

.agentTableWidth tr:last-child td:first-child {
  @include border-radius(0px 0 0 11px);
}

.radioButtonTableNoBorder {
  background-color: #E6E6E6;
  border: 0;
  width: 640px;

  tr td {
    border: 0;
  }
}

.radioTextWidth{
  width: 200px;
  vertical-align: middle;
}
.radioButtonWidth{
   width:200px;
}

.radioButtonTextWidth{
  width:100px;
  overflow: visible;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  margin: 0;
  text-align: left;
  z-index: 2;
}
/* -------------------------- US4454 ------------------------*/

/* START - Choose Product Screen */

.PageTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21pt;
  color: #000;
}

.CC_Labels{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  color: #000;
}

/* START - Product Images */
#omcCard {
  background-image: #{inline_image("omc_en.png")};
  background-size: 176px;
  height: 205px;
  margin: 0 auto;
  width: 260px;
}

#omcCard.fr {
  background-image: #{inline_image("omc_fr.png")} !important;
}

#omcCardBottom {
  background-image: #{inline_image("myctm-logo_en.png")};
  height: 40px;
  width: 270px;
  background-size: 245px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
}

#omcCardBottom.fr {
  background-image: #{inline_image("myctm-logo_fr.png")} !important;
}

#creditCardProductList ul {
  height:235px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.creditCardProductClickableProduct {
  display: block;
  text-decoration: none;
  position: relative;
  span {
    position: absolute;
    top: 170px;
    display: inline-block;
    text-align: center;
    width: 110px;
    text-shadow: none;
    font-size: 12px;
    left: -20px;
  }
}

#creditCardProductList {
  height: 235px;
  width: 100%;
  min-width: 500px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#creditCardProductList li {
  list-style-type: none;
  float: left;
  width: 33.33%; /* 100% / productsNumber */
  height: 220px;
  margin-bottom: 25px;
}

#creditCardProductList .creditCardProductClickableProduct {
  @include border-radius(5px);

  width: 235px;
  height: 190px;
  margin: 0 auto;
  outline-style: none;
}

#creditCardProductList .creditCardSelectedBgColor {
  background-color: #aaaaaa;
}

#creditCardProductList .creditCardProductClickableProduct span {
  color: #000000;
  font-size: 14px;
  width: 180px;
  position: static;
  margin: 0 auto;
  padding-top: 150px;
  display: block;
}



/* US3766 - Start */

@media not handhelds {

  #ctmLogo {
    background-repeat: no-repeat;
    background-position: 0px 190px;
  }

  #omcCard {
    background-repeat: no-repeat;
    background-position: 15px 35px;
  }

  #ompCard {
    background-image: #{inline_image("omp_en.png")};
    background-repeat: no-repeat;
    background-position: 28px 35px;
    background-size: 176px;
  }

  #ompCard.en_card {
    background-image: #{inline_image("omp_en.png")};
  }

  #ompCard.fr_card {
    background-image: #{inline_image("omp_fr.png")};
  }

  #omrCard {
    background-image: #{inline_image("omr_en.png")};
    background-repeat: no-repeat;
    background-position: 28px 35px;
    background-size: 176px;
  }

  #omrCard.en_card {
    background-image: #{inline_image("omr_en.png")};
  }

  #omrCard.fr_card {
    background-image: #{inline_image("omr_fr.png")};
  }
  
  #creditCardProductList .OMRPortrait {
  	width: 33.33%;
  }
  
  #creditCardProductList {
    height: 235px;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

/*  US3766 - Start */
@media screen and (orientation: portrait) and (min-width: 400px) and (max-width: 700px), 
(orientation: landscape) and (min-width: 700px) and (max-width: 1100px) {
    
  #ctmLogo {
    background-repeat: no-repeat;
    background-position: 0px 190px;
  }

  #omcCard {
    background-repeat: no-repeat;
    background-position: 15px 35px;
  }

  #ompCard {
    background-image: #{inline_image("omp_en.png")};
    background-repeat: no-repeat;
    background-position: 28px 35px;
    background-size: 176px;
  }

  #ompCard.en_card {
    background-image: #{inline_image("omp_en.png")};
  }

  #ompCard.fr_card {
    background-image: #{inline_image("omp_fr.png")};
  }
  
  #omrCard {
    background-image: #{inline_image("omr_en.png")};
    background-repeat: no-repeat;
    background-position: 28px 35px;
    background-size: 176px;
  }

  #omrCard.en_card {
    background-image: #{inline_image("omr_en.png")};
  }

  #omrCard.fr_card {
    background-image: #{inline_image("omr_fr.png")};
  }
  
  #creditCardProductList .OMRPortrait {
  	width: 100%;
  }
  
  #creditCardProductList {
    height: 450px;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  #creditCardProductList li {
    list-style-type: none;
    float: left;
    width: 50%; /* 100% / productsNumber */
    height: 220px;
    margin-bottom: 25px;
  }
    
}

/* US3766 - End */


/* END - Product Images Clickable */

#addressLookupButton{
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  margin: 5px;
  @include border-radius(2px);
}

.lookupSpan
{
  top: 25px;
  position: relative;
}

.driversLicenseSpan
{
  top: 15px !important;
}

.proceedToConfirmationButtonWidth{
  width:320px;
}

.addressLookup_DropDownItemsControl {
  border: 2px solid #22980c;
  background-color: #22980c;
  padding: 0 0 0 0;
  @include border-radius(5px);
  text-shadow: 0 0 white;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

.SubTextFieldControl {
  border: 2px solid #F7F7F7;
  background-color: #F7F7F7;
  padding: 0 0 0 0;
  @include border-radius(5px);
  text-shadow: 0 0 white;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

.dropDownButton {
  display: block;
  float: right;
  height: 25px;
  width:27px;
  background: no-repeat #{inline_image("dropdownarrow.png")};
  background-position: center;
}

.makeRoomForDropDownButton{
  width:90%;
}

#promoCodeTable{
  width: 100%;
}

.applyButtonWidth{
  width: 240px;
}

.afterPrintButtonWidth {
  width:310px;
}

.scanIdButtonWidth {
  width: 180px;
}

.scanLoyaltyButtonWidth {
  width: 275px;
  height: 75px;
  vertical-align:  text-bottom;
}

.addressLookupButtonWidth{
  width: 260px;
}

.loginButtonWidth{
  width: 640px;
}

.login_TestPrintButton{
  width: 210px;
  margin-right: 18px;
  height: 25px;
}

.loginTableWidth{
  width: 100%;
}

.wrapLoginTable{
  max-width: 640px;
}

#chooseProductScreen_disclaimerArea{
  background-color: #f7f7f7;
  border-top: 1px #cccccc solid;
  padding-left: 30px;
  padding-right: 30px;
}

.TandC_Title_Format{
  font-family: Arial;
  font-weight: bold;
  color: #A4040F;
  font-size: 14pt;
}

.TandC_subTitle_Format{
  font-family: Arial;
  font-weight: bold;
  color: #A4040F;
  font-size: 13pt;
}

.TandC_Content_Format{
  font-family: Arial;
  color: #727272;
  font-size: 12pt;
  padding-bottom: 20px;
  display: block;
}

/* US3979 */
.TandC_Content_Format_Note {
  font-family: Arial;
  color: #727272;
  font-size: 11pt;
  padding-bottom: 20px;
  display: block;
}

/* END - Choose Product Screen */

/* START - Personal Data Screen */

#addressLookupTable {
  width:100%;
}

/* END - Personal Data Screen */

#loadingIconBackgroundPane {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 60;
  top: 0;
  left: 0;
}
#loadingIconPane {
  text-align: center;
  background: #ddd;
  border-radius: 15px;
  width: 10em;
  height: 8em;
  padding: 2em 1em;
  font-family: Arial;
  font-weight: bold;
  font-size: small;
  color: #000;
  margin: 10% auto;
}
#loadingIcon {
  background: top left no-repeat #{inline_image("loading.gif")};
  display: inline-block;
  width: 32px;
  height: 32px;
}
#loadingScreenBackground {
  width: 100%;
  height: 200%;
  background: #e3e5ed;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
}
/*================================= jQuery Mobile Overrides ==============================*/
/* Red button theme for JQuery Mobile
 * - Use data-theme="r" for red versions of the default JQuery Mobile Buttons.
 ******************************************************************************************/

.ui-btn-up-r {
  border: 1px solid #721414;
  background: $red;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  /*background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);*/
  /*background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #C54E4E),
          color-stop(1, #AB2525));*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}

/* US4637 Email page starts */
.ui-btn-up-g {
  border: 1px solid #8080800;
  background: #c8c8c8;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  /*background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);*/
  /*background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #C54E4E),
          color-stop(1, #AB2525));*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c8c8c8', EndColorStr='#8080800')";
}

.nextgray-btn-up-r{
  border: 1px solid #cccccc;
  background: #c8c8c8;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  /*background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);*/
  /*background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #C54E4E),
          color-stop(1, #AB2525));*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}

.nextgray-btn-up-r,
.nextgray-btn-hover-r,
.nextgray-btn-down-r {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.nextgray-btn-hover-r{
  border: 1px solid #8080800;
  background: #A9A9A9;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top,
          #D47272,
          #B64B4B);
  background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #DCDCDC),
          color-stop(1, #D3D3D3));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCDCDC', EndColorStr='#D3D3D3')";

}
.nextgray-button-down-r{
  border: 1px solid #8080800;
  background: #A9A9A9;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
  background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #DCDCDC),
          color-stop(1, #D3D3D3));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCDCDC', EndColorStr='#D3D3D3')";
}

/* US4637 Email page ends */
.ui-btn-up-r a.ui-link-inherit {
  color: #fff;
}

.ui-btn-up-g a.ui-link-inherit {
  color: #fff;
}
.ui-btn-hover-r {
  border: 1px solid #6E0000;
  background: #B64B4B;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top,
          #D47272,
          #B64B4B);
  background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #D47272),
          color-stop(1, #B64B4B));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}
.ui-btn-hover-r a.ui-link-inherit {
  color: #fff;
}
.ui-btn-down-r {
  border: 1px solid #772222;
  background: #C54E4E;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
  background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #9E3939),
          color-stop(1, #C54E4E));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}
.ui-btn-down-g {
  border: 1px solid #cccccc;
  background: #c8c8c8;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
  background-image: -webkit-gradient(linear,left top,left bottom,
          color-stop(0, #9E3939),
          color-stop(1, #C54E4E));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}
.ui-btn-down-r a.ui-link-inherit {
  color: #fff;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}


/* This is to fix a bug with jquery mobile, DE-681 */
body.ui-mobile-viewport { overflow-x: visible; }

.passwordField {
  -webkit-text-security: disc;
  text-security: disc;
}

.numericField::-webkit-inner-spin-button,.numericField::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.defaultCursor {
  cursor: default;
}

/* Start Signature screen */
.signature {
  border: 2px dotted black;
  background-color: lightgrey;
}

.signatureBorder {
  color:darkblue;
  background-color:darkgrey;
  /*max-width:600px;*/
  padding:20px;
}

.signature-capture-bottom-separator {
  display: block;
  position: relative;
  padding: 0;
  margin: 20px auto 0 auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px #cccccc;
  border-bottom: 1px #ffffff;
}

.signatureCredentialsContainer {
  padding-left: $signaturePadding;
  padding-right: $signaturePadding;
}

.signatureTopPadding {
   padding-top: $signatureVerticalPadding;
}

.proceedButtonWidth {
  width: 200px;
}

.flipAlignCenter .ui-slider-switch {
  width: 100%;
}

.flipAlignCenter
{
  text-align: center;
  padding-left: 0;
  width: 100% !important;
}

.flipAlignRight{
  text-align: right;
  padding-left: 0;
}

.durationControlTable
{
  width:100%;
  border: 0 solid;
}

/* Personal Data 2 Duration Control - START */

.durationInput {
  overflow: hidden;
  float: left;
  width: 40px;
  height: 30px;
  font-size: 16pt;
  text-align: right;
  margin-top: 5px;
}

.durationControlTable {
  width:100%;
  tr td {
    border: 0;
    padding: 0;
  }
  border: 0;
}

.durationSpanMinWidth {
  min-width: 70px;
  padding-left: 15px !important;
}


@media (min-width: 813px) {

  #durationControlLeftPadding {
    padding-left: none;
  }

  #durationControlDiv {
    float: left;
    width: 50%;
    min-width: 250px;
  }

  #durationSpanSeparator {
    border-bottom: none !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  #durationCellsSeparator {
    border-right: solid 1px #CCCCCC !important;
    border-bottom: none !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  #durationCellsSeparatorPadding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 812px) {

  #durationControlLeftPadding {
    padding-left: 70px;
  }

  #durationControlDiv {
    float: left;
    width: 100%;
    min-width: 250px;
  }

  #durationSpanSeparator {
    border-bottom: solid 1px #CCCCCC !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #durationCellsSeparator {
    border-right: none !important;
    border-bottom: solid 1px #CCCCCC !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #durationCellsSeparatorPadding {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.durationYearCell {
  padding-left: 5px !important;
}

.durationTableNoBorder {
  tr td {
    border: 0;
    padding: 0;
  }
  border: 0;
  /*		margin-left: 15px; */
}

/* Personal Data 2 Duration Control - END */


/*
.durationRightBorder
{
  border-right: solid 1px #CCCCCC !important;
}

.durationYearCell
{
  padding-left: 5px !important;
}
*/

/* Financial Screen */

.flipAlignCenter .ui-slider-switch {
  width: 100%;
}

/*
.employmentTypeTable {
	padding-left: 0 !important;
}

.employmentTypeTitle {
	padding-left: 15px;
}

.employmentTypeButton {
	padding-left: 10px;
	padding-right: 10px;
}
*/

/* */

/* wiciCheckBox */
.wiciCheckBox {
  width: 45px;
  height: 45px;
  position: relative;
  margin-bottom: 0;
}

.wiciCheckBox label {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

.wiciCheckBox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 30px;
  height: 19px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #2CA216;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wiciCheckBox label:hover::after {
  opacity: 0;
}

.wiciCheckBox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.wiciCheckBox input[type=radio]:checked + label:after {
  opacity: 1;
}
//////////////////////////////////
/* wiciRadioButton */
.wiciRadioButton {
  width: 45px;
  height: 45px;
  position: relative;
  margin-bottom: 0;
}

.wiciRadioButton label {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  top: -5px;
  left: -5px;
  background: #eee;
  border:1px solid #ddd;
  border-radius: 50%;
}

.wiciRadioButton label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000000;
  top: 8px;
  left: 8px;
  border: 1px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.wiciRadioButton label:hover::after {
  opacity: 0;
}

.wiciRadioButton input[type=radio]:checked + label:after {
  opacity: 1;
}
////////////////

.agreementBoxContainer {
  height: 47px;
}
.agreementBoxContainerEX {
  height: 47px;
}
.rightContaier {
  float: left;
  width: auto;
}

.leftContainer {
  margin-left: 50px;
  position: absolute;
  bottom: 23px;
}

.opCheckBoxLabel
{
  padding-top: 15px;
  padding-left: 10px;
  position: inherit;
}

.sugnatureFixes
{
  height: 200px;
  width:600px;
  max-width: 80%;
}

.signatureSummary
{
  height: 100px;
  width: 325px;
}


.spinbutton {
  cursor: pointer;
  float: left;
  text-align: center;
  margin-right: 3px;
  width: 48px;
  height: 48px;
}

.spindec {
  background: #{inline-image("WICI_ButtonBig_Down.png")};
  margin-right: 3px;
}

.spininc {
  background: #{inline-image("WICI_ButtonBig_Up.png")};
  margin-left: 3px;
}


/*
.durationInput
{
    overflow: hidden;
    float: left;
    width: 40px;
    height: 30px;
    font-size: 16pt;
    text-align: right;
    margin-top: 8px;
}
*/

.hideElement
{
  display: none;
}

div.ui-slider-switch
{
  width: 200px;
}

.dialogFixes
{
  height: auto !important;
}

.macAddressInput
{
  float: left;
  width: 20px !important;
  margin-left: 3px;
  margin-right: 3px;
}

.macAddressFirstInput
{
  margin-left: 115px;
}


.macAddressLabel
{
  font-size: 21pt !important;
  float: left;
}

.stop-scrolling {
  height: 100% !important;
  overflow: hidden;
}
.fieldLabelsCellWithTopAlign{
  vertical-align: top;
}
/* End Signature screen */

/*  Start Optional page - related styles */

.paddingLeft60 {
  padding-left: 60px;
}

.elementWithTop5 {
  padding-top: 5px;
}

/* US3381 */
.elementWithLeft10 {
  margin-left: 10px;
}

.elementWithTop17 {
  padding-top: 17px;
}

.elementWithBoldFont {
  font-weight: bold;
}

.elementWithFontSize12 {
  font-size: 12pt;
}
.elementWithFontSize10 {
  font-size: 10pt;
}
.elementWithFontSize8 {
  font-size: 8pt;
}

.tableWithPaddingTopAndBottom20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTopAndBottom2 {
  padding-top: 2px;
  /*	padding-bottom: 2px; */
  padding-left: 15px;
  padding-right: 15px;
}
.paddingTop2 {
  padding-top: 2px;
  padding-bottom: -3px;
  padding-left: 15px;
  padding-right: 15px;
}

.marginTop23 {
  margin-top: -23px;
}

.marginTopMinus3{
  display: block;
  margin-top: -23px;
}

.marginTopPlus15{   
  color: #ffffff;
  border: solid 1px rgb(34, 152, 12);
  background: rgb(24, 142, 2);
  width: 20%;
  margin: 40px auto;
}

.promoCodeDisabled{
  color:grey;
  background-color: white;
}
/*  End Optional  page - related styles */
.nowrap{
  white-space: nowrap;
}
/* Summary - Submit button clearly to the customer  */
.highlighterDIV {
  border: 1px solid;
  border-color: orange;
  box-shadow: 0 0 10px orange;
  -webkit-box-shadow: 0 0 10px orange;
  -moz-box-shadow: 0 0 10px orange;
  @include border-radius(7px);
  -webkit-appearance: none;
  padding-bottom:15px;
}
.highlighterHeader {
  color: white;
  background-color: orange;
  font-size: 21pt;
  padding: 5px;
  margin:0;
  margin-bottom:15px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.highlighterTable{
  color: orange;
  text-align:left;
  width:70%;
  padding:5px;
  border: 0;
  font-size: 12pt;
}
.warningTable tr td{
  border: 0;
}
/*Start of pending page styles*/
.pendingScreen_PrintButtonSize {
  width: 270px;
}
.pendingScreen_EmailButtonSize{
  width: 240px;
}
/*End of pending page styles*/
/* JG - Addition of CSS Items to Display signature areas more clearly to the customer */
.warningDIV {
  border: 1px solid;
  border-color: $red;
  box-shadow: 0 0 10px red;
  -webkit-box-shadow: 0 0 10px red;
  -moz-box-shadow: 0 0 10px red;
  @include border-radius(7px);
  -webkit-appearance: none;
  padding-bottom:15px;
}
.warningHeader {
  color: white;
  background-color: $red;
  font-size: 21pt;
  padding: 5px;
  margin:0;
  margin-bottom:15px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.warningTable{
  color: $red;
  text-align:left;
  width:70%;
  padding:5px;
  border: 0;
  font-size: 12pt;
}
.warningTable tr td{
  border: 0;
}

// US4282 starts 
.homePhoneInput 
{
  float: left;
  width: 70px !important;
  margin-left: 0px;
  margin-right: 0px;
}

.homePhoneInputLast{
  float: left;
  width: 90px !important;
  margin-left: 0px;
  margin-right: 0px;
}

.homePhoneTitleTable {
  width :100%;
  background-color: rgb(236, 236, 236);
  border: 0;
  padding: 0;
  margin:0;
 tr {
  td {
    border: none;
    border: none;
    border-spacing: 0;

  }
}
}
.homePhoneTable{
  width :60%;
  background-color: rgb(236, 236, 236);
  border: 0;
  padding: 0;
  margin:0;
 tr {
  td {
    border: none;
    border: none;
    border-spacing: 0;

  }
}
}
// US4282 ends 

.warningText{
  color: red;
  text-align:left;
  font-size: 12pt;
}

.warningDIVCleared {
  border: 1px solid;
  border-color: #1e940a;
  box-shadow: 0 0 10px #1e940a;
  -webkit-box-shadow: 0 0 10px #1e940a;
  -moz-box-shadow: 0 0 10px #1e940a;
  @include border-radius(7px);
  -webkit-appearance: none;
  padding-bottom:15px;
}
.warningHeaderCleared {
  color: white;
  background-color: #1e940a;
  font-size: 21pt;
  padding: 5px;
  margin:0;
  margin-bottom:15px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.warningTableCleared{
  color: black;
  text-align:left;
  width:70%;
  padding:5px;
  border: 0;
  font-size: 12pt;
}
.warningTableCleared tr td{
  border: 0;
}
.warningTextCleared{
  color: black;
  text-align:left;
  font-size: 12pt;
}

.sigResetButton{
  height:20px !important;
}

/*US3012 Start*/
.ctmLogo_eng {
  background: #{inline_image("ctm_logo_eng.png")};
  background-repeat: no-repeat;
  /*background-position: 180px 0px;*/
  display: block;
  text-decoration: none;
  position: relative;
  width: 450px;
  height: 250px;
}
.ctmLogo_fr {
  background: #{inline_image("ctm_logo_fr.png")};
  background-repeat: no-repeat;
  /*background-position: 180px 0px;*/
  display: block;
  text-decoration: none;
  position: relative;
  width: 450px;
  height: 250px;
}
#creditCardProductList #ctmLogo .ctmLogo_eng .ctmLogo_fr {
  border-radius: 5px;
  width: 400px;
  height: 40px;
  margin: 0px auto;
  outline-style: none;
}
.ectmemtycellCell {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 11px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}

/*US3012 End*/

/* END OF JG - Addition of CSS Items to Display more clearly to the customer */
.hidden {
  display: none;
}

@media only screen
and (max-width: 705px) {
  #personalData_ResidenceTypeArea a {
    font-size: 13px;

    span {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

.bottomSpacing {
  margin-bottom: 35px;
}

.MC, .MD, .MDMC {
  font-family: Helvetica, Arial, sans-serif;font-size: 7pt;position: relative;top: -4px;
}

.MC sup:after {
  content: 'MC';
}

.MD sup:after {
  content: 'MD';
}

.MD1 sup:after {
  content: 'MD1';
}

.MDMC sup:after {
  content: 'MD/MC';
}

.superscripts {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt !important;
    position: relative;
    top: -2px;
}

 /*  new css  starts */
 
 .opScreenLayout{
  width:100%;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 70px;
  box-sizing: border-box;
  margin-bottom: -70px;
}

//US4131
.op_stretchThisTable{
    width:50%;
    
}

.op_td_title_width{
    width:80%;
}

.op_table_radio_td{
 	width: 6%;
	padding-left: 25px;
}

.op_table_title_td{
	width:80%;
}


.OP_pageTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    color: #000;
}

.op_table_pading{
   padding-left:30px;
   padding-right:30px;
}
.op_wrapper {
    width:80%;
    margin: 0 auto
}
.op_wrapper_footer{
     margin: 0 auto;
}

.fontWith12{
  font-size: 12px;
}
.fontWith14{
  font-size: 14px;
}
.fontWith17{
   font-size: 17px;
   line-height: 1.4;
}

#title_1 {
    background-color: #cc0608;
}
#title_2 {
    background-color: #666666;
}

#section_1 ul {
    list-style-image:#{inline_image("red_checkbox.png")};
}

#section_1 h3 {
    color: #cc0000;
}

#section_2 ul {
    list-style-image:#{inline_image("grey_checkbox.png")};
}

#section_2 h3 {
    color: #454545;
}

.section_3 {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 40px auto;
}

.section_3 h3 {
    line-height: 50px;
    margin: 0;
    font-size: 2vmax;
    font-weight: bold;
    padding-left: 40px;
}

.section_3_bottom {
    height: 50px;
}

.section_3_block {
    display: block;
    background-color: #e2e2e2;
    height: 70px;
    padding-left: 0px;
    cursor: pointer;
}	

.section_3_spacer {
    background-color: #f7f7f7;
    height: .2px;
    width:100%;
}
.section_3_copy {
    display: inline-block;
    margin-left: 5px;
    padding-right: 90px;
    border-right: 1px solid #f7f7f7;
}

.section_3_copy sup{
   top: -0.5em;
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

.section_3_copy_inner {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}

.section_3_copy h4 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
}

.section_3_copy ul {
    margin: 0;
    padding-left: 17px;
}

.section_3_copy ul li {
    font-size: 12pt;
    margin-top: 0px;
    padding-top:0px;
}

.section_3_arrow,
.section_3_arrow_down {
    display: inline-block;
    text-align: center;
    width: 23px;
    height: 70px;
    vertical-align: top;
    padding-top: 25px;
    padding-right: 15px;
}

.section_3_arrow_down {
    display: none;
}

.offer_details {
    display: none;
    font-size: 9px;
    color: #8b8b8b;
    background-color: #f7f7f7;
    margin-left: -40px;
    padding: 10px 40px;
    cursor: default;
}

.offer_details p {
    margin: 0 0 .25em;
}
p.offer_details_title {
    font-size: 12pt;
    margin: 0;
}
p.offer_details_title_2 {
    font-size: 14pt;
    margin: .25em 0 0;
}
p.offer_details_title_3 {
    font-size: 12pt;
    margin: .25em 0 0 0;
}

.offer_details .underline {
    border-bottom: 1px solid #8b8b8b;
}
.offer_details table {
    margin-left: 20px;
    border:0px;
    tr td{
      border: 0;
  }
}
.offer_details table thead td:last-child {
    padding-left: 15px;
}
.offer_details table tbody td:first-child {
    padding-left: 38px;
}
.offer_details table tbody td:last-child {
    padding-left: 20px;
}
.offer_details table tfoot td {
    padding-left: 38px;
}

.style_ul{
  list-style-type: none;
}

.margin_title_text{
  margin-top: 10px;
}
 .fontWith31{
  font-size: 31px;
  color:  #cc0608;
  
 }
 .fontWith31_grey{
  font-size: 31px;
  color: #454545;;
  
 }
 
 .fontWith12{
   font-size: 31px;
 }
 .fontWith14{
  font-size: 31px;
 }
 
.section h2 {
    font-size: 17px;
    margin: 1em 0 1em;
}

.section h3 {
    font-size: 31px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
}

.section h3 sup {
    top: -.25em;
}

.section h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: .75em 0;
}

.section p {
    margin: 0;
}

.section ul {
   padding-left: 30px; 
   font-size:17px;
}


.op_table{
  background-color: #F7F7F7;
  border: 0;
  padding: 0;
  margin:0;
 tr {
  td {
    height: 0px;
    border: none;
    border: none;
    border-spacing: 0;

    &:first-child {
      border: none;
    }
  }

  &:first-child td {
    border: none;
  }
}
}
.td_padding_offer_details{
  padding-right:30px;
}
.text_align{
  text-align: center;
}

.style_ul_without_padding{
  padding-left: 20px;
  padding-top: 0px;
  margin:5px 0 0 0;
}

.withoutPadding_p{
  padding:0px;
  margin: 0px;
  padding-top:5px;

}
#section_3 sup {
    font-size: 60%;
    top: -0.6em;
}
.margin100{
     margin-left: 100px;
}
 .warningUL{
  list-style-type: disc;
  padding-left:40px;
 }
 .optionaProduct_header_sup{
    font-size: 50%;
    top: -.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
 }
 .section h3 sup {
    top: -.25em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.opTable_paddingLeft84{
  padding-left:84px;
}

.opTable_paddingLeft80{
  padding-left:80px;
}

.section_3_sup_iw{
    font-size: 60%;
    top: -.6em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.link_style{
    text-decoration: underline;
 
}
.radio_sup{
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
 
.optionaProduct_cp_iw_sup{
    font-size: 50%;
    top: -.75em;
    line-height: 5;
    position: relative;
    vertical-align: baseline;
 } 

.footer_p_sup{
  font-size: 60%;
  top: -0.5em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
} 

 /* new css ends */
 
