<script id="creditDisclosureMessageDialog-template" type="text/x-jquery-tmpl">
<div data-role="dialog" id="messageDialog" >
	<div data-role="header" data-theme="d" class="ui-corner-top ui-overlay-shadow ui-header ui-bar-d box_content" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">${title}</h1>
	</div>
	<div data-role="content" data-theme="c"	class="ui-overlay-shadow ui-corner-bottom ui-content ui-body-c dialogFixes box_content" role="main">
			<center>			
				<table class="overviewCenterTableContainer latoFont">
					<tr>
						<td style="border: none;">
							<table class="overviewCenterTable">
								<tr>
									<th colspan="2" id="overviewCenterTableTitlePadding" class="overviewNSHorizontalCenteredText">${costOfCreditDisclosure_Title}</th>
								</tr> 
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft1}</td>
									<td class="overviewCenterTableData">									    
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight1 }}</p>																				 
									</td>
								</tr>
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft2}</td>
									<td class="overviewCenterTableData">
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight2 }}</p>
									</td>
								</tr>
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft3}</td>
									<td class="overviewCenterTableData">
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight3 }}</p>
									</td>
								</tr>
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft4}</td>
									<td class="overviewCenterTableData">
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight4 }}</p>
									</td>
								</tr>
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft5}</td>
									<td class="overviewCenterTableData">
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight5 }}</p>
									</td>
								</tr>
								<tr>
									<td class="overviewCenterTableTitle">${disclosureLeft6}</td>
									<td class="overviewCenterTableData">
										<p id="overviewCenterTableTextWithoutMargin">{{html disclosureRight6 }}</p>
									</td>
								</tr> 
							</table>
						</td>
					</tr>
				</table>
				
				<table class="tableNoBorder stretchThisTable">
				  <tr class="tableNoBorder">
				      <td class="Width_TD_34"> 
				         <div class="overviewCenterTableContainer makeCorrectionSection">{{html effectiveDate }}</div>
				      </td>
					  <td>
					        <div>
			                    <div class="overviewPrintDisclosureImage">
				                     <div class="overviewPrintDownloadLink">{{html printDownload_LinkText }}</div>
			                    </div>
		                    </div>
					  </td>
				   </tr>				   
				</table>
								
			</center>
		<div class="dialogButtonContainer">
			<a href="#" id="confirm_confirmButton" data-rel="back" data-transition="none" data-role="button" data-theme="c">${yesButton}</a>
			<a href="#" id="confirm_cancelButton" class="hidden" data-rel="back" data-role="button" data-theme="c">${noButton}</a>
		</div>
	</div>
</div>
</script>
