<script id="htmlCreditDisclosureInfo-template" type="text/x-jquery-tmpl">
<div data-role="dialog" id="messageDialog" class="ui-page ui-body-c ui-overlay-a ui-dialog ui-page-active" role="dialog">
   <div  class ="content_div"> 
	<div id="header_scetion_id"  data-role="header" data-theme="d" class="ui-corner-top ui-overlay-shadow ui-header ui-bar-d box_content" role="banner">
	<h1 class="ui-title" tabindex="0" role="heading" aria-level="1"></h1>
	</div>
	
	<div id="dialog_content" data-role="content" data-theme="c" class="ui-overlay-shadow ui-corner-bottom ui-content ui-body-c dialogFixes box_content" role="main">
	  
	<p>
			<center>
			
		 <div  class ="scrollbar_creditDiscloure" id="style-1">
				<p id="title_disclosure"> {{html message}} </p><br>
				<table class="overviewCenterTableContainer latoFont">
			    <tr>
				<td style="border: none;">
				
				
					       <table class="overviewCenterTable">
						         <tr>
							<th colspan="2" id="overviewCenterTableTitlePadding" class="overviewNSHorizontalCenteredText">  {{html overview_Title}}  </th>
						</tr> 
						<tr>
							<td class="overviewCenterTableTitle"> {{html overview_NS_DisclosureLeft1}} </td>
							<td class="overviewCenterTableData">
							         <p id="overviewCenterTableTextWithoutMargin" >{{html Overview_NS_DisclosureRight1}} </p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle">{{html overview_NS_DisclosureLeft2}}</td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin">{{html Overview_NS_DisclosureRight2}}</p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle"> {{html overview_NS_DisclosureLeft3}}</td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin">{{html Overview_NS_DisclosureRight3}}</p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle"> {{html overview_NS_DisclosureLeft4 }}</td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin"> {{html Overview_NS_DisclosureRight4}}</p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle"> {{html overview_NS_DisclosureLeft5}}</td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin"> {{html Overview_NS_DisclosureRight5}}</p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle"> {{html overview_NS_DisclosureLeft6}}</td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin"> {{html Overview_NS_DisclosureRight6}}</p>
							</td>
						</tr> 
					</table>
					
					
				</td>
			</tr>
		 </table> 
		
		         <table class="tableNoBorder stretchThisTable">
				  <tr class="tableNoBorder">
				      <td class="Width_TD_34"> 
				         <div class="overviewCenterTableContainer makeCorrectionSection">{{html Overview_NS_EffectiveDate}}</div>
				      </td>
					  <td>
					    
			                    <div class="overviewPrintDisclosureImage">
				                     <div class="overviewPrintDownloadLink">{{html overview_PrintDownload_LinkText}}</div>
			                    </div>
			          </td>
				   </tr>
				   
			       </table>
		</div>
		
		
		    <br>
		         <table class="tableNoBorder stretchThisTable">
				  <tr class="tableNoBorder">
				  <td>
				  <a href="#" id="start_confirmButton" data-rel="back" data-role="button" data-theme="c"> ${startButton} </a>
				 </td>
		         </table>		  
	       
			</center>
	         </p>   
	         
	   </div>
	</div>
	</div>
</script>
