<script id="LoginScreen-template" type="text/x-jsrender">
    <div class="main-container">
        <section class="wrapper">
            <h1><span data-translationKey="LoginScreen_title"/></h1>
			<hr>
			<p>
			<form class="form-inline">
  				<input type="text" class="input-small" placeholder="Email">
  				<input type="password" class="input-small" placeholder="Password">
  				<button type="submit" class="btn">Sign in</button>
			</form>
			</p>
			<br>
			<br>
			<br>
			<hr>
			<p>
  				<button id="loginScreenStartFlow" class="btn btn-large btn-primary" type="button">Proceed to flow</button>  				
			</p>
        </section>
    </div> <!-- #main-container -->
</script>
