<script id="Screen3-template" type="text/x-jsrender">
    <div class="main-container">
        <section class="wrapper">
            <h1>Screen3<span data-translationKey="Screen2"/></h1>
			<img src="app/images/ford.jpg" class="img-rounded">
			<img src="app/images/mazda.jpg" class="img-circle">
			<img src="app/images/peugot.jpg" class="img-polaroid">
			<br>
			<br>
			<br>
			<hr>
			<p>
				<button id="screen3Back" class="btn btn-large btn-warning" type="button">Previous screen</button>
				<button id="screen3Next" class="btn btn-large btn-success" type="button">Next screen</button>
			</p>
        </section>
    </div> <!-- #main-container -->
</script>
