<script id="Screen1-template" type="text/x-jsrender">
    <div class="main-container">
        <section class="wrapper">
            <h1>Screen1<span data-translationKey="Screen1"/></h1>
			<img src="app/images/maybach.jpg" class="img-rounded">
			<br>
			<br>
			<br>
			<hr>
			<p>
				<button id="screen1Back" class="btn btn-large btn-warning" type="button">Previous screen</button>
  				<button id="screen1Next" class="btn btn-large btn-success" type="button">Next screen</button>  				
			</p>
        </section>
    </div> <!-- #main-container -->
</script>
