<script id="legalHandoutAttestationSignatureDialog-template" type="text/x-jquery-tmpl">
<div data-role="dialog" id="messageDialog" class="ui-page ui-body-c ui-overlay-a ui-dialog ui-page-active" role="dialog">
	<div data-role="header" data-theme="d" class="ui-corner-top ui-overlay-shadow ui-header ui-bar-d" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">${title}</h1>
	</div>
	<div data-role="content" data-theme="c"	class="ui-overlay-shadow ui-corner-bottom ui-content ui-body-c dialogFixes" role="main">
		<p>
			<center>
				<br>
				<span class="locationDetailsFont">
					{{html message}}
				</span>
				<br>
				<br>
			</center>
		</p>
        <center> 
                <span class="buttonTextPleasesign">${pleasesign_text}</span>
                 <br>
                 <br>
            	<div class="signatureContainer sugnatureFixesLegalHandout" >
                	<div class="signatureBorder" id="signatureScreen_SingnatureContainer">
                    	<div class="signature" id="signatureLegalHandOut"/>
                    </div>
                </div>
                <br>
                <br>
                <span id="signature_Reset_Button_legalHandout" class="button grayflat sigResetButton proceedButtonWidth">
                 <!-- signatureScreen_Reset_Button_Label -->
                <span class="buttonText">${clearsignature_text}</span>
                </span>
        </center>
        <br>
		<div id="YesNoButtonContainer" class="dialogButtonContainer">
			<a href="#" id="confirm_confirmButton" data-rel="back" data-role="button" data-theme="c">${yesButton}</a>
			<a href="#" id="confirm_cancelButton" data-rel="back" data-role="button" data-theme="c">${noButton}</a>
		</div>
	</div>
</div>
</script>