<script id="scanFailedErrorMessageDialog-template" type="text/x-jquery-tmpl">
<div data-role="dialog" id="messageDialog" >
	<div data-role="header" data-theme="d" class="ui-corner-top ui-overlay-shadow ui-header ui-bar-d" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">${scanFiledtitle}</h1>
	</div>
	<div data-role="content" data-theme="c"	class="ui-overlay-shadow ui-corner-bottom ui-content ui-body-c dialogFixes" role="main">
		<center>
		        <p class="scannedFailedErrorFont"><b>${scanFailedMessage1}</b></p>
		        <p class="scannedFailedErrorFont"><b>${scanFailedMessage2}</b></p>
		</center>
		<div class="dialogButtonContainer">
			<a href="#" id="scan_failed_error_message_OK_button" data-rel="back" data-role="button" data-theme="c">${scanFailedYesButton}</a>
		</div>
	</div>
</div>
</script>
