<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>BRBMiddlewareBroker</display-name>
	<servlet>
		<description>
		</description>
		<display-name>VersionServlet</display-name>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>com.ctfs.BRB.Servlet.VersionServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>InitBRBWebServlet</servlet-name>
		<servlet-class>com.ctfs.BRB.Servlet.InitBRBWebServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>CompletionBRBWebServlet</display-name>
		<servlet-name>CompletionBRBWebServlet</servlet-name>
		<servlet-class>com.ctfs.BRB.Servlet.CompletionBRBWebServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>IdentityExamServlet</display-name>
		<servlet-name>IdentityExamServlet</servlet-name>
		<servlet-class>com.ctfs.BRB.Servlet.IdentityExamServlet</servlet-class>
	</servlet>	
	<servlet>
		<display-name>ScoreIdentityExamServlet</display-name>
		<servlet-name>ScoreIdentityExamServlet</servlet-name>
		<servlet-class>com.ctfs.BRB.Servlet.ScoreIdentityExamServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>/Version</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitBRBWebServlet</servlet-name>
		<url-pattern>/InitiateBRBWeb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompletionBRBWebServlet</servlet-name>
		<url-pattern>/CompletionBRBWeb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdentityExamServlet</servlet-name>
		<url-pattern>/IdentityExam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScoreIdentityExamServlet</servlet-name>
		<url-pattern>/ScoreIdentityExam</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file></welcome-file>
	</welcome-file-list>
    
    <resource-ref>
    	<res-ref-name>jdbc/WebICDataSource</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    	<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>