<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>WICIMiddlewareBroker2_Mock</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddressLookupServletMock</display-name>
		<servlet-name>AddressLookupServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.AddressLookupServletMock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServletMock</display-name>
		<servlet-name>LoginServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.LoginServletMock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VersionServletMock</display-name>
		<servlet-name>VersionServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.VersionServletMock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitAccountApplicationServletMock</display-name>
		<servlet-name>InitAccountApplicationServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.InitAccountApplicationServletMock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PollAccountApplicationResponseServletMock</display-name>
		<servlet-name>PollAccountApplicationResponseServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.PollAccountApplicationResponseServletMock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AccountApplicationServletMock</display-name>
		<servlet-name>AccountApplicationServletMock</servlet-name>
		<servlet-class>com.ctfs.WICI.Servlet.AccountApplicationServletMock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressLookupServletMock</servlet-name>
		<url-pattern>
		/AddressLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServletMock</servlet-name>
		<url-pattern>
		/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VersionServletMock</servlet-name>
		<url-pattern>
		/Version</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitAccountApplicationServletMock</servlet-name>
		<url-pattern>
		/InitAccountApplication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PollAccountApplicationResponseServletMock</servlet-name>
		<url-pattern>
		/PollAccountApplicationResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountApplicationServletMock</servlet-name>
		<url-pattern>
		/AccountApplication</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>