<script id="BRBAdditionalInformation-template" type="text/x-jquery-tmpl">
<span><!-- Dont remove span, IE8!!! -->
<div id="BreadcrumbTrailArea1" class="container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">		
		<div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Confirmation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
	</div>


<div class="ScreenLayout" id="AdditionalInformation_PageContents">
    <div id="additionalSuplementaryCardArea">
        <div class="personalInfoTitle row">
            <span class="pageSubTitle leftalign" data-translationKey="additionalInformation_GetSuplementaryCard"></span>
            <div id="getSuplementaryCard_requiredFieldIndicatorBlock" class="floatToRight">
                <span class="requiredField redSpan">*</span>
                <span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
            </div>
        </div>
        <div>
            <div id="additionalInformation_GetSuplementaryCardHeader" class="grayTable additionaInformation_GetSupplementaryCardHeaderTable row">
                <div class="fieldLabelsCell fieldCellSize4 tableWithTopPadding35 col-xs-1">
                    <input class="fieldValuesCheckBoxField" id="additionalInformation_AuthorizeSupplementaryCardmember_CheckBox_Field" type="checkbox" />
                </div>
                <div class="fieldLabelsCell fieldLabelsCellWithCheckBoxDecoratorFix additionalInformation_AuthorizeSupplementaryCardmember_TextField tableWithPadding15 col-xs-10 col-sm-7">
                    <span class="boldSpan" data-translationKey="Generic_Yes"></span>
                    <span class="fieldCellWithLeftShift boldSpan" data-translationKey="additionalInformation_AuthorizeSupplementaryCardmember" id="additionalInformation_AuthorizeSupplementaryCardmember_TextField"></span>
                </div>
                <div class="fieldLabelsCell rightalign elementTopBottom10 col-xs-12 col-sm-4" style="" data-translationKey="additionalInformation_EarnReward"></div>
            </div>
        </div>

        <!-- <center> -->
        <div id="additionalInfo_AboutYourselfArea">
            <div class="grayAdditionalTable row">
                <div class="fieldLabelsCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-3">
                    <span data-translationKey="additionalInformation_TitleField"></span>                    
                </div>
                <div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-9" data-translationKey="additionalInformation_Title_TextField">
                    <div class="errorCell tooltip_err">
                        <span class="hint_err" id="additionalInformation_Title_TextField_error"></span>
                    </div>
                </div>
            </div>
            <div class="grayAdditionalTable  row">
                <div class="fieldLabelsCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-3">
                    <span data-translationKey="additionalInformation_NameField"></span>
                </div>
                <div class="fieldValuesCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-5">
                            <span class="SpanForInputsGroup" data-translationKey="additionalInformation_FirstName"></span>
                            <span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
                            <p>
                                <input class="fieldValuesTextField personNameField" id="additionalInformation_FirstName_TextField" type="text" maxlength="40" />
                            </p>
                        </div>
                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell col-xs-12 col-sm-2">
                            <span class="SpanForInputsGroup" data-translationKey="additionalInformation_Initial"></span>
                            <p>
                                <input class="fieldValuesTextField personInitialField" id="additionalInformation_Initial_TextField" type="text" maxlength="1" />
                            </p>
                        </div>
                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell col-xs-12 col-sm-5">
                            <span class="SpanForInputsGroup" data-translationKey="additionalInformation_LastName"></span>
                            <span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
                            <p>
                                <input class="fieldValuesTextField personNameField" id="additionalInformation_LastName_TextField" type="text" maxlength="40" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grayAdditionalTable row">
                <div class="fieldLabelsCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-3">
                    <span data-translationKey="additionalInformation_DateOfBirth"></span>
                    <span> </span>
                    <sup class="redSpanForInputsGroup">*</sup>
                </div>
                <div class="fieldValuesCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-7 col-sm-4 col-md-3" data-translationKey="additionalInformation_DateOfBirth_Month">
                        </div>

                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-5 col-sm-3" data-translationKey="additionalInformation_DateOfBirth_Day">
                        </div>

                        <div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-5" id="additionalInformation_DateOfBirth_YearID">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grayAdditionalTable row">
                <div class="fieldLabelsCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-3">
                    <span data-translationKey="additionalInformation_PrimaryPhone"></span>
                    <span> </span>
                    <sup class="redSpanForInputsGroup">*</sup>
                </div>
                <div class="fieldValuesCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-9">
                    <table class="grayTableForAdditionalInputsGroup">
                        <tbody id="additionalInformation_PrimaryPhone_Control">
                            <tr>
                                <td class="fieldValuesCell">
                                    <div class="additionalInformation_PrimaryPhone_Control">
                                        <input class="fieldValuesTextField phoneValuesCellShort" id="additionalInformation_PrimaryPhone_1_TextField" type="tel" maxlength="3" />
                                    </div>
                                </td>
                                <td>
                                    <td class="separatorCell">-</td>

                                    <td class="fieldValuesCell">
                                        <input class="fieldValuesTextField phoneValuesCellShort" id="additionalInformation_PrimaryPhone_2_TextField" type="tel" maxlength="3" />
                                    </td>

                                    <td class="separatorCell">-</td>

                                    <td class="fieldValuesCell">
                                        <input class="fieldValuesTextField phoneValuesCellLong" id="additionalInformation_PrimaryPhone_3_TextField" type="tel" maxlength="4" />
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grayAdditionalTable row">	
				<div class="fieldLabelsCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-3">
					<span data-translationKey="additionalInformation_Relationship"></span>
					<sup class="redSpanForInputsGroup">*</sup>
				</div>
				<div class="fieldValuesCell fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-9">
					<div class="row elementBottom10">
						<div class="fieldValuesCell col-xs-10" data-translationKey="additionalInformation_Relationship_TextField"></div>						
					</div>
					<div class="row">
						<div class="fieldLabelsSubCell col-xs-12">
							<span class="SpanForInputsGroup" data-translationKey="additionalInformation_SameAddressAsPrimaryCardholder"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>
						</div>
						<div class="fieldLabelsSubCell col-xs-12">
							<input class="additionalInformation_SameAddresYes" id="additionalInformation_SameAddresYes" value="true" type="radio" name="additionalInformation_SameAddres" /> 
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="additionalInformation_SameAddresYes"></span>
							&nbsp;&nbsp; 
							<input class="additionalInformation_SameAddresNo" id="additionalInformation_SameAddresNo" value="false" type="radio" name="additionalInformation_SameAddres" /> 
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="additionalInformation_SameAddresNo"></span>
						</div>
					</div>
				</div>				
			</div>
			<div id="additionalInformation_SameAddress_Area">
				<div id="additionalInformation_AddressLine1" class="fieldLabelsAdditionalInfoCell row">
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-xs-12 col-sm-3">
						<span data-translationKey="additionalInformation_Address"></span>						
					</div>
					<div class="grayTableForAdditionalInputsGroup col-xs-12 col-sm-9">	   
						<div class="row">
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell col-sm-2">
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_StreetNumber"></span>
								<span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
								<p><input class="fieldValuesTextField addressShortField" id="additionalInformation_StreetNumber_TextField" type="text" maxlength="5" /></p>
							</div>
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell col-sm-4">
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_StreetName"></span> 
								<span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
								<p><input class="fieldValuesTextField addressLongField" id="additionalInformation_StreetName_TextField" type="text" maxlength="40" /></p>
							</div>
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell col-sm-6">    		
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_Suite"></span>
								<p><input class="fieldValuesTextField addressShortField" id="additionalInformation_Suite_TextField" type="text" maxlength="5" /></p>
							</div>
						</div>
						<div class="grayTableForAdditionalInputsGroup row">
							<div class="fieldLabelSubCell fieldLabelsAdditionalInfoCell col-sm-4">
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_City"></span> 
								<span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
								<p>
									<input class="fieldValuesTextField addressCityField" id="additionalInformation_City_TextField" type="text" maxlength="24" />
									<div class="errorCell hideElement" id="additionalInformation_City_TextField_error"></div> 
								</p>
							</div>
							<div class="fieldLabelSubCell fieldLabelsAdditionalInfoCell col-sm-4">
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_Province"></span> 
								<span class="redSpanForInputsGroup" data-translationKey="additionalInformation_Asterix"></span>
								<p>
									<span data-translationKey="additionalInformation_Province_TextField"></span>
									<span class="errorCell hideElement" id="additionalInformation_Province_TextField_error"></span>
								</p>
								
							</div>
							<div class="fieldLabelSubCell elementBottom10 fieldLabelsAdditionalInfoCell col-sm-4">
								<span class="SpanForInputsGroup" data-translationKey="additionalInformation_PostalCode"></span>
								<span class="redSpanForInputsGroup" data-translationKey="personalInformation_Asterix"></span>
								<div id="additionalInformation_PostalCode_Control">
									<table class="grayTableForAdditionalInputsGroup">
										<tbody>
											<tr>
												<td class="fieldValuesCell"><input
													class="fieldValuesTextField postalCodeField"
													id="additionalInformation_PostalCode1_TextField"
													type="text" maxlength="3" /></td>

												<td class="separatorCellPostalCode" />

												<td class="fieldValuesCell"><input
													class="fieldValuesTextField postalCodeField"
													id="additionalInformation_PostalCode2_TextField"
													type="text" maxlength="3" /></td>
											</tr>
										</tbody>
									</table>
								</div>
								<span class="errorCell hideElement" id="personalInformation_PostalCode_Control_error"></span>
							</div>
						</div>	
					</div>					
				</div>
			</div>			
		</div>
	</div>


	<div id="additionalInsuranceArea">
	
		<div class="personalTitle row">
			<span class="pageSubTitle leftalign" data-translationKey="additionalInformation_OptionalProducts"></span>
			<div id="optionalInsurance_requiredFieldIndicatorBlock" class="floatToRight">
				<span class="requiredField redSpan">*</span>
				<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
			</div>
						
		
			<table class="stretchThisTable grayTable grayTableSpacerBottom" id="additionalInformationTable">
				<tbody>
					<tr class="fieldRow">					
						<td class="fieldLabelsCell fieldValuesCell fieldLabelsBottomCell" colspan="2">
							<span class="floatLeft fieldCellWithBoldFontSize14" data-translationKey="additionalInformation_OptionalInsurance_Details16"></span><br>
						</td>
					</tr>							
					<tr class="fieldRow">					
						<td class="fieldLabelsCell fieldValuesCell fieldLabelsCellWithCheckBoxDecoratorFix"  colspan="2">
							<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet1"></span><br><br>
							<span class="floatLeft boldSpan" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet2"></span>
							<ul class="leftList simpleHyphenList">
								<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet3"></li>
								<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet4"></li>
          					</ul>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet5"></span><br><br>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet6"></span><br><br>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet7"></span><br><br>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet8"></span>
						</td>
					</tr>		
					<tr class="fieldRow">					
						<td>
							<span class="footnoteContentText">
							<ul class="simpleFootList">
							<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet9"></li>
							<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet91"></li>
							<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet10"></li>
					<!-- US3979 //-->		
					<!--	<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet11"></li>
							<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet12"></li>
							<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet13"></li>
					//-->
							</ul>
						</td>
					</tr>							
				</tbody>					
			</table>
			
			<table class="stretchThisTable grayTable grayTableSpacerBottom">
				<tbody>
					<tr class="fieldRow">					
						<td class="fieldLabelsCell fieldLabelsBottomCell" colspan="2">
							<span class="floatLeft fieldCellWithBoldFontSize14" data-translationKey="additionalInformation_OptionalInsurance_Details13"></span><br>
						</td>
					</tr>							
					<tr class="fieldRow">					
						<td class="fieldLabelsCell fieldValuesCell fieldLabelsCellWithCheckBoxDecoratorFix"  colspan="2">
							<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details14"></span>
							<ul class="floatLeft leftList simpleHyphenList">
								<li data-translationKey="additionalInformation_OptionalInsurance_Details14_Bullet1"></li>
								<li data-translationKey="additionalInformation_OptionalInsurance_Details14_Bullet2"></li>
								<li data-translationKey="additionalInformation_OptionalInsurance_Details14_Bullet3"></li>
								<li data-translationKey="additionalInformation_OptionalInsurance_Details14_Bullet4"></li>
								<li data-translationKey="additionalInformation_OptionalInsurance_Details14_Bullet5"></li>
          					</ul>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details14_1"></span><br><br>
          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details14_2"></span>
						</td>
					</tr>		
					<tr class="fieldRow">					
						<td>
							<span class="footnoteContentText">
							<ul class="simpleFootList">
							<li data-translationKey="additionalInformation_footnoteContentText5"></li>
							<!-- US3979 //-->
							<!-- <li data-translationKey="additionalInformation_footnoteContentText6"></li> //-->
							</ul>
						</td>
					</tr>							
				</tbody>					
			</table>
			
		 <center>
			<table class="stretchThisTable grayTable tableWithPadding50">
				<tr>
					<td>
						<table id="additionalInsuranceTable" 
							class="grayTableBorderGray optionalProduct_optionalInsuranceTableWith">
							<span class="boldSpan floatLeftSpan fieldCellWithBoldFontSize14 additionalInformation_OptionalInsurance_Details15" data-translationKey="additionalInformation_OptionalInsurance_Details15"></span>
							<tbody>
							
							<tr class="fieldRow" id="additionalInsuranceTable_row_one">
									<td class="separatorCell25_OptionalProducts" />
							</tr>
							
							<!-- US3459 -->
							<!-- Start -->
							<!-- UAT 38 - July 22, CP Revitalization -->
							<!-- {{if !isSkSelected }} -->
								<tr class="fieldRow elementWithBottomMargin15" id="additionalInsuranceTable_row_two">
									<td
										class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign">
										<input class="fieldValuesCheckBoxField"
										id="additionalInformation_OptionalInsurance_PA_CheckField"
										type="radio" name="additionalInformation_OptionalInsurance" />
									</td>
									<td id="additionalInformation_OptionalInsurance_PA_CheckField_Title"
										class="fieldLabelsCell fieldLabelsCellWithCheckBoxDecoratorFix alignToTop">
										<span class="boldSpan"
										data-translationKey="additionalInformation_OptionalProducts_Title1"></span>
										<!-- UAT 43 - July 22, CP Revitalization -->
										<!-- 
										<br> <span
										data-translationKey="additionalInformation_OptionalProducts_Title1_1"></span>
										 -->
										<br> <span
										data-translationKey="additionalInformation_OptionalProducts_Title1_2"></span>
									</td>
								</tr>
								 
								<tr class="fieldRow" id="additionalInsuranceTable_row_three">
									<td class="fieldLabelsCell fieldValuesTopMargin"
										id="additionalInformation_OptionalInsurance_PA_Area"
										colspan="2">
										<div class="elementWithRightMargin15">
											<div id="additionalInformation_OptionalInsurance_PA_Table"
												class="privacyArea">
												<table
													class="stretchThisTable whiteTable tableBorderRadius7 tableWithLeftPadding">
													<tr class="fieldRow">
														<td class="fieldValuesCell"><input
															class="fieldValuesCheckBoxField"
															id="additionalInformation_optionalInsurance_PA_Agreement"
															type="checkbox" /></td>
														<td class="fieldLabelsCellWithCheckBoxDecoratorFix">
															<sup class="redSpanForInputsGroup">*</sup>
															<span class="floatLeftSpan"
															data-translationKey="additionalInformation_ProtectionAdvantage_Text"></span>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</td>
								</tr>
								
								<tr class="fieldRow" id="additionalInsuranceTable_row_four">
									<td class="separatorCell25_OptionalProducts" />
								</tr>

								<tr class="fieldRow" id="additionalInsuranceTable_row_five">
									<td
										class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign">
										<input class="fieldValuesCheckBoxField"
										id="additionalInformation_OptionalInsurance_YesNoTextField"
										type="radio" name="additionalInformation_OptionalInsurance" />
									</td>
									<td id="additionalInformation_OptionalInsurance_YesNoTextField_Title"
										class="fieldLabelsCell fieldLabelsCellWithCheckBoxDecoratorFix alignToTop">
										<span class="boldSpan"
										data-translationKey="additionalInformation_OptionalProducts_Title2"></span>
										<!-- UAT 43 - July 22, CP Revitalization -->
										<!--
										<br> <span
										data-translationKey="additionalInformation_OptionalProducts_Title2_1"></span>
										-->
									</td>
								</tr>
								<tr class="fieldRow"  id="additionalInsuranceTable_row_six">
									<td class="fieldLabelsCell fieldValuesTopMargin" colspan="2"
										id="additionalInformation_OptionalInsurance_CP_Area">
										<div class="elementWithRightMargin15">
											<div id="additionalInformation_OptionalInsurance_CP_Table"
												class="privacyArea">
												<table
													class="stretchThisTable whiteTable tableBorderRadius7 tableWithLeftPadding">
													<tr class="fieldRow">
														<td class="fieldValuesCell"><input
															class="fieldValuesCheckBoxField"
															id="additionalInformation_optionalInsurance_CP_Agreement"
															type="checkbox" /></td>
														<td class="fieldLabelsCellWithCheckBoxDecoratorFix">
															<sup class="redSpanForInputsGroup">*</sup>
															<span class="floatLeft"
															data-translationKey="additionalInformation_Credit_Protector_Text"></span>
														</td>
													</tr>
												</table>
											</div>
											<div>
									</td>
								</tr>
								
								<tr class="fieldRow">
									<td class="separatorCell15_OptionalProducts" />
								</tr>
								
								<!-- UAT 38 - July 22, CP Revitalization -->
								<!-- {{/if}} -->
								<!--  End -->
								<!--  3 section -->
								
								<tr class="fieldRow elementWithBottomMargin15 identityWatchElementHeight">
									<td
										class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign">
										<input class="fieldValuesCheckBoxField"
										id="additionalInformation_OptionalInsurance_IW_CheckField"
										type="radio" name="additionalInformation_OptionalInsurance" />
									</td>
									<td
										class="fieldLabelsCell fieldLabelsCellWithCheckBoxDecoratorFix alignToTop">
										<span class="boldSpan"
										data-translationKey="additionalInformation_OptionalProducts_Title3"></span>
									</td>
								</tr>
								<tr class="fieldRow">
									<td class="fieldLabelsCell" colspan="2"
										id="additionalInformation_OptionalInsurance_IW_Area">
										<div class="elementWithRightMargin15">
											<div id="additionalInformation_OptionalInsurance_IW_Table"
												class="privacyArea">
												<table
													class="stretchThisTable whiteTable tableBorderRadius7 tableWithLeftPadding">
													<tr class="fieldRow">
														<td class="fieldValuesCell"><input
															class="fieldValuesCheckBoxField"
															id="additionalInformation_optionalInsurance_IW_Agreement"
															type="checkbox" /></td>
														<td class="fieldLabelsCellWithCheckBoxDecoratorFix">
															<sup class="redSpanForInputsGroup">*</sup>
															<span class="floatLeft"
															data-translationKey="additionalInformation_Identity_Watch_Text"></span>
														</td>
													</tr>
												</table>
											</div>
											<div>
									</td>
								</tr>
								
								<tr class="fieldRow">
									<td class="separatorCell15_OptionalProducts" />
								</tr>
								
								<tr class="fieldRow">
									<td
										class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign fieldHeight20">
										<input class="fieldValuesCheckBoxField"
										id="additionalInformation_OptionalInsurance_NA_CheckField"
										type="radio" name="additionalInformation_OptionalInsurance" />
									</td>
									<td
										class="fieldLabelsCell fieldLabelsCellWithCheckBoxDecoratorFix alignToTop">
										<span class="boldSpan"
										data-translationKey="additionalInformation_OptionalProducts_Title4"></span>
									</td>
								</tr>
								
								<!-- US4244 Start -->
								<!-- US4133 Start -->
								<!--
								<tr class="fieldRow">
									<td class="fieldLabelsCell fieldValuesCell fieldLabelsCellWithCheckBoxDecoratorFix"  colspan="2">								
										<span class="floatLeft boldSpan brbYellowBackground" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Title"></span>
										<br>
										<br>
										<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para1"></span>
										<span class="floatLeft postalStrikeContentText" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para11"></span>
										<br>
										<br>
										<span class="floatLeft postalStrikeContentText" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para2"></span>
										<br>
										<ul class="leftList simpleHyphenList">
											<li data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Bullet1"></li>
											<li data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Bullet2"></li>											
			          					</ul>								
			          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para3"></span>
			          					<span class="floatLeft postalStrikeContentText" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para31"></span>
			          					<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para32"></span>
			          					<br>
			          					<br>
			          					<span class="floatLeft postalStrikeContentText" data-translationKey="additionalInformation_OptionalInsurance_PostalDistImpact_Para4"></span>
			          					<br>
			          					<br>
									</td>
								</tr>
								-->
								<!-- US4244 End -->	
								<!-- US4133 End -->																																
								
							</tbody>
						</table>
					</td>
				</tr>
			</table>

		 </center>
			
		</div>	
						
	</div>							
		
	<br /> <br /> {{if !screenIsPopup }}
		<div class="continueButtonContainer row" id="additionalInformation_continueButtonContainer">
			<div class="floatToRight continueButtonRightPosition elementBottom10 col-xs-12 col-sm-3" id="additionalInformation_ContinueButton">
	        	<a href="#" class="continueButton submitApplicationButton" id="additionalInformation_ContinueButtonHref">
		        	<span class="buttonText" data-translationKey="continue_Button_Label"></span>
	        	</a>
	        	<span class="continueButtonTriangle"></span>
        	</div>
			<div class="backButtonRightPosition popup_CancelButton col-xs-12 col-sm-8" id="additionalInformation_BackButton">
        		<div id="additionalInformation_BackButtonContainer">
	        		<a href="#" class="backButton continueButton floatToRight" id="additionalInformation_BackButtonHref">
		        		<span class="buttonText" data-translationKey="back_Button_Label"></span>
		        	</a>
		        	<span class="backButtonTriangle floatToRight">
		        	</span>		        	
	        	</div>
       		</div>
		</div>
	{{/if}} 
	{{if screenIsPopup }}
		<div class="buttonsContainer row">
			<div class="floatToRight continueButtonRightPosition popup_ContinueButton elementTopBottom10 col-xs-12 col-sm-3" id="additionalInformation_ContinueButton">
	       		<a href="#" class="continueButton submitApplicationButton" id="additionalInformation_continueButtonContainer">
		       		<span class="buttonText" data-translationKey="continue_Button_PopupMode_SaveChanges_Label"></span>
	       		</a>
        	</div>
			<div class="floatToLeft backButtonRightPosition popup_CancelButton elementTopBottom10 col-xs-12 col-sm-8" id="additionalInformation_CancelButton">
        		<div id="additionalInformation_cancelButtonContainer">
	       			<a href="#" class="continueButtonInactive submitApplicationButton continueButtonFocused floatToRight" id="additionalInformation_cancelChangesButtonHref">
		       			<span class="buttonText" data-translationKey="continue_Button_PopupMode_CancelChanges_Label"></span>
		       		</a>		       		 	       	
	      	 		</div>
       		</div>
		</div>
<!--
	<div class="buttonsContainer">
		<div class="floatToRight continueButtonContainer">
			<div class="floatToRight continueButtonRightPosition"
				id="additionalInformation_CancelButton">
				<div id="additionalInformation_cancelButtonContainer">
					<a href="#" id="additionalInformation_cancelChangesButtonHref" class="continueButtonInactive continueButtonFocused">
						<span class="buttonText" data-translationKey="continue_Button_PopupMode_CancelChanges_Label"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="floatToRight continueButtonContainer">
			<div class="floatToRight continueButtonRightPosition"
				id="additionalInformation_ContinueButton">
				<div id="additionalInformation_continueButtonContainer">
					<a href="#" id="additionalInformation_continueButtonContainer" class="continueButton continueButtonFocused">
						<span class="buttonText" data-translationKey="continue_Button_PopupMode_SaveChanges_Label"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
-->
	{{/if}}
	<br />
	<br />
	<div id="additionalInformation_FootnoteBlock" class="footnoteContentBlock row">
<!-- {{if !app.isNSSelected() }}
		<span class="footnoteContentText">
			<span data-translationKey="additionalInformation_footnoteContentText1old"></span>
			<span class="overviewLinkGray" data-translationKey="additionalInformation_footnoteContentText1Link"/>
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText2old"></span>
  			{{if !isSkSelected }}
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">*</sup>
				<span data-translationKey="additionalInformation_footnoteContentText3old"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">**</sup>
				<span data-translationKey="additionalInformation_footnoteContentText4old"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">***</sup>
				<span data-translationKey="additionalInformation_footnoteContentText5old"></span>
			{{/if}}
			<br>			
			<span data-translationKey="additionalInformation_footnoteContentText6old"></span>
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText7old"></span>
		<span>
	 {{/if}} 
	 {{if app.isNSSelected() }}	 
		<span class="footnoteContentText">
			{{if !isSkSelected }}
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">*</sup>
				<span data-translationKey="additionalInformation_footnoteContentText3"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">**</sup>
				<span data-translationKey="additionalInformation_footnoteContentText4"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">***</sup>
				<span data-translationKey="additionalInformation_footnoteContentText5"></span>
			{{/if}}
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText1"></span> 
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText2"></span>
			<br>			
			<span data-translationKey="additionalInformation_footnoteContentText6"></span>
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText7"></span>
		<span>
 	{{/if}}  -->
		<!-- US3011 --> 
		<span class="footnoteContentText">
			<!-- {{if !isSkSelected }}
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">*</sup>
				<span data-translationKey="additionalInformation_footnoteContentText3"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">**</sup>
				<span data-translationKey="additionalInformation_footnoteContentText4"></span>
				<br>
				<sup class="additionalInformationFootnoteAsterixFontSize">***</sup>
				<span data-translationKey="additionalInformation_footnoteContentText5"></span>
			{{/if}}
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText1"></span> 
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText2"></span>
			<br>			
			<span data-translationKey="additionalInformation_footnoteContentText6"></span>
			<br>
			<span data-translationKey="additionalInformation_footnoteContentText7"></span> -->
			<ul class="simpleFootList">
				<li data-translationKey="additionalInformation_footnoteContentText6_1"></li>
				<li data-translationKey="additionalInformation_footnoteContentText7"></li>
				<li data-translationKey="additionalInformation_footnoteContentText8"></li>
				<li data-translationKey="additionalInformation_footnoteContentText9"></li>
				<li data-translationKey="additionalInformation_footnoteContentText10"></li>
				<li data-translationKey="additionalInformation_footnoteContentText11"></li>
				<li data-translationKey="additionalInformation_footnoteContentText12"></li>
			</ul>
		<span>
	</div>    
	<br>

</div>
</script>