<script id="BRBConfirmationAboutYourSelfSection-template" type="text/x-jquery-tmpl">
	<div id="personalInfoTable" class="grayTableTopBorder row">	
		{{if activationItems.getModel('personalInformation').get('title') }}
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			{{if cardType === "OMX" || cardType === "OMZ" }}
				<span data-translationKey="personalInformation_TitleField"></span>
			{{else cardType === "OMP" || cardType === "OMR" }}
				<span data-translationKey="personalInformation_TitleField_OMP_OMR"></span>
			{{/if}}
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<span id="personalNameTitle">${activationItems.getNameTitleByValue(activationItems.getModel('personalInformation').get('title'))}</span>
		</div>		
		{{/if}}		
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_NameField"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<div class="row">
				<span class="col-xs-12">${activationItems.getModel('personalInformation').get('firstName')}
				{{if activationItems.getModel('personalInformation').get('initial') }}
					${activationItems.getModel('personalInformation').get('initial') }
				{{/if}}
				${ activationItems.getModel('personalInformation').get('lastName')}</span>
			</div>
		</div>	
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_DateOfBirth"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${activationItems.getMonthNameFromDate(activationItems.getModel('personalInformation').get('birthDate'))} 
				${activationItems.getModel('personalInformation').get('dateOfBirth_Day')}
				${activationItems.getModel('personalInformation').get('dateOfBirth_Year')}			
		</div>	
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_PreferredLanguage"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<span data-translationKey=${activationItems.getLanguageFriendlyName(activationItems.getModel('personalInformation').get('correspondence'))}></span>			
		</div>	
	</div>
	{{if activationItems.getModel('personalInformation').get('receiveEmail') == 'Y'}}
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('personalInformation').get('receiveEmail'))}></span>
			<span data-translationKey="confirmation_ReceiveEmail" class="fieldCellWithLeftShift"></span>			
		</div>	
	</div>
	{{/if}}
	{{if activationItems.getModel('personalInformation').get('email') }}
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			{{if cardType === "OMX" || cardType === "OMZ" }}
				<span data-translationKey="personalInformation_EmailAddress"></span>
			{{else cardType === "OMP" || cardType === "OMR" }}
				<span data-translationKey="personalInformation_EmailAddress_OMP_OMR"></span>
			{{/if}}
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			${ activationItems.getModel('personalInformation').get('email')}			
		</div>	
	</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_PrimaryPhone"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			${activationItems.getFormattedPhoneNumber(activationItems.getModel('personalInformation').get('homePhone'))}			
		</div>	
	</div>
	{{if activationItems.getModel('personalInformation').get('sin') }}
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_SocialInsurance"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			${activationItems.getFormattedSocialInsurance(activationItems.getModel('personalInformation').get('sin'))}			
		</div>	
	</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_Address"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<div class="row">
				<span class="col-xs-12">
				${activationItems.getModel('personalInformation').get('streetnumber')}
				${activationItems.getModel('personalInformation').get('addressline1')}
				{{if activationItems.getModel('personalInformation').get('streetType') }}
					${ activationItems.getModel('personalInformation').get('streetType')}
				{{/if}}
				{{if activationItems.getModel('personalInformation').get('suiteunit') }}
					<span data-translationKey="confirmation_UnitNumber"></span>${ activationItems.getModel('personalInformation').get('suiteunit')}
				{{/if}}
				${activationItems.getModel('personalInformation').get('city')}
				${activationItems.getProvinceNameByValue(activationItems.getModel('personalInformation').get('province'))}
				${activationItems.getModel('personalInformation').get('postalcode')}
				</span>				
			</div>
		</div>	
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_AddressSince"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${activationItems.getMonthNameByIndex(activationItems.getModel('personalInformation').get('sinceMonths'))} 
				${activationItems.getModel('personalInformation').get('sinceYears')}			
		</div>	
	</div>
	{{if activationItems.getModel('personalInformation').get('isPrevAddressExist') }}
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="confirmation_prevAddressTitle"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<div class="row">
				<span class="col-xs-12">
				${activationItems.getModel('personalInformation').get('streetnumber_prev')}
				${activationItems.getModel('personalInformation').get('addressline1_prev')}
				{{if activationItems.getModel('personalInformation').get('prevstreetType') }}
					${ activationItems.getModel('personalInformation').get('prevstreetType')}
				{{/if}}
				{{if activationItems.getModel('personalInformation').get('suiteunit_prev') }}
					<span data-translationKey="confirmation_UnitNumber"></span>${ activationItems.getModel('personalInformation').get('suiteunit_prev')}
				{{/if}}
				${activationItems.getModel('personalInformation').get('city_prev')}
				${activationItems.getProvinceNameByValue(activationItems.getModel('personalInformation').get('province_prev'))}
				${activationItems.getModel('personalInformation').get('postalcode_prev')}
				</span>				
			</div>
		</div>	
	</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableBottomBorder row">	
		<div class="fieldLabelsCell fieldLabelsBottomCell elementBottom10 col-xs-12">
			<div class="floatToRight fieldValueWithMargins" id="confirmation_AboutYourself_Edit">
				<a href="#" class="button lightgrayflat editButtonSize" id="confirmation_AboutYourself_EditButton"> 
					<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label" tabindex="-1"></span>
				</a>
			</div>			
		</div>			
	</div>
	
</script>