<script id="BRBConfirmationFinancialSection-template" type="text/x-jquery-tmpl">
	<div id="personalInfoTable" class="grayTableTopBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_GrossAnnualIncome"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<span class="fieldCellWithBoldFontSize14" id="confirmation_FinancialInformation_GrossAnnualIncome"/>
		</div>
	</div>
	<!-- US3961 Start -->
    {{if activationItems.getModel('personalInformation').get('grossHouseholdIncome') }}
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_GrossAnnualHouseholdIncome"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				<span class="fieldCellWithBoldFontSize14" id="confirmation_FinancialInformation_GrossAnnualHouseholdIncome"/>
			</div>
		</div>    
         
    {{/if}}
    <!-- End -->

	{{if activationItems.getModel('personalInformation').get('isAnyBankingProducts') }}
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			<span data-translationKey="personalInformation_BankingProducts"></span>			
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			{{if activationItems.getModel('personalInformation').get('cardChequingAcct') == 'Y'}} 
				<span data-translationKey="personalInformation_ChequingAccount"></span>
				<br>
			{{/if}}
			{{if activationItems.getModel('personalInformation').get('cardSavingsAcct') == 'Y'}} 
				<span data-translationKey="personalInformation_SavingsAccount"></span>
				<br>
			{{/if}}					
			{{if activationItems.getModel('personalInformation').get('cardBankLoan') == 'Y'}} 
				<span data-translationKey="personalInformation_BankLoan"></span>
				<br>
			{{/if}}
			 {{if activationItems.getModel('personalInformation').get('cardVISAMCAMEX') == 'Y'}} 
				<span data-translationKey="personalInformation_CreditCard"></span>
				<br>
			{{/if}}
			{{if activationItems.getModel('personalInformation').get('cardGasCard') == 'Y'}} 
				<span data-translationKey="personalInformation_GasCard"></span>
				<br>
			{{/if}}							
			{{if activationItems.getModel('personalInformation').get('cardStoreCard') == 'Y'}} 
				<span data-translationKey="personalInformation_StoreCard"></span>
			{{/if}}	
		</div>
	</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableBottomBorder row">
		<div class="fieldLabelsCell fieldLabelsBottomCell elementBottom10 col-xs-12">
			<div class="floatToRight fieldValueWithMargins" id="confirmation_FinancialInformation_Edit">
      			<a href="#" class="button lightgrayflat editButtonSize" id="confirmation_FinancialInformation_EditButton">
       				<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label"></span>
      			</a>	        					
     		</div>		
		</div>
	</div>	
	
</script>