<script id="BRBConfirmationEmploymentSection-template" type="text/x-jquery-tmpl">
	<div id="personalInfoTable" class="grayTableTopBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
			{{if cardType === "OMX" || cardType === "OMZ" }}
					<span data-translationKey="personalInformation_EmploymentType"></span>
			{{else cardType === "OMP" || cardType === "OMR" }}
					<span data-translationKey="personalInformation_EmploymentType_OMP_OMR"></span>
			{{/if}} 
		</div>
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
			<span data-translationKey=${ activationItems.getEmploymentTypeFriendlyName(activationItems.getModel('personalInformation').get('employmentType'))}></span>
		</div>
	</div>
	{{if activationItems.getModel('personalInformation').get('employmentType') !== 'R' }}
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_Employer"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${ activationItems.getModel('personalInformation').get('employerName')}
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_City"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${ activationItems.getModel('personalInformation').get('employerCity')}
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_JobTitle"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				<span data-translationKey=${ activationItems.getJobCategoryNameByValue(activationItems.getModel('personalInformation').get('jobTitle'))}></span>
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_JobDescription"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				{{if $.inArray(activationItems.getModel('personalInformation').get('jobDescription_temp'), ['TR_OR', 'DR_OR', 'MI_OR', 'PR_OR', 'FA_OR', 'GU_OR', 'MA_OR', 'OW_OR', 'OT_OR', 'SA_OR', 'SE_OR', 'RE_OR', 'LA_OR', 'OF_OR']) != -1 }}
                  	${ activationItems.getModel('personalInformation').get('jobDescription')}
                {{else}}
                	<span data-translationKey=${ activationItems.getJobTitleNameByValue(activationItems.getModel('personalInformation').get('jobDescription_temp'))}></span>						
				{{/if}}
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_EmployerSince"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${activationItems.getMonthNameByIndex(activationItems.getModel('personalInformation').get('howLongMonthes'))}
				${ activationItems.getModel('personalInformation').get('howLongYears')}
			</div>
		</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableBottomBorder row">
		<div class="fieldLabelsCell fieldLabelsBottomCell elementBottom10 col-xs-12">
			<div class="floatToRight fieldValueWithMargins" id="confirmation_EmploymentInformation_Edit">
      			<a href="#" class="button lightgrayflat editButtonSize" id="confirmation_EmploymentInformation_EditButton">
       				<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label"></span>
      			</a>	        					
  			</div>
		</div>
	</div>	
</script>