<script id="BRBConfirmation-template" type="text/x-jquery-tmpl">	
	<span><!-- Dont remove span, IE8!!! -->
	<div id="BreadcrumbTrailArea1" class="container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">	
	{{if !isMOA }}	
		<div class="breadcrumBorder row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
		{{else}}
		     <div class="breadcrumBorder row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>
		   </div>
		{{/if}}	
		    <br><br>
		     <table id="steps4" class="tableNoBorder stretchThisTable_overview">
				  <tr class="tableNoBorder">
				      <td id="Page_4_HR_line_1" class="Width_TD_15 hrAttributes"></td>
					  <td id="Page_4_title" class="Width_TD_35">							
						   {{if !isMOA }}
							   <span class="PageTitle" data-translationKey="confirmation_steps4_OUT_5_Ecomm"></span>	
					       {{else}}
					       		{{if cardType === "OMX" || cardType === "OMZ" }}
									<span class="PageTitle" data-translationKey="confirmation_steps4_OUT_5_Decoupled"></span>
								{{else cardType === "OMP" || cardType === "OMR" }}
									<span class="PageTitle" data-translationKey="confirmation_steps4_OUT_5_Decoupled_OMP_OMR"></span>
								{{/if}}
		                   {{/if}}
					  </td>
					  <td id="Page_4_HR_line_2" class="Width_TD_15 hrAttributes"></td>
				   </tr>
			</table>
			
	</div>
	<div class="ScreenLayout elementTop20" id="Confirmation_PageContents">
		<div id="confirmation_print_header" data-translationKey="confirmation_print_header"></div>
		<center>
			<div id="confirmation_Information_Accurate_Area" class="row" >
				<table class="stretchThisTable grayTable">
					<tr class="fieldRow">
						<td class="fieldLabelsCell fieldLabelsBottomCell" style="padding-right: 15px;">
							{{if cardType === "OMX" || cardType === "OMZ" }}
								<span class="floatLeft" data-translationKey="confirmation_Information_Accurate_Text"></span>
							{{else cardType === "OMP" || cardType === "OMR" }}
								<span class="floatLeft" data-translationKey="confirmation_Information_Accurate_Text_OMP_OMR"></span>
							{{/if}}
						</td>
					</tr>
				</table>	
			</div>
		</center>
		
		<div class="confirmationTitle row">
			<div class="pageSubTitle col-xs-7 col-sm-9">
				{{if cardType === "OMX" || cardType === "OMZ" }}
					<span class="leftalign" data-translationKey="personalInformation_AboutYourself"></span>
				{{else cardType === "OMP" || cardType === "OMR" }}
					<span class="leftalign" data-translationKey="personalInformation_AboutYourself_OMP_OMR"></span>
				{{/if}}
			</div>
			<div class="floatToRight col-xs-5 col-sm-3" style="text-align: right; padding-right: 0px; padding-left: 0px; padding-top: 4px;">
				<a href="#" id="print" class="print_button floatToRight">
					<span class="print_link" data-translationKey="confirmation_PrintPage"></span>
					<div class="print_image"></div>
										
    			</a>
			</div>
		</div>
		<!--
		<div class="personalTitle row">
			<span class="pageSubTitle" data-translationKey="personalInformation_AboutYourself"></span>
			<a href="#" id="print" class="print_button floatToRight">
				<span class="print_link" data-translationKey="confirmation_PrintPage"></span>
				<div class="print_image"></div>
    		</a>
		</div> -->		
		<center>
			<div id="confirmation_AboutYourselfArea">
			</div>
		</center>		
				
		<div class="personalTitle row">
			{{if cardType === "OMX" || cardType === "OMZ" }}
				<span class="pageSubTitle" data-translationKey="personalInformation_EmploymentInformation"></span>
			{{else cardType === "OMP" || cardType === "OMR" }}
				<span class="pageSubTitle" data-translationKey="personalInformation_EmploymentInformation_OMP_OMR"></span>
			{{/if}}			
		</div>		
		<center>
			<div id="confirmation_EmploymentInformationArea" >
			</div>
		</center>
			
		<div class="personalTitle row">
			<span class="pageSubTitle" data-translationKey="personalInformation_FinancialInformation"></span>
		</div>		
		<center>
			<div id="confirmation_FinancialInformationArea" >	            								
			</div>
		</center>		
		
		<div class="personalTitle row">
			{{if cardType === "OMX" || cardType === "OMZ" }}
					<span class="pageSubTitle" data-translationKey="additionalInformation_GetSuplementaryCard"></span>
			{{else cardType === "OMP" || cardType === "OMR" }}
					<span class="pageSubTitle" data-translationKey="additionalInformation_GetSuplementaryCard_OMP_OMR"></span>
			{{/if}}
		</div>
		<center>
			<div id="confirmation_GetSuplementaryCardArea" >
			</div>
		</center>		

<!--
		<div class="personalTitle">
			<span class="pageSubTitle" data-translationKey="additionalInformation_Final_Details"></span>
		</div>		
		<center>
			<div id="personalData_FinalDetailsArea" >
	            <table id="personalInfoTable" class="stretchThisTable grayTable grayTableSpacerTop">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize25 fieldCellWidth170">
							<span class="floatLeft" data-translationKey="additionalInformation_Final_Details_Language"></span>
	                    </td>
 						<td class="fieldValuesCell fieldCellWithBoldFontSize14">	                    		                        			
							
	                    </td>	                                  
	                </tr>	
 					<tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize25 fieldCellWidth170">
	                        <span data-translationKey="additionalInformation_Final_Details_Statement"></span>	                        
	                    </td>
	                    <td class="fieldValuesCell fieldCellWithBoldFontSize14">
	                       
	                    </td>
	                </tr>    
					<tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldLabelsTopCell ">
							<span class="floatLeft" data-translationKey="additionalInformation_Final_Details_Subscription"></span>
	                    </td>
	                </tr>    
					<tr class="fieldRow">
						<td class="fieldLabelsCell fieldValuesTopCell" colspan="2">
        					<div class="floatToRight fieldValueWithMargins" id="confirmation_FinalDetails_Edit">
	        					<span class="button lightgrayflat editButtonSize" id="confirmation_FinalDetails_EditButton">
		        					<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label"></span>
	        					</span>	        					
        					</div>							
						</td>
					</tr>	        
	            </table>								
			</div>
		</center>		
-->
		<div class="personalTitle row">
			<span class="pageSubTitle" data-translationKey="additionalInformation_OptionalProducts"></span>
		</div>
		
			<div id="confirmation_OptionalInsuranceArea" >	            								
			</div>
				
		
		<div class="personalTitle row">
			<span class="pageSubTitle" data-translationKey="confirmation_Terms_Conditions"></span>
		</div>		
		<center>
			<div id="confirmation_TermsConditionsArea" class="row">
				<table class="stretchThisTable grayTable">
					<tr class="fieldRow">					
						<td class="fieldLabelsCell fieldValuesTopAndBottomCell">
							<div id="privacylist">
								<p/>
								<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_SubTitle"></span>
								<ul class="privacylist">
									{{if cardType === "OMX" || cardType === "OMZ" }}
										<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item1"></span></li>
									{{else cardType === "OMP" || cardType === "OMR" }}
										<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item1_OMP_OMR"></span></li>
									{{/if}}
									<br>
									{{if cardType === "OMP" || cardType === "OMR" }}
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization__OMP_CARD_Item2"></span></li>
									{{/if}}
								   <!-- {{if !app.isNSSelected() }}
									<li><span class="privacylistItemText boldSpan" data-translationKey="confirmation_Application_Authorization_Item2old"></span></li>
									<br>
									{{if isMOA }}
									{{if cardType === "OMP" || cardType === "OMR" }}
									         <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3_OMP"></span></li>
									{{else}}
									        <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3"></span></li>
									{{/if}}
									{{/if}}
									<br>
									<li>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_1old"></span>
										<span class="privacylistItemText">
											<span class="redSpan" data-translationKey="confirmation_Application_Authorization_Item4_2old"/>
										</span>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_3old"></span>
									</li>
									{{/if}}
									{{if app.isNSSelected() }}
									{{if cardType === "OMX"}}
									    <li><span class="privacylistItemText boldSpan" data-translationKey="confirmation_Application_Authorization_Item2_OMX"></span></li>
									{{/if}}
									
									<br> 
									{{if isMOA }}
									{{if cardType === "OMP" || cardType === "OMR"}}
									         <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3_OMP"></span></li>
									{{else cardType === "OMX" || cardType === "OMZ"}}
									        <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3"></span></li>
									{{/if}}
									{{/if}}
									<br>
									<li>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_1"></span>
										<span class="privacylistItemText">
											<span class="redSpan" data-translationKey="confirmation_Application_Authorization_Item4_2"/>
										</span>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_3"></span>
									</li>
									{{/if}} -->
									<!-- US3011-->
									{{if cardType === "OMX"}}
									    <li><span class="privacylistItemText boldSpan" data-translationKey="confirmation_Application_Authorization_Item2_OMX"></span></li>
										<br>
									{{/if}}
									
									
									{{if isMOA }}
									{{if cardType === "OMP" || cardType === "OMR"}}
									         <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3_OMP"></span></li>
									{{else}}
									        <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3"></span></li>
									{{/if}}
									{{/if}}
                                    {{if !isMOA }}
                                            <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item3"></span></li>
									{{/if}}
									<br>
									<li>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_1"></span>
										<span class="privacylistItemText">
											<span class="redSpan" data-translationKey="confirmation_Application_Authorization_Item4_2"/>
										</span>
										<span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item4_3"></span>
									</li>
									<br>
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item5"></span></li>
									<br>
									<li><p class="privacylistItemLargeText boldSpan" data-translationKey="confirmation_Application_Authorization_Item6"/></li>
									<br>
                                    {{if cardType === "OMP"}}
								         <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item6a_OMP"></span></li>
								          <br>
                                     {{else cardType === "OMR" }}
									     <li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item6a_OMR"></span></li>
								         <br>
                                    {{/if}}	
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item7"></span></li>
									<br>
									{{if cardType === "OMX" || cardType === "OMZ" }}
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item7a"></span></li>
									<br>
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item7b"></span></li>
									<br>
									{{/if}}	
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item8"></span></li>
									<br>
									{{if !isMOA }}
							   			<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item9"></span></li>
							   			<br>
		                   			{{/if}}
									<li><span class="privacylistItemText" data-translationKey="confirmation_Application_Authorization_Item10"></span></li>																	
								</ul>
							</div>
						</td>
					</tr>			
					<tr class="fieldRow">
						<td class="fieldLabelsCell fieldValuesOneCell tableWithPaddingBottom15" colspan="2">
							<div id="confirmation_Privacy_Area">
							<table class="stretchThisTable whiteTable">
								<tr class="fieldRow">
									<td class="fieldLabelsCell fieldLabelsBottomCell" colspan="2">
										<div class="row">
											<div class="col-xs-6 col-sm-9">
												{{if cardType === "OMX" || cardType === "OMZ" }}
													<span class="privacylistItemText" data-translationKey="confirmation_Privacy_Charter"/>
												{{else cardType === "OMP" || cardType === "OMR" }}
													<span class="privacylistItemText" data-translationKey="confirmation_Privacy_Charter_OMP_OMR"/>
												{{/if}}												
											</div>
											<div class="col-xs-6 col-sm-3">
												<div class="floatToRight elementWithRightMargin15 alignRightAtEdgeofTitleBar">
													<span class="requiredField redSpan">*</span>
													{{if cardType === "OMX" || cardType === "OMZ" }}
														<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
													{{else cardType === "OMP" || cardType === "OMR" }}
														<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel_OMP_OMR"></span>
													{{/if}}													
												</div>
											</div>
										</div>
									</td>
								</tr>
	                			<tr class="fieldRow">									
	                				<td class="fieldLabelsCell fieldCellSize5">
	                					<input class="fieldValuesCheckBoxField" id="confirmation_Application_Authorization_CheckBox_Field" type="checkbox" />
	                				</td>
	                    			<td class="fieldRow fieldLabelsCellWithCheckBox elementTopBottom10">
										<sup>
											<b class="redSpanForInputsGroup">*</b>
										</sup>
										<span class="floatLeft" data-translationKey="confirmation_Privacy_Charter_Text"></span>										
	                    			</td>									                    
	                			</tr>
	                			{{if !isMOA }}
								<tr class="fieldRow">
	                				<td class="fieldLabelsCell fieldCellSize5">
	                					<input class="fieldValuesCheckBoxField" id="confirmation_Update_CT_Profile_CheckBox_Field" type="checkbox" />
	                				</td>
	                    			<td class="fieldRow fieldLabelsCellWithCheckBox elementTopBottom10">
										<span class="floatLeft" data-translationKey="confirmation_Update_CT_Profile_Text"></span>										
	                    			</td>	                    
	                			</tr>
	                			{{/if}}
							</table>
							</div>								
						</td>
					</tr>			
				</table>	
			</div>
		</center>	
		<br><br><br>
		<br><br><br>
        <div class="continueButtonContainer row" id="confirmation_continueButtonContainer">
        	<div class="floatToRight continueButtonRightPositionReview elementBottom10 col-xs-12 col-sm-3" id="confirmation_continueButton">
				{{if !isMOA }}
		        	<a href="#" class="continueButton submitApplicationButton" id="confirmation_ContinueButtonHref">
			        	<span class="buttonTextReview" data-translationKey="confirmation_Ctfs_Button_Label"></span>
		        	</a>
	        	{{else}}
		        	     <a href="#" class="continueButton submitApplicationButton" id="confirmation_ContinueButtonHref">
			        	   <span class="buttonTextReview" data-translationKey="confirmation_Button_Label"></span>
		        	     </a>
	        	{{/if}}
	        	<!-- <span class="continueButtonTriangle"></span> -->
        	</div>
        	
        	<div class="backButtonRightPosition popup_CancelButton col-xs-12 col-sm-3" id="confirmation_BackButton">
        		<div id="confirmation_BackButtonContainer">
		        	</span>
		        	
	        		<a href="#" class="backButton backButtonGray" id="confirmation_BackButtonHref">
		        		<span class="buttonText" data-translationKey="back_Button_Label"></span>
		        	</a>
		        	
	        	</div>
        </div>
	</div>

	<br />	
	<br />

<div class="footnoteContentBlock confirmationFootnoteContentBlock row">
		<!--US3083 <span class="footnoteContentText">
				<span data-translationKey="confirmation_footnoteContentText1"></span>
				<span class="overviewLinkGray" data-translationKey="confirmation_footnoteContentText1Link"/>
				<br>
				<span data-translationKey="confirmation_footnoteContentText2"></span>
				<br>
				<span data-translationKey="confirmation_footnoteContentText4"></span>
				<br>
				<span data-translationKey="confirmation_footnoteContentText5"></span>
			<span> -->
			
		<div class="scrollbar" id="style-1">
                   <div class="force-overflow">	
						    <span class="footnoteContentText">
								<!--	{{if !app.isNSSelected() }}
										<span data-translationKey="confirmation_footnoteContentText1"></span>
										<span class="overviewLinkGray" data-translationKey="confirmation_footnoteContentText1Link"/>
										<br>
										<span data-translationKey="confirmation_footnoteContentText2"></span>
										<br>
										<span data-translationKey="confirmation_footnoteContentText4"></span>
										<br>
										<span data-translationKey="confirmation_footnoteContentText5"></span>
									{{/if}}
									{{if app.isNSSelected() }}  
									<br>
					                <!-- US4591 OMX -->	
					                {{if cardType === "OMX"}}			
									<span data-translationKey="confirmation_footnoteContentText01_OMX"></span>
									<!-- US4591 OMZ -->
									 {{else cardType === "OMZ"}} 				
									<span id="confirmation_footnoteContentText001_OMZ_ID" data-translationKey="confirmation_footnoteContentText01_OMZ"></span>
									<span id="confirmation_footnoteContentText001_OMX_ID"  data-translationKey="confirmation_footnoteContentText01_OMX"></span>
									{{/if}}
									<br>
									<span class="additionalInformationFootnoteAsterixFontSize">**</span>
									<span data-translationKey="confirmation_footnoteContentText02"></span>
									<br>
									<span data-translationKey="confirmation_footnoteContentText02a"></span>
									<br>
									<span data-translationKey="confirmation_footnoteContentText03"></span> 
									<br>
									{{if cardType === "OMP" || cardType === "OMR"}}
									    <p data-translationKey="confirmation_footnoteContentText04_OMP"></p>
									{{else cardType === "OMZ" || cardType === "OMX"}} 	
									    <p data-translationKey="confirmation_footnoteContentText04"></p>	
									{{/if}}			
									<br>			
									<span data-translationKey="confirmation_footnoteContentText05"></span> 
							 		{{/if}}	-->
					             <!-- US3011 -->
					             	{{if cardType === "OMX" || cardType === "OMZ"}}
									    <p data-translationKey="confirmation_footnoteContentText1_1"></p>
									{{else cardType === "OMP" || cardType === "OMR"}} 	
									    <p data-translationKey="confirmation_footnoteContentText1_1_OMP_OMR"></p>	
									{{/if}}										
									<!-- US4591 OMX -->
									{{if cardType === "OMX"}}						
									<p data-translationKey="confirmation_footnoteContentText01_OMX"></p>
									<!-- US4591 OMZ -->
									{{else cardType === "OMZ"}} 					
								      <p id="confirmation_footnoteContentText01_OMZ_ID" data-translationKey="confirmation_footnoteContentText01_OMZ"></p>
                                    {{else cardType === "OMX"}} 
								      <p id="confirmation_footnoteContentText01_OMX_ID"  data-translationKey="confirmation_footnoteContentText01_OMX"></p>
								      {{/if}}
								<!--	<sup class="additionalInformationFootnoteAsterixFontSize">**</sup>
									<span data-translationKey="confirmation_footnoteContentText02"></span>
									<br> -->
									{{if cardType === "OMX" || cardType === "OMZ"}}
									    <p data-translationKey="confirmation_footnoteContentText02a"></p>
									{{else cardType === "OMP" || cardType === "OMR"}} 	
									    <p data-translationKey="confirmation_footnoteContentText02a_OMP_OMR"></p>	
									{{/if}}									
								<!--	<span data-translationKey="confirmation_footnoteContentText03"></span> 
									<br>	-->
									{{if cardType === "OMP" || cardType === "OMR"}}
									    <p data-translationKey="confirmation_footnoteContentText04_OMP"></p>
									    <p data-translationKey="confirmation_footnoteContentText05_OMP_OMR"></p>
									{{else cardType === "OMZ" || cardType === "OMX"}} 	
									    <p data-translationKey="confirmation_footnoteContentText04"></p>
									    <p data-translationKey="confirmation_footnoteContentText05"></p>
									{{/if}}			
									
							<span>
						</div>
						</div>	
		</div>
		<br>
		<br>
</div>
</script>