 <script id="BRBConfirmationSuplementaryCardSection-template" type="text/x-jquery-tmpl">
	<div id="personalInfoTable" class="grayTableTopBorder row">	
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-12">
			<span class="floatLeft" data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('additionalInformation').get('suplementaryYesNo'))}></span>
			{{if activationItems.getModel('additionalInformation').get('suplementaryYesNo')}}
			    <span class="fieldCellWithLeftShift" data-translationKey="additionalInformation_AuthorizeSupplementaryCardmember_Yes"></span>
			{{else !activationItems.getModel('additionalInformation').get('suplementaryYesNo')}}
			    <span class="fieldCellWithLeftShift" data-translationKey="additionalInformation_AuthorizeSupplementaryCardmember_No"></span>
			{{/if}}			
		</div>		
	</div> 
	{{if activationItems.getModel('additionalInformation').get('suplementaryYesNo')}}
		{{if activationItems.getModel('additionalInformation').get('title') }}
			<div id="personalInfoTable" class="grayTableNoBorder row">	
				<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
					<span data-translationKey="additionalInformation_TitleField"></span>			
				</div>
				<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
					<span id="additionalNameTitle">${activationItems.getNameTitleByValue(activationItems.getModel('additionalInformation').get('title'))}</span>
				</div>
			</div>
		{{/if}}
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="additionalInformation_NameField"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${ activationItems.getModel('additionalInformation').get('firstName')} 
				{{if activationItems.getModel('additionalInformation').get('initial') }}
	            	${ activationItems.getModel('additionalInformation').get('initial') } 
	            {{/if}}
				${ activationItems.getModel('additionalInformation').get('lastName')}
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="personalInformation_DateOfBirth"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${activationItems.getMonthNameFromDate(activationItems.getModel('additionalInformation').get('birthDate'))} 
				${activationItems.getModel('additionalInformation').get('dateOfBirth_Day')}
				${activationItems.getModel('additionalInformation').get('dateOfBirth_Year')}			
			</div>	
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="additionalInformation_PrimaryPhone"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				${activationItems.getFormattedPhoneNumber(activationItems.getModel('additionalInformation').get('homePhone'))}
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="additionalInformation_Relationship"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				<span class="floatLeft" data-translationKey=${activationItems.getRelationshipFriendlyName(activationItems.getModel('additionalInformation').get('relationship'))}></span>
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">	
			<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
				<span data-translationKey="additionalInformation_SameAddressAsPrimaryCardholder"></span>			
			</div>
			<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
				<span class="floatLeft" data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('additionalInformation').get('sameAddressArea'))}></span>
			</div>
		</div>
		<div id="personalInfoTable" class="grayTableNoBorder row">
			<!-- US4500 -->
        <div id ="addressInfo">	
				<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-4 col-sm-3">
					<span data-translationKey="additionalInformation_Address"></span>			
				</div>
				<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-8 col-sm-9">
					<div class="row">
						<span class="col-xs-12">
						${ activationItems.getModel('additionalInformation').get('streetNumber')}
						${ activationItems.getModel('additionalInformation').get('streetName')}
						{{if activationItems.getModel('additionalInformation').get('suiteUnit') }}
							<span data-translationKey="confirmation_Suite"></span>${ activationItems.getModel('additionalInformation').get('suiteUnit')}
						{{/if}}
						${activationItems.getModel('additionalInformation').get('city')}
						${activationItems.getProvinceNameByValue(activationItems.getModel('additionalInformation').get('province'))}
						${activationItems.getModel('additionalInformation').get('postalCode')}
						</span>				
					</div>
				</div>
			</div>	
		</div>
	{{/if}}
	<div id="personalInfoTable" class="grayTableBottomBorder row">
		<div class="fieldLabelsCell fieldLabelsBottomCell elementBottom10 col-xs-12">
			<div class="floatToRight fieldValueWithMargins" id="confirmation_GetSuplementaryCard_Edit">
	     		<a href="#" class="button lightgrayflat editButtonSize" id="confirmation_GetSuplementaryCard_EditButton">
		 			<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label"></span>
	     		</a>	        					
        	</div>	
		</div>
	</div>	

</script>