<script id="BRBConfirmationOptionalInsuranceSection-template" type="text/x-jquery-tmpl">
	<div id="personalInfoTable" class="grayTableTopBorder row">	
		<div class="fieldLabelsCell fieldCellWithBoldFontSize14 fieldValuesTopCell elementTopBottom10 col-xs-12">
			<!-- US3459 -->
			<!-- Start -->
			<!-- US3382 -->
			<!-- UAT 38, CP Revitalization -->
			<!-- SK related "if" condition is removed, since after commenting also it's applying condition. So if condition is removed from here. -->
			<span class="floatLeft" data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('additionalInformation').get('optionalInsurance_CP'))}></span>
			<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_CreditProtector_enroll"></span>			
		</div>		
	</div> 
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
			<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet1"></span><br><br>
			<span class="floatLeft boldSpan" data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet2"></span>
			<!-- 2016-02-17 chrch: changing floatLeft to leftList for responsive -->
			<ul class="leftList simpleHyphenList">
				<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet3"></li>
				<li data-translationKey="additionalInformation_OptionalInsurance_Details16_Bullet4"></li>
          	</ul>			
		</div>
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell fieldCellWithBoldFontSize14 elementTopBottom10 col-xs-12">
			<span class="floatLeft" data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('additionalInformation').get('optionalInsurance_IW'))}></span>
			<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_IdentityWatch"></span>		
		</div>
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
			<span data-translationKey="additionalInformation_OptionalInsurance_Details2"></span>
			<span class="continueShoppingButton redSpan"
				data-translationKey="additionalInformation_IdentityWatch_Terms"></span>		
		</div>
	</div>
	
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell fieldCellWithBoldFontSize14 elementTopBottom10 col-xs-12">
			<span class="floatLeft" data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('additionalInformation').get('optionalInsurance_PA'))}></span>
			<span class="floatLeft" data-translationKey="additionalInformation_OptionalInsurance_ProtectionAdvantage"></span>		
		</div>
	</div>
	<div id="personalInfoTable" class="grayTableNoBorder row">	
		<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
			<span data-translationKey="additionalInformation_OptionalInsurance_Details3"></span>
			<span class="continueShoppingButton redSpan"
				data-translationKey="additionalInformation_ProtectionAdvantage_Terms"></span>		
		</div>
	</div>
	<div id="personalInfoTable" class="grayTableBottomBorder row">
		<div class="fieldLabelsCell fieldLabelsBottomCell elementBottom10 col-xs-12">
			<div class="floatToRight fieldValueWithMargins" id="confirmation_OptionalInsurance_EditButton">
	        	<a href="#" class="button lightgrayflat editButtonSize" id="confirmation_Insurance_EditButton">
		    		<span class="editButtonText" data-translationKey="confirmation_Edit_Button_Label"></span>
	        	</a>	        					
        	</div>	
		</div>
	</div>	

</script>