<script id="BRBIdentityVerification-template" type="text/x-jquery-tmpl">	
	<span><!-- Dont remove span, IE8!!! -->
	<div id="BreadcrumbTrailArea1" class="container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">		
		<div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Confirmation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
	</div>
	
		
	<div class="ScreenLayout" id="IdentityVerification_PageContents">
		<!--
		<div>
			<span class="pageSubTitle" data-translationKey="identityVerification_Title"></span>
			<br>
		</div>
		-->
		<!--
		<table id="identityVerification_ecomUpdateRequestFailedContainer" 
			class="tableNoBorder stretchThisTable ecomUpdateRequestFailedTextContent
 					elementWithPaddingRightLeft20 hideElement">
			<td class="fieldCellSize5">
				<div class="tu_pendingending_exclamation_point elementTopMargin5"></div>	
			</td>
			<td>
				<span  data-translationKey="identityVerification_EcommProfile_Update_Request_Failed"></span>
			</td>
		</table>
		-->
		
		<center>
			<div id="IdentityVerification_CardsContainer" class="cards row">
				<div id="exam1" class="card">
					<div>
						<span class="examNumberLabel">1</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question0" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam1_Answer1" value="0" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer2" value="1" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer3" value="2" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
			        			
			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer4" value="3" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer5" value="4" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr> 
							
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question1SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question1Submit">
					        	<a href="#" class="continueButton" id="identityVerification_Question1SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<span class="continueButtonTriangle" id="identityVerification_Question1SubmitTriangle">
					        	</span>
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam2" class="card">
					<div>
						<span class="examNumberLabel">2</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question1" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam2_Answer1" value="0" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer2" value="1" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer3" value="2" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer4" value="3" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer5" value="4" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        		
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question2SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question2Submit">
					        	<a href="#" class="continueButton" id="identityVerification_Question2SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<span class="continueButtonTriangle" id="identityVerification_Question2SubmitTriangle">
					        	</span>
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam3" class="card">
					<div>
						<span class="examNumberLabel">3</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question2" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam3_Answer1" value="0" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer2" value="1" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer3" value="2" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer4" value="3" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer5" value="4" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question3SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question3Submit">
					        	<a href="#" class="continueButton" id="identityVerification_Question3SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<span class="continueButtonTriangle" id="identityVerification_Question3SubmitTriangle">
					        	</span>
				        	</div>
		        		</div>
	        		</div>
					
				</div>

				<div id="exam4" class="card">
					<div>
						<span class="examNumberLabel">4</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question3" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam4_Answer1" value="0" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer2" value="1" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer3" value="2" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer4" value="3" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer5" value="4" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
								</td>
							</tr>	
			        	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question4SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question4Submit">
					        	<a href="#" class="continueButton" id="identityVerification_Question4SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<span class="continueButtonTriangle" id="identityVerification_Question4SubmitTriangle">
					        	</span>
				        	</div>
		        		</div>
	        		</div>
					
				</div>


				
				<div>
					<div id="identityVerification_TitleBlock">
						<span class="pageSubTitle leftalign" data-translationKey="identityVerification_Title"></span>
						<br>
					</div>
					<div id="identityVerification_ExamTable" class="stretchThisTable grayTable examTableHeightCards">
						<div id="protection_note" class="grayTableTopBorder">	
							<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
								<span class="leftalign" data-translationKey="identityVerification_ProtectionNote"></span>			
							</div>												
						</div>
						<div id="examFinalStep" class="hideElement">
							<div class="grayTableTopBorder">	
								<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
									<br>
									<span id="examFinalStepMsg" class="congratulationsLabel" data-translationKey="identityVerification_Congratulations"></span>
									<br>			
								</div>												
							</div>
							<div id="examFinalStep112" class="grayTableNoBorder">	
								<div class="fieldLabelsCell fieldLabelsTopCell customerCardContainer elementBottom10 col-xs-12 col-sm-4 col-md-3">
									<div class="customerCard"/>
									<span class="custormerCreditCardNumber" id="identityVerification_Pan_Number">XXXX XXXX XXXX 1234</span>
									<span class="custormerCardName" id="identityVerification_UserName"></span>			
								</div>	
								<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12 col-sm-8 col-md-9">
									<span id="identityVerification_UserNameFull">FirstName LastNAme</span>
									<br><br>
									<span id="identityVerification_CardNumberText" data-translationKey="identityVerification_CardNumberText">Card Number: </span>
									<span id="identityVerification_CardNumber">XXXX XXXX XXXX 1234</span>
									<br><br>
									<span id="identityVerification_CardLimitText" data-translationKey="identityVerification_CardLimitText">Card Limit: </span>
									<span id="identityVerification_CardLimit">$000,000</span>
									<br><br>
									<span id="identityVerification_CardAPRText" data-translationKey="identityVerification_CardAPRText">APR: </span>
									<span id="identityVerification_CardAPR">00.00%</span>					
								</div>						
							</div>
							<div id="examFinalStep113" class="grayTableNoBorder">	
								<div class="fieldLabelsCell fieldLabelsTopCell congratulationsTextContent elementBottom10 col-xs-12">
									<span data-translationKey="identityVerification_FinalText1"></span>
											<br>
										<!--{{if !app.isNSSelected() }}
											<span data-translationKey="identityVerification_FinalText2old"></span>
											{{/if}}
											{{if app.isNSSelected() }}
											<span data-translationKey="identityVerification_FinalText2"></span>
											{{/if}}-->
											<!-- US3011 -->
											<span data-translationKey="identityVerification_FinalText2"></span>
											<br>
											<span data-translationKey="identityVerification_FinalText3"></span>
											<br>
											<b><a id="identityVerification_customerEmail" class="emailField" href="mailto:customer@mail.com">customer@mail.com.</a>.</b>
											<span data-translationKey="identityVerification_FinalText4"></span>			
								</div>	
							</div>
							<div id="examFinalStep114" class="grayTableBottomBorder">	
								<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12 col-sm-7 col-md-8">
									<span data-translationKey="identityVerification_FinalText5"></span>
								</div>
								<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12 col-sm-5 col-md-4">
									<div class="continueButtonContainer" id="identityVerification_continueButtonContainer">
										<div class="floatToRight continueButtonRightPosition continueButtonClick" id="identityVerification_ContinueButton">
											<a href="#" class="continueButton submitApplicationButton" id="identityVerification_ContinueButton1Rect">
												<span class="buttonText" data-translationKey="continue_Button_Label"></span>
											</a>
											<span class="continueButtonTriangle"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="examFinalStepPending" class="hideElement alignToTop">
							<div class="row">
                				<div class="fieldLabelsCell fieldLabelsTopCell elementBottom10 col-xs-12">
                        			<br>
                        			<span class="congratulationsLabel" data-translationKey="identityVerification_PendingTitle"></span>
								</div>
							</div>
							<div class="congratulationsTextContent grayTableNoBorder row">
								<div id="tu_pendingending"  class="hideElement">
                                	<div class="col-xs-2 col-sm-1">
                        				<div class="tu_pendingending_exclamation_point"></div>
									</div>
									<div class="col-xs-10 col-sm-11"> 
                                		<span  data-translationKey="identityVerification_TUPendingText1"></span>
										<br><br>
									</div>
								</div>
							</div>
							<div class="grayTableNoBorder row">
								<div class="fieldLabelsCell col-xs-12">
                           			<span  data-translationKey="identityVerification_TUPendingText2"></span>
									<br><br>
								</div>
	                		</div>
							<div class="row">
								<div class="fieldLabelsCell col-xs-12">
											<span data-translationKey="identityVerification_PendingText1"></span>
											<br>
											<span data-translationKey="identityVerification_PendingText2"></span>
											<br><br>
											<b>
												<span data-translationKey="identityVerification_PendingText3"></span>
											</b>
								</div>
							</div>
							<div class="grayTableNoBorder row">
								<div class="fieldLabelsCell col-xs-12 col-sm-7">
									<span data-translationKey="identityVerification_PendingText4"></span>
								</div>
								<div class="fieldLabelsCell col-xs-12 col-sm-5">
									<div class="continueButtonContainer" id="identityVerification_continueButtonContainer">
										<div class="floatToRight continueButtonClick elementTopBottom10" id="identityVerification_ContinueButton">
											<a href="#" class="continueButton submitApplicationButton" id="identityVerification_ContinueButton2Rect">
												<span class="buttonText" data-translationKey="continue_Button_Label"></span>
											</a>
											<span class="continueButtonTriangle"></span>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
		</center>
			<div id="identityVerification_PageFooter" class="footerText row" >
			<!-- {{if !app.isNSSelected() }} 
				<span id="identityVerification_FooterNote" class="identityVerificationFooterNote" data-translationKey="identityVerification_FooterText1old"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2old"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3old"></span>
				{{/if}}
				{{if app.isNSSelected() }} 
				<span data-translationKey="identityVerification_FooterText1"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText4"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText5"></span>
				{{/if}}-->
				<!-- US3011 -->
				<span data-translationKey="identityVerification_FooterText1"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText4"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText5"></span>				
			<div>
			<br><br><br>
	</div>

</script>