<script id="BRBIdentityVerification-template" type="text/x-jquery-tmpl">	
	<span><!-- Dont remove span, IE8!!! -->
	<div id="BreadcrumbTrailArea1" class="container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">	
	{{if !isMOA }}		
		<div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
		<table id="steps5" class="tableNoBorder stretchThisTable_overview">
				  <tr class="tableNoBorder">
				      <td id="Page_5_HR_line_1" class="Width_TD_14 hrAttributes"></td>
					  <td id="Page_4_title" class="Width_TD_34" align="center">
							   <span class="PageTitle" data-translationKey="identityVerification_steps5_OUT_5_Ecomm"></span>	
					  </td>
					  <td id="Page_5_HR_line_2" class="Width_TD_14 hrAttributes"></td>
				   </tr>
	    </table>
		{{else}}
		       <div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Confirmation"></span>
				</div>
		</div>
		{{/if}}
	</div>
		
	<div class="ScreenLayout grayTableSpacerTop40" id="IdentityVerification_PageContents">
		<!--
		<div>
			<span class="pageSubTitle" data-translationKey="identityVerification_Title"></span>
			<br>
		</div>
		-->
		<!--
		<table id="identityVerification_ecomUpdateRequestFailedContainer" 
			class="tableNoBorder stretchThisTable ecomUpdateRequestFailedTextContent
 					elementWithPaddingRightLeft20 hideElement">
			<td class="fieldCellSize5">
				<div class="tu_pendingending_exclamation_point elementTopMargin5"></div>	
			</td>
			<td>
				<span  data-translationKey="identityVerification_EcommProfile_Update_Request_Failed"></span>
			</td>
		</table>
		-->
		
		<center>
			<div id="IdentityVerification_CardsContainer" class="cards row">
				<div id="exam1" class="card">
					<div>
						<span class="examNumberLabel">1</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question0" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam1_Answer1" value="0" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer2" value="1" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer3" value="2" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
			        			
			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer4" value="3" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer5" value="4" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr> 
							
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question1SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question1Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question1SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<!-- <span class="continueButtonTriangle" id="identityVerification_Question1SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam2" class="card">
					<div>
						<span class="examNumberLabel">2</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question1" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam2_Answer1" value="0" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer2" value="1" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer3" value="2" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer4" value="3" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer5" value="4" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        		
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question2SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question2Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question2SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	 <!-- <span class="continueButtonTriangle" id="identityVerification_Question2SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam3" class="card">
					<div>
						<span class="examNumberLabel">3</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question2" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam3_Answer1" value="0" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer2" value="1" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer3" value="2" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer4" value="3" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer5" value="4" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question3SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question3Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question3SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        <!--	<span class="continueButtonTriangle" id="identityVerification_Question3SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
					
				</div>

				<div id="exam4" class="card">
					<div>
						<span class="examNumberLabel">4</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question3" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam4_Answer1" value="0" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer2" value="1" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer3" value="2" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer4" value="3" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer5" value="4" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
								</td>
							</tr>	
			        	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question4SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question4Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question4SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        <!--	<span class="continueButtonTriangle" id="identityVerification_Question4SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
					
				</div>


				
				<div>
					<!-- <div id="identityVerification_TitleBlock">
						<span class="pageSubTitle leftalign" data-translationKey="identityVerification_Title"></span>
						<br>
					</div> -->
					<div id="identityVerification_ExamTable" class="stretchThisTable examTableHeightCards fieldLabelsCell paddingLeftZero grayTableBottomBorder">
						<div id="protection_note">	
							<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
								<span class="leftalign" data-translationKey="identityVerification_ProtectionNote"></span>			
							</div>												
						</div>
						<!-- <div id="examFinalStep" class="hideElement">  -->
						
						<div id="examFinalStep" class="hideElement"> 
							<div>	
								<div class="col-xs-12">
									<br>
									  <center>
		                                 <div id="approval_block">
		                                  <table class="tableNoBorder stretchThisTable">
							                   <tr class="tableNoBorder">
								                      <td class="width_td_hr"><hr class="hrAttributes"></td>
								                      <td class="title_approve_width">
									                        <span class="congratulation_font" data-translationKey="identityVerification_Congratulations"></span><br>	
									                        <span class="fontForApproveTitle" data-translationKey="approve_you_have_been_approve_label"></span>								
								                      </td>
								                      <td class="width_td_hr"><hr class="hrAttributes"></td>
							                    </tr>
				                         </table>	
		                                <div>
		                            </center>
									<br>			
								</div>												
							</div>
							<center>
							<div id="examFinalStep112">	
							<table class="whiteTableApprove">
							<tr class="withoutBorderTr"><td>
								<div class="font_forCardInfo customerCardContainer">
								
									<!-- <div class="customerCard"/> -->
									  {{if cardType === "OMX"}}
								           <div class="customerCard_OMX"/>
								      {{else cardType === "OMZ"}}
								           <div class="customerCard_OMZ"/>  
								      {{/if}} 
									<!--<span class="custormerCreditCardNumber" id="identityVerification_Pan_Number">XXXX XXXX XXXX 1234</span>
									<span class="custormerCardName" id="identityVerification_UserName"></span> -->			
								</div>
								</td>
								<td>	
								<div class=" font_forCardInfo elementTopBottom30">
								    <span id="identityVerification_CardNumberText" class="approvedContentSpan" data-translationKey="identityVerification_Customer_Name">Customer Name: </span>
									<span id="identityVerification_UserNameFull" class="approvedContentSpan">FirstName LastNAme</span>
									<br>
									<span id="identityVerification_CardNumberText" class="approvedContentSpan" data-translationKey="identityVerification_CardNumberText">Card Number: </span>
									<span id="identityVerification_CardNumber" class="approvedContentSpan">XXXX XXXX XXXX 1234</span>
									<br>
									<span id="identityVerification_CardLimitText" class="approvedContentSpan" data-translationKey="identityVerification_CardLimitText">Card Limit: </span>
									<span id="identityVerification_CardLimit" class="approvedContentSpan">$000,000</span>
									<br>
									<span id="identityVerification_CardAPRText" class="approvedContentSpan" data-translationKey="identityVerification_CardAPRText">APR: </span>
									<span id="identityVerification_CardAPR" class="approvedContentSpan">00.00%</span>					
								</div>
								</td>
								</tr>
								</table>						
							</div>
							</center>
							<div class="brbWhiteBackgroundPage">
							  <table class="approveContentTable">
							   <tr>
							   <td>
							             {{if cardType === "OMX"}}
	                              		       <span class="fontForApproveTitle" data-translationKey="approved_title_one_OMX"></span>
	                              		 {{else cardType === "OMZ"}}  
	                              		       <span class="fontForApproveTitle" data-translationKey="approved_title_one_OMZ"></span>
	                              		{{/if}}
	                              		
	                              		<br>
	                              		<ul>
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_one_listItem1"></li>
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_one_listItem2"></li>
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_one_listItem3"></li>
	                              		</ul>		   
							           <br>
							           <br>
							           <span class="fontForApproveTitle" data-translationKey="approved_title_two"></span>
	                              	   <br>
							            <ul>
	                              		    
	                              		    {{if cardType === "OMX"}}
	                              		       <li class="fontForApprovePageContent" data-translationKey="approved_title_two_listItem_OMX"></li>
	                              		    {{else cardType === "OMZ"}}  
	                              		       <li class="fontForApprovePageContent" data-translationKey="approved_title_two_listItem_OMZ"></li>
	                              		    {{/if}}
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_two_listItem2"></li>
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_two_listItem3"></li>
	                              	    </ul>	
							   </td>
							   </tr>
							  </table>
							  </div>
							  <br>
							  <br>
							  <a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	      	<span class="buttonText" data-translationKey="approved_page_continueShoppingButton"></span>
		        	          </a>
		        	          <br>
		        	          <br>
		        	          
			                 <br><br><br>
						</div>
						<center>
							<!--   <div id="declinedPageConetent"  class="hideElement"> -->
							{{if !isMOA }}	
							<div id="examFinalStepPendingDeclined" class="hideElement">
							  <div class="whiteTableApprove">
							  
							       <table class="declinedTableContent whiteTableApprove">
							          <tr class="withoutBorderTr">
										          <td  colspan="2">
										             <span class="pendingPageTitle" data-translationKey="pending_page_title"></span>
										          </td>
							          </tr>
							          <tr class="withoutBorderTr">
										          <td  colspan="2">
										            <div>
													     <span class="fontPendDeclain" data-translationKey="pending_page_statusName">Approval Status: </span>
														 <span id="pendingPageStatusName" class="pendingTextStyle upperCaseField" data-translationKey="pending_page_status">PENDING</span>
														 <br>
														 <span class="fontPendDeclain" data-translationKey="pending_page_card_type">Card Type:</span>
														 {{if cardType === "OMX"}}
					                   							<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_Mastercard" >Triangle Mastercard</span>
					                 					 {{else cardType === "OMZ"}}  
					                    						<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_World_elite_card" >World Elite Triangle Mastercard</span>
					                 				     {{/if}}
																		
											         </div>               
										          </td> 
							          </tr>
							          <tr class="withoutBorderTr">
									              <td class="Width_TD_10">
											           <div class="errorImageForDeclined"/>
										          </td>
										          <td>	
										               <div class="pendingPageSubTitle">
										                   <span data-translationKey="declined_message_one"></span>
										                   <br>
											               <span class="fontForApprovePageContent whatsNextSpan" data-translationKey="declined_message_two" ></span>
										               </div>
										               
										               <div>
										                  <ul class="paddingLeftZero leftList simpleHyphenList">
						                              		    <li class="fontForPendingDeclinedPageContent" data-translationKey="pendingDeclined_page_li_one"></li>
						                              		    {{if cardType === "OMX"}}
					                   								<li class="fontForPendingDeclinedPageContent" data-translationKey="pendingDeclined_page_li_two_OMX"></li>
					                 					        {{else cardType === "OMZ"}}  
					                    						    <li class="fontForPendingDeclinedPageContent" data-translationKey="pendingDeclined_page_li_two_OMZ"></li>
					                 				            {{/if}}
																
						                              		    
			                              				  </ul>
										               </div>
										          </td>
								      </tr>
								      <tr class="withoutBorderTr">
										          <td colspan="2">
										            <span class="noteTextFont" data-translationKey="pending_page_note"></span>
										          </td>
								      </tr>
								     </table>
								     <br>
                                     <br>
                                     <br>
								     <a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	             	<span class="buttonText upperCaseField" data-translationKey="pending_page_close_button_text"></span>
		        	          		 </a>
							  </div>
					    </div>
					    <br>
					 {{else}} 
					            <div id="examFinalStepPendingDeclined" class="hideElement alignToTop ">
										<div class="row">
			                				<div class="fieldLabelsCell fieldLabelsTopCell elementBottom10 col-xs-12">
			                        			<br>
			                        			<span class="congratulationsLabel" data-translationKey="identityVerification_PendingTitle"></span>
											</div>
										</div>
										<div class="grayTableNoBorder row">
											<div class="fieldLabelsCell col-xs-12">
			                           			<span  data-translationKey="identityVerification_TUPendingText2"></span>
								                      <br><br>
											</div>
				                        </div>
										<div class="row">
											<div class="fieldLabelsCell col-xs-12">
														<span data-translationKey="identityVerification_PendingText1"></span>
														<br>
														<span data-translationKey="identityVerification_PendingText2"></span>
														<br><br>
														<b>
															<span data-translationKey="identityVerification_PendingText3"></span>
														</b>
											</div>
										</div>
										<div class="grayTableNoBorder row">
											<div class="fieldLabelsCell col-xs-12 col-sm-7">
												<span data-translationKey="identityVerification_PendingText4"></span>
											</div>
										</div>							
                                 </div>
					  {{/if}}	
							  <!-- <span class="noteTextFont textAlignLeft" data-translationKey="pending_page_note"></span> -->
							</div>
					  </center>
							</div>
						</div>
					</div>
				</div>
		</center>
	
	    {{if !isMOA}}
	    <div id="pendingDeclinedApproved" class="scrollbar_identityPage hideElement">
		<div class="force-overflow">	
						    <span class="footnoteContentText">
                   
                            <p data-translationKey="identityVerification_FooterText4"></p>
				            <p data-translationKey="identityVerification_FooterText5"></p>
                  </span>
			</div>
          </div>
          <div id="tuAuthQuestionsHeaderPart">
				<div id="identityVerification_PageFooter" class="footerText row stretchThisTable_overviewPage" >
				 		<span data-translationKey="identityVerification_FooterTextTuAuth1"></span>
						<br>
						<span data-translationKey="identityVerification_FooterTextTuAuth2"></span>
				<div>
		  </div>
	      <br><br><br><br><br><br><br><br><br>
	     {{else}}
			<div id="identityVerification_PageFooter" class="footerText row stretchThisTable_overviewPage" >
			<!-- {{if !app.isNSSelected() }} 
				<span id="identityVerification_FooterNote" class="identityVerificationFooterNote" data-translationKey="identityVerification_FooterText1old"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2old"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3old"></span>
				{{/if}}
				{{if app.isNSSelected() }} 
				<span data-translationKey="identityVerification_FooterText1"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText4"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText5"></span>
				{{/if}}-->
				<!-- US3011 -->
				<!--
				<span data-translationKey="identityVerification_FooterText1"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText2"></span>
				<br>
				<span data-translationKey="identityVerification_FooterText3"></span>
				<br>
				-->
				<p data-translationKey="identityVerification_FooterText4"></p>
				<p data-translationKey="identityVerification_FooterText5"></p>				
			<div>
			<br><br><br>
			{{/if}} 
			
	</div>

</script>