<script id="BRBIdentityVerification-template" type="text/x-jquery-tmpl">	
	<span><!-- Dont remove span, IE8!!! -->
	<div id="BreadcrumbTrailArea1" class="container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">	
	
	{{if !isMOA }}	
		
		<div class="breadcrumBorder row">
		
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
				
		  </div>
		<br>
		<table id="steps5" class="tableNoBorder stretchThisTable_overview">
				  <tr class="tableNoBorder">
				      <td id="Page_5_HR_line_1" class="Width_TD_14 hrAttributes"></td>
					  <td id="Page_4_title" class="Width_TD_34" align="center">
							   <span class="PageTitle" data-translationKey="identityVerification_steps5_OUT_5_Ecomm"></span>	
					  </td>
					  <td id="Page_5_HR_line_2" class="Width_TD_14 hrAttributes"></td>
				   </tr>
	    </table>
	    
		{{else}}
		
		    <div class="breadcrumBorder row">
		       
					<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
					</div>
				
					<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
					</div>

					<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
					</div>
				
					<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
					</div>

					<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Confirmation"></span>
					</div>
		     </div>
		
		   {{/if}}
		
	</div>
		
	<div class="ScreenLayout grayTableSpacerTop40" id="IdentityVerification_PageContents">
		<!--
		<div>
			<span class="pageSubTitle" data-translationKey="identityVerification_Title"></span>
			<br>
		</div>
		-->
		<!--
		<table id="identityVerification_ecomUpdateRequestFailedContainer" 
			class="tableNoBorder stretchThisTable ecomUpdateRequestFailedTextContent
 					elementWithPaddingRightLeft20 hideElement">
			<td class="fieldCellSize5">
				<div class="tu_pendingending_exclamation_point elementTopMargin5"></div>	
			</td>
			<td>
				<span  data-translationKey="identityVerification_EcommProfile_Update_Request_Failed"></span>
			</td>
		</table>
		-->
		
		<center>
		
			<div id="IdentityVerification_CardsContainer" class="cards row">
			
				<div id="exam1" class="card">
							<div>
							<span class="examNumberLabel">1</span>
					       </div>
					<br>						
				 <div>
						<div class="questionText">
							<span id="question0" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam1_Answer1" value="0" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer2" value="1" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer3" value="2" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
			        			
			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer4" value="3" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr>
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam1_Answer5" value="4" type="radio" name="Exam1_Answer" />	
								</td>
								
								<td>
									<span id="Exam0Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14"></span>									
								</td>
							</tr> 
							
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question1SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question1Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question1SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	<!-- <span class="continueButtonTriangle" id="identityVerification_Question1SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam2" class="card">
					<div>
						<span class="examNumberLabel">2</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question1" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam2_Answer1" value="0" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer2" value="1" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer3" value="2" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer4" value="3" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam2_Answer5" value="4" type="radio" name="Exam2_Answer" />	
								</td>
								
								<td>
									<span id="Exam1Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        		
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question2SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question2Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question2SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        	 <!-- <span class="continueButtonTriangle" id="identityVerification_Question2SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
				</div>
				
				<div id="exam3" class="card">
					<div>
						<span class="examNumberLabel">3</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question2" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam3_Answer1" value="0" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer2" value="1" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer3" value="2" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
			        		
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer4" value="3" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam3_Answer5" value="4" type="radio" name="Exam3_Answer" />	
								</td>
								
								<td>
									<span id="Exam2Answer4" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question3SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question3Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question3SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        <!--	<span class="continueButtonTriangle" id="identityVerification_Question3SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
					
				</div>

				<div id="exam4" class="card">
					<div>
						<span class="examNumberLabel">4</span>
					</div>
					<br>						
					<div>
						<div class="questionText">
							<span id="question3" class="span14 spanBold"></span>
						</div>
						
						<table class="tableNoBorder stretchThisTable questionTable">
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes " id="Exam4_Answer1" value="0" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer0" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer2" value="1" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer1" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>
							
							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer3" value="2" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer2" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

							<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer4" value="3" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
									<span id="Exam3Answer3" class="answerText floatLeftSpan fieldValuesCheckBoxField span14" ></span>									
								</td>
							</tr>

			        		<tr class="hideElement tableNoBorder">
								<td class="fieldCellSize5">
									<input class="additionalInformation_SameAddresYes" id="Exam4_Answer5" value="4" type="radio" name="Exam4_Answer" />	
								</td>
								
								<td>
								</td>
							</tr>	
			        	
			        	</table>
					
					</div>
					
					<div class="questionSubmit">
						<div class="continueButtonContainer" id="identityVerification_Question4SubmitContainer">
				        	<div class="floatToRight largeContinueButton continueButtonRightPosition" id="identityVerification_Question4Submit">
					        	<a href="#" class="continueButton marginRight55" id="identityVerification_Question4SubmitRect">
						        	<span class="buttonText" data-translationKey="identityVerification_Submit"></span>
					        	</a>
					        <!--	<span class="continueButtonTriangle" id="identityVerification_Question4SubmitTriangle">
					        	</span> -->
				        	</div>
		        		</div>
	        		</div>
					
				</div>

				
				<div>
					<!-- <div id="identityVerification_TitleBlock">
						<span class="pageSubTitle leftalign" data-translationKey="identityVerification_Title"></span>
						<br>
					</div> -->
					<div id="identityVerification_ExamTable" class="stretchThisTable examTableHeightCards fieldLabelsCell paddingLeftZero grayTableBottomBorder">
						<div id="protection_note">	
							<div class="fieldLabelsCell fieldLabelsTopCell elementTopBottom10 col-xs-12">
								<span class="leftalign" data-translationKey="identityVerification_ProtectionNote"></span>			
							</div>												
						</div>
						<!-- <div id="examFinalStep" class="hideElement">  --> 
						<div id="examFinalStep" class="hideElement"> 
								      <div class="declined_pageTitle"><br>
			                        		<span class="congratulationsLabel" data-translationKey="identityVerification_Congratulations"></span>
									</div><br>
							<table align="left"  class="approvedTable">
							<tr> 
							 <td>
							    <div class="customerCard_HeaderImage"> </div>
								<div class="font_forCardInfo customerCardContainer">
								
									<!-- <div class="customerCard"/> -->
									  {{if cardType === "OMX"}}
								           <div class="customerCard_OMX"/>
								      {{else cardType === "OMZ"}}
								           <div class="customerCard_OMZ"/>  
								      {{/if}} 
									<!--<span class="custormerCreditCardNumber" id="identityVerification_Pan_Number">XXXX XXXX XXXX 1234</span>
									<span class="custormerCardName" id="identityVerification_UserName"></span> -->			
								 </div>
								 <div class=" font_forCardInfo"><br>
								    <span id="identityVerification_CardNumberText" class="approvedContentSpan" data-translationKey="identityVerification_Customer_Name">Customer Name: </span>
									<span id="identityVerification_UserNameFull" class="approvedContentSpan">FirstName LastNAme</span>
									<br>
									<span id="identityVerification_CardNumberText" class="approvedContentSpan" data-translationKey="identityVerification_CardNumberText">Card Number: </span>
									<span id="identityVerification_CardNumber" class="approvedContentSpan">XXXX XXXX XXXX 1234</span>
									<br>
									<span id="identityVerification_CardLimitText" class="approvedContentSpan" data-translationKey="identityVerification_CardLimitText">Card Limit: </span>
									<span id="identityVerification_CardLimit" class="approvedContentSpan">$000,000</span>
									<br>
									<span id="identityVerification_CardAPRText" class="approvedContentSpan" data-translationKey="identityVerification_CardAPRText">APR: </span>
									<span id="identityVerification_CardAPR" class="approvedContentSpan">00.00%</span>					
								</div>
								</td>
								</tr>
								</table>
							  <table class="whiteTableApprove" >
							   <tr class="withoutBorderTr">
							   <td id="review_list_td"><br><br>
							   <div id="approved_list_items">
							             {{if cardType === "OMX"}}
	                              		       <span class="fontForApproveTitle" data-translationKey="approved_title_one_OMX"></span><br>
	                              		 {{else cardType === "OMZ"}}  
	                              		       <span class="fontForApproveTitle" data-translationKey="approved_title_one_OMZ"></span><br>
	                              		{{/if}}
	                              		
	                              		<br>
	                              		<ul>
	                              		    <li class="fontForApprovePageContent" data-translationKey="approved_title_one_listItem1"></li>
	                              		    <li class="fontForApprovePageContent"  data-translationKey="approved_title_one_listItem2"> </li>
	                              		    <li class="fontForApprovePageContent"  data-translationKey="approved_title_one_listItem3"></li>
	                              		</ul>		   
							           <br>
							           <br>
							           <span class="fontForApproveTitle" data-translationKey="approved_title_two"></span>
	                              	   <br><br>
							            <ul>
	                              		    
	                              		    {{if cardType === "OMX"}}
	                              		       <li class="fontForApprovePageContent"  data-translationKey="approved_title_two_listItem_OMX"> </li>
	                              		    {{else cardType === "OMZ"}}  
	                              		       <li class="fontForApprovePageContent"  data-translationKey="approved_title_two_listItem_OMZ"> </li>
	                              		    {{/if}}
	                              		    <li class="fontForApprovePageContent"  data-translationKey="approved_title_two_listItem2"> </li>
	                              	    </ul>
	                            </div>  	    	
							   </td>
							   </tr>
							  </table>
							  <br>
							  <br>
							  <a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	      	<span class="buttonText" data-translationKey="approved_page_continueShoppingButton"></span>
		        	          </a>
		        	          <br>
		        	          <br>
		        	          
			                 <br><br><br>
						</div>
						<center>
						
						<!-- Pending -->	
												
							<div id="examFinalStepPendingDeclined" class="hideElement">
							 <div class="declined_pageTitle"><br>
			                        		<span class="congratulationsLabel" data-translationKey="identityVerification_PendingTitle"></span>
											</div><br>	
							  <table align="left"  class="approvedTable">
							 <tr> 
							 <td>
							    <div class="customerCard_HeaderImage"></div>
								<div class="font_forCardInfo customerCardContainer">
								
									<!-- <div class="customerCard"/> -->
									  {{if cardType === "OMX"}}
								           <div id="omx_card" class="customerCard_OMX"/>
								      {{else cardType === "OMZ"}}
								           <div id="omz_card" class="customerCard_OMZ"/>
								      {{else cardType === "OMP"}}
								           <div id="omp_card" class="customerCard_OMP"/>
								      {{else cardType === "OMR"}}
								           <div id="omr_card" class="customerCard_OMR"/>  
								      {{/if}} 
								  </div>
									       <div class="font_forCardInfo">
													     <span class="fontPendDeclain" data-translationKey="pending_page_statusName">Approval Status: </span>
														 <span id="pendingPageStatusName" class="pendingTextStyle upperCaseField" data-translationKey="pending_page_status">PENDING</span>
														 <br>
														 <span class="fontPendDeclain" data-translationKey="pending_page_card_type">Card Type:</span>
														 {{if cardType === "OMX"}}
					                   							<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_Mastercard" >Triangle Mastercard</span>
					                   							<br>										                   
					                 					 {{else cardType === "OMZ"}}  
					                    						<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_World_elite_card" >World Elite Triangle Mastercard</span>
					                    						<br>
					                    				 {{else cardType === "OMP"}}  
					                    						<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_OMP_CARD" >Gas Advantage Mastercard</span>
					                    						<br>
					                    			     {{else cardType === "OMR"}}  
					                    						<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_OMR_CARD" >Cash Advantage Mastercard</span>
					                    						<br>					                   							 
					                 				     {{/if}}
														 <p class="text_under_review_pending_p" data-translationKey="declined_message_one"></p>		
											   </div>  
										         
										               			    
								 </td>
								 </tr>
								</table>
								
								<img id="promoBanner_en" src="https://canadiantire.scene7.com/is/image/CanadianTire/SPORT_CHEK_FREE_SHIPPING_EN?scl=1" class="paddingTop35 stretchThisTable hideElement" >
								<img id="promoBanner_fr" src="https://canadiantire.scene7.com/is/image/CanadianTire/SPORT_CHEK_FREE_SHIPPING_FR?scl=1" class="paddingTop35 stretchThisTable hideElement" >

										     <table class="tableNoBorder stretchThisTable">	
										     <br><br>
										      <tr  class="tableNoBorder">  <td>    
										                       {{if cardType === "OMX" || cardType === "OMZ"}}
											                   			<br><br><span class="text_what_next" data-translationKey="declined_message_two" ></span><br>
						                              		   {{else cardType === "OMP" || cardType === "OMR"}}
						                              		            <br><br><span class="text_what_next" data-translationKey="declined_message_two_OMP_OMR" ></span><br>
						                              		   {{/if}}
						                              		    {{if cardType === "OMX"}}
					                   								<p class="text_under_review_p_before_space"  data-translationKey="pendingDeclined_page_li_two_OMX"></p><br>
					                   								<p class="text_under_review_p" data-translationKey="pendingDeclined_page_li_one"></p><br><br>
					                 					        {{else cardType === "OMZ"}}  
					                    						    <p class="text_under_review_p_before_space" data-translationKey="pendingDeclined_page_li_two_OMZ"></p><br>
					                    						    <p class="text_under_review_p" data-translationKey="pendingDeclined_page_li_one"></p><br><br>
					                    						{{else cardType === "OMP"}}  
					                    						    <p class="text_under_review_p_before_space" data-translationKey="pendingDeclined_page_li_two_OMP"></p><br>
					                    						{{else cardType === "OMR"}}  
					                    						    <p class="text_under_review_p_before_space" data-translationKey="pendingDeclined_page_li_two_OMP"></p><br>
					                 				            {{/if}}
					                 				            {{if cardType === "OMX" || cardType === "OMZ"}}
					                 				            	<span class="text_with_redColor_Note" data-translationKey="pending_page_note"></span>
					                 				            {{else cardType === "OMP"}}
						                              		        <span class="text_with_redColor_Note" data-translationKey="pending_page_note_OMP"></span>
						                              		    {{else cardType === "OMR"}}   
						                              		        <span class="text_with_redColor_Note" data-translationKey="pending_page_note_OMR"></span> 
						                              		    {{/if}}
					                 				             </td>          
					                 			</tr>	            
											 </table>      
								         <div>
										   
								</div>     
							   <br><br><br><br><br>
							  
							  
								     <a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	             	<span class="buttonText upperCaseField" data-translationKey="pending_page_close_button_text"></span>
		        	          		 </a>
							  </div>
							  
							  
							  
							  
							  <!-- Pending ID Verification -->
							  
							  <div id="examFinalStepPendingVerification" class="hideElement">
							 <div class="declined_pageTitle">
			                        		<span class="congratulationsLabel" data-translationKey="identityVerification_Congratulations"></span>
											</div><br>	
							  <table align="left"  class="approvedTable">
							 <tr> 
							 <td>
							    <div class="customerCard_HeaderImage"></div>
								<div class="font_forCardInfo customerCardContainer">
								
									<!-- <div class="customerCard"/> -->
									  {{if cardType === "OMX"}}
								           <div class="customerCard_OMX"/>
								      {{else cardType === "OMZ"}}
								           <div class="customerCard_OMZ"/>  
								         {{/if}} 
								  </div>
									       <div class="font_forCardInfo">
													     <span class="fontPendDeclain" data-translationKey="pending_page_statusName">Approval Status: </span>
														 <span id="pendingPageStatusName" class="pendingTextStyle" data-translationKey="pending_verification_status">PENDING</span>
														 <span id="pending_french" class="pendingTextStyle" data-translationKey="pending_verification_status_2">PENDING</span>
														 <br>
														 <span class="fontPendDeclain" data-translationKey="pending_page_card_type">Card Type:</span>
														 {{if cardType === "OMX"}}
					                   							<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_Mastercard" >Triangle Mastercard</span><br>
					                   							 <p class="text_under_review_pending_p" data-translationKey="verification_message_one_omx"></p>
					                   							 <p class="text_under_review_pending_p" data-translationKey="verification_message_two_omx"></p>
										                   <br>
					                 					 {{else cardType === "OMZ"}}  
					                    						<span id="pendingPageCardType" class="cardTypeTextStyle" data-translationKey="overview_AmIEligibleTable_World_elite_card" >World Elite Triangle Mastercard</span>
					                    						<br>
					                   							 <p class="text_under_review_pending_p" data-translationKey="verification_message_one_omz"></p>
					                   							 <p class="text_under_review_pending_p" data-translationKey="verification_message_two_omz"></p><br>
					                 				     {{/if}}
																		
											   </div>  
										         
										               			    
								 </td>
								 </tr>
								</table>
								
										     <table class="tableNoBorder stretchThisTable">	
										     <br><br>
										      <tr  class="tableNoBorder">  <td>       
											                   <br><br><span class="text_what_next" data-translationKey="declined_message_two" ></span><br>
											                   <ol id="order_item_li">
											                     <li class="fontForApprovePageContent" data-translationKey="pending_Verification_chapter_one"></li>
											                     <li class="fontForApprovePageContent"  data-translationKey="pending_Verification_chapter_two"></li>
						                              		    
						                              		    {{if cardType === "OMX"}}
					                   								<li class="fontForApprovePageContent"  data-translationKey="pending_Verification_chapter_three_omx"></li>
					                 					        {{else cardType === "OMZ"}}  
					                    						    <li class="fontForApprovePageContent"  data-translationKey="pending_Verification_chapter_three_omz"></li>
					                 				            {{/if}}
					                 				           </ol>
					                 				            <br><br>
					                 				            <span class="text_with_redColor" data-translationKey="pending_page_note"></span>
					                 				             </td>          
					                 			</tr>	            
											 </table>      
								         <div>
										   
								</div>     
							   <br><br><br>
							  
							  
								     <a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	             	<span class="buttonText upperCaseField" data-translationKey="pending_page_close_button_text"></span>
		        	          		 </a>
							  </div>
							  
							  
					   <!-- declined -->
					   
					     <div id="DeclinedContent" class="hideElement alignToTop ">
										
			                				<div class="declined_pageTitle"><br>
			                        		<span class="congratulationsLabel" data-translationKey="identityVerification_PendingTitle"></span>
											</div><br>
										
										<table align="left"  class="approvedTable">
							  <tr> 
							  <td>
							    <div class="customerCard_HeaderImage"></div>
								<div class="dicliend_content_box"><br>
								<span class="text_with_redColor" data-translationKey="decline_chapter_one_text"></span><br>
								<span class="text_with_redColor" data-translationKey="decline_chapter_two_text"></span><br><br>
								<p class="text_under_review" data-translationKey="identityVerification_PendingText1"></p><br>
								<span class="text_under_review" data-translationKey="decline_chapter_three_text"></span><br><br>
								</div>
								
							</td>
								</tr>
							
								</table>
								
								 <table class="tableNoBorder stretchThisTable">	<br>
										      <tr  class="tableNoBorder">   
					                 			</tr>	            
											 </table>  
								
								
								
								<div id="div_note"><br><span class="text_with_redColor_Note upperCaseField" data-translationKey="decline_chapter_note"></span> <br><br></div>
								<br><br><br><br><br><br>
								<a href="#" class="continueButton_approve submitApplicationButton" id="identityVerification_ContinueButton" >
			        	             	<span class="buttonText upperCaseField" data-translationKey="pending_page_close_button_text"></span>
		        	          		 </a>	
		        	          		 			
                                 </div>
					    					    					    					    				
							  <!-- <span class="noteTextFont textAlignLeft" data-translationKey="pending_page_note"></span> -->
							</div>
					  </center>
							</div>
						</div>
					</div>
				</div>
		</center>
	
	    {{if !isMOA}}
	     <div id="pendingDeclinedApproved" class="hideElement">
	      {{if cardType === "OMX"}}
	      <div id="OMX_legal_footer_id"  class ="OMX_legal_footer_Image_EN"> </div>
	      {{else cardType === "OMZ"}} 
	      <div  id="OMZ_legal_footer_id" class ="OMZ_legal_footer_Image_EN"> </div>
	      {{/if}}
	    </div>
	     <div id="tuAuthQuestionsHeaderPart">
				<div id="identityVerification_PageFooter" class="footerText row stretchThisTable_overviewPage" >
				 		<span data-translationKey="identityVerification_FooterTextTuAuth1"></span>
						<br>
						<span data-translationKey="identityVerification_FooterTextTuAuth2"></span>
				<div>
		 </div>
	     <br><br><br><br><br><br><br><br><br>
	     {{else}}
			 <div id="pendingDeclinedApproved" class="hideElement">
	      {{if cardType === "OMX"}}
	      <div  id="OMX_legal_footer_id" class ="OMX_legal_footer_Image_EN"> </div>
	      {{else cardType === "OMZ"}} 
	      <div  id="OMZ_legal_footer_id" class ="OMZ_legal_footer_Image_EN"> </div>
	      {{else cardType === "OMP" || cardType === "OMR"}} 
	           <div class="scrollbar_identityPage" id="style-1">
                   <div class="force-overflow">
								<ul class="simpleFootList">
								    <li data-translationKey="pendingDeclined_page_li_two_OMP_footerText1"></li>
									<li data-translationKey="pendingDeclined_page_li_two_OMP_footerText2"></li>
									<li data-translationKey="pendingDeclined_page_li_two_OMP_footerText3"></li>
								</ul>
			     </div>
		   </div>
		   <br><br>
	      {{/if}}
	    </div>
	      <br><br><br><br><br><br><br><br><br>
			{{/if}} 
			
	</div>

</script>