  <script id="BRBOverview-template" type="text/x-jquery-tmpl">
 
	<div id="BreadcrumbTrailArea1" class="breadcrumbHeader BreadcrumbTrailAreaLayoutStyle ScreenLayout breadcrumbHeaderOverviewPage">		
		<table id="BreadcrumbTable" class="stretchThisTable BreadcrumbTableStyle" cellspacing="0px" cellpadding="0px">
			<tr>
				<td class="selectedBreadcrumbCell currentBreadcrumb fieldCellSize20">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</td>
				
				<td class="unselectedBreadcrumbCell fieldCellSize20">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</td>

				<td class="unselectedBreadcrumbCell fieldCellSize20">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</td>
				
				<td class="unselectedBreadcrumbCell fieldCellSize20">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Confirmation"></span>
				</td>

				<td class="unselectedBreadcrumbCell fieldCellSize20">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</td>
			</tr>
		</table>
	</div>
		
	<div class="ScreenLayout" id="overviewPageContents">
		<table class="overviewTable overviewTopTable">
        	<tr>
        		<td>
					<div>
						<p class="overviewTopTableTitle" data-translationKey="overview_TopTableLeftColTitle"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableLeftCol1"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableLeftCol2"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableLeftCol3"></p>
						<br>
					</div>
				</td> 
				<td>
					<div>
						<p class="overviewTopTableTitle" data-translationKey="overview_TopTableRightColTitle"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableRightCol1"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableRightCol2"></p>
						<p class="overviewTopTableText" data-translationKey="overview_TopTableRightCol3"></p>
						<br>
					</div>
				</td>
        	</tr>
		</table>

		<p class="overviewTitle" data-translationKey="overview_Title"></p>
	   <!--	<p><strong><span class="overviewNSBigText" data-translationKey="overview_NS_Attention"></span></strong></p>  -->
		<span>
			<div class="overviewPrintDisclosureImage">
				<span class="overviewPrintDownloadLink" data-translationKey="overview_PrintDownload_LinkText"/>
			</div>
		</span>

<!-- =============================== Center Table ==================================== -->
<!-- before Loyalty
	<table class="overviewCenterTableContainer">
		<tr>
			<td style="border: none;">
    			<table class="overviewCenterTable">
      				<tr>
        				<th colspan="2" id="overviewCenterTableTitlePadding" data-translationKey="overview_CostOfCreditDisclosure_Title"></th>
        			</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Row1"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row1_1"></p>
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row1_2"></p>
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row1_3"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Row2"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row2_1"></p>
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row2_2"></p>
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row2_3"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Row3"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextMargin" data-translationKey="overview_CostOfCreditDisclosure_Row3_1"></p>
							<p id="overviewCenterTableTextMargin" class="overviewCenterTableTextTab" data-translationKey="overview_CostOfCreditDisclosure_Row3_2"></p>
							<p id="overviewCenterTableTextMargin" class="overviewCenterTableTextTab" data-translationKey="overview_CostOfCreditDisclosure_Row3_3"></p>
							<p id="overviewCenterTableTextMargin" class="overviewCenterTableTextTab" data-translationKey="overview_CostOfCreditDisclosure_Row3_4"></p>
							<p id="overviewCenterTableTextMargin" class="overviewCenterTableTextTab" data-translationKey="overview_CostOfCreditDisclosure_Row3_5"></p>
							<p id="overviewCenterTableTextMargin" data-translationKey="overview_CostOfCreditDisclosure_Row3_6"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Row4"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row4_1"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Row5"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Row5_1"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" rowspan="4"  data-translationKey="overview_CostOfCreditDisclosure_Row6"></td>
        				<td class="overviewCenterTableData">
							<span id="overviewCenterTableTextWithoutMargin" class="overviewCenterTableTextBold overviewCenterTableTextRightPadding overviewCenterTableTextFloatLeft" data-translationKey="overview_CostOfCreditDisclosure_Row6_1_1"></span>
							<span class="overviewCenterTableTextBold" data-translationKey="overview_CostOfCreditDisclosure_Row6_1_2"></span>
							<span data-translationKey="overview_CostOfCreditDisclosure_Row6_1_3"></span>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableData">
							<div id="overviewCenterTableTextWithoutMargin" class="overviewCenterTableTextBold overviewCenterTableTextRightPadding overviewCenterTableTextFloatLeft" data-translationKey="overview_CostOfCreditDisclosure_Row6_2_1"></div>
							<div class="overviewCenterTableTextFloatLeft overviewCenterTableTextAutoWidth overviewTableTextMarginTop14">
								<span class="overviewCenterTableTextBold" data-translationKey="overview_CostOfCreditDisclosure_Row6_2_2"></span>
								<span data-translationKey="overview_CostOfCreditDisclosure_Row6_2_3"></span>
							</div>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableData">
							<span id="overviewCenterTableTextWithoutMargin" class="overviewCenterTableTextBold overviewCenterTableTextRightPadding overviewCenterTableTextFloatLeft" data-translationKey="overview_CostOfCreditDisclosure_Row6_3_1"></span>
							<span class="overviewCenterTableTextBold" data-translationKey="overview_CostOfCreditDisclosure_Row6_3_2"></span>
							<span data-translationKey="overview_CostOfCreditDisclosure_Row6_3_3"></span>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableData">
							<span id="overviewCenterTableTextWithoutMargin" class="overviewCenterTableTextBold overviewCenterTableTextRightPadding overviewCenterTableTextFloatLeft" data-translationKey="overview_CostOfCreditDisclosure_Row6_4_1"></span>
							
							<span data-translationKey="overview_CostOfCreditDisclosure_Row6_4_2"></span>
							<span class="overviewCenterTableTextBold" data-translationKey="overview_CostOfCreditDisclosure_Row6_4_3"></span>
							<span data-translationKey="overview_CostOfCreditDisclosure_Row6_4_4"></span>
							<span  data-translationKey="overview_CostOfCreditDisclosure_Row6_4_5"></span>
							
						</td>
      				</tr>
    			</table>
			</td>
		</tr>
	</table>
  -->
 <table class="overviewCenterTableContainer">
		<tr>
			<td style="border: none;">
    			<table class="overviewCenterTable">
      				<tr>
        				<th colspan="2" id="overviewCenterTableTitlePadding" data-translationKey="overview_CostOfCreditDisclosure_Title"></th>
        			</tr> 
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft1"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1"></p> 
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft2"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight2"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft3"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight3"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft4"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight4"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft5"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight5"></p>
						</td>
      				</tr>
      				<tr>
        				<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft6"></td>
        				<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight6"></p>
						</td>
      				</tr> 
    			</table>
			</td>
		</tr>
	</table> 
				 
<!-- ============================== Center Table End ================================= -->

		<div>
			<table class="overviewTable overviewBottomTable" style="table-layout: fixed;">
			<tr class="fieldRow fieldCellHeight0">
			<td class="fieldCell130pxWidth" style="padding:0px;"></td>
			<td class="fieldCell400pxWidth" style="padding:0px;"></td>
			<td class="fieldCell100PercentPxWidth" style="padding:0px;"></td>
			</tr>
			 <tr class = "outLineAroundTr" style="height:100%">
				<td colspan = "3">
				   <div >
					<p class="overviewCenterTableRightBlockTitle" data-translationKey="overview_LostOrStolenCards_Title"></p>
					<p class="overviewCenterTableRightBlockData" data-translationKey="overview_LostOrStolenCards_Text"></p>
				</div>
       			<div>
					<p class="overviewCenterTableRightBlockTitle" data-translationKey="overview_CustomerServiceDepartment_Title"></p>
					<p class="overviewCenterTableRightBlockData customMargin " data-translationKey="overview_CustomerServiceDepartment_Text1"></p>
					<p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text2"></p>
					<p class="overviewCenterTableRightBlockData" data-translationKey="overview_CustomerServiceDepartment_Text3"></p>
					<b><p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text4"></p>
					<p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text5"></p>
					<p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text6"></p></b>
					<br>
				</div>
				</td>
			</tr> 
				<tr>
					<td class="overviewStartApplicationTextCell overviewPromoCodeTextCell">
						<span class="overviewStartApplicationText overviewPromoCodeText" data-translationKey="overview_PromoCode"></span>
					</td>
					<td class="overviewStartApplicationValueCell" >
							<table class="whiteTableForInputsGroup">
	                        	<tr>
	                        		<td class="fieldValuesCell">
	                        			<input class="fieldValuesTextField upperCaseField" id="overview_PromoCode_TextField" type="text" tabindex=1 maxlength="5"></input>
	                        		</td>
	                        		
	                        		<td class="fieldValuesCell questionSeparatorCell" />
	                        		
	                        		<td>
	                        			<div id="overview_PromoCode_Help" class="questionCell tooltip">
    										<span>
        										<div class="hintArrow"></div>
												<p data-translationKey="overview_PromoCodeHint">
    										</span>
										</div>
	                        		</td>
	                        	</tr>
	                        </table>
					</td>					
					<td rowspan=3>
						<div class="overviewStartApplicationInfo">
								<div class="overviewSecurityMessagingImage">
									<b class="overviewStartApplicationInfoTitle" data-translationKey="overview_SecurityMessaging_Title"></b>
								</div>
								<p class="overviewStartApplicationInfoText" data-translationKey="overview_SecurityMessaging_Content"></p>
								<p class="overviewStartApplicationInfoText">
									<span data-translationKey="overview_SecurityMessaging_MoreInfo"></span>
									<span id="privacyCharter" class="overviewLink" data-translationKey="overview_SecurityMessaging_PrivacyCharter"/>
								</p>																
								<div class="overviewAutoTimeoutImage">
									<b class="overviewStartApplicationInfoTitle" data-translationKey="overview_AutoTimeout_Title"/>
								</div>
								<p class="overviewStartApplicationInfoText" data-translationKey="overview_AutoTimeout_Content"></p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="overviewStartApplicationTextCell">
						<span class="overviewStartApplicationText" data-translationKey="overview_Province"></span>
						<sup>
							<b class="redSpanForInputsGroup">*</b>
						</sup>
					</td>
					<td class="overviewStartApplicationValueCell" data-translationKey="overview_Province_TextField">						
					</td>
					<td></td>
				</tr>
 	  	     	<tr>
					<td id="overviewRequiredFieldLableText">
						<sup class="redSpanForInputsGroup">*</sup>
						<span> </span>
						<span class="cssForShowTextInOneLine" data-translationKey="requiredFieldIndicatorLabel"></span>
					</td>
					<td>
						<div class="startApplicationButtonContainer" id="overview_continueButtonContainer">
        					<div class="continueButtonContainer floatToRight overviewContinueButtonRightPosition" >
					        	<span class="continueButtonInactive startApplicationButton continueButtonRightPosition" id="startApplication_Button" tabindex=3>
						        	<span class="buttonText" data-translationKey="overview_startApplication_Button_Label"></span>
					        	</span>
					        	<span class="continueButtonGrayTriangle" id="startApplicationButtonTriangle">
					        	</span>
				        	</div>
				        </div>
					</td>
					<td></td>
        		</tr>
			</table>
		</div>

		<br>

		<div class="footnoteContentBlock overviewFootnoteBlock">
		            <span class="footnoteContentText">
					<span data-translationKey="Overview_ctm_LegalText1"></span><br> 
					<span data-translationKey="Overview_ctm_LegalText2"></span><br> 
					<span data-translationKey="Overview_ctm_LegalText3"></span><br> 
 					<span data-translationKey="Overview_ctm_LegalText4"></span><br>
					<span data-translationKey="Overview_ctm_LegalText5"></span><br>
				    <span data-translationKey="Overview_ctm_LegalText6"></span> 
					</span>	
		  <!--<span class="footnoteContentText">
				<sup>1</sup>
				<span data-translationKey="overview_footnoteContentText1"></span>
				<span class="overviewLinkGray" data-translationKey="overview_footnoteContentText1Link"/>
				<span ></span>
				<span>   </span>
				<br> 
				<sup>2</sup>
				<span data-translationKey="overview_footnoteContentText2"></span>
				<span> </span>
				<br>
				<span data-translationKey="overview_footnoteContentText4"></span>
				<br>
				<span data-translationKey="overview_footnoteContentText5"></span>
			</span>-->
		</div>

		<br>
		<br>

	</div>
 
 </script> 