<script id="BRBOverview-template" type="text/x-jquery-tmpl">

	<div id="BreadcrumbTrailArea1" class="breadcrumBorder container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">
	    {{if !isMOA }}
		<div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>
               
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
		{{else}}	
	      <div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>
		</div>
	 
	 {{/if}}	
	 
	</div>

	<div class="ScreenLayout container-fluid" id="overviewPageContents">
		{{if !isMOA }}
		<table class="stretchThisTable grayTableNoBorderCompareCards">
		<tr>
		   <td align="center" class="eligibleCardTitleFont"  data-translationKey="overview_TopTableLeftColTitle"></td>
		</tr>
		</table>
		
		<table class="stretchThisTable grayTableCardEligible">
		<tr>
		  <td class="redBackground Width_TD_50 listItem_title_font" align="center" data-translationKey="overview_AmIEligibleTable_Mastercard"></td>
		  <td class="blckBackground Width_TD_50 listItem_title_font" align="center"  data-translationKey="overview_AmIEligibleTable_World_elite_card"></td>
		</tr>
		<tr>
		  <td>
		  	 <br>
		     <ul class="cardList latoFont">
		         <li data-translationKey="overview_TopTableLeftCol1"></li>
		         <li data-translationKey="overview_TopTableLeftCol2"></li>
		         <li data-translationKey="overview_TopTableLeftCol3"></li>
		         <br>
		         <br>
		         <br>
		     </ul>
		  </td>
		  <td>
		       <br>
		       <ul class="cardList latoFont">
		         <li data-translationKey="overview_TopTableLeftCol1"></li>
		         <li data-translationKey="overview_TopTableLeftCol2"></li>
		         <li data-translationKey="overview_TopTableLeftCol3"></li>
		         <li data-translationKey="overview_TopTableLeftCol4"></li>
		         <li data-translationKey="overview_TopTableLeftCol5"></li>
		     </ul>
		  </td>
		</tr>
		</table>
		<table class="stretchThisTable grayTableNoBorderCompareCards">
		<tr>
		   <td  colspan="2">
		   <P align="center" class="eligibleCardTitleFont"  data-translationKey="overview_TopTableRightColTitle"></p>
		   <ul class="cardList Margin_left">
		         <li data-translationKey="overview_TopTableRightCol1"></li>
		         <li data-translationKey="overview_TopTableRightCol2"></li>
		         <li data-translationKey="overview_TopTableRightCol3"></li>
		     </ul>
		   </td>
		</tr>
		<tr>
		  <td colspan="2">
		    <p  class="table_text_big" data-translationKey="overview_AmIEligibleTable_Do_you_alreadyHave"></p>
		   </td>
		</tr>
		</table>
		{{else}}
		
		<!-- OMX starts-->
		{{if cardType === "OMX"}}
		    <table class="stretchThisTable grayTableNoBorderCompareCards">
				   <tr>
				      <td>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_TopTableLeftColTitle_DEC"></p>	
					          <ul class="cardList margin_left oicEligible_listItemFont">
					             <li data-translationKey="overview_TopTableLeftCol1"></li>
					             <li data-translationKey="overview_TopTableLeftCol2"></li>
					             <li data-translationKey="overview_TopTableLeftCol3"></li>
					          </ul>			
				     </td>
				   </tr>
				    <tr>
				      <td>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_TopTableRightColTitle"></p>
					          <ul class="margin_left cardList oicEligible_listItemFont">
							      <li data-translationKey="overview_TopTableRightCol1"></li>
							      <li data-translationKey="overview_TopTableRightCol2"></li>
							      <li data-translationKey="overview_TopTableRightCol3"></li>
		                      </ul>
				     </td>
				   </tr>
				   <tr>
				      <td>
				      <br>
				          <p  class="table_text_big comapreCardsTD" data-translationKey="overview_AmIEligibleTable_Do_you_alreadyHave"></p>
				      </td>
				   </tr>
		   </table>
		<!-- OMX ends-->
		
		<!-- OMZ starts-->
		{{else cardType === "OMZ"}}  
		      <table class="stretchThisTable grayTableNoBorderCompareCards ">
				   <tr>
				      <td class="Width_TD_50">
					      <p class="decoupledEligibleCardFont" data-translationKey="overview_TopTableLeftColTitle_DEC"></p>	
					          <ul class="cardList oicEligible_listItemFont">
					            <li data-translationKey="overview_TopTableLeftCol1"></li>
					            <li data-translationKey="overview_TopTableLeftCol2"></li>  
					            <li data-translationKey="overview_TopTableLeftCol3"></li> 
					            <li data-translationKey="overview_TopTableLeftCol4"></li>
					            <li data-translationKey="overview_TopTableLeftCol5"></li>
					            
					             <!-- <li data-translationKey="overview_TopTableLeftCol1"></li>
					             <li data-translationKey="overview_TopTableLeftCol2"></li>
					             <li data-translationKey="overview_TopTableLeftCol3"></li>
					             <li data-translationKey="overview_TopTableLeftCol4"></li>
					             <li data-translationKey="overview_TopTableLeftCol5"></li>  -->
					             
					          </ul>			
				     </td>
				     <td class="Width_TD_50">
					      <p class="decoupledEligibleCardFont" data-translationKey="overview_TopTableRightColTitle"></p>
					          <ul class="cardList oicEligible_listItemFont">
							      <li data-translationKey="overview_TopTableRightCol1"></li>
							      <li data-translationKey="overview_TopTableRightCol2"></li>
							      <li data-translationKey="overview_TopTableRightCol3"></li>
							      <br>
							      <br>
							      <br>
							      <br>
		                      </ul>
				     </td>
				   </tr>
		   </table>
		<!-- OMZ ends-->
		
		<!-- OMP starts-->
		{{else cardType === "OMP"}}
		    <table class="stretchThisTable grayTableNoBorderCompareCards">
				   <tr>
				      <td>
				      <br>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_TopTableLeftColTitle_OMP_CARD"></p>	
					          <ul class="paddingTOP10 cardList margin_left oicEligible_listItemFont">
					             <li data-translationKey="overview_OMP_CARD_TopTableLeftCol1"></li>
					             <li data-translationKey="overview_OMP_CARD_TopTableLeftCol2"></li>
					             <li data-translationKey="overview_OMP_CARD_TopTableLeftCol3"></li>
					          </ul>			
				     </td>
				   </tr>
				    <tr>
				      <td>
				      <br>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_OMP_CARD_TopTableRightColTitle"></p>
					          <ul class="paddingTOP10 margin_left cardList oicEligible_listItemFont">
							      <li data-translationKey="overview_OMP_CARD_TopTableRightCol1"></li>
							      <li data-translationKey="overview_OMP_CARD_TopTableRightCol2"></li>
							      <li data-translationKey="overview_OMP_CARD_TopTableRightCol3"></li>
		                      </ul>
				     </td>
				   </tr>
				   <tr>
				   </tr>
		   </table>
		<!-- OMP ends-->
		
		<!-- OMR starts-->
		{{else cardType === "OMR"}}
		    <table class="stretchThisTable grayTableNoBorderCompareCards">
				   <tr>
				      <td>
				      <br>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_TopTableLeftColTitle_DEC"></p>	
					          <ul class="paddingTOP10 cardList margin_left oicEligible_listItemFont">
					             <li data-translationKey="overview_OMR_CARD_TopTableLeftCol1"></li>
					             <li data-translationKey="overview_OMR_CARD_TopTableLeftCol2"></li>
					             <li data-translationKey="overview_OMR_CARD_TopTableLeftCol3"></li>
					          </ul>			
				     </td>
				   </tr>
				    <tr>
				      <td>
				      <br>
					      <p class="margin_left decoupledEligibleCardFont" data-translationKey="overview_OMP_CARD_TopTableRightColTitle"></p>
					          <ul class="paddingTOP10 margin_left cardList oicEligible_listItemFont">
							      <li data-translationKey="overview_OMR_CARD_TopTableRightCol1"></li>
							      <li data-translationKey="overview_OMR_CARD_TopTableRightCol2"></li>
							      <li data-translationKey="overview_OMR_CARD_TopTableRightCol3"></li>
		                      </ul>
				     </td>
				   </tr>
				   <tr>
				   </tr>
		   </table>
		<!-- OMR ends-->
		
		    {{/if}}
		{{/if}}
		<div class="row">
		{{if !isMOA }}
		   <center><br><p class="oicEligible_PleaseReadFont" data-translationKey="overview_Title_Ecomm"></p></br></center>
		{{else}}
		  {{if cardType === "OMX" || cardType === "OMZ"}}
		      <center><br><p class="oicEligible_PleaseReadFont" data-translationKey="overview_Title_DEC"></p><br></center>
		  {{else cardType === "OMP" || cardType === "OMR"}}
		       <center><br><p class="oicEligible_PleaseReadFont" data-translationKey="overview_Title_DEC_OMP_OMR"></p><br></center>
		  {{/if}}     
		{{/if}}
	   <!--	<p><strong><span class="overviewNSBigText" data-translationKey="overview_NS_Attention"></span></strong></p>  -->
		<!-- <div>
			<div class="overviewPrintDisclosureImage">
				<div class="overviewPrintDownloadLink" data-translationKey="overview_PrintDownload_LinkText"/>
			</div>
		</div> -->
		
		<!-- =============================== Center Table ==================================== -->
		<table class="overviewCenterTableContainer latoFont">
			<tr>
				<td style="border: none;">
					<table class="overviewCenterTable">
						<tr>
							<th colspan="2" id="overviewCenterTableTitlePadding" class="overviewNSHorizontalCenteredText" data-translationKey="overview_CostOfCreditDisclosure_Title"></th>
						</tr> 
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft1"></td>
							<td class="overviewCenterTableData">
							    {{if !isMOA }}
							         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1"></p>
								{{else}}
								      {{if cardType === "OMX"}}
								         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1_DEC_OMX"></p>
								      {{else cardType === "OMZ"}}
								         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1_DEC_OMZ"></p>
								      {{else cardType === "OMP"}}
								         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1_DEC_OMP"></p>    
								      {{else cardType === "OMR"}}
								         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight1_DEC_OMR"></p>   
					   				  {{/if}}
								{{/if}}
								 
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft2"></td>
							<td class="overviewCenterTableData">
							  {{if cardType === "OMP"}}
								<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight2_OMP_CARD"></p>
							  {{else}}	
							    <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight2"></p>
							  {{/if}}
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft3"></td>
							<td class="overviewCenterTableData">
							    {{if cardType === "OMP"}}
								    <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight3_OMP"></p>
							    {{else cardType === "OMR"}}
							        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight3_OMR"></p>
							    {{else}}	
							         <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight3"></p>
							  {{/if}}
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft4"></td>
							<td class="overviewCenterTableData">
							   {{if cardType === "OMP"}}
									<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight4_OMP"></p>
							  {{else cardType === "OMR"}}
							        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight4_OMR"></p>
							  {{else}}	
							        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight4"></p>
							  {{/if}}
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft5"></td>
							<td class="overviewCenterTableData">
								<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight5"></p>
							</td>
						</tr>
						<tr>
							<td class="overviewCenterTableTitle" data-translationKey="overview_NS_DisclosureLeft6"></td>
							<td class="overviewCenterTableData">
							<p id="overviewCenterTableTextWithoutMargin" data-translationKey="Overview_NS_DisclosureRight6"></p>
							</td>
						</tr> 
					</table>
				</td>
			</tr>
		</table> 
				 
		<!-- ============================== Center Table End ================================= -->
<!-- US3382 -->
		      <table class="tableNoBorder stretchThisTable">
				  <tr class="tableNoBorder">
				      <td class="Width_TD_42">
				         {{if cardType === "OMP" || cardType === "OMR"}}
			                          <div class="overviewCenterTableContainer makeCorrectionSection" data-translationKey="Overview_NS_EffectiveDate_OMP"></div>
			             {{else}}	
				                     <div class="overviewCenterTableContainer makeCorrectionSection" data-translationKey="Overview_NS_EffectiveDate"></div>
				         {{/if}}   
				         
				      </td>
					  <td>
					        <div>
			                    <div class="overviewPrintDisclosureImage">
			                    {{if cardType === "OMP" || cardType === "OMR"}}
			                          <div class="overviewPrintDownloadLink" data-translationKey="overview_PrintDownload_LinkText_OMP"/>
			                    {{else}}	
				                     <div class="overviewPrintDownloadLink" data-translationKey="overview_PrintDownload_LinkText"/>
				                {{/if}}     
			                    </div>
		                    </div>
					  </td>
				   </tr>
				   {{if isMOA }}
					  {{if cardType === "OMZ"}}
					     <tr class="tableNoBorder">
					         <td colspan="2">
						         <p data-translationKey="overview_CustomerServiceDepartment_PleaseNoteOMX_only"></p>
						    </td>
				          </tr>
				      {{/if}}
				   {{/if}}
			</table>
			{{if !isMOA }}
			<center>
			<table id="chooseCardTable" class="borderCollapse chooseTheCardTable stretchThisTable_overview_compareCards latoFont">
				  <tr>
				   <th colspan="2">
				   <div id="hexagon">
				       <center><span  data-translationKey="overview_Page_choose_the_card"></center></span>
				   </div>
				   </th>
				   </tr>
				   <tr>
					  <td>
					        <div class="chooseCardOMX"></div>
					        <div>
					               <center>
                                   <label><input type="radio" id='triangleMastercard' name="optradio"></label>
                                   <label for='omxcard' data-translationKey="overview_ChooseCard_Masterdard"></label>
                                   </center>
                            </div>
					  </td>
					  <td> 
					        <div class="chooseCardOMZ"></div>
					        <div>
					              <center>
                                      <label><input type="radio" id='triangleWorldEliteMastercard' name="optradio"></label>
                                      <label for='omzcard' data-translationKey="overview_ChooseCard_World_elite_card"></label>
                                  </center>    
                            </div>
					        </td>
				  </tr>
		 </table>
		 </center>
		 <center>
		 <table class="stretchThisTable whiteTableWithoutBorder">
				<tr>
				  <td colspan="2">
				    <p class="MarginLeft25 FontSize12 latoFont" data-translationKey="overview_ChooseCard_Note"></p>
				   </td>
				</tr>
		 </table>
		 </center>
		{{/if}}
	</div>	
	
			<div class="overviewBottomTable row" >
			<!-- <tr class="fieldRow fieldCellHeight0">
			<td class="fieldCell130pxWidth" style="padding:0px;"></td>
			<td class="fieldCell400pxWidth" style="padding:0px;"></td>
			<td class="fieldCell100PercentPxWidth" style="padding:0px;"></td>
			</tr> 
			-->
				<div style="border-bottom: solid 1px #CCC" >
					<!-- <p class="overviewCenterTableRightBlockTitle elementTop10" data-translationKey="overview_LostOrStolenCards_Title"></p>
					<p class="overviewCenterTableRightBlockData" data-translationKey="overview_LostOrStolenCards_Text"></p> -->
					<br>
						<p class="overviewCenterTableRightBlockTitle latoFont" data-translationKey="overview_CustomerServiceDepartment_Title"></p>
						{{if !isMOA }}
						  <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text1"></p>
						  <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text2"></p>
					      <p class="overviewCenterTableRightBlockData latoFont" data-translationKey="overview_CustomerServiceDepartment_Text3"></p>
					    {{else}}
								{{if cardType === "OMX"}}
								    <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text1"></p>
						            <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text2"></p>
								    <p class="overviewCenterTableRightBlockData latoFont" data-translationKey="overview_CustomerServiceDepartment_Text3_DEC_OMX"></p>
							    {{else cardType === "OMZ"}}
							        <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text1"></p>
						            <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_Text2"></p>
									<p class="overviewCenterTableRightBlockData latoFont" data-translationKey="overview_CustomerServiceDepartment_Text3_DEC_OMZ"></p>
								{{else cardType === "OMP"}}
									<p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text1"></p>
						            <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text2"></p>
						            
						            <p class="overviewCenterTableRightBlockData latoFont" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text3"></p>
						            <p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text3_address"></p>
						            <br>
						        {{else cardType === "OMR"}}
									<p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text1"></p>
						            <p class="overviewCenterTableRightBlockData customMargin latoFont" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text2"></p>
						            <p class="overviewCenterTableRightBlockData latoFont" data-translationKey="overview_CustomerServiceDepartment_OMR_CARD_Text3"></p>
						            <p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_OMP_CARD_Text3_address"></p>
						            <br>    
							    {{/if}}
							    
						{{/if}}
						<b><p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text4"></p>
						<p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text5"></p>
						<p class="overviewCenterTableRightBlockData customMargin" data-translationKey="overview_CustomerServiceDepartment_Text6"></p></b>
						<br>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<div class="row" id="promoCodeHidden">
							<div class="col-sm-3">
								<div class="overviewStartApplicationTextCell overviewPromoCodeTextCell">
									<span class="overviewStartApplicationText overviewPromoCodeText" data-translationKey="overview_PromoCode"></span>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="whiteTableForInputsGroup row">
								
									<div class="col-xs-9">
											<tr>
												<td class="fieldValuesCell">
													<input class="fieldCellSize100 fieldValuesTextField upperCaseField" id="overview_PromoCode_TextField" type="text" tabindex=1 maxlength="5"></input>
												</td>
									</div>
									<div class="questionCell ctfsTooltip col-xs-3">
													
														<span>
															<div class="hintArrow"></div>
															<p data-translationKey="overview_PromoCodeHint">
														</span> 													
									</div>
								</div>
							</div>
						</div>
						<div class="row rowHeight">
							<div class="col-sm-3">
								<div class="overviewStartApplicationTextCell overviewProvinceTextCell">
									<span class="overviewStartApplicationText" data-translationKey="overview_Province"></span>
									<sup>
										<b class="redSpanForInputsGroup">*</b>
									</sup>
								</div>
								
							</div>
							<div class="col-sm-9">
								<div class="overviewStartApplicationProvSelectCell row">
									<div class="col-xs-9">
										<div class="overviewStartApplicationValueCell" data-translationKey="overview_Province_TextField">						
									</div>
									<div class="col-xs-3"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-1 col-sm-3"></div>
							<div class="col-xs-10 col-sm-9">
								<div class="startApplicationButtonContainer" id="overview_continueButtonContainer">
										<div class="continueButtonContainer" >
											<span class="continueButtonInactive startApplicationButton continueButtonRightPosition" id="startApplication_Button" tabindex=3>
												<span class="buttonText upperCaseField latoFont" data-translationKey="overview_startApplication_Button_Label"></span>
											</span>
											<!-- <span class="continueButtonGrayTriangle" id="startApplicationButtonTriangle">
											</span> -->
										</div>
								</div>
							</div>							
						</div>
						<div class="row">
							<div id="overviewRequiredFieldLableText">
								<sup class="redSpanForInputsGroup">*</sup>
								<span> </span>
								{{if cardType === "OMP" || cardType === "OMR"}}	
								    <span class="cssForShowTextInOneLine" data-translationKey="requiredFieldIndicatorLabel_OMP_OMR"></span>
								 {{else}}
								       <span class="cssForShowTextInOneLine" data-translationKey="requiredFieldIndicatorLabel"></span>
								 {{/if}}	
							</div>
						</div>
					</div>
					<div class="col-sm-5">
							<td rowspan=3>
								<div class="overviewStartApplicationInfo">
								{{if cardType === "OMP" || cardType === "OMR"}}	
										<div class="overviewSecurityMessagingImage">
											<b class="overviewStartApplicationInfoTitle" data-translationKey="overview_SecurityMessaging_Title_OMP"></b>
										</div>
										<p class="overviewStartApplicationInfoText latoFont" data-translationKey="overview_SecurityMessaging_Content_OMP"></p>
										<p class="overviewStartApplicationInfoText latoFont">
											<span data-translationKey="overview_SecurityMessaging_MoreInfo_OMP"></span>
											<span id="privacyCharter" class="overviewLink" data-translationKey="overview_SecurityMessaging_PrivacyCharter_OMP"/>
										</p>																
										<div class="overviewAutoTimeoutImage latoFont">
											<b class="overviewStartApplicationInfoTitle latoFont" data-translationKey="overview_AutoTimeout_Title_OMP"/>
										</div>
										<p class="overviewStartApplicationInfoText latoFont" data-translationKey="overview_AutoTimeout_Content_OMP"></p>
							    {{else}}
							            <div class="overviewSecurityMessagingImage">
											<b class="overviewStartApplicationInfoTitle" data-translationKey="overview_SecurityMessaging_Title"></b>
										</div>
										<p class="overviewStartApplicationInfoText latoFont" data-translationKey="overview_SecurityMessaging_Content"></p>
										<p class="overviewStartApplicationInfoText latoFont">
											<span data-translationKey="overview_SecurityMessaging_MoreInfo"></span>
											<span id="privacyCharter" class="overviewLink" data-translationKey="overview_SecurityMessaging_PrivacyCharter"/>
										</p>																
										<div class="overviewAutoTimeoutImage latoFont">
											<b class="overviewStartApplicationInfoTitle latoFont" data-translationKey="overview_AutoTimeout_Title"/>
										</div>
										<p class="overviewStartApplicationInfoText latoFont" data-translationKey="overview_AutoTimeout_Content"></p>
								{{/if}}						
								</div>
							</td>
						</tr>
					</div>
					<div class="clearfix visible-xs-block"></div>
				</div>
				
			</div>
		

		<br>
		 <div class="scrollbar" id="style-1">
                   <div class="force-overflow">
				               <div class="footnoteContentBlock overviewFootnoteBlock">
						            <span class="footnoteContentText">
									<p data-translationKey="Overview_ctm_LegalTextEComm1"></p>
									{{if !isMOA }}
									       <p data-translationKey="Overview_ctm_LegalTextEComm2"></p>
									{{else}}
											   {{if cardType === "OMX"}}
											       <p data-translationKey="Overview_ctm_LegalTextEComm2_DEC_OMX"></p>
											   {{else cardType === "OMZ"}}
											       <p data-translationKey="Overview_ctm_LegalTextEComm2_DEC_OMZ"></p>
											   {{/if}}
									{{/if}}
									{{if cardType !== "OMP" && cardType !== "OMR" }}
									<p data-translationKey="Overview_ctm_LegalTextEComm3"></p>
									 {{/if}}
									{{if !isMOA }}
				 					           <p data-translationKey="Overview_ctm_LegalTextEComm4"></p>
				 					{{else}}
				 					           {{if cardType === "OMX"}}
											      <p data-translationKey="Overview_ctm_LegalTextEComm4_DEC_OMX"></p>
											   {{else cardType === "OMZ"}}
											       <p data-translationKey="Overview_ctm_LegalTextEComm4_DEC_OMZ"></p>
											   {{else cardType === "OMP"}}
											        <p data-translationKey="Overview_ctm_LegalText_OIC_OMP_Card_Text2"></p> 
											        <p data-translationKey="Overview_ctm_LegalText_OIC_OMP_Card_Text3"></p>  
											   {{else cardType === "OMR"}}
											        <p data-translationKey="Overview_ctm_LegalText_OIC_OMR_Card_Text2"></p> 
											        <p data-translationKey="Overview_ctm_LegalText_OIC_OMR_Card_Text3"></p>     
											        <p data-translationKey="Overview_ctm_LegalText_OIC_OMR_Card_Text4"></p>        
											   {{/if}}
				 					{{/if}}
				 					
				 					{{if cardType === "OMX" || cardType === "OMZ"}}
									   <p data-translationKey="Overview_ctm_LegalTextEComm5"></p>
									{{/if}}
									
									{{if !isMOA }}
				 					           <p data-translationKey="Overview_ctm_LegalTextEComm6"></p>
				 					{{else}}
				 					           {{if cardType === "OMX"}}
											     <p data-translationKey="Overview_ctm_LegalTextEComm6_DEC_OMX"></p>
											   {{else cardType === "OMZ"}}
											     <p data-translationKey="Overview_ctm_LegalTextEComm6_DEC_OMZ"></p>
											   {{else cardType === "OMP"}}
											     <p data-translationKey="Overview_ctm_LegalText_OIC_OMP_Card_Text5"></p>
											     <p data-translationKey="Overview_ctm_LegalText_OIC_OMP_Card_Text6"></p>   
											   {{else cardType === "OMR"}}
											     <p data-translationKey="Overview_ctm_LegalText_OIC_OMR_Card_Text5"></p>
											     <p data-translationKey="Overview_ctm_LegalText_OIC_OMR_Card_Text6"></p>     
											   {{/if}}
				 					{{/if}}
				 					
				
										<table class="overviewContentTableContainer">
											<tr>
												<td class="overviewContent1">
												<span class="overviewContentLeftAlign" data-translationKey="overview_AverageEComm"></span></td>
												<td class="overviewContent2" data-translationKey="overview_Average0EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_Average1EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_Average2EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_Average3EComm"></td>
											</tr>
											<tr>
												<td class="overviewContent1">
												<span class="overviewContentLeftAlign" data-translationKey="overview_MonthlyCreditChargesEComm"></span></td>
												<td class="overviewContent2" data-translationKey="overview_MonthlyCreditCharges0EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_MonthlyCreditCharges1EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_MonthlyCreditCharges2EComm"></td>
												<td class="overviewContent2" data-translationKey="overview_MonthlyCreditCharges3EComm"></td>
											</tr>
										</table>
									{{if !isMOA }}
				 					          <p data-translationKey="Overview_ctm_LegalTextEComm7_newLine_1"></p>
				 					          <p data-translationKey="Overview_ctm_LegalTextEComm7_newLine_2"></p>
				 					         
				 					{{else}}
											   {{if cardType === "OMZ"}}
											      <p data-translationKey="Overview_ctm_LegalTextEComm7_newLine_1"></p>
											      <p data-translationKey="Overview_ctm_LegalTextEComm7_newLine_2"></p>
											   {{/if}}
											   
				 					{{/if}}
                                    {{if cardType === "OMP" || cardType === "OMR"}}
										<span data-translationKey="Overview_ctm_LegalTextEComm7_OMP"></span><br>
										<span data-translationKey="Overview_ctm_LegalTextEComm8_OMP"></span><br>
									{{else}} 
									    <span data-translationKey="Overview_ctm_LegalTextEComm7"></span><br>
										<span data-translationKey="Overview_ctm_LegalTextEComm8"></span><br>
									{{/if}}
									{{if cardType === "OMP"}}
									   <span data-translationKey="Overview_ctm_LegalTextEComm9_OMP"></span><br>
									{{else cardType === "OMR"}}
									    <span data-translationKey="Overview_ctm_LegalTextEComm9_OMR"></span><br>
									{{else cardType === "OMX" || cardType === "OMZ"}} 
									     <span data-translationKey="Overview_ctm_LegalTextEComm9"></span><br>   
									{{/if}}
									{{if !isMOA }}
									   <p data-translationKey="Overview_ctm_LegalTextEComm10"></p>
									{{else}}
									     
									   {{if cardType === "OMP" || cardType === "OMR"}}
									     <p data-translationKey="Overview_ctm_LegalTextEComm10_OIC_OMP_CARD"></p>
									   {{else}} 
									     <p data-translationKey="Overview_ctm_LegalTextEComm10_DEC"></p>
									   {{/if}}
									{{/if}}
									</span>	
						</div> 
                   </div>
          </div>
		<br><br><br><br>
		<br>
		<br>
	</div>
	</div>
 </script>
