<script id="BRBPersonalInformation-template" type="text/x-jquery-tmpl">
	
	<div id="BreadcrumbTrailArea1" class="breadcrumBorder container-fluid breadcrumbHeader breadcrumbHeaderOverviewPage">	
	 {{if !isMOA }}	
		<div class="customMargin row">
				<div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-2  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-2 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-2">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>
                
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_IdentityVerification"></span>
				</div>
		</div>
		{{else}}
		      <div style="padding-right: 0px;padding-left: 0px;" class="prevSelectedBreadcrumbCell col-sm-3  ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_Overview"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="selectedBreadcrumbCell currentBreadcrumb col-sm-3 ">
					<span class="BreadcrumbTextStyle selectedBreadcrumb" data-translationKey="breadCrumbItem_PersonalInformation"></span>
				</div>

				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3 ">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_AdditionalInformation"></span>
				</div>
				
				<div style="padding-right: 0px;padding-left: 0px;" class="unselectedBreadcrumbCell col-sm-3">
					<span class="BreadcrumbTextStyle unselectedBreadcrumb" data-translationKey="breadCrumbItem_Review_and_submit"></span>
				</div>
		{{/if}}	
	</div>

    <center>
        <br><br>
           <table id="steps2" class="tableNoBorder stretchThisTable_overview">
				  <tr class="tableNoBorder">
				      <td id="Page_2_HR_line_1" class="Width_TD_16 hrAttributes"></td>
					  <td class="Width_TD_40">
					        {{if !isMOA }}
							   <span class="PageTitle" data-translationKey="personalInformation_step_2_of_5_Eomm"></span>	
						   {{else}}
						       <span class="PageTitle" data-translationKey="personalInformation_step_2_of_5_Decoupled"></span>	
						   {{/if}}
					  </td>
					  <td id="Page_2_HR_line_2" class="Width_TD_16 hrAttributes"></td>
				   </tr>
			</table>
	</center>	

	<div class="ScreenLayout" id="PersonalInformation_PageContents">
		<div class="row personalScreenTable" id="makeCorrectionSection">
			<div class="errorCell floatToRight"></div>
				<span class="makeCorrectionSectionSpan"
					data-translationKey="personalInformation_makeCorrections">
				</span>
			
		</div>
<!--
		<table  id="makeCorrectionSection"
			class="personalScreenTable stretchThisTable elementWithPaddingRightLeft25">
			<td class="fieldCellSize3">				
				<div class="errorCell floatToRight"></div>	
			</td> 
			<td>
				<span class="makeCorrectionSectionSpan"
					data-translationKey="personalInformation_makeCorrections"></span>
			</td>
		</table>
-->		
		<div id="personalData_AboutYourselfArea" >
		
			<div class="personalInfoTitle row">
				<div class="pageSubTitle col-xs-7 col-sm-9">
					<span class="leftalign" data-translationKey="personalInformation_AboutYourself"></span>
				</div>
					<div class="floatToRight col-xs-5 col-sm-3" style="text-align: right; padding-right: 5px;">
						<span class="requiredField redSpan">*</span>
						<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
					</div>
			</div>
		
		<!-- <center> -->
			<div id="peraonalInfoTable" class="grayTableTopBorder row">
			{{if !isMOA }}
	            	<div id="useMyCTProfileInformation_Container" class="useMyCTProfileInformationContainer col-xs-12 col-sm-6">
							<a href="#" class="useMyCTProfileInformationLink elementBottom10">
								<div id="useMyCTProfileButton" class="useMyCTProfileInformationButton" data-translationKey="personalInformation_useMyCTProfileButtonText">
								</div>
							</a>
					</div>
					<div id="useMyCTProfileLabel" class="alignCTProfileLabel col-xs-12 col-sm-6">
								<span class="fieldLabelsCell personalInformation_CTProfileLabel" data-translationKey="personalInformation_CTProfileLabel"></span>							
					</div>
			{{/if}}	
			</div>
			
			<div class="grayTableNoBorder row" id="personalInformation_MoneyAdvantage_FieldContainer">
	            <div class="fieldLabelsCell fieldLabelsTopCell alignToTop elementTopBottom10 col-xs-12 col-sm-3">
	                        <span data-translationKey="personalInfo_CTM_label"></span>
	            </div>						
				<div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-9">
					<div class="row">
						<div class="grayTableForInputsGroup">
							<div class="fieldValuesCell">
								<input class="fieldValuesTextField loyaltyNumberField" value="636574" id="personalInformation_MoneyAdvantage_TextField" type="tel" maxlength="16" />
							</div>		                        		
							<div class="fieldValuesCell questionSeparatorCell" >
								<div class="errorCell hideElement" id="personalInformation_MoneyAdvantage_TextField_error"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="fieldLabelsText fieldLabelsCellWithTopAlign fieldCellSize100" colspan="4">
						    {{if cardType === "OMX"}}
							       <span class="alignToBottom" data-translationKey="personalInfo_CTM_Text_OMX"/>	
							{{else cardType === "OMZ"}}  
							       <span id="personalInfo_CTM_OMZ" class="alignToBottom" data-translationKey="personalInfo_CTM_Text_OMZ"/>
							       <span id="personalInfo_CTM_OMX" class="alignToBottom" data-translationKey="personalInfo_CTM_Text_OMX"/>
							{{/if}}		
						</div>
					</div>	
				</div>
		        
	        </div>
			<div class="grayTableNoBorder row">	
				<div class="fieldLabelsCell elementTopBottom10 col-xs-12 col-sm-3">
					<span data-translationKey="personalInformation_TitleField"></span>
					<!-- <sup class="redSpanForInputsGroup">*</sup> -->
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-9" data-translationKey="personalInformation_Title_TextField">
					<div class="errorCell tooltip_err">
						<span class="hint_err" id="personalInformation_Title_TextField_error"></span>
					</div>
				</div>				
			</div>
			<div class="grayTableNoBorder row">
				<div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_NameField"></span>
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-7 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_FirstName"></span>
							<span class="redSpanForInputsGroup">*</span>
							<p><input class="fieldValuesTextField personNameField" id="personalInformation_FirstName_TextField" type="text" maxlength="40" /></p>
						</div>
						
						<div class="fieldLabelsSubCell col-xs-12 col-sm-2">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_Initial"></span>
							<p><input class="fieldValuesTextField personInitialField" id="personalInformation_Initial_TextField" type="text" maxlength="1"/></p>
						</div>
						
						<div class="fieldLabelsSubCell col-xs-12 col-sm-8 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_LastName"></span>
							<span class="redSpanForInputsGroup">*</span>
							<p><input class="fieldValuesTextField personNameField" id="personalInformation_LastName_TextField" type="text" maxlength="40"/></p>
						</div>						
					</div>
				</div>	                
			</div>
	        <div class="grayTableNoBorder row">
				<div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_DateOfBirth"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>
				</div>
				<div class="Width_TD_70 fieldValuesCell elementTopBottom10 col-sm-9" id="personalInformation_DateOfBirth_Control">
					<div class="row">
						<div class="fieldLabelsSubCell elementBottom10 col-xs-7 col-sm-4 col-md-3" data-translationKey="personalInformation_Month">
						</div>
						
						<div class="fieldLabelsSubCell elementBottom10 col-xs-5 col-sm-3" data-translationKey="personalInformation_Day">
						</div>
							
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-5" id="personalInformation_YearID">
						</div>			
					</div>
				</div>	                
			</div>
			
			   <div class="grayTableNoBorder row">
	            <div class="fieldLabelsCell elementTopBottom10 col-sm-3">
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						 <span  class="fieldCellWithBoldFontSize14 leftList" data-translationKey="personalInformation_provide_email_to_get_bonus"></span>
					</div>
				</div>	                
			</div>
			
	        <div class="grayTableNoBorder row">
	            <div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_EmailAddress"></span>
					<span> </span>
					<!-- US3627 //-->
					{{if !isMOA }}
						<sup class="redSpanForInputsGroup">*</sup>
					{{/if}}
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="grayTableForInputsGroup">
							<div class="fieldValuesCell col-xs-10 col-sm-6">
								<input class="fieldValuesTextField upperCaseField" id="personalInformation_Email_TextField" type="text" maxlength="60"/>
							</div>
							{{if !isMOA }}
							   <div id="personalInformation_Email_Help" class="questionCell ctfsTooltip emailTooltip col-xs-2 col-sm-6">
									<span>
										<div class="hintArrow emailHintArrow"></div>
										<p data-translationKey="personalInformation_EmailAddressHint">
									</span>
							   </div>
						    {{/if}}
						</div>
					</div>
				</div>	                
			</div>
			<!-- US3979 //-->
			<div class="grayTableNoBorder row">	                   
				<div class="fieldLabelsCell elementTopBottom5 col-sm-3">
				</div>
			</div>			
			
			<div class="grayTableNoBorder row">	                   
				<div class="fieldLabelsCell elementTopBottom5 col-sm-3">
				</div>
				
	            <div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-9">   	
					<div class="row">
						<div class="grayTableForInputsGroup">
							<div class="fieldLabelsText fieldCellSize4 fieldLabelsCellWithTopAlign col-xs-1">							
									<input class="fieldValuesCheckBoxField elementTopMargin8" id="personalInformation_ReceiveEmail_TextField" type="checkbox" />
									
							</div>
							<div class="fieldLabelsCell fieldLabelsCellWithTopAlign col-xs-10 col-sm-11">
								<span data-translationKey="personalInfo_Email_Text"></span>
							</div>		                        	
						</div>	                       	
					</div>	                
				</div>   
			</div>			
	        <div class="grayTableNoBorder row">       
	            <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
					<span data-translationKey="personalInformation_PreferredLanguage"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>
				</div>  
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div id="personalInformation_PreferredLanguage_Area">
						<input class="additionalInformation_SameAddresYes" id="personalInformation_LanguageEnglish" value="true" type="radio" name="personalInformation_Language" />
						<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_PreferredLanguageEnglish"></span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="additionalInformation_SameAddresNo" id="personalInformation_LanguageFrench" value="false" type="radio" name="personalInformation_Language" />
						<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_PreferredLanguageFrench"></span>
					</div>		        		
	            </div>   
			</div>
			<br><br>
	        <div class="grayTableTopBorder row">        
				<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
					<span data-translationKey="personalInformation_PrimaryPhone"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<table class="grayTableForInputsGroup ">
						<tbody id="personalInformation_HomePhone_Control">
							<tr>
								<td class="fieldValuesCell">
									<input class="fieldValuesTextField phoneValuesCellShort" id="personalInformation_HomePhone1_TextField" type="tel" maxlength="3" />
								</td>
								
								
								<td class="separatorCell" > - </td>

								<td class="fieldValuesCell">
									<input class="fieldValuesTextField phoneValuesCellShort" id="personalInformation_HomePhone2_TextField" type="tel" maxlength="3"/>
								</td>
								
								<td class="separatorCell" >
									-	
								</td>
								
								<td class="fieldValuesCell">
									<input class="fieldValuesTextField phoneValuesCellLong" id="personalInformation_HomePhone3_TextField" type="tel" maxlength="4"/>
								</td>
							</tr>
							
						</tbody>
					</table>					
				</div>
	        </div>
			<!-- US3979 //-->	        
	        <div class="grayTableNoBorder row">	                   
				     <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
											 <span data-translationKey="personalInformation_PhoneType_Field"></span>
											 <span> </span>
											 <sup class="redSpanForInputsGroup">*</sup>
				     </div>
				
	            <div class="fieldValuesCell col-xs-12 col-sm-9">   	
					<div class="row">
				                  <div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-9" data-translationKey="personalInformation_PhoneType_TextField">
				                 </div>				
							
					    
						<div class="grayTableForInputsGroup">							
							<div class="fieldLabelsNoteText fieldLabelsCell fieldLabelsCellWithTopAlign col-xs-10 col-sm-11">
								<span data-translationKey="personalInformation_PrimaryPhoneNote"></span>
							</div>		                        	
						</div>	                       	
					</div>	                
				</div>   
			</div>
	        
			<div class="grayTableNoBorder row">        
				<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
					<span data-translationKey="personalInformation_SocialInsurance"></span>
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					
					<table class="grayTableForInputsGroup">
						<tr>
							<td>
								<table class="grayTableForInputsGroup">
								<tbody id="personalInformation_SocialInsurance">
								<tr>
									<td class="fieldValuesCell">
										<input class="fieldValuesTextField sinValuesCell" id="personalInformation_SocialInsurance1_TextField" type="tel" maxlength="3" />
									</td>
								
									<td class="separatorCellPostalSin" />
									
									<td class="fieldValuesCell">
										<input class="fieldValuesTextField sinValuesCell" id="personalInformation_SocialInsurance2_TextField" type="tel" maxlength="3" />
									</td>
									
									<td class="separatorCellPostalSin" />
									
									<td class="fieldValuesCell">
										<input class="fieldValuesTextField sinValuesCell" id="personalInformation_SocialInsurance3_TextField" type="tel" maxlength="3" />
									</td>
								</tr>
								</tbody>
								</table>
							</td>
							
							<td class="fieldValuesCell questionSeparatorCell" />
							
							<td>
								<div id="personalInformation_SocialInsurance_Help" class="questionCell ctfsTooltip">
									<span>
										<div class="hintArrow"></div>
										<p data-translationKey="personalInformation_SINHint">
									</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="grayTableNoBorder row">        
				<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
			        <span data-translationKey="personalInformation_Address"></span>
	            </div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
	                <div class="row">
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-4 streetNumberField">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_StreetNumber"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>
							<p><input class="fieldValuesTextField addressShortField" id="personalInformation_StreetNumber_TextField" type="text" maxlength="5"/></p>
	                    </div>
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-6 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_StreetName"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>
							<p><input class="fieldValuesTextField addressLongField" id="personalInformation_StreetName_TextField" type="text" maxlength="28" /></p>
	                    </div>
	                    <div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-2 col-md-3">    		
                     		<span class="SpanForInputsGroup" data-translationKey="personalInformation_Suite"></span>
							<p><input class="fieldValuesTextField addressShortField" id="personalInformation_Suite_TextField" type="text" maxlength="5"/></p>
							<div class="errorCell hideElement" id="personalInformation_City_TextField_error"></div> 
	                    </div>
	                </div>
					<div class="row">
						<div class="fieldLabelSubCell elementBottom10 col-xs-12 col-sm-5 col-md-3">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_City"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>  
							<p>
								<input class="fieldValuesTextField addressCityField" id="personalInformation_City_TextField" type="text" maxlength="24" /> 
							</p>
						</div>
						<div class="fieldLabelSubCell elementBottom10 col-xs-12 col-sm-7 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_Province"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>  
							<p>
								<span data-translationKey="personalInformation_Province_TextField">
									<select class="fieldValuesSelectField addressProvinceField" id="personalInformation_Province_TextField"/>
								</span>
							</p>
							
						</div>
						<div class="fieldLabelSubCell elementBottom10 col-xs-7 col-sm-5 col-md-4">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_PostalCode"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>  
							<div id="personalInformation_PostalCode_Control">
								<table class="grayTableForInputsGroup">
									<tbody id="personalInformation_PostalCode_Control1">
										<tr>
											<td class="fieldValuesCell">
												<input class="fieldValuesTextField postalCodeField" id="personalInformation_PostalCode1_TextField" type="text" maxlength="3"/>
											</td>
											
											<td class="separatorCellPostalCode" />
												
											<td class="fieldValuesCell">
												<input class="fieldValuesTextField postalCodeField" id="personalInformation_PostalCode2_TextField" type="text" maxlength="3"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>						
						</div>
					</div>
	            </div>
			</div>
	        <div class="grayTableNoBorder row">                
	            <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
			        <span data-translationKey="personalInformation_HousingInformation"></span>
	            </div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-6 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_ResidentialStatus"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>
							<div class="elementBottom10" data-translationKey="personalInformation_ResidentialStatus_TextField">
							</div>	                        		
						</div>
						<div class="fieldLabelsSubCell elementBottom10 col-xs-12 col-sm-6 col-md-5">
							<span class="SpanForInputsGroup" data-translationKey="personalInformation_MonthlyHousingPayment"></span>
							<span> </span>
							<sup class="redSpanForInputsGroup">*</sup>
							<div id="personalInformation_MonthlyHousingPayment_Container">
								<span id="personalInformation_MonthlyHousingPaymentDollar" class="graySpan fieldValuesText alignToTop" data-translationKey="personalInformation_Dollar" />
	                        	<input class="fieldValuesTextField monthlyHousingPaymentField" id="personalInformation_MonthlyHousingPayment_TextField" type="tel" maxlength="4"/>
	                        	<span class="graySpan fieldValuesText alignToBottom" data-translationKey="personalInformation_MonthlyHousingPayment1"></span>
							</div>							
						</div>
					</div>							
	            </div>
			</div>
			<div class="grayTableBottomBorder row">                
	            <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">
			       	<span data-translationKey="personalInformation_AddressSince"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>
	            </div>
				<div class="fieldLabelsCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="fieldLabelsSubCell elementBottom10 col-xs-7 col-sm-4 col-md-3" data-translationKey="personalInformation_AddressSince_Month">
						</div>
					    <div class="fieldLabelsSubCell elementBottom10 col-xs-5 col-sm-8 col-md-9" id="personalInformation_AddressSince_YearID">
						</div>
					</div>
				</div>
	        </div>
			<div id="prevAddressArea">
				<div class="grayTableNoBorder row">
					<div class="graySpan fieldLabelsCell elementTopBottom10 fieldLabelsAdditionalInfoCell" data-translationKey="personalInformation_prevAddressTitle" >
					</div>	                				
				</div>
				<div class="fieldLabelsAdditionalInfoCell row">
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
								<span data-translationKey="personalInformation_Address"></span>
					</div>
					<div class="grayTableForAdditionalInputsGroup col-sm-9">	   
						<div class="row">
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-4">
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_StreetNumber"></span>
								<span> </span>
								<sup class="redSpanForInputsGroup">*</sup>
								<p><input class="fieldValuesTextField addressShortField" id="personalInformation_PrevStreetNumber_TextField" type="text" maxlength="5"/></p>
							</div>
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-6 col-md-5">
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_StreetName"></span>
								<span> </span>
								<sup class="redSpanForInputsGroup">*</sup>
								<p><input class="fieldValuesTextField addressLongField" id="personalInformation_PrevStreetName_TextField" type="text" maxlength="28" /></p>
							</div>
							<div class="fieldLabelsSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-2 col-md-3">    		
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_Suite"></span>
								<p><input class="fieldValuesTextField addressShortField" id="personalInformation_PrevSuite_TextField" type="text" maxlength="5"/></p> 
							</div>
						</div>
						<div class="grayTableForAdditionalInputsGroup row">
							<div class="fieldLabelSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-5 col-md-3">
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_City"></span>
								<span> </span>
								<sup class="redSpanForInputsGroup">*</sup>  
								<p>
									<input class="fieldValuesTextField addressCityField" id="personalInformation_PrevCity_TextField" type="text" maxlength="24" />									 
								</p>
							</div>
							<div class="fieldLabelSubCell fieldLabelsAdditionalInfoCell elementBottom10 col-xs-12 col-sm-7 col-md-5">
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_Province"></span>
								<span> </span>
								<sup class="redSpanForInputsGroup">*</sup>  
								<p>
									<select class="fieldValuesSelectField addressProvinceField" id="personalInformation_PrevProvince_TextField"/>									
								</p>
								
							</div>
							<div class="fieldLabelSubCell elementBottom10 fieldLabelsAdditionalInfoCell elementBottom10 col-xs-7 col-sm-5 col-md-4">
								<span class="SpanForInputsGroup" data-translationKey="personalInformation_PostalCode"></span>
								<span> </span>
								<sup class="redSpanForInputsGroup">*</sup>
								<div id="personalInformation_PostalCodePrev_Control">  
									<table class="grayTableForAdditionalInputsGroup">
										<tbody id="personalInformation_PostalCodePrev_Control1">
											<tr>
												<td class="fieldValuesCell">
													<input class="fieldValuesTextField postalCodeField" id="personalInformation_PrevPostalCode1_TextField" type="text" maxlength="3"/>
												</td>
												
												<td class="separatorCellPostalCode" />
													
												<td class="fieldValuesCell">
													<input class="fieldValuesTextField postalCodeField" id="personalInformation_PrevPostalCode2_TextField" type="text" maxlength="3"/>
												</td>
											</tr>
										</tbody>
									</table>
								</div>								
							</div>
						</div>	
					</div>					
				</div>
			</div>				
		</div>
		
		<div id="personalData_EmploymentInformationArea" >
			<div class="personalInfoTitle row">
				<span class="pageSubTitle leftalign" data-translationKey="personalInformation_EmploymentInformation"></span>
				{{if screenIsPopup }}
				<div class="floatToRight">
					<span class="requiredField redSpan">*</span>
					<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
				</div>				
				{{/if}}
			</div>
			<div id="personalInfoTable" class="grayTableTopBorder row">
		        <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding col-sm-3">		                    
					<span data-translationKey="personalInformation_EmploymentType"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>		                    
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-xs-12 col-sm-5" data-translationkey="personalInformation_EmploymentType_TextField">
				</div>
			</div>
			<div id="employerInformationArea" class="fieldLabelsAdditionalInfoCell">
		        <div class="fieldLabelsAdditionalInfoCell row" >
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
						<span data-translationKey="personalInformation_Employer"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
					</div>
					<div class="fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-5">
						<input class="fieldValuesTextField upperCaseField" id="personalInformation_Employer_TextField" type="text" maxlength="36"/>
		                    
					</div>
				</div>
				<div class="fieldLabelsAdditionalInfoCell row">
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
						<span data-translationKey="personalInformation_City"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
		            </div>
					<div class="fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-5">		                    
		                <input class="fieldValuesTextField upperCaseField" id="personalInformation_EmployerCity_TextField" type="text" maxlength="24"/>
		            </div>		                
				</div>
		        <div class="fieldLabelsAdditionalInfoCell row">
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
						<span data-translationKey="personalInformation_JobTitle"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
		            </div>
					<div class="fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-5">		                    
				        <div class="fieldLabelsAdditionalInfoCell" data-translationKey="personalInformation_JobTitle_TextField">
		                </div>
					</div>
				</div>
				<div class="fieldLabelsAdditionalInfoCell row">
					<div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
						<span data-translationKey="personalInformation_JobDescription"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
					</div>
					<div class="fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-5">		                    
		                <div class="fieldLabelsAdditionalInfoCell" data-translationKey="personalInformation_JobDesc_SelectField">
		                </div>
		            </div>
				</div>
				<!-- US3622 Start -->
				<div id="personalInformation_JobDescription_OtherArea" class="fieldLabelsAdditionalInfoCell row">
		            <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">
						<span data-translationKey="personalInformation_JobDescription_Other"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
					</div>
					<div class="fieldLabelsAdditionalInfoCell elementTopBottom10 col-xs-12 col-sm-5">		                    		                    
						<input class="fieldValuesTextField upperCaseField" id="personalInformation_JobDescription_TextField" type="text" maxlength="30"/>
					</div>
				</div>
				<!-- End -->
				<div class="fieldLabelsAdditionalInfoCell row">
		             <div class="fieldLabelsCell elementTopBottom10 elementNoRightPadding fieldLabelsAdditionalInfoCell col-sm-3">		                    
						<span data-translationKey="personalInformation_EmployerSince"></span>
						<span> </span>
						<sup class="redSpanForInputsGroup">*</sup>
					</div>
					<div class="fieldLabelsAdditionalInfoCell col-sm-9">
						<div class="row">
							<div class="fieldLabelsSubCell elementTopBottom10 col-xs-7 col-sm-4 col-md-3" data-translationKey="personalInformation_EmployerSince_Month">
							</div>
							<div class="fieldLabelsSubCell elementTopBottom10 col-xs-5 col-sm-8 col-md-9" id="personalInformation_EmployerSince_YearID">
							</div>
						</div>		                   
					</div>
				</div>			
			</div>
		</div>	
		<div id="personalData_FinancialInformationArea" >
			<div class="personalInfoTitle row">
				<span class="pageSubTitle" data-translationKey="personalInformation_FinancialInformation"></span>
				{{if screenIsPopup }}
				<div class="floatToRight">
					<span class="requiredField redSpan">*</span>
					<span class="requiredField" data-translationKey="requiredFieldIndicatorLabel"></span>
				</div>				
				{{/if}}
			</div>
			<div id="peraonalInfoTable" class="grayTableTopBorder row">
				<div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_GrossAnnualIncome"></span>
					<span> </span>
					<sup class="redSpanForInputsGroup">*</sup>
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="grayTableForInputsGroup">
							<div class="fieldValuesCell col-xs-8 col-sm-5" id="personalInformation_GrossAnnualIncome_Container">
								<!-- <div id="personalInformation_GrossAnnualIncome_Container"> -->
									<span id="personalInformation_GrossAnnualIncome_Dollar_En" class="graySpan fieldValuesText alignToTop " data-translationKey="personalInformation_Dollar" />
									<input class="personalInformation_GrossAnnualIncome_TextField fieldValuesTextField upperCaseField" id="personalInformation_GrossAnnualIncome_TextField" type="tel" maxlength="40" />
									<span id="personalInformation_GrossAnnualIncome_Dollar_Fr" class="graySpan fieldValuesText alignToTop" data-translationKey="personalInformation_Dollar" />
									<!-- <div class="errorCell hideElement" id="personalInformation_GrossAnnualIncome_TextField_error"></div> 
								</div> -->
							</div>
							<div id="personalInformation_GrossAnnualIncome_Help" class="questionCell ctfsTooltip incomeTooltip col-xs-3 col-sm-7">
								<span>
									<div class="hintArrow incomeHintArrow"></div>
									<p data-translationKey="personalInformation_GrossAnnualIncomeHint">
								</span>
							</div>													
						</div>
						
					</div>
				</div>
			</div>
			<!-- US3961 Start //-->
			<div id="peraonalInfoTable" class="grayTableNoBorder row">
				<div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_GrossAnnualHouseholdIncome"></span>					
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="grayTableForInputsGroup">
							<div class="fieldValuesCell col-xs-8 col-sm-5" id="personalInformation_GrossAnnualHouseholdIncome_Container">
									<span id="personalInformation_GrossAnnualHouseholdIncome_Dollar_En" class="graySpan fieldValuesText alignToTop " data-translationKey="personalInformation_Dollar" />
									<input class="personalInformation_GrossAnnualIncome_TextField fieldValuesTextField upperCaseField" id="personalInformation_GrossAnnualHouseholdIncome_TextField" type="tel" maxlength="40" />
									<span id="personalInformation_GrossAnnualHouseholdIncome_Dollar_Fr" class="graySpan fieldValuesText alignToTop" data-translationKey="personalInformation_Dollar" />									
							</div>
							<!-- Commenting out Help text for Household income //-->
		                    
							<div id="personalInformation_GrossAnnualHouseholdIncome_Help" class="questionCell ctfsTooltip incomeTooltip col-xs-3 col-sm-7">
								<span>
									<div class="hintArrow incomeHintArrow"></div>
									<p data-translationKey="personalInformation_GrossAnnualHouseholdIncomeHint">
								</span>
							</div> 
																		
					</div>
						
					</div>
				</div>
			</div>
			<!-- End //-->	

			<div id="peraonalInfoTable" class="hideElement grayTableBottomBorder row">
				<div class="fieldLabelsCell elementTopBottom10 col-sm-3">
					<span data-translationKey="personalInformation_BankingProducts"></span>
				</div>
				<div class="fieldValuesCell elementTopBottom10 col-sm-9">
					<div class="row">
						<div class="fieldValuesCell col-xs-6 col-sm-4">
							<input class="fieldValuesCheckBoxField" id="personalInformation_ChequingAccount_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_ChequingAccount"></span>
						</div>
						<div class="fieldValuesCell col-xs-6 col-sm-8">
							<input class="fieldValuesCheckBoxField" value="test1" id="personalInformation_CreditCard_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_CreditCard"></span>
						</div>
					</div>
					<div class="row">
						<div class="fieldValuesCell col-xs-6 col-sm-4">
							<input class="fieldValuesCheckBoxField" id="personalInformation_SavingsAccount_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_SavingsAccount"></span>
						</div>
						<div class="fieldValuesCell col-xs-6 col-sm-8">
							<input class="fieldValuesCheckBoxField" id="personalInformation_GasCard_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_GasCard"></span>
						</div>
					</div>
					<div class="row">
						<div class="fieldValuesCell col-xs-6 col-sm-4">
							<input class="fieldValuesCheckBoxField" id="personalInformation_BankLoan_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_BankLoan"></span>
						</div>
						<div class="fieldValuesCell col-xs-6 col-sm-8">
							<input class="fieldValuesCheckBoxField" id="personalInformation_StoreCard_TextField" type="checkbox" />
							<span class="floatLeft fieldValuesCheckBoxField" data-translationKey="personalInformation_StoreCard"></span>
						</div>
					</div>
				</div>
			</div>			
		</div>	
		<br>
		<br>
		{{if !screenIsPopup }}
			<div class="continueButtonContainer" >
				<div class="floatToRight continueButtonRightPosition personalInformationContinueButton" id="personalInformation_ContinueButton">
						<div id="personalInformation_continueButtonContainer">
							<a href="#" class="continueButton" id="personalInformation_continueButtonHref">
								<span class="buttonText" data-translationKey="continue_Button_Label"></span>
							</a>
							<!-- <span class="continueButtonTriangle">
							</span> -->
						</div>
				</div>
			</div>
			<div class="footnoteContentBlock overviewNSBorderTop row">
			<!--	{{if !app.isNSSelected() }}
			<div class="scrollbar" id="style-1">
                   <div class="force-overflow">
								<span class="footnoteContentText">
									<sup>1</sup>
									<span data-translationKey="overview_footnoteContentText1Extended"></span>
									<span class="overviewLinkGray" data-translationKey="overview_footnoteContentText1Link"/>
									<span ></span>
									<span> </span>
									<br>
									<sup>2</sup>
									<span data-translationKey="overview_footnoteContentText2"></span>
									<span> </span>
									<br>
									<span data-translationKey="overview_footnoteContentText4"></span>
									<br>
									<span data-translationKey="overview_footnoteContentText5"></span>
								</span>
				</div>
	       </div>			
				{{/if}} 
				{{if app.isNSSelected() }}
				<div class="scrollbar" id="style-1">
                   <div class="force-overflow">
							<span class="footnoteContentText">
								<span data-translationKey="personalInfo_LegalText1"></span>
								<br>
								<span data-translationKey="personalInfo_LegalText2"></span>
								{{if cardType === "OMX"}}
								<span data-translationKey="personalInfo_LegalText2_OMX"></span>
								<br>
								{{else cardType === "OMZ"}}  
								<span id="personalInfo_LegalText2_OMZ_ID"  data-translationKey="personalInfo_LegalText2_OMZ"></span>
								<span id="personalInfo_LegalText2_OMX_ID" data-translationKey="personalInfo_LegalText2_OMX"></span>
								{{/if}}
							     <br>
								<br>
								<span data-translationKey="personalInfo_LegalText4"></span>
								<br><br>
								<span data-translationKey="personalInfo_LegalText5"></span>
							</span>
					</div>
				</div>				
				{{/if}} -->
				<!-- US3011 -->
				<div class="scrollbar" id="style-1">
                   <div class="force-overflow">
									<span class="footnoteContentText">
										<p data-translationKey="personalInfo_LegalText1"></p>
										{{if cardType === "OMX"}}
										<p data-translationKey="personalInfo_LegalText2_OMX"></p>
										{{else cardType === "OMZ"}}  
										<p id="personalInfo_LegalText20_OMZ_ID" data-translationKey="personalInfo_LegalText2_OMZ"></p>
										<p id="personalInfo_LegalText20_OMX_ID" data-translationKey="personalInfo_LegalText2_OMX"></p>
										{{/if}}
										<p data-translationKey="personalInfo_LegalText4"></p>
										<p data-translationKey="personalInfo_LegalText5"></p>
									</span>
       			  </div>
       			 </div> 									
			</div>
			<br>
			<br>
		{{/if}}
		{{if screenIsPopup }}
			<div class="buttonsContainer row">
				<div class="floatToRight continueButtonRightPosition popup_ContinueButton elementTopBottom10 col-xs-12 col-sm-3" id="personalInformation_ContinueButton">
	        		<a href="#" class="continueButton submitApplicationButton" id="personalInformation_saveChangesButtonHref">
		        		<span class="buttonText" data-translationKey="continue_Button_PopupMode_SaveChanges_Label"></span>
	        		</a>
        		</div>
				<div class="floatToLeft backButtonRightPosition popup_CancelButton elementTopBottom10 col-xs-12 col-sm-8" id="personalInformation_CancelButton">
        			<div id="additionalInformation_BackButtonContainer">
	        			<a href="#" class="continueButtonInactive submitApplicationButton continueButtonFocused floatToRight" id="personalInformation_cancelChangesButtonHref">
		        			<span class="buttonText" data-translationKey="continue_Button_PopupMode_CancelChanges_Label"></span>
		        		</a>		       		 	       	
	       	 		</div>
       			</div>
			</div>
			
			
		{{/if}}		
	</div>	
</script>
