<script id="chooseProduct-template" type="text/x-jquery-tmpl">
	<div id="choseProduct">
	
		<span class="chooseProductTitle" data-translationKey="chooseProduct_Title"></span>

			<ul id="productListBlock" class="chooseProductBlock">
				
				<li class="productImageArea">
					<a href="#"><div class="productImageBlock" id="productImage"></div></a>
	        	</li>

				<li class="productDescriptionArea">
					<div class="productDescriptionContent">
						<span class="productDescriptionTitle" data-translationKey="chooseProduct_DescriptionTitle"></span>

						<ul id="rewardsOnPurchasList" class="simpleList">
							<li>
								<strong>
									<span class="listItemText" data-translationKey="chooseProduct_Description1_1"></span><sup class="overviewFootnote">1</sup>
									<span class="listItemText" data-translationKey="chooseProduct_Description1_2"></span>
								</strong>
							</li>
							
							<li>
								<strong>
									<span class="listItemText" data-translationKey="chooseProduct_Description2_1"></span><sup class="overviewFootnote">2</sup><span>.</span>
								</strong>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="chooseProduct_Description3_1"></span>
								<strong>
									<span class="listItemText" data-translationKey="chooseProduct_Description3_2"></span>
								</strong>
							</li>

							<li>
								<span class="listItemText" data-translationKey="chooseProduct_Description4_1"></span>
								<strong>
									<span class="listItemText" data-translationKey="chooseProduct_Description4_2"></span>
								</strong>
							</li>

							<li>
								<span class="listItemText" data-translationKey="chooseProduct_Description5_1"></span>
								<strong>
									<span class="listItemText" data-translationKey="chooseProduct_Description5_2"></span>
								</strong>
							</li>

						</ul>
					</div>
	        	</li>

			</ul>

			<a href="#" class="chooseProductLink hideElement" data-translationKey="chooseProduct_LinkText"></a>

		</div>

</script>