<script id="CC_Legal_OMP-template" type="text/x-jquery-tmpl">
<!--<span id="TandCTitle" class="TandC_Title_Format" data-translationKey="chooseProduct_ReadTandC"></span>//-->
<span id="legalOMP" class="TandC_Content_Format">
<br>*<span data-translationKey="legal_omp_first_chapter"></span>
<br><span data-translationKey="legal_omp_second_chapter"></span>
<br><sup>&dagger;</sup><span data-translationKey="legal_omp_third_chapter"></span>
<br><sup>&dagger;&dagger;</sup><span data-translationKey="legal_omp_fourth_chapter"></span>
<br><sup>1</sup><span data-translationKey="legal_omp_fives_chapter"></span>
<!-- US3997 //-->
<!-- <br><sup>2</sup><span data-translationKey="legal_omp_six_chapter"></span> //-->
<br><span data-translationKey="legal_omp_six_chapter"></span>
<br>
<br><span data-translationKey="legal_omp_eight_chapter"></span>
<br><span data-translationKey="legal_omp_nine_chapter"></span>
<span>
</script>