<script id="CC_Legal_COCD-template" type="text/x-jquery-tmpl"> 
<br/>
<h3 data-translationKey="overview_CostOfCreditDisclosure_MainTitle" style="padding: 0 0 10px 10px;"></h3>
<table class="overviewCenterTableContainer cocd_table">
    <tr>
        <td style="border: none;">
            <table class="overviewCenterTable">
                    <tr>
                    <th colspan="2" id="overviewCenterTableTitlePadding" data-translationKey="overview_CostOfCreditDisclosure_Title"></th>
                </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left1"></td>
                    <td class="overviewCenterTableData">
						{{if activationItems.getModel('chooseProductModel').get('productCard') == "OMX"}}
						<p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_ChooseProduct_Right1_OMX"></p>
						{{else}}
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_ChooseProduct_Right1"></p>
						{{/if}}
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left2"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right2"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left3"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right3"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left4"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right4"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left5"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right5"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" style="border-bottom: none !important;" data-translationKey="overview_CostOfCreditDisclosure_Left6"></td>
                    <td class="overviewCenterTableData" style="border-bottom: none !important;">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right6"></p>
                    </td>
                    </tr>
            </table>
        </td>
    </tr>
</table>

<div class="overViewInterest">
<span data-translationKey="overview_AccrualInterest"></span>
<br><br>
</div>


<div class="overViewInterest">
<span data-translationKey="overview_InterestRates"></span>
</div>

<!-- US3381 -->
<div class="overviewCenterTableContainer elementWithLeft10 bottomSpacing elementWithFontSize10" data-translationKey="overview_EffectiveDate"></div>

</script>
