<script id="WICISignatureScreen-template" type="text/x-jquery-tmpl"> 
	<div class="ScreenLayout" id="SignatureScreen_PageContents">
		<br>
		
		<div id="SignatureScreen_OMZContents"
		</br>
	  				<div>
					 <center>  <img id="omzChartImage" src="app/images/OMZ_Qualifier.png" data-lang-class/> </center>
	 				</div>
		 </br>
		
		   <div id="chooseProductScreen_PageHeader">
		      <center>
              <span class="sigScreen_ChooseCardTitle" data-translationKey="sigScreen_ChooseCardRightForYou"></span>
               <br>
               <span id="sigScreenOMZ_textId" data-translationKey="sigScreen_OMZCard_Note"></span>
              </center>
                <br>               
                 <ul id="signatureScreenProductList">
                 <table align="center" style="border: none;>
		         <tr>
				 <li>
				 <td id="signatureScreen_WorldEliteCardContent" >
                   <span class="sigScreen_WorldEliteCardTitle" id="sigScreen_WorldEliteCardTitle_1"  data-translationKey="sigScreen_WorldEliteCard_text"></span>
                   <a href="#" id="signatureScreenOmzCard"  class="creditCardProductClickableProduct"></a><br> 
                   <center><span class="sigScreen_WorldEliteCardNote_1" data-translationKey="sigScreen_WorldEliteCard_Note_text"></span>
                   <span class="sigScreen_WorldEliteCardNote_2" data-translationKey="sigScreen_WorldEliteCard_Note_text1"></span>
                   <span class="sigScreen_WorldEliteCardNote_3" data-translationKey="sigScreen_WorldEliteCard_Note_text2"></span>
                   <span class="sigScreen_WorldEliteCardNote_4" data-translationKey="sigScreen_WorldEliteCard_Note_text3"></span>
                   <span class="sigScreen_WorldEliteCardNote_5" data-translationKey="sigScreen_WorldEliteCard_Note_text4"></span>
                  </center>
                  </td>
                </li>
                 <td id="signatureScreen_text"> </td>
                <li>
                 <td id="signatureScreen_TriangleCardContent">
                  
                   <span  class="sigScreen_TriangleCardTitle " data-translationKey="sigScreen_TriangleCard_text"> </span>
                    <a href="#" id="signatureScreenOmcCard" class="creditCardProductClickableProduct ">
                    </a><br>
                  <center>  <span class="sigScreen_WorldEliteCardNote" style="visibility: hidden;" data-translationKey="sigScreen_WorldEliteCard_Note_text"></span>
                    <span class="sigScreen_WorldEliteCardNote" style="visibility: hidden;" data-translationKey="sigScreen_WorldEliteCard_Note_text1"></span>
                    <span class="sigScreen_WorldEliteCardNote"  style="visibility: hidden;" data-translationKey="sigScreen_WorldEliteCard_Note_text2"></span>
                    <span class="sigScreen_WorldEliteCardNote"  style="visibility: hidden;" data-translationKey="sigScreen_WorldEliteCard_Note_text3"></span>
                    <span class="sigScreen_WorldEliteCardNote"  style="visibility: hidden;" data-translationKey="sigScreen_WorldEliteCard_Note_text4"></span>
                    </center>
                   </td>
                   
                </li>
                </tr> 
                </table>
               </ul>
           
         </div>
            <br />
		 <div class="signature_Omc">
		 <table class="overviewCenterTableContainer cocd_table">
           <tr>
          <td style="border: none;">
         <table class="overviewCenterTable">
                    <tr>
                    <th colspan="2" id="overviewCenterTableTitlePadding" data-translationKey="overview_CostOfCreditDisclosure_Title"></th>
                   </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left1"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" class="omx_overview_CostOfCreditDisclosure" data-translationKey="overview_CostOfCreditDisclosure_Right1"></p>
                        <p id="overviewCenterTableTextWithoutMargin" class="omz_overview_CostOfCreditDisclosure" data-translationKey="overview_CostOfCreditDisclosure_OMZ_Right1"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left2"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right2"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left3"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right3"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left4"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right4"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" data-translationKey="overview_CostOfCreditDisclosure_Left5"></td>
                    <td class="overviewCenterTableData">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right5"></p>
                    </td>
                    </tr>
                    <tr>
                    <td class="overviewCenterTableTitle" style="border-bottom: none !important;" data-translationKey="overview_CostOfCreditDisclosure_Left6"></td>
                    <td class="overviewCenterTableData" style="border-bottom: none !important;">
                        <p id="overviewCenterTableTextWithoutMargin" data-translationKey="overview_CostOfCreditDisclosure_Right6"></p>
                    </td>
                    </tr>
            </table>
             </td>
        </td>
    </tr>
</table>
</div>

<div class="overViewInterest">
<span data-translationKey="overview_AccrualInterest"></span>
<br><br>
</div>

<div class="overViewInterest">
<span data-translationKey="overview_InterestRates"></span>
</div>
<div class="overviewCenterTableContainer elementWithLeft10 bottomSpacing elementWithFontSize10" data-translationKey="overview_EffectiveDate"></div>
<div id="triangle_world_ELite_MasterCardNote" class="overviewCenterTableContainer elementWithLeft15  elementWithFontSize10" data-translationKey="overview_Triangle_world_ELite_MasterCardNote"></div>
</div>
<br>
		
		
		
		<br>
		<center>
			<span id="SigClickHere" class="pageTitle" data-translationKey="sigScreen_Title"></span>
		</center>
		<br>
		<p><span data-translationKey="signatureScreen_Header"/></p>

		<ul>
			<li>
				<span data-translationKey="signatureScreen_License1" />
				<!-- <span id="singnatureCardName" /> //-->
				{{if CardType === 'OMR' }}
					<span data-translationKey="signature_CashAdvantageMasterCard" ></span>
				{{else CardType === 'OMP' }}
					<span data-translationKey="signature_GasAdvantageMasterCard1" ></span>
				{{else}}
					<span id="triangle_MasterCard_License1" data-translationKey="signature_OptionsMasterCard" ></span>
					<span id="worldElite_MasterCard_License1" data-translationKey="signature_World_ELiteMasterCard" ></span>	
				{{/if}}
				<span data-translationKey="signatureScreen_License1_1" />
				<span data-translationKey="signatureScreen_License1_2" />
			</li>
			<br>
			<li id ="omx_signatureScreen_Licence_Content" class="paddingBottom15" > <span  data-translationKey="signatureScreen_License2"/></li>
			<!--<li id ="omz_signatureScreen_Licence_Content"> <span  data-translationKey="signatureScreen_License2_OMZ"/></li>-->

				{{if CardType === 'OMR' }}
					<li><span data-translationKey="signatureScreen_License3_OMR"/></li>
				{{else CardType === 'OMP' }}
					<li><span data-translationKey="signatureScreen_License3_OMP"/></li>
				{{else}}
					<li><span data-translationKey="signatureScreen_License3"/></li>
				{{/if}}

			<br>
			<li><span data-translationKey="signatureScreen_License4"/></li>
			<br>
			<li><span data-translationKey="signatureScreen_License5"/></li>
			<br>
			<li>
				<b>
					<span data-translationKey="signatureScreen_License6"/>
				</b>
			</li>
			<br>
			<li>
				<b>
					<span data-translationKey="signatureScreen_License6_newLine"/>
				</b>
			</li>
			<br>
			<li><span data-translationKey="signatureScreen_License7"/></li>
			<br>		
			{{if CardType === 'OMP' }}
	{{else}} 	
		<li><span data-translationKey="signatureScreen_License7a"/></li>
		<br>
		<li id = "signature_Text_OMX"><span data-translationKey="signatureScreen_License7b_OMX"/></li>			
		<li id = "signature_Text_OMZ"><span data-translationKey="signatureScreen_License7b"/></li>
		<br>
{{/if}}

			<li><span data-translationKey="signatureScreen_License8"/></li>
			<br>
			<li><span data-translationKey="signatureScreen_License9"/></li>

			<!--<br>//-->
			<!--<br>//-->
			<!--<li><span data-translationKey="signatureScreen_License4"/></li>//-->
			<!--<br>//-->
			<!--<br>//-->
			<!--<li><span data-translationKey="signatureScreen_License5"/></li>//-->
		</ul>
		<br>
		<div class="warningDIV" id="warningDIVSig" name="warningDIVSig">
		<center>
		<p class="warningHeader_signaturePage" id="warningHeaderSig" name="warningHeaderSig"><span data-translationKey="signatureScreen_WarningHeader"/></p>
        <center>
	    <table class="warningTable" id="warningTableSig" name="warningTableSig" >
        <tr>
            <td>
							{{if CardType === 'OMR' }}
							<!-- US3766 //-->
								<img id="SignatureImage" src="app/images/omr_en.png" data-lang-src width="180" style="margin-top:10px;"/>
							{{else CardType === 'OMP' }}
								<img id="SignatureImage" src="app/images/omp_en.png" data-lang-src width="180" style="margin-top:10px;"/>
							{{else CardType === 'OMZ' }}
								<img id="SignatureImage" src="app/images/omz_en.png" data-lang-src width="180" style="margin-top:10px;"/>	
							{{else}}
								<img id="SignatureImage" src="app/images/omx_en.png" data-lang-src width="180" style="margin-top:10px;"/>
							{{/if}}
							<br/>
           </td>
           <!-- US5147 WICI - Updated Signature Box -->
            <td style="width: 80%; padding: 13px 5px 16px 25px;">
                <span class="signaturePageFont" id="warningText_SignaturePage" data-translationKey="signatureScreen_WarningText1" ></span><br/><br/><b>
					{{if CardType === 'OMR' }}
						<span class="signaturePageCardFont" id="CashAdvantageMasterCard_CreditCard" data-translationKey="signature_CashAdvantageMasterCard_CreditCard" ></span>
					{{else CardType === 'OMP' }}
						<span class="signaturePageCardFont" id="GasAdvantageMasterCard_CreditCard" data-translationKey="signature_GasAdvantageMasterCard_CreditCard" ></span>
					{{else}}
						<span class="signaturePageCardFont" id="triangelMasterCard" data-translationKey="signature_OptionsMasterCard_CreditCard" ></span>
					    <span class="signaturePageCardFont" id="worldElite_MasterCard" data-translationKey="signature_World_ELiteMasterCard_CreditCard" ></span>		
					{{/if}}
				</b>
            </td>
        </tr>
        </table>
        </center>
        </center>

			<!-- <div class="signatureContainer sugnatureFixes" >
				<div class="signatureBorder" id="signatureScreen_SingnatureContainer">
					<div class="signature" id="signature"/>
				</div>
			</div> -->
		</center>
			<div class="signatureCredentialsContainer signatureTopPadding">
				<label id="signatureScreen_UserName">${ClientName}</label>

				<p class="margin_Signature"><span data-translationKey="sigScreen_Date"/><label id="signatureScreen_SignDate"></p>

				<div id="signatureScreen_AgreementBoxContainer" class="agreementBoxContainer align-vertical-middle-container">
					<div class="rightContaier align-vertical-middle-item">
							<div class="wiciCheckBox" >
								<input type="checkbox" name="signatureScreen_AcceptAgreement" id="signatureScreen_AcceptAgreement" />
								<label for="signatureScreen_AcceptAgreement"/>
							</div>
					</div>
					<div class="leftContainer opCheckBoxLabel align-vertical-middle-item">
					<!-- US3766 //-->
						<label data-translationKey="signatureScreen_TermsAndConditions_AcceptBox" />
							{{if CardType === 'OMR' }}
								<span data-translationKey="signature_CashAdvantageMasterCard" ></span>
								 <span data-translationKey="signatureScreen_TermsAndConditions_AcceptBox_MSPVerification"> </span>
							{{else CardType === 'OMP' }}
								<span data-translationKey="signature_GasAdvantageMasterCard" ></span>
								<span data-translationKey="signatureScreen_TermsAndConditions_AcceptBox_MSPVerification"> </span>
							{{else}}
								<span id="sigtriangelMasterCardNote" data-translationKey="signature_OptionsMasterCard"></span>
							    <span id="sigworldElite_MasterCardNote" data-translationKey="signature_World_ELiteMasterCard"> </span>
							    <span data-translationKey="signatureScreen_TermsAndConditions_AcceptBox_MSPVerification"> </span>
							{{/if}}
					</div>
				</div>
			</div>
			
			<!-- US5147 WICI - Updated Signature Box -->
            <br/>
            <center>
            	<div class="signatureContainer sugnatureFixes" >
                	<div class="signatureBorder" id="signatureScreen_SingnatureContainer">
                    	<div class="signature" id="signature"/>
                    </div>
                </div>
                
                <span id="signature_Reset_Button" class="button grayflat sigResetButton proceedButtonWidth">
                <span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span>
                </span>
             </center>
		</div>
		<!--<center>
            <span id="signatureScreen_ProceedButton" class="button greenflat proceedToConfirmationButtonWidth">
            	<span class="buttonText" data-translationKey="sigScreen_ProceedToConfirmation"></span>
			</span>
        </center>-->
       <div class="signaturePageBottomMargin">
		  <span id="sigworldElite_MasterCardNote_OMZ" data-translationKey="sigworldElite_MasterCardNote_1"> </span>
       </div>
		
	</div>
</script>
