<script id="WICIChooseProductScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="chooseProductScreen_PageContents">
    		
		{{if activationItems.getModel('loginScreen').get('printerMacAddress') && activationItems.getModel('loginScreen').get('printerInRange')}}
			<div class="printerConnected" data-translationKey="chooseProduct_PrinterConnected"></div>
		{{else}}
			<div class="printerNotConnected" data-translationKey="chooseProduct_PrinterNotConnected"></div>			
		{{/if}}

		<div class="overlay" id="handoutTabToCustomerDialog-container">
  			<div class="handoutTabToCustomerpopup_chooseProduct">
    			<p class="text-left" data-translationKey="chooseProduct_HandoutTabToCustomerDialogContent"></p>
    			<div>      				
      				<button class="dialog-btn-ok" id="handoutOk" data-translationKey="chooseProduct_HandoutTabToCustomerDialogOk"></button>
					<button class="dialog-btn-cancel" id="handoutCancel" data-translationKey="chooseProduct_HandoutTabToCustomerDialogCancel"></button>
    			</div>
				<center class="retrieveAppPadding">
					<div>      				
      					<button class="dialog-btn-retrieve width200" id="retrieveButton" data-translationKey="chooseProduct_HandoutTabToCustomerDialogRetrieve"></button>
    				</div>
				</center>
  			</div>
		</div>

		<!-- VZE-107 -->
		<div class="overlay" id="dialog_container_customer_signature">
  			<div id="customerSignatureWarningDIV" class="popup_SignatureDialog_Red">
  			    <div id="customerSignatureHeader" class="chooseProduct_SignatureTitle_Red"><center><p class="signatureDialogTitleFont" data-translationKey="chooseProduct_Customer_signatureBoxDialog_title"></center></p></div>
  			    <div class="signatureDialogpadding" class="forntSize10">  
	                  {{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() === "E" && outletProvince !== "QC"}}
                        <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_Content_CSR_ROC"></p>
    					<p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListTitle_CSR_ROC"></p>
							<ul class="text-left">
								<li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_ROC"></li>
								<li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem2_CSR_ROC"></li>
							</ul>
                       {{else activationItems.getModel('loginScreen').get('employerID').toUpperCase() === "E" && outletProvince == "QC"}}
                              <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_Content_CSR_QC_And_FMR_AllProvince"></p>
    					      <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListTitle_CSR_QC_And_FMR_AllProvince"></p>
							    <ul class="text-left">
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem2_CSR_QC_And_FMR_AllProvince"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince_1"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince_2"></li>
							    </ul>
                       {{else activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== "E" && outletProvince !== "QC"}}
                              <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_Content_CSR_QC_And_FMR_AllProvince"></p>
    					      <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListTitle_CSR_QC_And_FMR_AllProvince"></p>
							    <ul class="text-left">
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem2_CSR_QC_And_FMR_AllProvince"></li>
							    </ul>
					   {{else activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== "E" && outletProvince == "QC"}}
							  <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_Content_CSR_QC_And_FMR_AllProvince"></p>
    					      <p class="text-left" data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListTitle_CSR_QC_And_FMR_AllProvince"></p>
							    <ul class="text-left">
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem2_CSR_QC_And_FMR_AllProvince"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince_1"></li>
								   <li data-translationKey="chooseProduct_Customer_signatureBoxDialog_ListItem1_CSR_QC_And_FMR_AllProvince_2"></li>
							    </ul>
                       {{/if}}
    			
				<center>
                   <div class="signatureContainer signatureFixCustomer" >
					  <div class="signatureBorder" id="chooseProductScreen_SignatureContainer">
					      <div class="signature" id="chooseProductScreen_signature"/>
					  </div>
				  </div>
                  <br>
				  <span id="chooseProductScreen_signature_Reset_Button" class="buttonWithSquareBorder grayflat sigResetButton proceedButtonWidth">
					   <span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span>
				  </span>
                </center>
				<br>
    			<div>      				
      				<button class="dialog-btn-proceed" id="signatureDialogIAgree" data-translationKey="chooseProduct_Customer_signatureBoxDialog_IAgree"></button>
					<button class="dialog-btn-cancel" id="signatureDialogCancel" data-translationKey="chooseProduct_DialogCancel"></button>
    			</div>
    			</div>
  			</div>
		</div>	
	<!-- VZE-107 --->
		<br />
		<div id="chooseProductScreen_PageHeader">
            <span class="pageTitle" data-translationKey="chooseProduct_ChooseOneOfTheCreditCards"></span>
            <span class="pageTitle pageTitleCSR" style="display: none;" data-translationKey="chooseProduct_CanadianTireOptionsMC"></span>
            <br />
            <br />
            <ul id="creditCardProductList">
                <li>
                    <a href="#" id="omcCard" class="creditCardProductClickableProduct" data-lang-class>
                        <span class="CC_Labels" data-translationKey="chooseProduct_OptionsMasterCard"></span>
                    </a>
                    
                </li>
				<li>
                    <a href="#" id="ompCard" class="creditCardProductClickableProduct">
                        <span class="CC_Labels" data-translationKey="chooseProduct_GasAdvantageMasterCard"></span>
                    </a>
                </li>
                <!-- US3766 //-->
                <!-- US5391 Remove OMR from card Selection page -->
				<!--<li class="OMRPortrait" >
                    <a href="#" id="omrCard" class="creditCardProductClickableProduct" data-lang-class>
                        <span class="CC_Labels" data-translationKey="chooseProduct_CashAdvantageMasterCard"></span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div id="cardDescriptionArea">
        </div>
        <br />
        <br />
		<center>
		<div id="chooseProduct_PromoCodeArea" >
            <table id="promoCodeTable" class="stretchThisTable">
    			<tr class="fieldRow">
                    <td class="fieldLabelsTopCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_Program"></span>
                    </td>
                    <td class="fieldValuesTopCell">
						<select id="programDropDown" class="fieldValuesTextField" tabindex=1>
						</select>
                    </td>
                </tr>
                <tr class="fieldRow">
                    <td class="fieldLabelsCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_PromoCode"></span>
                    </td>
                <!-- US3767 - Start //-->
                    <td class="fieldValuesCell">                       
                       <select id="promoCodeDropDown" class="fieldValuesTextField" tabindex=1>
					   </select>
                    </td>
                </tr>
                                
                <tr class="fieldRow"> 
                <!-- US4194 - Start //-->
                    {{if activationItems.getModel('loginScreen').get('retailNetWork') == "MARKS"}}			
							<td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="chooseProduct_PromoCode"></span>
		                    </td>
					{{else activationItems.getModel('loginScreen').get('retailNetWork') == "PC"}}
							<td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="chooseProduct_PromoCode"></span>
		                    </td>	
					{{else}}
					<!-- US4433 - Start //-->
						{{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== "E"}}
									{{if activationItems.getModel('loginScreen').get('retailNetWork') == "SPORTS"}}
                    	               <td class="fieldLabelsCell fieldCellSize33">
		                                    <span data-translationKey="chooseProduct_PromoCode"></span>
		                                </td>
		                              {{else}}			
							            <td class="fieldLabelsCell fieldCellSize33">
		                                   <span data-translationKey="chooseProduct_PromoCode_Other"></span>
		                                </td>
		                            {{/if}}
		            <!-- US4433 - End //-->      
		                {{else}}
							<td class="fieldLabelsCell fieldCellSize33">
	                        	<span data-translationKey="chooseProduct_PromoCode"></span>
	                    	</td>
                    	{{/if}}
					{{/if}}
					<!-- US4194 - End //--> 					
               <!-- US3767 - End //-->                  
                    <td class="fieldValuesCell">
                        <input class="fieldValuesTextField upperCaseField" id="promoCodeTextField" type="text" tabindex=2 maxlength="5"/>
                    </td>
                </tr>
                <tr class="fieldRow">
                    <td class="fieldLabelsBottomCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_Province"></span>
                    </td>
                    <td class="fieldValuesBottomCell">
						<select id="provinceTextField" class="fieldValuesTextField" tabindex=3>
						</select>
                    </td>
                </tr>
            </table>
		</div>
		</center>
		<br />
		
		<!-- ------------------ VZE-108 Starts ------------------ -->
		
	    {{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() === "E" && outletProvince !== "QC"}}	 
	
		 <div id="receive_CostOfCredit_CheckBox_Area" class="contactInfoCheckBoxOuterBox">
				<div class="agreementBoxContainerEX" style="display: table" >
					<div class="rightContaier">
						<div class="contactInfoCheckBox">
							<input type="checkbox" id="receive_CostOfCredit_CheckBox"> <label for="receive_CostOfCredit_CheckBox"></label>
						</div>
					</div>
					<div class="leftContainer opCheckBoxLabel fontSize16 bold" style="padding-top: 0; display: table-cell; vertical-align: middle;">
						<label data-translationkey="chooseProduct_received_and_reviewed"></label>
					</div>
			  </div>
		</div>
		
		<p class="fontSize25 bold paragraphAlignment"><span data-translationKey="chooseProduct_Application_Disclosures"></span></p>
       <br>
       <div id="cantireCard_Agreement_CheckBoxArea" class="contactInfoCheckBoxOuterBox">
				<div class="agreementBoxContainerEX" style="display: table" >
				
					<div class="rightContaier">
						<div class="contactInfoCheckBox">
							<input type="checkbox" id="cantireCard_Agreement_CheckBox"> <label for="cantireCard_Agreement_CheckBox"></label>
						</div>
					</div>
					
					<div class="leftContainer opCheckBoxLabel fontSize16 bold" style="padding-top: 0; display: table-cell; vertical-align: middle;">
							<label data-translationkey="chooseProduct_CanadianTireCardAgreementCheckBoxText"></label>
					</div>
					
			  </div>
		</div>
		<br>
		
		<p class="overviewCenterTableTitle bold paragraphAlignment"><span data-translationKey="chooseProduct_Triangle_reward_Program"></span></p>
		
		<table class="stretchThisTable borderZero" >
	 	  	 <div class="rightContaier align-vertical-middle-item">
					<div class="cantire_Agreement">
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para1"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para2"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para3"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para4"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para5"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para6"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para7"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para8"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para9"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para10"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para11"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para12"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para13"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para14"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para15"></p>
							<p class="receiveEmail_TextArea" data-translationKey = "chooseProduct_TriangleRewardsProgram_para16"></p>
					</div>
		     </div>
	   </table>
       <br>
       <div id="triangle_Rewards_Program_TermsAndCondition_CheckBox_Area" class="contactInfoCheckBoxOuterBox">
			<div class="agreementBoxContainerEX" style="display: table" >
			
				<div class="rightContaier">
					<div class="contactInfoCheckBox">
						<input type="checkbox" id="triangle_Rewards_Program_TermsAndCondition_CheckBox"> <label for="triangle_Rewards_Program_TermsAndCondition_CheckBox"></label>
					</div>
				</div>
				
				<div class="leftContainer opCheckBoxLabel fontSize16 bold" style="padding-top: 0; display: table-cell; vertical-align: middle;">
						<label data-translationkey="chooseProduct_Triangle_RewardsProgramTnC"></label>
				</div>
				
			</div>
		</div>
		
		{{/if}}
		
	<!-- ------------------ VZE-108 Ends ------------------ -->
		
		<br />
		<center>
            <span id="chooseProductScreen_ApplyNowButton" class="button grayflat applyButtonWidth">
            <!-- US4571 start -->
            <span class="buttonText" data-translationKey="chooseProduct_ApplyNow_Button_Label"></span>
            <!-- US4571 ends -->
            <!-- US4495 - Start //-->
              <!--  {{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== "E"}}
            	     <span class="buttonText" data-translationKey="chooseProduct_ApplyNow_Button_Label_with_testprint"></span>
            	{{else}}
            	     <span class="buttonText" data-translationKey="chooseProduct_ApplyNow_Button_Label"></span>
            	{{/if}}  -->
            <!-- US4495 - End //-->   	
			</span>
        </center>
		<br />
		<br />
        <hr>
    </div>
	<div id="chooseProductScreen_disclaimerArea" class="ScreenLayoutFullWidth"></div>
</script>
