<script id="WICIPersonalDataScreen-template" type="text/x-jquery-tmpl">
<!--
	personalData_CTMField								    :	"",
	personalData_CTMNumber_TextField						:	"",
	personalData_CTMAccountText	                            :   "",
	//-->
	<div class="ScreenLayout" id="PersonalDataScreen_PageContents">
	    <br>
		<br>
		<div class="overlay" id="idExpiryDateErrorMessageDialog-container">
  			<div class="handoutTabToCustomerpopup_chooseProduct">
	            <center><p class="text-center normal_text" data-translationKey="expiryDate_error_title"></p></center>
    			<p class="text-center normal_text" data-translationKey="expiryDate_error_message"></p>
    			<div>      				
      				<button class="dialog-btn-ok upperCaseField" id="idExpiryDateContinueButton" data-translationKey="expiryDate_continue_button"></button>
					<button class="dialog-btn-cancel upperCaseField" id="idExpiryDateCancelButton" data-translationKey="expiryDate_cancel_button"></button>
    			</div>
  			</div>
		</div>
		<center><span class="pageTitle" data-translationkey="personalData_TellUsAboutYourself"></span></center>
		<center>
				<div id="personalData_MyCTMArea">
			<br> <br>
			<table id="myCTMTable" class="stretchThisTable">
				<tbody>
					<tr class="fieldRow">
						<td style="border-radius: 11px 0 0 11px;" class="fieldLabelsTopCell fieldCellSize33 selectedBreadcrumb">
							<span data-translationkey="personalData_CTMField"></span>
						</td>
						<td class="fieldValuesTopCell"
							style="width: 75px; border-right: none; padding-right: 0;"><input
							class="fieldValuesTextField" autocomplete="off" autocorrect="off"
							autocapitalize="off" spellcheck="false"
							id="personalData_CTMNumber_TextField_Prefix" type="tel" maxlength="6" ></td>
						<td class="fieldValuesTopCell" style="border-left: none; padding-left: 0;"><input
							class="fieldValuesTextField" autocomplete="off" autocorrect="off"
							autocapitalize="off" spellcheck="false"
							id="personalData_CTMNumber_TextField" maxlength="10"
							tabindex=1 type='tel' max="9999999999" min="0"></td>
					</tr>
				</tbody>
			</table>
			<table id="myCTMTable" class="stretchThisTable">
				<tbody>
					<tr class="fieldRow">
						<td
							style="padding-left: 5px; border-left: 0px; border-bottom: 0px; outline-style: none; margin: 0px; border-radius: 11px 0 0 11px;"
							class="fieldLabelsBottomCell fieldCellSize33 selectedBreadcrumb">
							<span id="personalData_ScanLoyaltyButton"
							class="button greenflat scanLoyaltyButtonWidth bottomSpacing">
								<span class="buttonText lookupSpan driversLicenseSpan"
								data-translationkey="personalData_Scan_Loyalty_Label"></span>
						</span>
						</td>
						<td class="fieldValuesCell">
							<p>
								<span data-translationkey="personalData_CTMAccountText"></span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        </center>
        <br>
        <br>
        
        <center>
        	<div>
                <table class="stretchThisTable">
                    <tr class="fieldRow">
                        <td class="fieldLabelsSingleCell fieldCellSize33">
                            <span id="personalData_ScanIdButton" class="button greenflat scanLoyaltyButtonWidth bottomSpacing">
        					<span class="buttonText lookupSpan scanDriversLicesnseSpan" data-translationKey="personalData_Scan_Id_Label"></span>
					     </span>
                        </td>
                        <td class="fieldValuesTopCell">
                            <p><span data-translationKey="personalData_Scan_TextField"></span></p>
                        </td>
                    </tr>
                </table>
            </div>
        </center>
        
        <br>
        <center>
			<div id="personalData_AddressLookupArea" >
	            <table id="addressLookupTable" class="stretchThisTable">
					<tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_PlaceOfIssue"></span>
	                    </td>
	                    <td class="fieldValuesTopCell">
	                        <!-- input class="fieldValuesTextField" id="personalData_PlaceOfIssue_TextField" type="text"/-->
	                        <select class="fieldValuesTextField" id="personalData_PlaceOfIssue_TextField" tabindex=2>
							</select>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_IDType"></span>
	                    </td>
	                    <td class="fieldValuesCell">
	                        <!--input class="fieldValuesTextField" id="personalData_IDType_TextField" type="text"/-->
							<select class="fieldValuesTextField" id="personalData_IDType_TextField" type="text" tabindex=3>
							</select>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td id="personalData_IDNumber" class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_IDNumber"></span>
	                    </td>
	                    <td class="fieldValuesCell">
	                        <input class="fieldValuesTextField upperCaseField" id="personalData_IDNumber_TextField" type="text" maxlength="20" tabindex=4/>
	                    </td>
	                </tr>
	                
	                <tr id="personalData_ExpiryDate_for_QC_healthCard" class="fieldRow hideElement">
	                    <td id="personalData_ExpiryDate" class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="personalData_ExpiryDate"></span>
	                    </td>
	                    <td class="fieldValuesCell">
	                        <!--input class="fieldValuesTextField" id="personalData_IDType_TextField" type="text"/-->
	                        <table width="60%">
	                        <tr class="class="fieldRow"">
	                        <td class="fieldCellSize33" id="error_for_expirymonth">
							<select class="fieldValuesTextField" id="personalData_month_of_expirydate" type="text" tabindex=3>
							</select>
	                        </td>
	                        <td class="fieldCellSize33" id="error_for_expiryyear">
	                        <!--input class="fieldValuesTextField" id="personalData_IDType_TextField" type="text"/-->
							<select class="fieldValuesTextField" id="personalData_year_of_expirydate" type="text" tabindex=4>
							</select>
							</td>
							</tr>
							</table>
	                    </td>
	                </tr>                              
	                     <!-- US4365 -->
	                <tr id="personalData_ExpiryDate_Area" class="fieldRow">
	                    <td id="personalData_ExpiryDate" class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="personalData_ExpiryDate"></span>
	                    </td>
	                    <td class="fieldValuesBottomCell">
	                      <!--  <input class="fieldValuesTextField" id="personalData_ExpiryDate_TextField" type="date" tabindex=5></input> -->
                          <div class="row stretchThisTable">
                                <div class="column_one androidPaytdWidth">
                                      <select id="expiryDate_year" class="fieldValuesTextField expirydateBackground" tabindex=5>Year</select>
					            </div>
					            <div class="column_one androidPaytdWidth">
                                      <select id="expiryDate_month" class="fieldValuesTextField expirydateBackground" tabindex=6>Month</select>
					            </div>
					            <div class="column_one androidPaytdWidth">
                                      <select id="expiryDate_day" class="fieldValuesTextField expirydateBackground" tabindex=7>Day</select>
					            </div>
					     </div>
	                    </td>
	                </tr>
	                
	            </table>
			</div>
		</center>
		<br>
		<br>
	<center>
			<div id="personalData_PersonalInfoArea" >
	            <table id="personalInfoTable" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_FirstName"></span>
	                    </td>
	                    <td class="fieldValuesTopCell">
	                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="personalData_FirstName_TextField" type="text" maxlength="40" tabindex=8/>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_Initial"></span>
	                    </td>
	                    <td class="fieldValuesCell">
	                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="1" id="personalData_Initial_TextField" type="text" tabindex=9/>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_LastName"></span>
	                    </td>
	                    <td class="fieldValuesCell">
	                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="personalData_LastName_TextField" type="text" minlength="2" maxlength="40" tabindex=10/>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="personalData_DateOfBirth"></span>
	                    </td>
	                    <td class="fieldValuesBottomCell">
	                        <!--<input class="fieldValuesTextField" id="personalData_DateOfBirth_TextField" data-role='datebox' data-options='{"mode":"datebox", "useNewStyle":false, "dialogEnable":true, "dialogForce":true}' tabindex=9/> -->
	                        <input class="fieldValuesTextField" id="personalData_DateOfBirth_TextField" min="1800-01-01" max="3000-12-31" type="date" tabindex=11></input>
	                    </td>
	                </tr>
	            </table>
			</div>
		</center>
		<br>
		<br>

	<!--
	personalData_AddressInformation						:	"ADDRESS INFORMATION",
	personalData_Address_AddressLine1					:	"Address Line 1",
	personalData_Address_AddressLine2					:	"Address Line 2",
	personalData_Address_SuiteUnit						:	"Suite/Unit",
	personalData_Address_City							:	"City",
	personalData_Address_Province						:	"Province",
		//-->

		<div class="row">
            <div class="column elementWithBoldFont">
              <!-- VZE-265 -->
               <span id="i_icon_current_mailling_address" class="bold fontSize30 currentMailingAddress" data-translationKey="personalData_current_Mailing_address"></span>
            </div>
            <div class="column_one">
        
                <span>
						<a class="tooltip personalInfomation_i_icon" id="personalInfomation_infomation_cityName">
             				<span class="tooltipCityNametext" data-translationKey="personalData_cityNameLongerThen24CharError_msg"></span>
                		</a>
               </span><br>
            </div>
        </div>
        
        <div class="row">
             <div class="column_one">
                <center>
                  <div id="canadaPostLogo" class="personalInfo_CanadianPostLogo"></div>
                </center>
              </div>
              <div class="column_two">
                   <input id="streetAddress" placeholder="Start typing a street address or postal code" type="text" class="streetAddressCanadaPost upperCaseField" tabindex=12 >
              </div>
        </div>
        <br>
         <div id="personalInfo_canadaPost_SearchedAddress" class="personalInfoColorGray fontSize19 width100 uppercase">
            <div class="elementWithBoldFont">
                <span id="address_unit" name="address_unit"></span><span id="address_unit_hyphen">-</span>
                <span id="address_line1" name="address_line1"></span><span>, </span><br>
				<span id="address_line2" name="address_line2"></span><span  id="addressline2_br"><br></span>
				<span id="address_city" name="address_city"></span><span>, </span>			
				<span id="address_province" name="address_province"></span><br>
				<span id="address_postalcode" name="address_postalcode"></span>
            </div>
        </div>
		<br>
		<div id="personalData_canadaPostAddressDescription1" class="fontSize16 personalInfoColorGray elementWithTop17 paddingBottom40">
           <span data-translationKey="personalData_canadaPostAddressPara1"></span>
        </div>
		<center>
            <span id="personalData_EditAddressButton" class="personalInfo_CanadaPostButton greenColor">
                <span data-translationKey="personalData_EditAddressButton"></span>
			</span>
         </center>  
        <div id="personalData_enterAddressManuallySection" class="elementWithTop17 paddingBottom40">
        <div class="row stretchThisTable">
            <div class="column_one tdWidth15">
                <span data-translationKey="personalData_PreviousAddress_SuiteUnit" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_Address_SuiteUnit_TextField" placeholder="Unit #" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text" name="multi-unit" maxlength="10" tabindex=13>
            </div>
            <div  class="column_one">
                <a class="tooltip" href="#" id="contactInfomation_infomation_button">
                    <span class="tooltiptext" data-translationKey="personalData_POBoxToolTipMsg"></span>
                </a>
             </div>
            <div class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine1" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_Address_AddressLine1_TextField" placeholder="Street Number, Street Name" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="AddressLine1" maxlength="40" tabindex=14>
            </div>
             
            <div id="personalData_AddressLine2Section" class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine2" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_Address_AddressLine2_TextField" placeholder="Mailing Address Line 2" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="AddressLine2" maxlength="40" tabindex=15 >
            </div>
        </div><br>
        <div class="row stretchThisTable">
            <div class="column_one tdWidth35">
                <span data-translationKey="personalData_PreviousAddress_City" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_Address_City_TextField" placeholder="City" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="city" maxlength="30" tabindex=16 >
            </div>
            <div class="marginCanadaPostLine2 inputTextAlignment">
                <span data-translationKey="personalData_PreviousAddress_Province" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>               
                <select id="personalData_Address_Province_TextField" placeholder="Province" type="text" class="canadaPostProvinceHeight margin_title_text upperCaseField" name="provinceCode" maxlength="30"></select>
            </div>
            <div class="column_one tdWidth20">
                <span data-translationKey="personalData_PreviousAddress_PostalCode" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_Address_PostalCode_TextField" placeholder="L#L#L#" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput form-control margin_title_text upperCaseField" name="postcode" maxlength="6" tabindex=17>
            </div>
        </div>
        </div>
		<center>
            <span id="personalData_AcceptButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_AcceptButton"></span>
			</span>
         </center>
        <p id="personalInfo_canadaPost_addressSearch_instructions" class="fontSize16 personalInfoColorGray">
            <span data-translationKey="personalData_canadaPostAddress_1"></span><br>
            <span data-translationKey="personalData_canadaPostAddress_2"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_3"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_4"></span>
         </p>
         <br>
         <center>
            <span id="personalData_EnterAddressManuallyButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_EnterAdressManuallyButton"></span>
			</span>
         </center>
		 <br>

		<br>
		<br>
		<!--
	personalData_Title									: 	"Title:",
	personalData_MR										:	"MR",
	personalData_MRS									:	"MRS",
	personalData_MISS									:	"MISS",
	personalData_MS										:	"MS",
	personalData_DR										:	"DR",
		//-->
		
	<center>
		<table class="regularTableEx stretchThisTable tableNoCellsBorder" id="personalData_Title_Group">
			<tr>
				<td class="heightForRadioButtonLabelCell labelPadingLeft15">
					<span class="fieldLabelsTitle" data-translationKey="personalData_Title"></span>
				</td>
			</tr>
			<tr>
				<td>
					<center>
						<fieldset  id="personalData_Address_ResidenceType" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain" class="actionButtonGroup ui-controlgroup ui-controlgroup-horizontal">
							<a id="personalData_MR_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-corner-left ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_MR"></span>
								</span>
							</a>
							<a id="personalData_MRS_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_MRS"></span>
								</span>
							</a>
							<a id="personalData_MISS_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_MISS"></span>
								</span>
							</a>
							<a id="personalData_MS_RadioButton" href="#" data-role="button" data-theme="b" data-inline="true" class="buttonItem ui-btn ui-corner-right ui-controlgroup-last ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_MS"></span>
								</span>
							</a>
						</fieldset >
					</center>
				</td>
			</tr>
		</table>
	</center>
	<br>
	<br>
	<!--


	personalData_Address_ResidenceType					:	"ResidenceType:",
	personalData_Address_Own							:	"Own",
	personalData_Address_Rent							:	"Rent",
	personalData_Address_Parents						:	"With Parents",
	personalData_Address_Other							:	"Other",
		//-->

	<center>
		<table class="regularTableEx stretchThisTable tableNoCellsBorder" id="personalData_ResidenceTypeArea">
			<tr>
				<td class="heightForRadioButtonLabelCell labelPadingLeft15">
					<span class="fieldLabelsTitle" data-translationKey="personalData_Address_ResidenceType"></span>
				</td>
			</tr>
			<tr>
				<td>
					<center>
						<fieldset  id="personalData_Address_ResidenceType" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain" class="actionButtonGroup ui-controlgroup ui-controlgroup-horizontal">
							<a id="personalData_Address_Own_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-corner-left ui-btn-up-c">
								<span id="residance_Own" class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_Address_Own"></span>
								</span>
							</a>
							<a id="personalData_Address_Rent_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
								<span id="residance_Rent" class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_Address_Rent"></span>
								</span>
							</a>
							<a id="personalData_Address_Parents_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
								<span id="residance_Parents" class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_Address_Parents"></span>
								</span>
							</a>
							<!-- US5131 WICI - Add Student Housing label to Residence Type list -->
							<a id="personalData_Address_Student_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
                            	<span id="residance_Student" class="ui-btn-inner" aria-hidden="true">
                                <span class="ui-btn-text" data-translationKey="personalData_Address_Student"></span>
                                </span>
                            </a>
							<a id="personalData_Address_Other_RadioButton" href="#" data-role="button" data-theme="b" data-inline="true" class="buttonItem ui-btn ui-corner-right ui-controlgroup-last ui-btn-up-c">
								<span id="residance_Other" class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_Address_Other"></span>
								</span>
							</a>
						</fieldset>
					</center>
				</td>
			</tr>
		</table>
	</center>
	<br>
	<br>
		<!--
	personalData_Address_MonthlyPayment				:	"Monthly House Payment (per month)",
	personalData_Address_Duration						:	"Duration at Current Address",
		//-->
		<center>
			<div id="personalData_HouseArea" >
	            <table id="addressLookupTable" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_Address_MonthlyPayment"></span>
	                    </td>
	                    <td class="fieldValuesTopCell">
	                        <input class="fieldValuesTextField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="8" id="personalData_Address_MonthlyPayment_TextField" tabindex=18 type='tel' max="999999" min="0" />
	                    </td>
	                </tr>

					<!-- Address duration block... -->

	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="personalData_Address_Duration"></span>
	                    </td>
	                    <td>

	                    	<div id="personalData_Duration">
		                    	<table class="durationControlTable">
								   	<tr>
								   		<td class="fieldValuesCell">
										<div>

											<div id="durationControlDiv">
												<table class="durationTableNoBorder">
													<tr>
														<td id="durationSpanSeparator" class="fieldValuesCell fieldCellSize5 durationSpanMinWidth">
								   							<span data-translationKey="personalData_Address_DurationYears"></span>&emsp;
								   						</td>

								   						<td id="durationCellsSeparator" class="fieldValuesCell fieldCellSize50">
									   						<div id="durationControlLeftPadding" class="numbers-row">
		        												<input type="tel" class="durationInput" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="3" id="personalData_Address_Duration_years_TextField" tabindex=19 min="0" max="100">
		      												</div>
	      												</td>
													</tr>
												</table>
											</div>

											<div id="durationControlDiv">
												<table class="durationTableNoBorder">
													<tr>
														<td class="fieldValuesCell fieldCellSize5 durationSpanMinWidth">
								   							<span data-translationKey="personalData_Address_DurationMonths"></span>&emsp;
								   						</td>

								   						<td id="durationCellsSeparatorPadding" class="fieldValuesCell fieldCellSize50">
									   						<div id="durationControlLeftPadding" class="numbers-row" >
		        												<input type="tel" class="durationInput" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="2" id="personalData_Address_Duration_months_TextField" tabindex=20 min="0" max="11">
		      												</div>
	      												</td>
													</tr>
												</table>
											</div>

										</div>
										</td>
								   	</tr>								   								   								   	
								</table>
							</div>

	                    </td>	                   	                 	                    
	                </tr>	                	                

					<!-- ...Address duration block -->
				
				<!-- US3623 Start --> 
	            <div>	            
	            <tr class="fieldRow" id="personalData_PreviousAddressYesNO">
	                <td class="fieldLabelsBottomCell fieldCellSize33">
	                    	<span data-translationKey="personalData_PreviousAddressWasInCanada"></span>
	                    </td>	                    
	                    <td class="fieldValuesTopCell">
	                        <div >
		                        <select name="flipPrevWasInCanada" id="flipPrevWasInCanada" data-role="slider">
									<option id="flipPrevWasInCanada_no" value="N">No</option>
									<option id="flipPrevWasInCanada_yes" value="Y" selected>Yes</option>
								</select>
							</div> 
	                    </td>
	            </tr>	            
	            </div>    
	            <!-- End -->
	            
	            </table>
			</div>
		</center>
		<br>
		<br>
		<div id='personalData_PreviousAddressArea' >
			<hr>
			<br>
			<br>

	<!--
		personalData_PreviousAddress_Title					:	"Previous Address",
		personalData_PreviousAddress_Description			:	"Only required if less than 2 years at current address",
	//-->	

	<!--
		personalData_PreviousAddress_AddressLine1			:	"Address Line 1",
		personalData_PreviousAddress_AddressLine2			:	"Address Line 2",
		personalData_PreviousAddress_SuiteUnit				:	"Suite/Unit",
		personalData_PreviousAddress_City					:	"City",
		personalData_PreviousAddress_Province				:	"Province"
	//-->

	<!-- US3623 Start -->
	<div id='personalData_PreviousAddressDetailsArea' >
	
            <div class="row">
              <div class="column elementWithBoldFont">
                <!-- VZE-265 -->
                   <span class="pageSubTitle fontSize30" data-translationKey="personalData_PreviousAddress_Title"></span> 
              </div>
              <div class="column_one">
                <span>
						<a class="tooltip personalInfomation_i_icon" id="personalInfomation_infomation_Pre_cityName">
             				<span class="tooltipCityNametext" data-translationKey="personalData_cityNameLongerThen24CharError_msg"></span>
                		</a>
                </span><br>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <span class="pageSubTitle fontSize30" data-translationKey="personalData_PreviousAddress_Description"></span>
            </div>  
          </div>
		<br>
		
        <div class="row">
             <div class="column_one">
                 <center>
                 <div id="canadaPostLogo" class="personalInfo_CanadianPostLogo"></div>
                </center>
              </div>
              <div class="column_two">
                   <input id="streetPreviousAddress" placeholder="Start typing a street address or postal code" type="text" class="streetAddressCanadaPost upperCaseField" tabindex=21 >
              </div>
        </div>
        <br>
         <div id="personalInfo_canadaPost_SearchedPreviousAddress" class="personalInfoColorGray fontSize19 width100 uppercase">
            <div class="elementWithBoldFont">
                <span id="address_preunit" name="address_preunit"></span><span id="address_preunit_hyphen">-</span>
                <span id="address_previousLine1" name="address_previousLine1"></span><span>, </span><br>
				<span id="address_previousLine2" name="address_previousLine2"></span><span  id="address_previousLine2_br"><br></span>
				<span id="address_previousCity" name="address_previousCity"></span><span>, </span>			
				<span id="address_previousProvince" name="address_previousProvince"></span><br>
				<span id="address_previousPostalcode" name="address_previousPostalcode"></span>
            </div>
        </div>
		<br>
		<div id="personalData_canadaPostPreviousAddressDescription1" class="fontSize16 personalInfoColorGray elementWithTop17 paddingBottom40">
           <span data-translationKey="personalData_canadaPostAddressPara1"></span>
        </div>
		<center>
            <span id="personalData_EditAddressPreviousButton" class="personalInfo_CanadaPostButton greenColor">
                <span data-translationKey="personalData_EditAddressButton"></span>
			</span>
         </center>  
        <div id="personalData_enterAddressManuallyPreviousSection" class="elementWithTop17 paddingBottom40">
        <div class="row stretchThisTable">
            <div class="column_one tdWidth15">
                <span data-translationKey="personalData_PreviousAddress_SuiteUnit" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_PreviousAddress_SuiteUnit_TextField" placeholder="Unit #" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="previousMulti-unit" tabindex=22 >
            </div>
            <div  class="column_one">
                <a class="tooltip" href="#" id="personalInfo_pre_year_informationButton">
                    <span class="tooltiptext" data-translationKey="personalData_POBoxToolTipMsg"></span>
                </a>
             </div>
            <div class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine1" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_PreviousAddress_AddressLine1_TextField" placeholder="Street Number, Street Name" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="previousAddressLine1" maxlength="40" tabindex=23>
            </div>
            <div id="personalData_PreviousAddressLine2Section" class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine2" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_PreviousAddress_AddressLine2_TextField" placeholder="Mailing Address Line 2" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="previousAddressLine2" tabindex=24 >
            </div>
        </div><br>
        <div class="row stretchThisTable">
            <div class="column_one tdWidth35">
                <span data-translationKey="personalData_PreviousAddress_City" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_PreviousAddress_City_TextField" placeholder="City" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="previousCity" tabindex=25 >
            </div>
            <div class="marginCanadaPostLine2 inputTextAlignment">
                <span data-translationKey="personalData_PreviousAddress_Province" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>               
                <select id="personalData_PreviousAddress_Province_TextField" placeholder="Province" type="text" class="canadaPostProvinceHeight margin_title_text upperCaseField" name="previousProvinceCode" ></select>
            </div>
            <div class="column_one tdWidth20">
                <span data-translationKey="personalData_PreviousAddress_PostalCode" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="personalData_PreviousAddress_PostalCode_TextField" placeholder="L#L#L#" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput form-control margin_title_text upperCaseField" name="previousPostalcode" tabindex=26>
            </div>
        </div>
        </div>
		<center>
            <span id="personalData_AcceptPreviousButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_AcceptButton"></span>
			</span>
         </center>
        <p id="personalInfo_canadaPost_PreviousAddressSearch_instructions" class="fontSize16 personalInfoColorGray">
            <span data-translationKey="personalData_canadaPostAddress_1"></span><br>
            <span data-translationKey="personalData_canadaPostAddress_2"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_3"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_4"></span>
         </p>
         <br>
         <center>
            <span id="personalData_EnterAddressManuallyPreviousButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_EnterAdressManuallyButton"></span>
			</span>
         </center>
		 <br>
	
			</div>
			<br>
			<br>
		</div>
		</center>
		<! -- US4709 -->
			
		<!--
	personalData_Correspondence							:	"Correspondence:",
	personalData_English								:	"English:",
	personalData_French									:	"French:",
		//-->

	<center>
		<table class="regularTableEx stretchThisTable tableNoCellsBorder" id="personalData_Correspondence_Group">
			<tr>
				<td class="heightForRadioButtonLabelCell labelPadingLeft15">
					<span class="fieldLabelsTitle" data-translationKey="personalData_Correspondence"></span>
				</td>
			</tr>

			<tr>
				<td>
					<center>
						<fieldset  id="personalData_Address_ResidenceType" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain" class="actionButtonGroup ui-controlgroup ui-controlgroup-horizontal">
							<a id="personalData_English_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-corner-left ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_English"></span>
								</span>
							</a>

							<a id="personalData_French_RadioButton" href="#" data-role="button" data-theme="b" data-inline="true" class="buttonItem ui-btn ui-corner-right ui-controlgroup-last ui-btn-up-c">
								<span class="ui-btn-inner" aria-hidden="true">
									<span class="ui-btn-text" data-translationKey="personalData_French"></span>
								</span>
							</a>
						</fieldset >
					</center>
				</td>
			</tr>
		</table>
	</center>
	<br>
	<span class="phoneNote" data-translationKey="personalData_Note"></span>
	<br>
	<br>
	<!-- US3979 //-->	
		
</script>
