<script id="WICIMobilePaymentsScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout">
		<br>
		<br>
		<div class="overlay" id="mobilePaymentHandoutTabToRepDialog-container">
  			<div class="handoutTabToCustomerpopup">
    			<p class="text-left" data-translationKey="mobilePayment_HandoutTabToRepDialogContent"></p>
    			<div>      				
      				<button class="dialog-btn-ok" id="mobilePaymentHandoutToRepOk" data-translationKey="mobilePayment_HandoutTabToRepDialogOk"></button>
					<button class="dialog-btn-cancel" id="mobilePaymentHandoutToRepCancel" data-translationKey="mobilePayment_HandoutTabToRepDialogCancel"></button>
    			</div>
  			</div>
		</div>	
	    <div class="mobilePaymentContentSize">
	    	<table id="mobilePhoneField"  class="stretchThisTable margingMobilePhoneField">
	        	<tr class="fieldRow">
	            	<td class="fieldEmailInfoCell fieldCellSize33">
	                	<span data-translationKey="mobilePayment_mobilePhone"></span>
	                </td>
	                <td class="fieldValuesTopCell">
	                	<input class="fieldValuesTextField" id="mobilePayment_mobilePhone_TextField" type='tel' maxlength="10" />
	                </td>
	        	</tr>
	    	</table>
	    		<div id="mobilePayments">
				<p class="pageSubTitle marginBottom10" data-translationKey="personalData_MobilePayments" ></p>
				<p class="personalInfoText" data-translationKey="personalData_MobilePayments_Para1" ></p>
				<p class="personalInfoText" data-translationKey="personalData_MobilePayments_Para3" ></p>							
				
				<table id="consentGrantedRadioButtons" class="personalInfoAndroidApplePayTable tableNoCellsBorder">
					<tr>
						<td class="androidAppleNothankstdWidth">
						    <div class="agentRadiobutton">
	                                	<input type="radio" id="androidPay_CheckField" class="topAndroidApple" name="yesNothanksRadio" value="noThanks">
						     </div>
							<a href="#" id="androidPay" class="androidApplePay" data-lang-class>
                        		<span class="pay_Labels" data-translationKey="personalData_MobilePayments_Para4"></span>
                    		</a>
						</td>
						<td class="androidAppleNothankstdWidth">
						    <div class="agentRadiobutton">
	                                	<input type="radio" id="applePay_CheckField" class="topAndroidApple" name="yesNothanksRadio" value="noThanks">
						    </div>
							<a href="#" id="applePay" class="androidApplePay" data-lang-class>
                        		<span class="pay_Labels" data-translationKey="personalData_MobilePayments_Para5"></span>
                    		</a>
						</td>
						<td class="androidAppleNothankstdWidth">
						     <div class="agentRadiobutton">
	                                	<input type="radio" id="nothanks_CheckField" class="topAndroidApple" name="yesNothanksRadio" value="noThanks">
						     </div>
						      <a href="#" id="noThanks" class="androidApplePay radioTextWidth agentRadioButton" data-translationKey="personalData_AndroidorApplePay_NoThanks"></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
        <div id="noteForMobilePayment" class="footerNoteMobilePayment">
		      <p class="personalInfoIncText" data-translationKey="personalData_TermsandConditions_Para1"></p>
          	  <p class="personalInfoIncText" data-translationKey="personalData_TermsandConditions_Para2"></p>
          	  <br>
	          <span class="phoneNote" data-translationKey="personalData_Note"></span>
	   </div>        
	
	</div>
     
</script>
