<script id="TrainingModuleStartScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="trainingModuleStartScreen_PageContents" >
        <br>
        <br>
        <!-- <div class="flipAlignRight">
        <select id="language_choser" data-role="slider" >
            <option value="E" selected>En</option>
            <option value="F">Fr</option>
        </select>
        <br>
        <br>
        </div> 
        //-->
        <center>
            <span class="training_title" data-translationKey="startTrainingModuleScreenTitle"></span>
        </center>	
        <br>
        <br>
        <br>
        <br>
        <div id="startTrainingScreen_FieldsArea">
            <center>
                <div class="wrapLoginTable">
                    <table id="startTrainingFieldsTable" class="loginTableWidth">
                        <tr class="fieldRow">
                            <td class="fieldLabelsTopCell fieldSize55">
                                <span data-translationKey="loginScreen_Location_Number"></span>
                            </td>
                            <td class="fieldValuesTopCell">
                                <input class="fieldValuesTextField upperCaseField" id="locationNumberTextField1" type="text" maxlength="5" tabindex=2/>
                            </td>
                        </tr>
                        <tr class="fieldRow ">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_First_Name"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField upperCaseField" id="firstNameTextField1" maxlength="30"  type="text" tabindex=3/>
                            </td>
                        </tr>
                        <tr class="fieldRow">
                            <td class="fieldLabelsBottomCell fieldSize55">
                                <span data-translationKey="loginScreen_Last_Name"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField upperCaseField" id="lastNameTextField1" maxlength="30" type="text" tabindex=4/>
                            </td>
                        </tr>
                            <tr class="fieldRow hidden">
                            <td class="fieldLabelsBottomCell fieldSize55">
                                <span data-translationKey="loginScreen_EmployeeNumberID_Label"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField" id="employeeNumberIDTextField1" type="tel" maxlength="9" tabindex=2/>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
        <br>
        <br>
        <br>
        <center>
            <span id="startTrainingScreen_startTraining" class="button greenflat loginButtonWidth">
                <span class="buttonText" data-translationKey="startTraining_Button_label"></span>
            </span>
            <br>
        </center>  			
    </div>
</script>