<script id="WICIContactInfoScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="EmailInfoSCreen_PageContents">
		<div>
			<p class="bold fontSize40 marginBlockEnd0" data-translationKey="contactInfo_Heading1"></p>
			<p class="fontSize25 marginBlockStart25"><span data-translationKey="contactInfo_Para1"></span></p>
			<p id="contactinfo_HeadingId" class="bold fontSize30 marginStartEnd"><span id="i_icon" data-translationKey="contactInfo_Heading2"></span>
			 <span>
				<a class="tooltip contactInfomation_i_icon" id="contactInfomation_infomation_phone">
             		<span class="tooltipphonetext" data-translationKey="contactInfo_PhoneToolTipMsg"></span>
                </a>
             </span><br>  
			</p>
			<p class="fontSize20 colorGray"><span data-translationKey="contactInfo_Para2"></span></p>
			<center>
		    	<table id="personalInfoTable" class="stretchThisTable personalInfoPhoneTable">
		        	<tr class="fieldRow">
		            	<td class="fieldLabelsTopCell fieldCellSize33">
		                	<span data-translationKey="personalData_PrimaryPhone"></span>
		                </td>
		                <td class="fieldValuesCell">
		                	<input class="contactInfoFieldValues contactInfoUIMask" id="contactInfo_HomePhone_TextField" type='tel' maxlength="10" tabindex=28/>
		                </td>
		            </tr>
	        	</table>
            </center>
            <br>
	        <table class="radioButtonTableNoBorderPersonalInfo elementWithLeft25"  id="primaryPhoneRadioGroup">
            	<tr>
                	<td>
                    	<div class="agentRadiobutton">
                        	<input type="radio" id="primaryLandline_CheckField" name="primayRadios" value="primaryLandline">
                        </div> 
                    </td>
                    <td class="radioTextWidth">
                    	<span class="agentRadioButton" data-translationKey="personalData_Landline"></span>
                    </td>
                    <td>
                    	<div class="agentRadiobutton">
                        	<input type="radio" id="primaryMobile_CheckField" name="primayRadios" value="primaryMobile">
						</div>    
                    </td>
                    <td class="radioTextWidth">
                    	<span class="agentRadioButton" data-translationKey="personalData_Mobile"></span>
                    </td>
               </tr>
            </table>
            <br>
            <br>
            <center>
	        	<table id="personalInfoTable" class="stretchThisTable personalInfoPhoneTable">
		        	<tr class="fieldRow">
		            	<td class="fieldLabelsTopCell fieldCellSize33">
		                	<span data-translationKey="personalData_SecondaryPhone"></span>
		                </td>
		                <td class="fieldValuesBottomCell">
		                	<input class="contactInfoFieldValues contactInfoUIMask" id="contactInfo_CellPhone_TextField" type='tel' maxlength="10" tabindex=29/>
		                </td>
		            </tr>
	        	</table>
            </center>
            <br>
           <table class="radioButtonTableNoBorderPersonalInfo elementWithLeft25" id="secondaryPhoneRadioGroup">
           		<tr>
                	<td>
                    	<div class="agentRadiobutton">
                        	<input type="radio" id="secondaryLandline_CheckField" name="secondaryRadios" value="secondaryLandline">
                        </div> 
                    </td>
                    <td class="radioTextWidth">
                    	<span class="agentRadioButton" data-translationKey="personalData_Landline"></span>
                    </td>
                    <td>
                    	<div class="agentRadiobutton">
                        	<input type="radio" id="secondaryMobile_CheckField" name="secondaryRadios" value="secondaryMobile">
						</div>    
                    </td>
                    <td class="radioTextWidth">
                    	<span class="agentRadioButton" data-translationKey="personalData_Mobile"></span>
                    </td>
                </tr>
            </table>
			<br>
			<br>

			<p class="fontSize25 bold paragraphAlignmentStartEndPoint5"><span data-translationKey="contactInfo_Heading3"></span></p>
			<p class="fontSize20 colorGray paragraphAlignmentStartPoint5"><span data-translationKey="contactInfo_Para3_1"></span></p>

			<center>
	        	<table id="personalInfoTable" class="stretchThisTable personalInfoPhoneTable">
		        	<tr class="fieldRow">
		            	<td class="fieldLabelsTopCell fieldCellSize33">
		                	<span data-translationKey="contactInfo_EmailAddress"></span>
		                </td>
		                <td class="fieldValuesBottomCell">
		                	<input class="contactInfoFieldValues" id="contactInfo_EmailAddress_TextField" type='email' maxlength="60"/>
		                </td>
		            </tr>
	        	</table>
            </center>

			<p class="fontSize30 bold paragraphAlignmentHeading4"><span data-translationKey="contactInfo_Heading4"></span></p>
			<p class="fontSize20 colorGray paragraphAlignmentStartPoint5"><span data-translationKey="contactInfo_Para41"></span></p>

			<div class="contactInfoCheckBoxOuterBox">
				<div class="agreementBoxContainerEX" style="display: table" >
					<div class="rightContaier">
						<div class="contactInfoCheckBox">
							<input type="checkbox" id="receiveEstmtConsent_CheckBox"> <label for="receiveEstmtConsent_CheckBox"></label>
						</div>
					</div>
					<div class="leftContainer opCheckBoxLabel fontSize20" style="padding-top: 0; display: table-cell; vertical-align: middle;">
						<label data-translationkey="contactInfo_Para3"></label>
					</div>
				</div>
			</div>

			<p class="fontSize25 bold paragraphAlignment"><span data-translationKey="contactInfo_Heading5"></span></p>

			<table class="stretchThisTable borderZero" >
 	  			<div class="rightContaier align-vertical-middle-item">
					<div class="receiveEstmt_CheckBox">
						<p class="receiveEmail_TextArea bold" data-translationKey = "contactInfo_Para51"></p>
						<p class="receiveEmail_TextArea" data-translationKey = "contactInfo_Para52"></p>
					</div>
	    		</div>
			</table>
		
			<p class="fontSize30 bold paragraphAlignmentHeading4"><span data-translationKey="contactInfo_Heading6"></span></p>
			<p class="fontSize25 paragraphAlignmentStartZero" data-translationKey="contactInfo_Para5"></p>

		</div>
	</div>
	<div class="padding5centBlock">
		<div>
			{{if activationItems.getModel('chooseProductModel').get('productCard') == "OMX"}}
				<div class="contactInfo5CentMoney">
					<div style="display: table">
						<div class="rightContaier contactInfoLeftTriangleImage">
							<div>
								<img src="app/images/contactInfo5centIcon.png" width="80">
							</div>
						</div>
						<div class="leftContainer opCheckBoxLabel fontSize20" style="padding-top: 0; display: table-cell; vertical-align: middle;">
							<label data-translationkey="contactInfo_Heading7"></label>
						</div>
					</div>
				</div>
		    {{/if}} 
		</div>
	</div>
	<br>
	<div class="contactInfoBottomLayout ScreenLayout">
		<div>
			<div class="contactInfoCheckBoxOuterBox">
				<div class="agreementBoxContainerEX" style="display: table">
				<div class="rightContaier contactInfoCheckboxAlignment">
				<div class="contactInfoCheckBox">
					<input type="checkbox" id="receiveEmail_CheckBox"> <label for="receiveEmail_CheckBox"></label>
				</div>
				</div>
				<div class="leftContainer opCheckBoxLabel fontSize25" style="padding-top: 0; display: table-cell; vertical-align: middle;">
					<label data-translationkey="contactInfo_Para6"></label>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>

</script>
