<script id="WICIFinancialScreen-template" type="text/x-jquery-tmpl">	
	<div class="ScreenLayout" id="FEScreen_PageContents">
		<br/>
		<br/>		
		<center>
		<span id="FEClickHere" class="pageTitle" data-translationKey="finEmpInfo_PageTitle"></span>
		</center>
		<br/>
		<br/>
		<center>
			<table class="stretchThisTable" id="finEmpInfo_EmpType_Group">
				<tr>
					<td class="fieldLabelsSingleCell ">
						<span class="fieldLabelsTitle" data-translationKey="finEmpInfo_EmpType"></span>						
					</td>
					<td class="fieldValuesOneCell">
						 <select class="fieldValuesTextField" id="finEmpInfo_EmplType_TextField" tabindex=1>
					</td>
				</tr>
			</table>
		</center>	
		<br/>
		<br/>
		<center>
			<div id="FE_EmploymentArea" >
	            <table id="FE_EmploymentArea_Table" class="stretchThisTable">
	                <tbody id="FE_EmploymentArea1" >
		                <tr class="fieldRow">
		                    <td class="fieldLabelsTopCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_JobCategory"></span>
		                    </td>
		                    <td class="fieldValuesTopCell">
		                        <!--<input class="fieldValuesTextField" id="finEmpInfo_JobCategory_TextField" type="text"/> -->
		                        <select class="fieldValuesTextField" id="finEmpInfo_JobCategory_SelectField" tabindex=2>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_JobTitle"></span>
		                    </td>
		                    <td class="fieldValuesCell">		                        		                        	
			                        <select class="fieldValuesTextField" id="finEmpInfo_JobTitle_SelectField" type="text"> </select>						
		                    </td>
		                </tr>
		                <!-- US3621 -->
		                <!-- Start -->		                
		                <tr class="fieldRow" id="finEmpInfo_JobTitleOtherArea">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_JobTitleOther"></span>
		                    </td>
		                    <td class="fieldValuesCell">		                        
		                        <input class="fieldValuesTextField upperCaseField" id="finEmpInfo_JobTitle_TextField" type="text" maxlength="30" tabindex=3/>
		                    </td>
		                </tr>		                
		                <!-- End -->
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_EmployerName"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="finEmpInfo_EmployerName_TextField" type="text" maxlength="36" tabindex=4/>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_EmployerCity"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="finEmpInfo_EmployerCity_TextField" type="text" maxlength="24" tabindex=5/>
		                    </td>
		                </tr>

		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_EmployerPhone"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesPhoneField" id="finEmpInfo_EmployerPhone_TextField" type='tel' maxlength="10" tabindex=6/>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_HowLongCurrentEmployer"></span>
		                    </td>
<!-- ######################################## -->
							<td>
		                    	<div id="finEmpInfo_Duration">
			                    	<table class="durationControlTable">
									   	<tr>
									   		<td class="fieldValuesCell>
											<div>								
			
												<div id="durationControlDiv">
													<table class="durationTableNoBorder">
														<tr>
															<td id="durationSpanSeparator" class="fieldValuesCell fieldCellSize5 durationSpanMinWidth">
									   							<span data-translationKey="personalData_Address_DurationYears"></span>&emsp;
									   						</td>
								   			
								   							<td id="durationCellsSeparator" class="fieldValuesCell fieldCellSize50">
									   							<div id="durationControlLeftPadding" class="numbers-row">
		        													<input type="tel" class="durationInput" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="3" id="finEmpInfo_Years_Slider" min="0" max="100" tabindex=7>
		      													</div>
	      													</td>
														</tr>	
													</table>
												</div>
	
												<div id="durationControlDiv">
													<table class="durationTableNoBorder">
														<tr>
															<td class="fieldValuesCell fieldCellSize5 durationSpanMinWidth">
									   							<span data-translationKey="personalData_Address_DurationMonths"></span>&emsp;
									   						</td>
	
									   						<td id="durationCellsSeparatorPadding" class="fieldValuesCell fieldCellSize50">
										   						<div id="durationControlLeftPadding" class="numbers-row" >
		    	    												<input type="tel" class="durationInput" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="2" id="finEmpInfo_Months_Slider" min="0" max="11" tabindex=8>
		      													</div>
	      													</td>
														</tr>	
													</table>
												</div>		
										
											</div>
											</td>
								   		</tr>								   	
									</table>
								</div>

							</td>
<!--
		                    <td class="fieldValuesCell">
		                    	<div id="finEmpInfo_Duration">	
								   <table class="durationControlTable tableNoBorder">
									   	<tr>
									   		<td class="fieldValuesCell fieldCellSize5">
									   			<span data-translationKey="personalData_Address_DurationYears"></span>&emsp;
									   		</td>
									   		
									   		<td class="fieldValuesCell fieldCellSize20 durationRightBorder">
										   		<div class="numbers-row">
			        								<input type="tel" class="durationInput" id="finEmpInfo_Years_Slider" min="0" max="100" tabindex=9>
			      								</div>
		      								</td>
		      								
		      								<td class="fieldValuesCell fieldCellSize5 durationYearCell">
									   			<span data-translationKey="personalData_Address_DurationMonths"></span>&emsp;
									   		</td>
									   		<td class="fieldValuesCell fieldCellSize20">
										   		<div class="numbers-row" >
			        								<input type="tel" class="durationInput" id="finEmpInfo_Months_Slider" min="0" max="11" tabindex=10>
			      								</div>
		      								</td>
		      								<td class="fieldCellSize50">
		      								</td>
									   	</tr>
								   </table>
							   </div>
		                    </td>
-->

		                </tr>
		            </tbody>
	                <tbody>
		                <tr class="fieldRow">
		                    <td id="finEmpInfo_GrossIncome_Lable" class="fieldLabelsTopCell fieldCellSize33 withBorderTop">
		                        <span data-translationKey="finEmpInfo_GrossIncome"></span>
		                    </td>
		                    <td id="finEmpInfo_GrossIncome_Value" class="fieldValuesTopCell withBorderTop">
		                        <input class="fieldValuesTextField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="finEmpInfo_GrossIncome_TextField" maxlength="10" type='tel' tabindex=11/>
		                    </td>
		                </tr>
		                <!-- US3960 Start -->
		                <tr class="fieldRow">
		                    <td id="finEmpInfo_GrossHouseholdIncome_Lable" class="fieldLabelsTopCell fieldCellSize33 withBorderTop">
		                        <span data-translationKey="finEmpInfo_GrossHouseholdIncome"></span>
		                    </td>
		                    <td id="finEmpInfo_GrossHouseholdIncome_Value" class="fieldValuesCell withBorderTop">
		                        <input class="fieldValuesTextField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="finEmpInfo_GrossHouseholdIncome_TextField" maxlength="10" type='tel' tabindex=11/>
		                    </td>
		                </tr>
		                <!-- End -->
		                <tr class="fieldRow">
		                    <td class="fieldLabelsBottomCell fieldCellSize33">
		                        <span data-translationKey="finEmpInfo_SIN"></span>
		                    </td>
		                    <td class="fieldValuesBottomCell">
		                        <input class="fieldValuesTextField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="9" id="finEmpInfo_SIN_TextField" type='tel' tabindex=12/>
		                    </td>
		                </tr>
	                </tbody>
	            </table>
			</div>
		</center>
		<br/>
		<br/>
		<!--<center>
			<div id="FE_BankingProducts" >
	            <table id="bankingProductsTable" class="stretchThisTable tableNoCellsBorder">
	                <tr class="fieldRow">
	                    <td class="fieldTableHeaderTopCell" colspan="4">
	                        <span class="fieldLabelsTitle" data-translationKey="finEmpInfo_BankingProducts"></span>
	                    </td>	                    
	                </tr>	                
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldLabelsCell25">
	                        <span data-translationKey="finEmpInfo_VISAMCAMEX"></span>
	                    </td>
	                    <td class="fieldValuesCellFlip">
	                        <div class="flipAlignCenter">
		                        <select name="flipVISAMCAMEX" id="flipVISAMCAMEX" data-role="slider">
									<option id="flipVISAMCAMEX_no" value="N" selected>No</option>
									<option id="flipVISAMCAMEX_yes" value="Y">Yes</option>
								</select>
							</div> 
	                    </td>	                    
	                    <td class="fieldLabelsCell fieldLabelsCell25">
	                    	<span data-translationKey="finEmpInfo_BankLoan"></span>
	                    </td>	                    
	                    <td class="fieldValuesCellFlip">
	                        <div class="flipAlignCenter">
		                        <select name="flipBankLoan" id="flipBankLoan" data-role="slider">
									<option id="flipBankLoan_no" value="N" selected>No</option>
									<option id="flipBankLoan_yes" value="Y">Yes</option>
								</select> 
							</div>
	                    </td>
	                </tr>	                
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldLabelsCell25">
	                        <span data-translationKey="finEmpInfo_StoreCard"></span>
	                    </td>
	                    <td class="fieldValuesCellFlip">
	                    	<div class="flipAlignCenter">
		                        <select name="flipStoreCard" id="flipStoreCard" data-role="slider">
									<option id="flipStoreCard_no" value="N" selected>No</option>
									<option id="flipStoreCard_yes" value="Y">Yes</option>
								</select> 
							</div>
	                    </td>	                    
	                    <td class="fieldLabelsCell fieldLabelsCell25">
	                    	<span data-translationKey="finEmpInfo_ChequingAcct"></span>
	                    </td>	                    
	                    <td class="fieldValuesCellFlip">
	                        <div class="flipAlignCenter">
		                        <select name="flipChequingAcct" id="flipChequingAcct" data-role="slider">
									<option id="flipChequingAcct_no" value="N" selected>No</option>
									<option id="flipChequingAcct_yes" value="Y">Yes</option>
								</select>
							</div> 
	                    </td>
	                </tr>	                
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldLabelsCell25">
	                        <span data-translationKey="finEmpInfo_GasCard"></span>
	                    </td>
	                    <td class="fieldValuesCellFlip">
	                        <div class="flipAlignCenter">
		                        <select name="flipGasCard" id="flipGasCard" data-role="slider">
									<option id="flipGasCard_no" value="N" selected>No</option>
									<option id="flipGasCard_yes" value="Y">Yes</option>
								</select> 
							</div>
	                    </td>	                    
	                    <td class="fieldLabelsCell fieldLabelsCell25">
	                    	<span data-translationKey="finEmpInfo_SavingsAcct"></span>
	                    </td>	                    
	                    <td class="fieldValuesCellFlip">
	                        <div class="flipAlignCenter">
		                        <select name="flipSavingsAcct" id="flipSavingsAcct" data-role="slider">
									<option id="flipSavingsAcct_no" value="N" selected>No</option>
									<option id="flipSavingsAcct_yes" value="Y">Yes</option>
								</select> 
							</div>
	                    </td>
	                </tr>	                
	            </table>
			</div>-->
		</center>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>	
</script>		