<script id="WICISummaryScreen-template" type="text/x-jquery-tmpl">
	<div class="ScreenLayout" id="SummaryScreen_PageContents">
	 	<br>
	 	<br>
		<br>
		<span class="pageSubTitle" data-translationKey="summary_Status_SubTitle"></span>
		<span class="pageSubTitle" data-translationKey="summary_Status_NotReady" id="summary_Status_NotReady"></span>
		<span class="pageSubTitle" data-translationKey="summary_Status_Ready" id="summary_Status_Ready"></span>
	 	<br>
	 	<br>
		<br>
		<div class="highlighterDIV" id="highlighterDIVPA" name="highlighterDIVPA">
				<center>
						<p class="highlighterHeader" id="highlighterHeaderPA" name="highlighterHeaderPA"><span data-translationKey="summary_highlighterHeader"/></p>
				</center>
         	<center> 
 		    <!-- Before - US3556 Mark's	<span class="pageSubTitle" data-translationKey="summary_highlighter_SubTitle"></span> -->
			<!-- US3556 Mark's -->
			{{if activationItems.getModel('loginScreen').get('locationFieldID') >= 6000 && activationItems.getModel('loginScreen').get('locationFieldID') <= 6999}}			
				<span class="pageSubTitle" data-translationKey="summary_marks_highlighter_SubTitle"></span>
			<!-- US4432 FGL -->
			{{else activationItems.getModel('loginScreen').get('locationFieldID') >= 4000 && activationItems.getModel('loginScreen').get('locationFieldID') <= 5999}}
				<span class="pageSubTitle" data-translationKey="summary_FGL_highlighter_SubTitle"></span>
			{{else}}
				<span class="pageSubTitle" data-translationKey="summary_highlighter_SubTitle"></span>
			{{/if}}
			</center>
		</div>
        <br>
		<br>
		<br>
		<center>
			<span class="pageTitle" data-translationKey="summary_PageTitle"></span>
		</center>
		<br>
		<br>
		<!--<center>//-->
			<!--
	summary_SelectProduct_Card							:	"Card",
	summary_SelectProduct_PromoCode						:	"Promo Code",
	summary_SelectProduct_Province						:	"Province",
			//-->
			<div id="summary_SelectedProduct_Area" >
				<span class="pageSubTitle" data-translationKey="summary_SelectProduct_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_SelectedProductTable" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_SelectProduct_Card"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                    
	                    <!--	<span data-translationKey=${ activationItems.getCardFriendlyName(activationItems.getModel('chooseProductModel').get('productCard')) }></span> //-->
	                    
	                    {{if activationItems.getModel('chooseProductModel').get('productCard') === 'OMR' }}
							<span data-translationKey="signature_CashAdvantageMasterCard" ></span>
						{{else activationItems.getModel('chooseProductModel').get('productCard') === 'OMP' }}
							<span data-translationKey="signature_GasAdvantageMasterCard" ></span>
					    {{else activationItems.getModel('chooseProductModel').get('productCard') === 'OMZ' }}
							<span data-translationKey="signature_World_ELiteMasterCard" ></span>		
						{{else}}
							<span data-translationKey="signature_OptionsMasterCard" ></span>
						{{/if}}
	                    
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_SelectProduct_PromoCode"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
							<span id="promocode" data-translationKey=${activationItems.getModel('chooseProductModel').get('agencyProgram') == "BLANK"? "BLANK": /*activationItems.getModel('chooseProductModel').get('agencyPromoCode')*/ app.agencyPromoCode}></span>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="summary_SelectProduct_Province"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesBottomCell">
	                         <span data-translationKey=${activationItems.getProvinceNameByValue(activationItems.getModel('chooseProductModel').get('province'))}></span>
	                    </td>
	                </tr>
	            </table>
			</div>
		<!--</center>//-->
		<!--
		personalData_CTMNumber_TextField					:	"",
	  personalData_CTMAccountText      					:	""
		//-->
        {{if activationItems.getModel('chooseProductModel').get('productCard')=='OMX' }}
        <center>
			<div id="personalData_MyCTMArea" >
			<br>
			<br>
	            <table id="myCTMTable" class="stretchThisTable">
					<tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_CTMField"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                         ${activationItems.getModel('personalData').get('loyaltyMembershipNumber')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td  style="border-left:0px;border-bottom:0px;outline-style: none;margin: 0px;">
	                    </td>
	                    <td class="fieldValuesCell">
							<p><span data-translationKey="personalData_CTMAccountText"></span></p>
	                    </td>
	                </tr>
	            </table>
			</div>
		</center>
        {{/if}}

		<!--</center>//-->
		<!--
	summary_TellAboutYourself_SubTitle					:	"Tell Us About Yourself",
	personalData_IDType					:	"ID Type",
	personalData_PlaceOfIssue				:	"Place of Issue",
	personalData_IDNumber					:	"ID Number",
	personalData_ExpiryDate					:	"ID Expiry Date", // US4364

		//-->
			<div id="summary_TellUsAboutYourself_Area1">
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_TellAboutYourself_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_TellUsAboutYourself_Table" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_IDType"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                    	<!-- US4078 //-->	                    	
	                    	 {{if activationItems.getModel('personalData').get('placeofissue').toUpperCase() === "BC" && 
	                    	 		activationItems.getModel('personalData').get('idtype').toUpperCase() === "HE" }}			
								<span data-translationKey=${activationItems.getPersonalDataIdTypeNameByValue('BS')}></span>
							{{else}}
								<span data-translationKey=${activationItems.getPersonalDataIdTypeNameByValue(activationItems.getModel('personalData').get('idtype'))}></span>
							{{/if}}	                    								
	                        <!--${ activationItems.getModel('personalData').get('idtype') } //-->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_PlaceOfIssue"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                    	<span data-translationKey=${activationItems.getProvinceNameByValue(activationItems.getModel('personalData').get('placeofissue'))}></span>
	                    	<!--${activationItems.getModel('personalData').get('placeofissue')} -->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td id="personalData_IDNumber_Label" class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_IDNumber"></span>
	                    </td>
	                    <td id="personalData_IDNumber_Value" class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData').get('idnumbers')}
	                    </td>
	                </tr>
	                
	                <!-- US4365 -->
	                <tr id="summary_TellUsAboutYourself_ExpiryDate_Area" class="fieldRow">
	                    <td id="personalData_ExpiryDate" class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="personalData_ExpiryDate"></span>
	                    </td>
	                    <td id="expiryDate_id" class="fieldValuesBottomCell">
                              ${activationItems.getFormatedDate(activationItems.getModel('personalData').get('idExpiryDate'))}
	                    </td>
	                </tr>
	                
	            </table>
			</div>
<!--
	summary_TellAboutYourself_ApplicantInfo             :   "Applicant Information",
    personalData_Title                                  : 	"Title",
	summary_TellAboutYourself_FirstName					:	"First Name",
	summary_TellAboutYourself_Initial					:	"Initial",
	summary_TellAboutYourself_LastName					:	"Last Name",
	summary_TellAboutYourself_DateOfBirth				:	"Date of Birth",
	personalData_EmailAddress                           :   "Email Address",
	summary_TellAboutYourself_Email_Consent             :   "E-mail Marketing Consent?",
	summary_TellAboutYourself_HomePhone					:	"Home Phone",
	summary_TellAboutYourself_CellPhone					:	"Cellular Phone",
	summary_TellAboutYourself_Correspondence			:	"Correspondence",
//-->
            <br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_TellAboutYourself_ApplicantInfo"></span>
				<br>
			<div id="summary_TellUsAboutYourself_Area2" >
				<br>
	            <table id="summary_TellUsAboutYourself_Table" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="personalData_Title"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        <!-- ${ activationItems.getModel('personalData').get('title') == null ? '' :  activationItems.getModel('personalData').get('title')} -->
							<span id="summary_nameTitle">${ activationItems.getModel('personalData').get('title') == null ? '' : activationItems.getModel('personalData').get('title')}</span>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_FirstName"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                        ${activationItems.getModel('personalData').get('firstName')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_Initial"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData').get('initial')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_LastName"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData').get('lastName')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_DateOfBirth"></span>
	                    </td>
	                    <td id="birthDate_id_1" class="fieldLabelsCell">
	                    	 ${activationItems.getFormatedDate(activationItems.getModel('personalData').get('birthDate'))}
	                         <!--${activationItems.getModel('personalData').get('birthDate')} -->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="personalData_EmailAddress"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('emailInfoScreen').get('email')}
	                    </td>
	                </tr>
 					<tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_Email_Consent"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                              {{if activationItems.getModel('emailInfoScreen').get('email') !== null}}
	                              <span data-translationKey="${ activationItems.getModel('emailInfoScreen').get('receiveEmail') == "Y" ? "yes" : activationItems.getModel('emailInfoScreen').get('receiveEmail') == "N"? "no" : "" }"></span>
	                              {{/if}}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_HomePhone"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getFormatedPhone(activationItems.getModel('personalData').get('homePhone'))}
	                         <!--${activationItems.getModel('personalData').get('homePhone')}-->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_CellPhone"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                        ${activationItems.getFormatedPhone(activationItems.getModel('personalData').get('cellPhone'))}
	                         <!--${activationItems.getModel('personalData').get('cellPhone')} -->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="summary_TellAboutYourself_Correspondence"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesBottomCell">
	                    	<span data-translationKey=${activationItems.getCorrespondenceFriendlyName(activationItems.getModel('personalData').get('correspondence'))}></span>
	                         <!--${activationItems.getModel('personalData').get('correspondence')} -->
	                    </td>
	                </tr>
	            </table>
			</div>
<!--
	summary_Address_SubTitle							:	"Address Information",

	summary_Address_PostalCode							:	"Postal Code",
	summary_Address_StreetNumber						:	"Street Number",
	summary_Address_StreetName							:	"Street Name",
	summary_Address_AddressLine2						:	"Address Line 2",
	summary_Address_SuiteUnit							:	"Suite/Unit",
	summary_Address_City								:	"City",
	summary_Address_Province							:	"Province",

	summary_Address_ResidenceType						:	"Residence Type",
	summary_Address_MonthlyHousePayment					:	"Monthly House Payment",
	summary_Address_DurationCurrentAddress				:	"Duration at Current Address",

//-->

			<div id="summary_Address_Area1" >
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_Address_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_Address_Table" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_PostalCode"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        ${ activationItems.getModel('personalData2_Address').get('postalcode') }
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_StreetNumber"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                        ${activationItems.getModel('personalData2_Address').get('streetnumber')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_StreetName"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('addressline1')}
	                    </td>
	                </tr>
	               <!--  <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_AddressLine2"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('addressline2')}
	                    </td>
	                </tr>  -->
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_SuiteUnit"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('suiteunit')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_City"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('city')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_Province"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         <span data-translationKey=${activationItems.getProvinceNameByValue(activationItems.getModel('personalData2_Address').get('province'))}></span>
	                         <!--${activationItems.getModel('personalData2_Address').get('province')} -->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_ResidenceType"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         <span data-translationKey=${activationItems.getResidenceTypeFriendlyName(activationItems.getModel('personalData2_Address').get('house'))}></span>
	                         <!--${activationItems.getModel('personalData2_Address').get('house')} -->
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_MonthlyHousePayment"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         <span id="summary_housingpayment"></span>
                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_DurationCurrentAddress"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesBottomCell">
	                         ${activationItems.getDurationValue(activationItems.getModel('personalData2_Address').get('years'))} <span data-translationKey="summary_Years" />,
							 ${activationItems.getDurationValue(activationItems.getModel('personalData2_Address').get('months'))} <span data-translationKey="summary_Months" />
	                         <!--${activationItems.getModel('personalData2_Address').get('years')} -->
	                    </td>
	                </tr>
	            </table>
			</div>
		<!--
	summary_PreviousAddress_SubTitle					:	"Previous Address Information",
	summary_Address_PostalCode							:	"Postal Code",
	summary_Address_StreetNumber						:	"Street Number",
	summary_Address_StreetName							:	"Street Name",
	summary_Address_AddressLine2						:	"Address Line 2",
	summary_Address_SuiteUnit							:	"Suite/Unit",
	summary_Address_City								:	"City",
	summary_Address_Province							:	"Province",
		//-->
		{{if activationItems.getModel('personalData2_Address').get('years')<2 }}
			<div id="summary_Address_Area2" >
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_PreviousAddress_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_Address_Table" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_PostalCode"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        ${ activationItems.getModel('personalData2_Address').get('postalcode_prev') }
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_StreetNumber"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                        ${activationItems.getModel('personalData2_Address').get('streetnumber_prev')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_StreetName"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('addressline1_prev')}
	                    </td>
	                </tr>
	            <!--    <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_AddressLine2"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('addressline2_prev')}
	                    </td>
	                </tr>   -->
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_SuiteUnit"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('suiteunit_prev')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_City"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                         ${activationItems.getModel('personalData2_Address').get('city_prev')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="summary_Address_Province"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesBottomCell">
	                         <span data-translationKey=${activationItems.getProvinceNameByValue(activationItems.getModel('personalData2_Address').get('province_prev'))}></span>
	                         <!--${activationItems.getModel('personalData2_Address').get('province_prev')} -->
	                    </td>
	                </tr>
	            </table>
			</div>
		{{/if}}
<!--
	summary_FinEmp_SubTitle1							:	"Financial Information and ",
	summary_FinEmp_SubTitle2							:	"Employment Information",
	summary_FinEmp_BankingProducts						:	"Banking Products",

	summary_FinEmp_EmploymentType						:	"Employment Type",
	summary_FinEmp_GrossAnnualIncome					:	"Gross Annual Income",
	summary_FinEmp_SIN									:	"Social Insurance Number",

	summary_FinEmp_JobTitle								:	"Job Title",
	summary_FinEmp_JobCategory							:	"Job Category",
	summary_FinEmp_EmpName								:	"Employer Name",
	summary_FinEmp_EmpCity								:	"Employer City",
	summary_FinEmp_EmpProvince							:	"Employer Province",
	summary_FinEmp_EmpPhone								:	"Employer Phone",
	summary_FinEmp_DurationCurrentEmp					:	"Duration at Current Employer",
//-->
			<div id="summary_FinEmp_Area1" >
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_FinEmp_SubTitle1"></span><span class="pageSubTitle" data-translationKey="summary_FinEmp_SubTitle2"></span>
				<br>
				<br>
	            <table id="summary_Address_Table" class="stretchThisTable">
	               <!-- <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_FinEmp_BankingProducts"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        <span data-translationKey="finEmpInfo_VISAMCAMEX"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardVISAMCAMEX'))}></span>, &nbsp
	                        <span data-translationKey="finEmpInfo_BankLoan"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardBankLoan'))}></span>, &nbsp
	                        <span data-translationKey="finEmpInfo_StoreCard"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardStoreCard'))}></span>, &nbsp
	                        <span data-translationKey="finEmpInfo_ChequingAcct"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardChequingAcct'))}></span>, &nbsp
	                        <span data-translationKey="finEmpInfo_GasCard"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardGasCard'))}></span>, &nbsp
	                        <span data-translationKey="finEmpInfo_SavingsAcct"></span>: &nbsp <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('financialData').get('cardSavingsAcct'))}></span>
	                    </td>
	                </tr>-->
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_FinEmp_EmploymentType"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        <span data-translationKey=${activationItems.getEmploymentTypeFriendlyName(activationItems.getModel('financialData').get('employmentType'))}></span>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_FinEmp_GrossAnnualIncome"></span>
	                    </td>
	                    <td  class="fieldLabelsCell">
								<span id="summary_grossIncome" ></span>
	                    </td>
	                </tr>
	                <!-- US3960 Start -->
	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_FinEmp_GrossAnnualHouseholdIncome"></span>
	                    </td>
	                    <td  class="fieldLabelsCell">
								<span id="summary_grossHouseholdIncome" ></span>
	                    </td>
	                </tr>
	                <!-- End -->

	                <tr class="fieldRow">
	                    {{if activationItems.getModel('financialData').get('employmentType')=='R' }}
	                    	<td class="fieldLabelsCell fieldCellSize33">
	                    {{/if}}
	                    {{if activationItems.getModel('financialData').get('employmentType')!='R' }}
	                    	<td class="fieldLabelsCell fieldCellSize33">
	                    {{/if}}
	                        <span data-translationKey="summary_FinEmp_SIN"></span>
	                    </td>
	                    {{if activationItems.getModel('financialData').get('employmentType')=='R' }}
	                    	<td class="fieldLabelsCell fieldLabelsCell">
	                    {{/if}}
	                    {{if activationItems.getModel('financialData').get('employmentType')!='R' }}
	                    	<td class="fieldLabelsCell">
	                    {{/if}}
	                         ${activationItems.getModel('financialData').get('sin')}
	                    </td>
	                </tr>
	                <tr class="fieldRow">
			            <td class="fieldLabelsCell fieldCellSize33">
			                <span data-translationKey="summary_FinEmp_JobTitle"></span>
			            </td>
			            <td class="fieldLabelsCell">
			            	{{if  activationItems.getModel('financialData').get('employmentType')!='R' && activationItems.getModel('financialData').get('employmentType')!='U' && activationItems.getModel('financialData').get('employmentType')!='H'}}			            		
			               		{{if $.inArray(activationItems.getModel('financialData').get('jobTitle_SelectField'), ['TR_OR', 'DR_OR', 'MI_OR', 'PR_OR', 'FA_OR', 'GU_OR', 'MA_OR', 'OW_OR', 'OT_OR', 'SA_OR', 'SE_OR', 'RE_OR', 'LA_OR', 'OF_OR']) != -1 }}
			               			${activationItems.getModel('financialData').get('jobTitle')}
			               		{{else}}
			               			<span data-translationKey=${activationItems.getJobTitleNameByValue(activationItems.getModel('financialData').get('jobTitle_SelectField'))}></span>
			               		{{/if}}
			                  {{else}}
			                 	<span data-translationKey=${activationItems.getJobCategoryNameByValue(activationItems.getModel('financialData').get('jobCategory'))}></span>
			                 {{/if}}
			                </td>
			        </tr>
			        <tr class="fieldRow">
			       		{{if  activationItems.getModel('financialData').get('employmentType')=='R' || activationItems.getModel('financialData').get('employmentType')=='U' || activationItems.getModel('financialData').get('employmentType')=='H'}}
	                    	<td class="fieldLabelsBottomCell fieldCellSize33">
	                    {{else}}
	                    	<td class="fieldLabelsCell fieldCellSize33">
	                    {{/if}}
			                <span data-translationKey="summary_FinEmp_JobCategory"></span>
			            </td>
			            {{if  activationItems.getModel('financialData').get('employmentType')=='R' || activationItems.getModel('financialData').get('employmentType')=='U' || activationItems.getModel('financialData').get('employmentType')=='H'}}
	                    	<td class="fieldLabelsCell fieldValuesBottomCell">
	                    {{else}}
	                    	<td class="fieldLabelsCell fieldCellSize33">
	                    {{/if}}
			                <span data-translationKey=${activationItems.getJobCategoryNameByValue(activationItems.getModel('financialData').get('jobCategory'))}></span>
			                <!--${activationItems.getModel('financialData').get('jobCategory')} -->
			            </td>
			        </tr>

	                {{if activationItems.getModel('financialData').get('employmentType')!='R' && activationItems.getModel('financialData').get('employmentType')!='U' && activationItems.getModel('financialData').get('employmentType')!='H' }}
						<tbody>
			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33 withBorderTop">
			                        <span data-translationKey="summary_FinEmp_EmpName"></span>
			                    </td>
			                    <td class="fieldLabelsCell withBorderTop">
			                         ${activationItems.getModel('financialData').get('employerName')}
			                    </td>
			                </tr>
			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_FinEmp_EmpCity"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                         ${activationItems.getModel('financialData').get('employerCity')}
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_FinEmp_EmpPhone"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                         ${activationItems.getFormatedPhone(activationItems.getModel('financialData').get('employerPhone'))}
			                         <!--${activationItems.getModel('financialData').get('employerPhone')}-->
			                    </td>
			                </tr>
			                <tr class="fieldRow">
			                    <td class="fieldLabelsBottomCell fieldCellSize33">
			                        <span data-translationKey="summary_FinEmp_DurationCurrentEmp"></span>
			                    </td>
			                    <td class="fieldLabelsCell fieldValuesBottomCell">
			                         ${activationItems.getDurationValue(activationItems.getModel('financialData').get('howLongYears'))} <span data-translationKey="summary_Years" />,
							 		 ${activationItems.getDurationValue(activationItems.getModel('financialData').get('howLongMonthes'))} <span data-translationKey="summary_Months" />
			                    </td>
			                </tr>
		                <tbody>
	                {{/if}}
	            </table>
			</div>
<!--
	summary_SupCard_SubTitle							:	"Supplementary Card Information",
	summary_SupCard_OptedIn								:	"Wants supplementary card",
	summary_SupCard_ForWhom								:	"Supplementary card for",
	personalData_FirstName							:	"First Name",
	personalData_Initial								:	"Initial",
	personalData_LastName							:	"Last Name",
	personalData_DateOfBirth							:	"Date of Birth",
	summary_SupCard_Telephone							:	"Telephone",

	summary_SupCard_Address_SubTitle					:	"Address Information",
	summary_SupCard_Address_PostalCode					:	"Postal Code",
	summary_SupCard_Address_StreetNumber				:	"Street Number",
	summary_SupCard_Address_StreetName					:	"Street Name",
	summary_SupCard_Address_AddressLine2				:	"Address Line 2",
	summary_SupCard_Address_SuiteUnit					:	"Suite/Unit",
	summary_SupCard_Address_City						:	"City",
	chooseProduct_Province                              :   "Province",
//-->
			<div id="summary_SupCard_Area1" >
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_SupCard_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_Address_Table" class="stretchThisTable">
	            	<tbody>
		                <tr class="fieldRow">
		                    {{if activationItems.getModel('supCardRequestData').get('cardYesNo')==='Y' }}
		                    	<td class="fieldLabelsTopCell fieldCellSize33">
		                    {{/if}}
		                    {{if activationItems.getModel('supCardRequestData').get('cardYesNo')==='N' }}
		                    	<td class="fieldLabelsSingleCell fieldCellSize33">
		                   	{{/if}}
		                        <span data-translationKey="summary_SupCard_OptedIn"></span>
		                    </td>
		                    {{if activationItems.getModel('supCardRequestData').get('cardYesNo')==='Y' }}
		                    	<td class="fieldLabelsCell fieldValuesTopCell">
		                    {{/if}}
		                    {{if activationItems.getModel('supCardRequestData').get('cardYesNo')==='N' }}
		                    	<td class="fieldLabelsCell fieldValuesOneCell">
		                    {{/if}}
		                        <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('supCardRequestData').get('cardYesNo')) }></span>
		                        <!--${activationItems.getModel('supCardRequestData').get('cardYesNo')} -->
		                    </td>
		                </tr>
                        {{if activationItems.getModel('supCardRequestData').get('cardYesNo')==='Y' }}
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_ForWhom"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                    <span data-translationKey=${activationItems.getSupCardForFriendlyNames(activationItems.getModel('supCardRequestData').get('cardRequestFor')) }></span>
                                    <!--${activationItems.getModel('supCardRequestData').get('cardRequestFor')}-->
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="personalData_FirstName"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('firstName')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="personalData_Initial"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('initial')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="personalData_LastName"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('lastName')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="personalData_DateOfBirth"></span>
                                </td>
                                <td id="birthDate_id_2" class="fieldLabelsCell">
                                     ${activationItems.getFormatedDate(activationItems.getModel('supCardRequestData').get('birthDate'))}
                                     <!--${activationItems.getModel('supCardRequestData').get('birthDate')} -->
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Telephone"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getFormatedPhone(activationItems.getModel('supCardRequestData').get('phone'))}
                                     <!-- ${activationItems.getModel('supCardRequestData').get('phone')} -->
                                </td>
                            </tr>

                            <tr class="fieldRow">
                                {{if activationItems.getModel('supCardRequestData').get('sameAddressYesNo')==='Y' }}
                                    <td class="fieldLabelsBottomCell fieldCellSize33">
                                {{/if}}
                                {{if activationItems.getModel('supCardRequestData').get('sameAddressYesNo')==='N' }}
                                    <td class="fieldLabelsCell fieldCellSize33">
                                {{/if}}
                                    <span data-translationKey="supCardRequest_SameAddyPrimaryApplicant"></span>
                                </td>
                                {{if activationItems.getModel('supCardRequestData').get('sameAddressYesNo')==='Y' }}
                                    <td class="fieldLabelsCell fieldValuesBottomCell">
                                {{/if}}
                                {{if activationItems.getModel('supCardRequestData').get('sameAddressYesNo')==='N' }}
                                    <td class="fieldLabelsCell fieldCellSize33">
                                {{/if}}
                                    <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('supCardRequestData').get('sameAddressYesNo')) }></span>
                                </td>
                            </tr>

                            {{if activationItems.getModel('supCardRequestData').get('sameAddressYesNo')==='N' }}
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_PostalCode"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('postalCode')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_StreetNumber"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('streetNumber')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_StreetName"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('addressLine1')}
                                </td>
                            </tr>
                          <!--  <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_AddressLine2"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('addressLine2')}
                                </td>
                            </tr>  -->
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_SuiteUnit"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('suiteUnit')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsCell fieldCellSize33">
                                    <span data-translationKey="summary_SupCard_Address_City"></span>
                                </td>
                                <td class="fieldLabelsCell">
                                     ${activationItems.getModel('supCardRequestData').get('city')}
                                </td>
                            </tr>
                            <tr class="fieldRow">
                                <td class="fieldLabelsBottomCell fieldCellSize33">
                                    <span data-translationKey="chooseProduct_Province"></span>
                                </td>
                                <td class="fieldLabelsCell fieldValuesBottomCell">
                                    <span data-translationKey=${activationItems.getProvinceNameByValue(activationItems.getModel('supCardRequestData').get('province'))}></span>
                                     <!-- ${activationItems.getModel('supCardRequestData').get('province')} -->
                                </td>
                            </tr>
                            {{/if}}
                        {{/if}}
					</tbody>
	            </table>
			</div>

			<div id="summary_Signature_Area" >
				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="summary_Signature_SubTitle"></span>
				<br>
				<br>
	            <table id="summary_SignatureProductTable" class="stretchThisTable">
	                <tr class="fieldRow">
	                    <td class="fieldLabelsTopCell fieldCellSize33">
	                        <span data-translationKey="summary_Signature_Signature"></span>
	                    </td>
	                    <td class="fieldLabelsCell fieldValuesTopCell">
	                        <img src=${activationItems.getModel('signatureModel').get('userSingnature') } class="signatureSummary" />

	                    </td>
	                </tr>

	                <tr class="fieldRow">
	                    <td class="fieldLabelsCell fieldCellSize33">
	                        <span data-translationKey="summary_Signature_Accept"></span>
	                    </td>
	                    <td class="fieldLabelsCell">
	                        <span data-translationKey=${activationItems.getCheckBoxValueFriendlyName(activationItems.getModel('signatureModel').get('userAcceptAgreement')) }></span>
	                    </td>
	                </tr>

	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell fieldCellSize33">
	                        <span data-translationKey="summary_Signature_SignDate"></span>
	                    </td>
	                    <td id="signDate_id_1" class="fieldLabelsCell fieldValuesBottomCell">
	                        ${activationItems.getFormatedDate(activationItems.getModel('signatureModel').get('signDate'))}
	                        <!--${activationItems.getModel('signatureModel').get('signDate') } -->
	                    </td>
	                </tr>

	            </table>
			</div>
			{{if isNotEmployee}}
			<div id="summary_OptProductBenefit_Area" >

				<br>
				<br>
				<span class="pageSubTitle" data-translationKey="breadCrumbItem_OptionalProducts"></span>
				<br>
				<br>
 				 <table id="summary_SelectedProductTable" class="stretchThisTable">
			<!--  Start Protector Advantage case -->
	                {{if activationItems.getModel('OptionalProductsModel').get('optionalProducts_PA')==='Y' }}
		                <tbody>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsTopCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_ProductSelected"></span>
			                    </td>
			                    <td class="fieldLabelsCell fieldValuesTopCell">
									<span data-translationKey="summary_OptProds_ProdName_PA"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Signature"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                        <img src=${activationItems.getModel('OptionalProductsModel').get('userSingnature_PA') } class="signatureSummary" />

			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Accept"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                        <span data-translationKey="yes"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsBottomCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_SignDate"></span>
			                    </td>
			                    <td id="signDate_id_2" class="fieldLabelsCell fieldValuesBottomCell">
			                        ${activationItems.getFormatedDate(activationItems.getModel('signatureModel').get('signDate'))}
			                    </td>
			                </tr>
		                </tbody>
					{{/if}}
			<!--  End Protector Advantage case -->
			<!--  Start Credit Protector case -->
				{{if activationItems.getModel('OptionalProductsModel').get('optionalProducts_CP')==='Y' }}
		                <tbody>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsTopCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_ProductSelected"></span>
			                    </td>
			                    <td class="fieldLabelsCell fieldValuesTopCell">
									<span data-translationKey="summary_OptProds_ProdName_CP"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Signature"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                        <img src=${activationItems.getModel('OptionalProductsModel').get('userSingnature_CP') } class="signatureSummary" />

			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Accept"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                       <span data-translationKey="yes"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsBottomCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_SignDate"></span>
			                    </td>
			                    <td id="signDate_id_3" class="fieldLabelsCell fieldValuesBottomCell">
			                        ${activationItems.getFormatedDate(activationItems.getModel('signatureModel').get('signDate'))}
			                    </td>
			                </tr>
		                </tbody>
					{{/if}}
			<!--  End Credit Protector case -->
			<!--  Start Identity watch case -->
					{{if activationItems.getModel('OptionalProductsModel').get('optionalProducts_IW')==='Y' }}
		                <tbody>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsTopCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_ProductSelected"></span>
			                    </td>
			                    <td class="fieldLabelsCell fieldValuesTopCell">
									<span data-translationKey="summary_OptProds_ProdName_IW"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Signature"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                        <img src=${activationItems.getModel('OptionalProductsModel').get('userSingnature_IW') } class="signatureSummary" />

			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_Accept"></span>
			                    </td>
			                    <td class="fieldLabelsCell">
			                        <span data-translationKey="yes"></span>
			                    </td>
			                </tr>

			                <tr class="fieldRow">
			                    <td class="fieldLabelsBottomCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_SignDate"></span>
			                    </td>
			                    <td id="signDate_id_4" class="fieldLabelsCell fieldValuesBottomCell">
			                        ${activationItems.getFormatedDate(activationItems.getModel('signatureModel').get('signDate'))}
			                    </td>
			                </tr>
		                </tbody>
					{{/if}}
			<!--  End Identity Watch case -->
			<!--  Start Not this time  case -->
					{{if activationItems.getModel('OptionalProductsModel').get('optionalProducts_NA')==='Y' }}
		                <tbody>
			                <tr class="fieldRow">
			                    <td class="fieldLabelsSingleCell fieldCellSize33">
			                        <span data-translationKey="summary_OptProds_ProductSelected"></span>
			                    </td>
			                    <td class="fieldLabelsCell fieldValuesOneCell">
									<span data-translationKey="summary_OptProds_ProdName_NA"></span>
			                    </td>
			                </tr>
		                </tbody>
					{{/if}}
			<!--  End Not this time case -->
	            </table>
			</div>
		{{/if}}
		<br>
		<div>
		<br>

		<center>
			<div class="wrapLoginTable">
	            <table id="loginFieldsTable">
	            	{{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() === 'E'}}
	                <tr class="fieldRow">

	                    <td class="fieldLabelsTopCell fieldSize55">
	                        <span data-translationKey="loginScreen_First_Name"></span>
	                    </td>
	                    <td class="fieldValuesTopCell">
	                        <input class="fieldValuesTextField upperCaseField" id="summaryFirstNameTextField" maxlength="22" type="text" tabindex=1/>
	                    </td>
	                </tr>
	                <tr class="fieldRow">
	                    <td class="fieldLabelsBottomCell  fieldSize55">
	                        <span data-translationKey="loginScreen_Last_Name"></span>
	                    </td>
	                    <td class="fieldValuesBottomCell ">
	                        <input class="fieldValuesTextField upperCaseField" id="summaryLastNameTextField" maxlength="22" type="text" tabindex=2/>
	                    </td>
	                </tr>
	                {{/if}}
	                {{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== 'E'}}
					<tr class="fieldRow">
	                    <td class="fieldLabelsSingleCell fieldSize55">
	                        <span data-translationKey="loginScreen_AgentID_Label"></span>
	                    </td>
	                    <td class="fieldValuesOneCell">
	                        <input class="fieldValuesTextField upperCaseField" id="summaryAgentIDTextField" type="text" maxlength="8" tabindex=3/>
	                    </td>
	                </tr>
	                {{/if}}
	            </table>
			</div>
			<br>
			<br>
			<div>
            <span id="summary_SubmitButton" class="button grayflat applyButtonWidth">
            	<span class="buttonText" data-translationKey="summary_SubmitButton"></span>
			</span>
			<br>
			<br>
			<div class="logoIcon logoIconUnclicked"></div>
        </center>
		<br>
		<div>
		<br>

	</div>
</script>
