<script id="WICISupCardScreen-template" type="text/x-jquery-tmpl">	
	<div class="ScreenLayout" id="SupCardScreen_PageContents">
	
	    <br><br><br>
	    <center>
	        {{if activationItems.getModel('chooseProductModel').get('productCard') == "OMX" || activationItems.getModel('chooseProductModel').get('productCard') == "OMZ"}}
		           <a href="#" id="suppCard_OMX" class="supplementaryCardImage"></a>
		    {{else activationItems.getModel('chooseProductModel').get('productCard') === "OMP" || 
	                    	               activationItems.getModel('chooseProductModel').get('productCard') === "OMR"}} 
	              <a href="#" id="suppCard_OMP_OMR" class="supplementaryCardImage"></a>   
		    {{/if}} 
	     </center>
	     
		<br>		
		<br>		
		<center>
			<span id="SupCardClickHere" class="pageTitle" data-translationKey="supCardRequest_PageTitle"></span>
		</center>
		<br>
		<br>
		<center>
			<div id="SupCardRequest_TitleAreaYesNO" >
	            <table id="titleTable" class="stretchThisTable" >
	                <tr >
	                    <td class="fieldLabelsSingleCell" colspan="4">
	                        <span data-translationKey="supCardRequest_WouldYouLikeACard"></span>
	                    </td>
	                    <td class="fieldValuesOneCell fieldValuesCellFlip">
	                        <select name="flipSupplementaryCard" id="flipSupplementaryCard" data-role="slider">
								<option id="flipSupplementaryCard_no" value="N">No</option>
								<option id="flipSupplementaryCard_yes" value="Y">Yes</option>
							</select> 
	                    </td>	                    
	                </tr>
	            </table>
			</div>
		</center>
	<br>
	<br>
	<div id="supCardDetailsPanel" >
		<center>
				<div class="supCardAttention" name="supCardAttentionId" id="supCardAttentionId">
					<p class="supCardAttentionText" data-translationKey="supCardAttention_Text"></p>
				</div>
				<br>
				<table class="regularTableEx stretchThisTable tableNoCellsBorder" id="supCardRequestType_Group">
					<tr>
						<td class="heightForRadioButtonLabelCell labelPadingLeft15">
							<span class="fieldLabelsTitle" data-translationKey="supCardRequest_ForWhom"></span>						
						</td>
					</tr>
					<tr>
						<td>
							<center>
								<fieldset  id="supCardRequestType" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain" class="actionButtonGroup ui-controlgroup ui-controlgroup-horizontal">
									<a id="supCardRequest_Spouse_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-corner-left ui-btn-up-c">
										<span class="ui-btn-inner" aria-hidden="true">
											<span class="ui-btn-text" data-translationKey="supCardRequest_Spouse"></span>
										</span>
									</a>
									<a id="supCardRequest_Son_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
										<span class="ui-btn-inner" aria-hidden="true">
											<span class="ui-btn-text" data-translationKey="supCardRequest_Son"></span>
										</span>
									</a>
									<a id="supCardRequest_Daughter_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
										<span class="ui-btn-inner" aria-hidden="true">
											<span class="ui-btn-text" data-translationKey="supCardRequest_Daughter"></span>
										</span>
									</a>									
									<a id="supCardRequest_Relative_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-btn-up-c">
										<span class="ui-btn-inner" aria-hidden="true">
											<span class="ui-btn-text" data-translationKey="supCardRequest_Relative"></span>
										</span>
									</a>									
									<a id="supCardRequest_Other_RadioButton" href="#" data-theme="b" data-role="button" class="buttonItem ui-btn ui-corner-right ui-controlgroup-last ui-btn-up-c">
										<span class="ui-btn-inner" aria-hidden="true">
											<span class="ui-btn-text" data-translationKey="supCardRequest_Other"></span>
										</span>
									</a>
								</fieldset>
							</center>			
						</td>
					</tr>
				</table>
			</center>
			<br>
			<br>	 
			<center>
				<div id="SupCard_PersonalDetailsArea" >
		            <table class="stretchThisTable">
		                <tr class="fieldRow">
		                    <td class="fieldLabelsTopCell fieldCellSize33">
		                        <span data-translationKey="supCardRequest_FirstName"></span>
		                    </td>
		                    <td class="fieldValuesTopCell">
		                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="30" id="supCardRequest_FirstName_TextField" type="text" tabindex=1/>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="supCardRequest_Initial"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="supCardRequest_Initial_TextField" type="text" maxlength="1" tabindex=2 />
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="supCardRequest_LastName"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesTextField upperCaseField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="supCardRequest_LastName_TextField" maxlength="40" type="text" tabindex=3/>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="supCardRequest_DateOfBirth"></span>
		                    </td>
		                    <td class="fieldValuesCell">
		                        <input class="fieldValuesTextField" id="supCardRequest_DateOfBirth_TextField"  min="1800-01-01" max="3000-12-31" type="date" tabindex=4/>
		                    </td>
		                </tr>
		                <tr class="fieldRow">
		                    <td class="fieldLabelsBottomCell fieldCellSize33">
		                        <span data-translationKey="supCardRequest_Telephone"></span>
								<span id="sup_phone_div">
				          			<a class="tooltip contactInfomation_i_icon margintopbottomleft" id="sup_infomation_phone">
             		     			<span class="tooltipphonetextFinSuppPage" data-translationKey="contactInfo_PhoneToolTipMsg"></span>
                        			</a>
                       			</span>
		                    </td>
		                    <td class="fieldValuesBottomCell">
		                        <input class="fieldValuesPhoneField" id="supCardRequest_Telephone_TextField" type='tel' maxlength="10" tabindex=5/>
		                    </td>
		                </tr>
		            </table>
				</div>
			</center>
			<br>		
			<br>
			<br>
			<center>
		            <table id="titleTable" class="stretchThisTable">
		                <tr >
		                    <td class="fieldLabelsSingleCell" colspan="6">
		                        <span data-translationKey="supCardRequest_SameAddyPrimaryApplicant"></span>
		                    </td>
		                    <td class="fieldValuesOneCell fieldValuesCellFlip">
		                        <select name="flipSameAddress" id="flipSameAddress" data-role="slider">
									<option id="flipSameAddress_no" value="N">No</option>
									<option id="flipSameAddress_yes" value="Y">Yes</span></option>									
								</select> 
		                    </td>
		                </tr>
		            </table>
			</center>
		</div>
		<br>
		<br>
		<br>
		<div id="supAddressPanel" >
		<div class="row">
            <div class="column_two elementWithBoldFont">
               <!-- VZE-265 -->
               <p class="bold fontSize30 currentMailingAddress"><span id="i_icon_sup_card" data-translationKey="personalData_current_Mailing_address"></span>
			 		<span>
						<a class="tooltip personalInfomation_i_icon" id="suppCard_infomation_cityName">
             				<span class="tooltipCityNametext" data-translationKey="personalData_cityNameLongerThen24CharError_msg"></span>
                		</a>
             </span><br> 
            </div>
        </div>
        
        <div class="row">
             <div class="column_one">
                 <div id="canadaPostLogo" class="personalInfo_CanadianPostLogo"></div>
              </div>
              <div class="column_two">
                   <input id="supStreetAddress" placeholder="Start typing a street address or postal code" type="text" class="streetAddressCanadaPost upperCaseField" >
              </div>
        </div>
        <br>
         <div id="sup_canadaPost_SearchedAddress" class="personalInfoColorGray fontSize19 width100 uppercase">
            <div class="elementWithBoldFont">
                <span id="address_supunit" name="address_supunit"></span><span id="address_supunit_hyphen">-</span>
                <span id="address_supLine1" name="address_supLine1"></span><span>, </span><br>
				<span id="address_supLine2" name="address_supLine2"></span></span><span  id="address_supLine2_br"><br></span>
				<span id="address_supCity" name="address_supCity"></span><span>, </span>			
				<span id="address_supProvince" name="address_supProvince"></span><br>
				<span id="address_supPostalcode" name="address_supPostalcode"></span>
            </div>
        </div>
		<br>
		<div id="sup_canadaPostAddressDescription1" class="fontSize20 personalInfoColorGray elementWithTop17 paddingBottom40">
           <span data-translationKey="personalData_canadaPostAddressPara1"></span>
        </div>
		<center>
            <span id="sup_EditAddressButton" class="personalInfo_CanadaPostButton greenColor">
                <span data-translationKey="personalData_EditAddressButton"></span>
			</span>
         </center>  
        <div id="sup_enterAddressManuallySection" class="elementWithTop17 paddingBottom40">
        <div class="row stretchThisTable">
            <div class="column_one tdWidth15">
                <span data-translationKey="personalData_PreviousAddress_SuiteUnit" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="sup_SuiteUnit_TextField" placeholder="Unit #" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="supMulti-unit" >
            </div>
            <div  class="column_one">
                <a class="tooltip" href="#" id="suppCardInfo_infomation_button">
                    <span class="tooltiptext" data-translationKey="personalData_POBoxToolTipMsg"></span>
                </a>
             </div>
            <div class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine1" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="sup_AddressLine1_TextField" placeholder="Street Number, Street Name" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="supAddressLine1" maxlength="40">
            </div>
            <div id="supAddressLine2Section" class="marginCanadaPostLine1 column_one androidPaytdWidth">
                <span data-translationKey="personalData_PreviousAddress_AddressLine2" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="sup_AddressLine2_TextField" placeholder="Mailing Address Line 2" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput margin_title_text upperCaseField" name="supAddressLine2" >
            </div>
        </div><br>
        <div class="row stretchThisTable">
            <div class="column_one tdWidth35">
                <span data-translationKey="personalData_PreviousAddress_City" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="sup_City_TextField" placeholder="City" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="margin_title_text canadaPostInput upperCaseField" name="supCity" >
            </div>
            <div class="marginCanadaPostLine2 inputTextAlignment">
                <span data-translationKey="personalData_PreviousAddress_Province" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>               
                <select id="sup_Province_TextField" placeholder="Province" type="text" class="canadaPostProvinceHeight margin_title_text upperCaseField" name="supProvinceCode" ></select>
            </div>
            <div class="column_one tdWidth20">
                <span data-translationKey="personalData_PreviousAddress_PostalCode" class="canadaPostInputBoxTitle personalInfoColorGray"></span><br>
                <input id="sup_PostalCode" placeholder="L#L#L#" autocomplete="off" autocorrect="off" spellcheck="false" type="text" class="canadaPostInput form-control margin_title_text upperCaseField" name="supPostalcode" >
            </div>
        </div>
        </div>
		<center>
            <span id="sup_AcceptButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_AcceptButton"></span>
			</span>
         </center>
        <p id="sup_canadaPost_addressSearch_instructions" class="fontSize16 personalInfoColorGray">
            <span data-translationKey="personalData_canadaPostAddress_1"></span><br>
            <span data-translationKey="personalData_canadaPostAddress_2"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_3"></span><br><br>
            <span data-translationKey="personalData_canadaPostAddress_4"></span>
         </p>
         <br>
         <center>
            <span id="sup_EnterAddressManuallyButton" class="personalInfo_CanadaPostButton greenColor">
                <span  data-translationKey="personalData_EnterAdressManuallyButton"></span>
			</span>
         </center>
		 <br>

		</div>
		<br>
		<br>
		<br>
	</div>	
</script>		