<script id="WICIAgentAttributionScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout wiciLoginPage" id="agentAttributionPage_PageContents">
        <br>
        <br>
        <br>
       
        <center>
            <div id="CTFSLogo" class="Login_CanadianTireLogo"></div>
        </center>
        <br>
        <br>
        <br>
        <div id="loginScreen_FieldsArea">
            <center>
                <div class="wrapLoginTable">
                    <table id="loginFieldsTable" class="agentTableWidth">
                        <tr class="fieldRow">
                            <td class="fieldEmailInfoCell fieldSize55">
                                <!--<span data-translationKey="loginScreen_UserID_Label"></span>//-->
                                <span data-translationKey="agentAttribution_EnterAgentId_label"></span>
                            </td>
                            <td class="fieldValuesTopCell">                                
                                <input class="fieldValuesTextField upperCaseField" id="agentAttributionScreen_agentIDTextField" type="text" maxlength="7" tabindex=1/>
                            </td>
                        </tr>
                        <tr class="fieldRow hidden">
                            <td class="fieldLabelsBottomCell fieldSize55">
                                <span data-translationKey="agentAttribution_NewPassword_label"></span>
                            </td>
                            <td class="fieldValuesBottomCell">
                                <input class="fieldValuesTextField upperCaseField" id="newPasswordField" maxlength="6" type="text" tabindex=2/>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <center>
          
          <div class="wrapLoginTable">
            <table class="radioButtonTableNoBorder">
                        <tr>
                            <td class="radioButtonWidth">
                            
                                    <div class="agentRadiobutton">
                                         <input type="radio" id="create_CheckField" name="radios" value="Create" checked>
                                         <!--<label for="create">Create</label> -->

                                    </div> 
                                  
                            </td>
                            <td class="radioTextWidth">
                                 <span class="agentRadioButton" data-translationKey="agentLoginScreen_Create"></span>
                            </td>
                            
                            <td class="radioButtonWidth">
                                       <div class="agentRadiobutton">
                                            <input type="radio" id="update_CheckField" name="radios" value="Update">
                                         <!-- <label for="update">Update</label> -->
						                </div>    
                            </td>
                            <td class="radioTextWidth">
                              <span class="agentRadioButton" data-translationKey="agentLoginScreen_Update"></span>
                            </td>
                            
                            <td class="radioButtonWidth">
                                       <div class="agentRadiobutton">
                                            <input type="radio" id="delete_CheckField" name="radios" value="Delete">
                                           <!--  <label for="delete">Delete</label> -->
						                </div>   
                            </td>
                            <td class="radioTextWidth">
                                 <span class="agentRadioButton" data-translationKey="agentLoginScreen_Delete"></span>
                            </td>
                            <td class="radioButtonWidth">
                                       <div class="agentRadiobutton">
                                            <input type="radio" id="search_CheckField" name="radios" value="Search">
                                            <!-- <label for="search">Search</label> -->
						                </div>      
                            </td>
                            <td class="radioTextWidth">
                               <span class="agentRadioButton" data-translationKey="agentLoginScreen_Search"></span>
                            </td>
                            
                        </tr>
             </table>
             </div>
            </center>
            <br>
             <center>
                <span id="agentAttributionScreen_submitButton" class="button greenflat loginButtonWidth">
                    <span class="buttonText" data-translationKey="agentAttribution_Submit_Button"></span>
                </span>
                <br>
            </center>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</script>
