<script id="WICIChooseProductScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="chooseProductScreen_PageContents">
		<br />
		<br />
		<div id="chooseProductScreen_PageHeader">
            <span class="pageTitle" data-translationKey="chooseProduct_ChooseOneOfTheCreditCards"></span>
            <span class="pageTitle pageTitleCSR" style="display: none;" data-translationKey="chooseProduct_CanadianTireOptionsMC"></span>
            <br />
            <br />
            <ul id="creditCardProductList">
                <li>
                    <a href="#" id="omcCard" class="creditCardProductClickableProduct" data-lang-class>
                        <span class="CC_Labels" data-translationKey="chooseProduct_OptionsMasterCard"></span>
                    </a>
                    <div id="omcCardBottom" class="ctmLogo_eng" data-lang-class></div>
                </li>
				<li>
                    <a href="#" id="ompCard" class="creditCardProductClickableProduct">
                        <span class="CC_Labels" data-translationKey="chooseProduct_GasAdvantageMasterCard"></span>
                    </a>
                </li>
                <!-- US3766 //-->
				<li class="OMRPortrait" >
                    <a href="#" id="omrCard" class="creditCardProductClickableProduct" data-lang-class>
                        <span class="CC_Labels" data-translationKey="chooseProduct_CashAdvantageMasterCard"></span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </div>

        <div id="cardDescriptionArea">
        </div>
        <br />
        <br />
		<center>
		<div id="chooseProduct_PromoCodeArea" >
            <table id="promoCodeTable" class="stretchThisTable">
    			<tr class="fieldRow">
                    <td class="fieldLabelsTopCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_Program"></span>
                    </td>
                    <td class="fieldValuesTopCell">
						<select id="programDropDown" class="fieldValuesTextField" tabindex=1>
						</select>
                    </td>
                </tr>
                <tr class="fieldRow">
                    <td class="fieldLabelsCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_PromoCode"></span>
                    </td>
                <!-- US3767 - Start //-->
                    <td class="fieldValuesCell">                       
                       <select id="promoCodeDropDown" class="fieldValuesTextField" tabindex=1>
					   </select>
                    </td>
                </tr>
                                
                <tr class="fieldRow"> 
                <!-- US4194 - Start //-->
                    {{if activationItems.getModel('loginScreen').get('locationFieldID') >= "6000" && 
                    	activationItems.getModel('loginScreen').get('locationFieldID') <= "6999"}}			
							<td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="chooseProduct_PromoCode"></span>
		                    </td>
					{{else}}
						{{if activationItems.getModel('loginScreen').get('employerID').toUpperCase() !== "E"}}						
							<td class="fieldLabelsCell fieldCellSize33">
		                        <span data-translationKey="chooseProduct_PromoCode_Other"></span>
		                    </td>
		                {{else}}
							<td class="fieldLabelsCell fieldCellSize33">
	                        	<span data-translationKey="chooseProduct_PromoCode"></span>
	                    	</td>
                    	{{/if}}
					{{/if}}
					<!-- US4194 - End //--> 					
               <!-- US3767 - End //-->                  
                    <td class="fieldValuesCell">
                        <input class="fieldValuesTextField upperCaseField" id="promoCodeTextField" type="text" tabindex=2 maxlength="5"/>
                    </td>
                </tr>
                <tr class="fieldRow">
                    <td class="fieldLabelsBottomCell fieldCellSize33">
                        <span data-translationKey="chooseProduct_Province"></span>
                    </td>
                    <td class="fieldValuesBottomCell">
						<select id="provinceTextField" class="fieldValuesTextField" tabindex=3>
						</select>
                    </td>
                </tr>
            </table>
		</div>
		</center>
		<br />
		<br />
		<center>
            <span id="chooseProductScreen_ApplyNowButton" class="button grayflat applyButtonWidth">
            	<span class="buttonText" data-translationKey="chooseProduct_ApplyNow_Button_Label"></span>
			</span>
        </center>
		<br />
		<br />
        <hr>
    </div>
	<div id="chooseProductScreen_disclaimerArea" class="ScreenLayoutFullWidth"></div>
</script>
