<script id="WICIOptionalProductsScreen-template" type="text/x-jquery-tmpl"> 
<div class="ScreenLayout_OptionalProducts" id="OptionalProductsScreen_PageContents">
	<br> <br>

	<div class="overlay" id="useCaseThree-container">
  		<div class="handoutTabToCustomerpopup_chooseProduct">
			{{if activationItems.getModel('financialData').get('insurance_CPType_Available') == "CP_Complete"}}
    			<p class="text-left normal_text" data-translationKey="optionalProducts_UseCaseThreeDialogContentCPC"></p>
			{{else activationItems.getModel('financialData').get('insurance_CPType_Available') == "CP_LifeDisability" }}
				<p class="text-left normal_text" data-translationKey="optionalProducts_UseCaseThreeDialogContentCPLD"></p>
			{{/if}}
			<center class="retrieveAppPadding">
			<div>      				
      			<button class="dialog-btn-ok" id="useCaseThreeOk" data-translationKey="optionalProducts_UseCaseThreeDialogOk"></button>
    		</div>
			</center>
  		</div>
	</div>

	<center>
		<span id="OPClickHere" class="pageTitle"
			data-translationKey="optionalProducts_PageTitle"></span>
	</center>
	<br>
</div>

<div class="ScreenLayout_OptionalProducts" id="OptionalProductsScreen_PageContents_CPC_Title">
	<div id="title_1" class="title">
		<center>
			<div class="credit_prot_division_cpc">
				<img class="red_icon" src="app/images/red_icon.png" >
				<span data-translationKey="optionalProducts_CPC_title" class="credit_prot"></span>
			</div>
		</center>
		<div class="title_arrow_cpc">
			<img class="red_arrow" src="app/images/red_arrow.png" >
		</div>
	</div>
</div>

<br>
<div class="ScreenLayout_OptionalProducts align_center" id="OptionalProductsScreen_PageContents_CPC_Details">
	<div id="section_1" class="section wrapper_padding">
		<p class="bold" data-translationKey="optionalProducts_CPC_Helps_cover"></p>
		<ul>
			<li data-translationKey="optionalProducts_CPC_LI_Involuntary"></li>		
		 	<li data-translationKey="optionalProducts_CPC_LI_Total"></li>
		    <li data-translationKey="optionalProducts_CPC_LI_Terminal"></li>		
		</ul>
		<img src="app/images/red_separator.png" alt="Red separator" />
		<br><br>
		<p class="fontWith17" data-translationKey="optionalProducts_CPC_text_monthly"></p>		
		<h3 class="bold fontWith31" data-translationKey="optionalProducts_CPC_text_for_every" ></h3>		
		<p class="fontWith17" data-translationKey="optionalProducts_CPC_text_average"></p>		
		<h4 data-translationKey="optionalProducts_CPC_text_bill"></h4>		
		<h4 data-translationKey="optionalProducts_CPC_text_available"></h4>
		<h4 data-translationKey="optionalProducts_CPC_text_interest"></h4>
	</div>
</div>

<div class="ScreenLayout_OptionalProducts" id="OptionalProductsScreen_PageContents_CPLD_Title">
	<div id="title_1" class="title">
		<center>
			<div class="credit_prot_division">
				<img class="red_icon" src="app/images/red_icon.png" >
				<span data-translationKey="optionalProducts_CPLD_title"class="credit_prot"></span>
			</div>
		</center>
		<div class="title_arrow">
			<img class="red_arrow" src="app/images/red_arrow.png" >
		</div>
	</div>
</div>

<br>
<div class="ScreenLayout_OptionalProducts align_center" id="OptionalProductsScreen_PageContents_CPLD_Details">
	<div id="section_1" class="section wrapper_padding">
		<p class="bold" data-translationKey="optionalProducts_CPLD_Helps_cover"></p>
		<ul>
		 	<li data-translationKey="optionalProducts_CPLD_LI_Total"></li>
		    <li data-translationKey="optionalProducts_CPLD_LI_Life"></li>
		</ul>
		<img src="app/images/red_separator.png" alt="Red separator" />
		<br><br>
		<p class="fontWith17" data-translationKey="optionalProducts_CPLD_text_monthly"></p>
		<h3 class="bold fontWith31" data-translationKey="optionalProducts_CPLD_text_for_every" ></h3>		
		<p class="fontWith17" data-translationKey="optionalProducts_CPLD_text_average"></p>		
		<h4 data-translationKey="optionalProducts_CPLD_text_bill"></h4>		
		<h4 data-translationKey="optionalProducts_CPLD_text_available"></h4>
	</div>
</div>

<div class="ScreenLayout" id="OptionalProductsScreen_PageContents">
<!-- VZE-398 - New Insurance added //-->
	<div id="optionalProductsList">
		<center>
			<table class="stretchThisTable grayTableNoBorder tableWithPaddingTopAndBottom20  elementWithFontSize12" id="optionalProductsTable">
               <thead class="height0">     
                <tr>
                	<td colspan="2"class="op_fieldLabelsCell fieldLabelsCellWithTopAlign elementWithTop5">
                    	<span data-translationKey="optionalProducts_TableTitle"></span>
                    </td>
                </tr>
               </thead>
               <tbody>
					<!-- Start Credit Protector Life & Disability  -->
					<tr id="optionalProductsCreditProtectorLifeAndDisabilityItem">
						<td class="op_table_radio_td">
							<div class="wiciCheckBox">
                            	<input id="optionalProducts_CPLD_CheckField" type="checkbox" name="additionalInformation_OptionalProducts"/>
						    	<label for="optionalProducts_CPLD_CheckField"></label> 
					        </div>
				       </td>
					   <td class="op_table_title_td">
					   		<div class="section_3_copy">
					        	<div class="section_3_copy_inner">
						        	<h4 data-translationKey="OP_CPLD_title" class="elementWithBoldFont"></h4>
						            <ul>
							        	<li data-translationKey="OP_CPLD_Rule_li_1_available"></li>
						            </ul>
					             </div>
				             </div>
						<br>
					   </td>
					</tr>
                    <tr id="lineSeparatorForCPLD">
                         <td   class="paddingTopAndBottom2 op_table_radio_td"></td>
                         <td class="paddingTopAndBottom2 op_table_title_td">
							<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
                         </td>
                    </tr>
					<tr id="optionalProducts_CPLD_Table">
						<td class="op_table_title_td" colspan="2" id="optionalProducts_CPLD_Area">
							<div class="elementWithRightMargin15 cpc_area_bg_grey">
								<div class="privacyArea">
									<div class="paddingLeft30 op_paddingBottom10 cpc_bg_white">
										<br>
					                    <p data-translationKey="OP_CPLD_P_bold"></p>
					                    <p data-translationKey="OP_CPLD_disclosure" class="bold cpc_insurance_disclosure_title"></p>
										<br>
					                    <p data-translationKey="OP_CPLD_coverage" class="offer_details_title_3 bold"></p>
										<p data-translationKey="OP_CPLD_important" class="offer_details_title_2 bold"></p>
					                    <p data-translationKey="OP_CPLD_creator_group1" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_creator_group2" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_creator_group3" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_creator_group4" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_creator_group5" class="withoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_premium" class="offer_details_title_2 bold"></p>
										<p data-translationKey="OP_CPLD_premium_p" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_eligibility" class="offer_details_title_2 bold"></p>
										<p data-translationKey="OP_CPLD_eligibility_p" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_benefits" class="offer_details_title_2 bold"></p>
										<p data-translationKey="OP_CPLD_insurer" class="OP_WithoutPadding_p"></p>
					                    <ul class="op_style_ul_without_padding">
						                	<li data-translationKey="OP_CPLD_insurer_para1"></li>
						                    <li data-translationKey="OP_CPLD_insurer_para2"></li>
					                    </ul>
					                    <p data-translationKey="OP_CPLD_monthly_benefits_p" class="OP_WithoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_monthly_benefits_20_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
					                    <p data-translationKey="OP_CPLD_monthly_benefits_10_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
										<p data-translationKey="OP_CPLD_outstanding_p" class="OP_WithoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_initail_benefit_p"  class="OP_WithoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_all_p" class="OP_WithoutPadding_p" ></p>
										<p data-translationKey="OP_CPLD_life_coverage" class="offer_details_title_2 bold"></p>
					                    <p data-translationKey="OP_CPLD_life_coverage_para1" class="withoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_life_coverage_para2" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_life_coverage_para3" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_claim_procedures" class="offer_details_title_2 bold"></p>
					                    <p data-translationKey="OP_CPLD_claim_procedures_para1" class="withoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_claim_procedures_para2" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_claim_procedures_para3" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_termination" class="offer_details_title_2 bold"></p>
					                    <p data-translationKey="OP_CPLD_termination_para1" class="withoutPadding_p"></p>
					                    <p data-translationKey="OP_CPLD_termination_para2" class="withoutPadding_p"></p>
					                    <ul class="op_style_ul_without_padding">
						                	<li data-translationKey="OP_CPLD_termination_list1"></li>
						                    <li data-translationKey="OP_CPLD_termination_list2"></li>
						                    <li data-translationKey="OP_CPLD_termination_list3"></li>
						                    <li data-translationKey="OP_CPLD_termination_list4"></li>
						                    <li data-translationKey="OP_CPLD_termination_list5"></li>
						                    <li data-translationKey="OP_CPLD_termination_list6"></li>
					                    </ul>
										<p data-translationKey="OP_CPLD_creditor" class="offer_details_title_2 bold"></p>
					                    <p data-translationKey="OP_CPLD_creditor_para1" class="withoutPadding_p"></p>
										<p data-translationKey="OP_CPLD_Enrolling_you_agree_this" class="offer_details_title_3 bold withoutPadding_p"></p>
					                    <ul class="op_style_ul_without_padding op_paddingLeft30">
						                	<li data-translationKey="OP_CPLD_Enrolling_you_agree_this_1"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_2"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_3"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_4"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_5"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_6"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_7"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_8"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_9"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_10"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_11"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_12"></li>
						                    <li data-translationKey="OP_CPLD_Enrolling_you_agree_this_13"></li>
					                    </ul>
										<br>
										<p data-translationKey="OP_CPLD_liketoenroll" class="offer_details_title_3 bold"></p>
										<p data-translationKey="OP_CPLD_consentyesorno" class="offer_details_title_3 bold"></p>
										<br>
									</div>
									<br><br>
                            		<div class="warningDIV" id="warningDIVCPLD" name="warningDIVCPLD">
									<center>
										<p class="warningHeader" id="warningHeaderCPLD" name="warningHeaderCPLD"><span data-translationKey="optionalProducts_CPLD_WarningHeader"/></p>
									</center>
									<div class="warningText signatureCredentialsContainer" id="warningTextCPLD" name="warningTextCPLD">
										<p><span data-translationKey="optionalProducts_SignatureAgreement_CPLD_subTitle" /></p>
										<p><span data-translationKey="optionalProducts_CPLDProduct" /></p>
									</div>
									<div class="signatureCredentialsContainer">
										<div class="agreementBoxContainerEX" style="display: table" id="optionalProduct_CPLD_AcceptBox_Area">
											<div class="rightContaier op_padding">
												<div class="wiciCheckBox">
													<input type="checkbox" id="optionalProducts_CPLD_Agreement">
													<label for="optionalProducts_CPLD_Agreement"></label>
												</div>
											</div>
											<div class="leftContainer opCheckBoxLabel_CLD warningText1" style="display: table-cell; vertical-align: middle;">
												<div class="warningText1" id="warningText1CPLD" name="warningText1CPLD">
													<p data-translationKey="optionalProducts_TermsAndConditions_16_CPLD" class="offer_details_title_4 bold lineHeight"></p>
													<br>
													<p data-translationKey="optionalProducts_TermsAndConditions_16_CPLD_1" class="offer_details_title_4 bold lineHeight"></p>
												</div>
											</div>
										</div>
									</div>
									<br>
									<center>
										<div class="signatureContainer sugnatureFixes">
										<div class="signatureBorder" id="optionalProductsScreen_CPLD_SingnatureContainer">
											<div class="signature" id="signature_CPLD"/></div>
										</div>
										<br> 
										<span id="signature_Reset_Button1" class="button grayflat sigResetButton proceedButtonWidth"> <span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span></span>
									</center>
								</div>
                            <br><br>
							</td>
						</tr>
					</div>
					<!-- End Credit Protector Life & Disability  -->

					<!-- Start Credit Protector Complete    -->
					<div>
						<tr id="optionalProductsCreditProtectorCompleteItem">
							<td class=" op_table_radio_td">
                            	<div class="wiciCheckBox">
							 		<input id="optionalProducts_CPC_YesNoTextField" type="checkbox" name="additionalInformation_OptionalProducts" />
                             		<label for="optionalProducts_CPC_YesNoTextField"></label>
                            	</div>
							</td>
							<td class="op_table_title_td">
								<div class="section_3_copy">
					            	<div class="section_3_copy_inner">
						            	<h4 data-translationKey="OP_CPC_title"></h4>
						            	<ul>
							         		<li data-translationKey="OP_CPC_Li_1_available"></li>
						            	</ul>
					                </div>
				                </div>
							</td>
						</tr>
						<tr  class="fieldRow">
                  		<tr id="lineSeparatorForCPC">
                     		<td class="paddingTopAndBottom2 op_table_radio_td">
							</td>
                     		<td class="paddingTopAndBottom2 op_table_title_td">
								<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
                     		</td>
                  		</tr>
						<tr id="optionalProducts_CPC_Table">
							<td class="op_table_title_td" id="optionalProducts_CPC_Area" colspan="2">
								<div class="elementWithRightMargin15 cpc_area_bg_grey">
									<div class="privacyArea">
										<div class="paddingLeft30 op_paddingBottom10 cpc_bg_white">
										     <br>
					                         <p data-translationKey="OP_CPC_P_bold"></p>
					                         <p data-translationKey="OP_CPC_disclosure" class="bold cpc_insurance_disclosure_title"></p>
											 <br>
					                         <p data-translationKey="OP_CPC_coverage" class="offer_details_title_3 bold"></p>
											 <p data-translationKey="OP_CPC_important" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_creator_group1" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_creator_group2" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_creator_group3" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_creator_group4" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_creator_group5" class="withoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_premium" class="offer_details_title_2 bold"></p>
											 <p data-translationKey="OP_CPC_premium_p" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_eligibility" class="offer_details_title_2 bold"></p>
											 <p data-translationKey="OP_CPC_eligibility_p" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_benefits" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_paybenefits_p" class="withoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_employed" class="offer_details_title_3 bold op_paddingLeft10"></p>
					                         <p data-translationKey="OP_CPC_youmust_p" class="OP_WithoutPadding_p op_paddingLeft27"></p>
					                         <ul class="op_style_ul_without_padding">
						                        <li data-translationKey="OP_CPC_Li_1_employed"></li>
						                        <li data-translationKey="OP_CPC_li_2_experience"></li>
						                        <li data-translationKey="OP_CPC_Li_3_remain"></li>
					                         </ul class="style_ul_without_padding">
					                         <p data-translationKey="OP_CPC_or" class="offer_details_title_2 bold op_paddingLeft26"></p>
					                         <p data-translationKey="OP_CPC_selfemployed" class="offer_details_title_3 bold op_paddingLeft10"></p>
					                         <p data-translationKey="OP_CPC_youmust_p" class="OP_WithoutPadding_p op_paddingLeft27"></p>
					                         <ul class="op_style_ul_without_padding">
						                        <li data-translationKey="OP_CPC_Li_2_1_selfemployed"></li>
						                        <li data-translationKey="OP_CPC_Li_2_2_experience"></li>
						                        <li data-translationKey="OP_CPC_Li_2_3_remain"></li>
					                         </ul>
					                         <p data-translationKey="OP_CPC_monthly_benefits_p" class="OP_WithoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_monthly_benefits_20_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
					                         <p data-translationKey="OP_CPC_monthly_benefits_10_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
											 <p data-translationKey="OP_CPC_outstanding_p" class="OP_WithoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_initail_benefit_p"  class="OP_WithoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_all_p" class="OP_WithoutPadding_p" ></p>
					                         <p data-translationKey="OP_CPC_no_p" class="OP_WithoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_totaldisability" class="offer_details_title_2 bold"></p>
											 <p data-translationKey="OP_CPC_insurer" class="OP_WithoutPadding_p"></p>
					                         <ul class="op_style_ul_without_padding">
						                        <li data-translationKey="OP_CPC_Li_1_were"></li>
						                        <li data-translationKey="OP_CPC_Li_2_unable"></li>
						                        <li data-translationKey="OP_CPC_Li_3_regular"></li>
					                         </ul>
					                         <p data-translationKey="OP_CPC_monthly_2_benefits_p" class="OP_WithoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_monthly_2_benefits_20_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
					                         <p data-translationKey="OP_CPC_monthly_2_benefits_10_p" class="OP_WithoutPadding_p op_paddingLeft10"></p>
											 <p data-translationKey="OP_CPC_2_outstanding_p" class="OP_WithoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_2_initail_benefit_p"  class="OP_WithoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_2_all_p" class="OP_WithoutPadding_p" ></p>
											 <p data-translationKey="OP_CPC_life_coverage" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_life_coverage_para1" class="withoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_life_coverage_para2" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_life_coverage_para3" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_claim_procedures" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_claim_procedures_para1" class="withoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_claim_procedures_para2" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_claim_procedures_para3" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_termination" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_termination_para1" class="withoutPadding_p"></p>
					                         <p data-translationKey="OP_CPC_termination_para2" class="withoutPadding_p"></p>
					                         <ul class="op_style_ul_without_padding">
						                        <li data-translationKey="OP_CPC_termination_list1"></li>
						                        <li data-translationKey="OP_CPC_termination_list2"></li>
						                        <li data-translationKey="OP_CPC_termination_list3"></li>
						                        <li data-translationKey="OP_CPC_termination_list4"></li>
						                        <li data-translationKey="OP_CPC_termination_list5"></li>
						                        <li data-translationKey="OP_CPC_termination_list6"></li>
					                         </ul>
											 <p data-translationKey="OP_CPC_creditor" class="offer_details_title_2 bold"></p>
					                         <p data-translationKey="OP_CPC_creditor_para1" class="withoutPadding_p"></p>
											 <p data-translationKey="OP_CPC_Enrolling_you_agree_this" class="offer_details_title_3 bold withoutPadding_p"></p>
					                         <ul class="op_style_ul_without_padding op_paddingLeft30">
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_1"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_2"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_3"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_4"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_5"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_6"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_7"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_8"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_9"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_10"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_11"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_12"></li>
						                        <li data-translationKey="OP_CPC_Enrolling_you_agree_this_13"></li>
					                         </ul>
											 <br>
											 <p data-translationKey="OP_CPC_liketoenroll" class="offer_details_title_3 bold"></p>
											 <p data-translationKey="OP_CPC_consentyesorno" class="offer_details_title_3 bold"></p>
											</div>
											<br><br>
                                            <div class="warningDIV" id="warningDIVCPC" name="warningDIVCPC">
												<center>
													<p class="warningHeader" id="warningHeaderCPC" name="warningHeaderCPC"><span data-translationKey="optionalProducts_CPC_WarningHeader"/></p>
												</center>
												<div class="warningText signatureCredentialsContainer" id="warningTextCPC" name="warningTextCPC">
													<p><span data-translationKey="optionalProducts_SignatureAgreement_CPC_subTitle"/></p>
													<p><span class="elementWithTop17 elementWithBoldFont" data-translationKey="optionalProducts_CPCProducts"/></p>
                                            	
                                            		<div class="agreementBoxContainerEX" style="display: table" id="optionalProducts_CPC_AcceptBox_Area">
														<div class="agreementBoxContainerEX" style="display: table" id="optionalProducts_CPC_AcceptBox_Area">
															<div class="rightContaier op_padding">
																<div class="wiciCheckBox">
																	<input type="checkbox" id="optionalProducts_CPC_Agreement"> 
                                                        			<label for="optionalProducts_CPC_Agreement"></label>
												    			</div>
											    			</div>
											    			<div class="leftContainer opCheckBoxLabel_CLD" style="display: table-cell; vertical-align: middle;">
																<div class="warningText1" id="warningText1CPC" name="warningText1CPC">
													 				<p data-translationKey="optionalProducts_TermsAndConditions_16_CPC" class="offer_details_title_4 bold lineHeight"></p>
																	<br>
													 				<p data-translationKey="optionalProducts_TermsAndConditions_16_CPC_1" class="offer_details_title_4 bold lineHeight"></p>
											    				</div>
															</div>
														</div>														
													</div>
												</div>
												<br>
												<center>
													<div class="signatureContainer sugnatureFixes">
														<div class="signatureBorder" id="optionalProductsScreen_CPC_SignatureContainer">
															<div class="signature" id="signature_CPC" />
														</div>
													</div>
													<br> 
													<span id="signature_Reset_Button2" class="button grayflat sigResetButton proceedButtonWidth"> 
														<span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span>
													</span>
												</center>
										</div>
                                        <br><br>
							</td>
						</tr>
					<br>
					</div>
					<!-- End Credit Protector Complete   -->

					<!-- Start No Do not Enrol me -->
					<div id="optionalProductsNACheckFieldItem">
						<tr>
							<td
								class="op_table_radio_td">
								 <div class="wiciCheckBox marginTop23">
								         <input id="optionalProducts_NA_CheckField" type="checkbox"
								        name="additionalInformation_OptionalProducts"/>
 								    <label for="optionalProducts_NA_CheckField"></label>
 								</div>
							</td>
							<td class="op_table_title_td">
							 <div class="section_3_copy">
					                    <div class="section_3_copy_inner">
							                  <h4 class="elementWithBoldFont marginTopMinus3"
								                 data-translationKey="optionalProducts_DoNotEnrolMe"></h4>
							            </div>
							      </div>	
							</td>
						</tr>
					</div>
			</tbody>
			<tfoot class="height0">
			</tfoot>
			</table>
		</center>
	</div>
		

	<!-- End No Do not Enrol me -->
	<br>
	<br>
	<!-- Radio button optional products ends -->
	
			<footer id="op_cp_footer_termsandconditions_cpc" class="op_wrapper_footer">
		    	<p data-translationkey="OP_CPC_FT_there_are_op_offfers" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPC_FT_business_product" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPC_FT_unless" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPC_FT_CP" class="withoutPadding_p"></p><br>
				<p data-translationkey="OP_CPC_FT_license" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPC_FT_assurant" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPC_FT_mastercard" class="withoutPadding_p"></p><br>
				<p data-translationkey="OP_CPC_FT_TCPC" class="withoutPadding_p"></p>
	        </footer>

			<footer id="op_cp_footer_termsandconditions_cpld" class="op_wrapper_footer">
		    	<p data-translationkey="OP_CPLD_FT_there_are_op_offfers" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPLD_FT_business_product" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPLD_FT_unless" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPLD_FT_CP" class="withoutPadding_p"></p><br>
				<p data-translationkey="OP_CPLD_FT_license" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPLD_FT_assurant" class="withoutPadding_p"></p><br>
		        <p data-translationkey="OP_CPLD_FT_mastercard" class="withoutPadding_p"></p><br>
				<p data-translationkey="OP_CPLD_FT_TCPC" class="withoutPadding_p"></p>
	        </footer>
	<br>
	<center>
		<span id="optionalProducts_ProceedButton"
			class="button greenflat proceedToConfirmationButtonWidth"> <span
			class="buttonText" data-translationKey="optionalProducts_Proceed"></span>
		</span>
	</center>
	<br>
	<br>
</div>
</script>
