<script id="WICIInstantIssuanceSetupInsScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="pendingScreen_PageContents">
	
	<div data-role="fieldcontain" class="">
			<br>		
			<table class="personalInfoAndroidApplePayTable">
					<tr>
						<td class="androidApplePaytd androidPaytdWidth">
							{{if activationItems.getModel('printScreen').get('printScreenAndroidPay') === 'Y' }}
								<img id="androidAppleMobileImage" src="app/images/and_en.png" data-lang-src width="125%" align="right" style="margin: 10px 0 10px 0;"/>
							{{else activationItems.getModel('printScreen').get('printScreenApplePay') === 'Y' }}
								<img id="androidAppleMobileImage" src="app/images/ios_en.png" data-lang-src width="75%" align="right" style="margin: 10px 30px 10px 0;"/>
							{{/if}}
						</td>
						<td class="androidApplePaytd applePaytdWidth">
							<span class="printPageInsScreenTitle" data-translationKey="printScreen_SetUpIns"></span>
							<br>
							<ol>
								<li class="printInsPageSubTitle setupInsListSeparatorPadding" data-translationKey="printScreen_SetUpInsPara1"></li>
								{{if activationItems.getModel('printScreen').get('printScreenAndroidPay') === 'Y' }}
									<li class="printInsPageSubTitle setupInsListSeparatorPadding" data-translationKey="printScreen_SetUpInsPara2"></li>
								{{else activationItems.getModel('printScreen').get('printScreenApplePay') === 'Y' }}
									<li class="printInsPageSubTitle setupInsListSeparatorPadding" data-translationKey="printScreen_SetUpInsApplePara2"></li>
								{{/if}}
								<li class="printInsPageSubTitle setupInsListSeparatorPadding inheritPadding" data-translationKey="printScreen_SetUpInsPara3"></li>
							</ol>
							<span class="printInsPageSubTitle elementWithLeft50" data-translationKey="printScreen_SetUpInsCardNo"></span>
							<span class="printInsPageSubTitle" data-translationKey=${cardNumber}></span>
							<br>
							<span class="printInsPageSubTitle elementWithLeft50" data-translationKey="printScreen_SetUpInsExpiryDate"></span>
							<span class="printInsPageSubTitle" data-translationKey=${expiryDate}></span>
							<br>
							<table class="setupInsSecurityCodeTable elementWithLeft50">
								<tr>
									<td id="setupInsSecurityCodeLabel" class="setupInsSecurityCodetd setupInsTableWidth">
		                        		<span class="printInsPageSubTitle" data-translationKey="printScreen_SetUpInsSecurityCode"></span>
									</td>
									<td class="setupInsSecurityCodetd">
		                        		<span class="printInsPageSubTitle" data-translationKey="printScreen_SetUpInsSecurityCodeIns"></span>
									</td>
								</tr>
							</table>
							<!--							
							<span id="printScreen_DoneButton" class="button greenflat afterPrintButtonWidth uppercase">
	           					<span class="buttonText" data-translationKey="print_Done_Button"></span>
							</span>
							-->
						</td>
					</tr>
			</table>
			
			<br><br><br>
        </div>
        
        
        <br><br><br><br><br>
		
	    <center>
            <span id="instantIssuanceSetupIns_StartNewApplicationButton" class="button greenflat afterPrintButtonWidth uppercase">
            	<span class="buttonText" data-translationKey="printResponseStatus_StartNewApplication_Button"></span>
			</span><br>
			<span id="instantIssuanceSetupIns_LogOutButton" class="button darkgrayflat afterPrintButtonWidth uppercase">
            	<span class="buttonText" data-translationKey="printResponseStatus_LogOut_Button"></span>
			</span>
        </center>        
	
	
	</div>
</script>
