<script id="WICIPrintDemoScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout marginLeft25" id="printScreen_PageContents">
	<br>
	<br>
	<br>
	{{if appStatusFromResponse === 'DECLINED' }}
	
		<center>
			<div data-role="fieldcontain" class="printTest">
	        	<span class="pageTitle" data-translationKey="printScreen_Title"></span>
	         	<br><br>
					<span class="summaryPageSubTitle" data-translationKey="printScreen_SubTitle"></span>	
					<span class="summaryPageSubTitle" data-translationKey="${keyForDisplayingCardSelection}"></span>
	         	<br><br>
					<span class="summaryPageSubTitle" data-translationKey="${keyForDisplayingApplicationStatus}" />
				<br>
	        </div>
			<br><br><br>
		</center>
		
	{{else consentGranted === 'N' }}
		
			<center>
				<div data-role="fieldcontain" class="printTest">
		        	<span class="pageTitle" data-translationKey="printScreen_Title"></span>
		         	<br><br>
						<span class="summaryPageSubTitle" data-translationKey="printScreen_SubTitle"></span>	
						<span class="summaryPageSubTitle" data-translationKey="${keyForDisplayingCardSelection}"></span>
		         	<br><br>
						<span class="summaryPageSubTitle" data-translationKey="${keyForDisplayingApplicationStatus}" />
					<br>
		        </div>
				<br><br><br>
			</center>
		
	{{else consentGranted === 'Y' }}
		
			<div data-role="fieldcontain" >
	        	<span class="printPageTitle" data-translationKey="printScreen_Title"></span>
	         	<br><br><br>
				<span class="printPageSubTitle" data-translationKey="printScreen_SubTitle"></span>	
				<span class="printPageSubTitle" data-translationKey="${keyForDisplayingCardSelection}"></span>
				<span class="printPageSubTitle" data-translationKey="printScreen_PayParaSymbol"></span>
	         	<br><br><br>
				<span class="printPageSubTitle" data-translationKey="${keyForDisplayingApplicationStatus}" />
				<br><br><br>
				<span class="printPageSubTitle" data-translationKey="printScreen_ReceiveCard" />
				<br><br><br>
				<span class="printPageSubTitle" data-translationKey="printScreen_Register" />
				<br><br>
				<table class="printAndroidApplePayTable">
						<tr>
							<td class="androidApplePaytd">
								<div class="agentRadiobutton">
		                    		<input type="radio" id="printScreenAndroidPay_CheckField" name="payRadio" value="android" checked>
		                    	</div>						
								<a href="#" id="androidPayInsIss" class="androidApplePay bgCenter" data-lang-class>								
	                        		<span class="pay_Labels" data-translationKey="personalData_MobilePayments_Para4"></span>
	                    		</a>
							</td>
							<td class="androidApplePaytd">
								<div class="agentRadiobutton">
		                    		<input type="radio" id="printScreenApplePay_CheckField" name="payRadio" value="apple">
		                    	</div>
								<a href="#" id="applePay" class="androidApplePay bgCenter" data-lang-class>								
	                        		<span class="pay_Labels" data-translationKey="personalData_MobilePayments_Para5"></span>
	                    		</a>
							</td>
						</tr>
				</table>
				<br><br>
				<span id="printScreen_BeginSetupButton" class="button greenflat afterPrintButtonWidth uppercase">
		           	<span class="buttonText" data-translationKey="print_BeginSetup_Button"></span>
				</span>
	        </div>
		
		{{/if}}
			
		<br><br><br><br><br>
		
	    <center>
            <span id="print_StartNewApplicationButton" class="button greenflat afterPrintButtonWidth uppercase">
            	<span class="buttonText" data-translationKey="printResponseStatus_StartNewApplication_Button"></span>
			</span><br>
			<span id="print_LogOutButton" class="button darkgrayflat afterPrintButtonWidth uppercase">
            	<span class="buttonText" data-translationKey="printResponseStatus_LogOut_Button"></span>
			</span>
        </center>
    </div>
</script>
