<script id="WICIOptionalProductsScreen-template"
	type="text/x-jquery-tmpl"> 
<div class="ScreenLayout" id="OptionalProductsScreen_PageContents">
	<br> <br>
	<center>
		<span id="OPClickHere" class="pageTitle"
			data-translationKey="optionalProducts_PageTitle"></span>
	</center>
<br>
<!-- UAT 39 - CP Revitalization, Missed Requirement -->
<!-- US4083 - Code changes Reverted //-->
{{if !cpEnable }}
<div id="optionalProducts_CPInsuranceTextField" data-translationKey="optionalProducts_CPInsuranceText"></div>
{{/if}}
<div data-translationKey="optionalProducts_SellingLanguageText"></div>
	<div id="optionalProductsList">
		<center>
			<table class="stretchThisTable grayTableNoBorder tableWithPaddingTopAndBottom20  elementWithFontSize12" id="optionalProductsTable">
<thead class="height0">
<tr><td colspan="2" class="fieldLabelsCell fieldLabelsCellWithTopAlign elementWithTop5"><span data-translationKey="optionalProducts_TableTitle"></span></td></tr>
</thead>
<tbody>
					<!-- Start Protection Advantage  -->
					<tr class="fieldRow" id="optionalProductsProtectionAdvantageItem">
						<td class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign elementWithTop5">
						<div class="wiciRadioButton">
							<input id="optionalProducts_PA_CheckField" type="radio"
							name="additionalInformation_OptionalProducts" /><label for="optionalProducts_PA_CheckField"></label> </div></td>
						<td class="fieldValuesCell fieldLabelsCellWithCheckBox"><span
							data-translationKey="optionalProducts_ProtectionAdvantage_Title" class="elementWithBoldFont"></span>
							<span data-translationKey="optionalProducts_ProtectionAdvantage_Text"></span>
							<br>
						</td>
					</tr>
<tr id="lineSeparatorForPA">
<td   class="paddingTopAndBottom2">
</td>
<td   class="paddingTopAndBottom2">
							<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</td>
</tr>
					<tr class="fieldRow" id="optionalProducts_PA_Table">
						<td class="fieldValuesCell fieldValuesTopMargin" colspan="2"
							id="optionalProducts_PA_Area">
							<div class="elementWithRightMargin15">
								<div id="additionalInformation_OptionalProducts_PA_Table"
									class="privacyArea">
									<div class="paddingLeft60">
											<span class="TandC_Title_Format"
												data-translationKey="optionalProducts_TermsAndConditions_PA_Title" />
											<span class="TandC_subTitle_Format"
												data-translationKey="optionalProducts_TermsAndConditions_CP_Title" />
										<p>
											<span
												data-translationKey="optionalProducts_TermsAndConditions_CP" />
										</p>
										<!-- US3381 -->
										<!-- Start -->
										<!--
										<p>
											<span class="TandC_Content_Format"
												data-translationKey="optionalProducts_TermsAndConditions_CP_Additions" />
										</p>
										-->
										<!-- End -->
										<p>
												<span class="TandC_subTitle_Format"
													data-translationKey="optionalProducts_TermsAndConditions_IW_Title" />
											</p>
										<p>
											<span
												data-translationKey="optionalProducts_TermsAndConditions_IW" />
										</p>
										<p>
											<span class="TandC_Content_Format"
												data-translationKey="optionalProducts_TermsAndConditions_IW_Additions" />
										</p>
										<p >
										<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/></p>
										<!-- ALTERED -->
										<p>
												<span class="" data-translationKey="optionalProducts_SignatureAgreement1" />
										</p>
										</div>
										<div class="warningDIV" id="warningDIVPA" name="warningDIVPA">
											<center>
											<p class="warningHeader" id="warningHeaderPA" name="warningHeaderPA"><span data-translationKey="optionalProducts_WarningHeader"/></p>
										</center>
										<div class="warningText signatureCredentialsContainer" id="warningTextPA" name="warningTextPA">
											<p>
												<span data-translationKey="optionalProducts_SignatureAgreement2" />
											</p>
											<p>
												<span data-translationKey="optionalProducts_PAProducts" />
											</p>
											<p>
												<span data-translationKey="sigScreen_Date" /><label id="optionalProducts_SignDatePA">
											</p>
										</div>
											<center>
												<div class="signatureContainer sugnatureFixes">
													<div class="signatureBorder"
													id="optionalProductsScreen_PA_SingnatureContainer">
														<div class="signature" id="signature_PA" />
													</div>
												</div>
												<br> <span id="signature_Reset_Button1" class="button grayflat sigResetButton proceedButtonWidth"> <span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span>
												</span>
											</center>
											<div class="signatureCredentialsContainer">
												<label id="signatureScreen_UserName">${ClientName}</label> <br>
												<div class="agreementBoxContainerEX" style="display: table" id="optionalProduct_PA_AcceptBox_Area">
													<div class="rightContaier">
														<div class="wiciCheckBox">
															<input type="checkbox" id="optionalProducts_PA_Agreement">
															<label for="optionalProducts_PA_Agreement"></label>
														</div>
													</div>
													<div class="leftContainer  opCheckBoxLabel" style="padding-top: 0; display: table-cell; vertical-align: middle;">
														<label data-translationkey="optionalProducts_TermsAndConditions16"></label>
													</div>
											</div>
										</div>
										</div>
										<!-- /ALTERED -->
<br>
<p  class="paddingLeft60">
	<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</p>
<br>
										</div> 
<br>
<br>
										<!--<div style="padding-left: 60px;" >
	<input class="fieldValuesCheckBoxField" id="optionalProduct_PA_AcceptBox_Area" type="checkbox" />
	<span class="floatLeft" data-translationKey="signatureScreen_TermsAndConditions_AcceptBox"></span>
</div>-->
									</div>
									</div>

						</td>
						</tr>
					</div>
					<!-- End Protection Advantage  -->

					<!-- Start Credit Protector    -->
					<div>
						<tr class="fieldRow elementWithBottomMargin15"
							id="optionalProductsCreditProtectorItem">
							<td
								class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign elementWithTop5">
<div class="wiciRadioButton">
								<input id="optionalProducts_YesNoTextField" type="radio"
								name="additionalInformation_OptionalProducts" />
<label for="optionalProducts_YesNoTextField"></label>
</div>
							</td>
							<td class="fieldValuesCell fieldLabelsCellWithCheckBox"><span
								class="elementWithBoldFont"
								data-translationKey="optionalProducts_CreditProtector_Title"></span>
								<!-- US4083 - Code changes Reverted //-->								
								<span
								data-translationKey="optionalProducts_CreditProtector_Text"></span>
							</td>
						</tr>
					<tr  class="fieldRow">
<tr id="lineSeparatorForCP">
<td   class="paddingTopAndBottom2">
</td>
<td   class="paddingTopAndBottom2">
							<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</td>
</tr>
						<tr class="fieldRow fieldValuesCell" id="optionalProducts_CP_Table">
							<td class="fieldValuesCell fieldValuesTopMargin"
								id="optionalProducts_CP_Area" colspan="2">
								<div class="elementWithRightMargin15">
									<div id="additionalInformation_OptionalProducts_CP_Table"
										class="privacyArea">
										<div class="paddingLeft60">
											<p>
												<span class="TandC_Title_Format"
													data-translationKey="optionalProducts_TermsAndConditions_CP_Title" />
											</p>
											<p>
												<span
													data-translationKey="optionalProducts_TermsAndConditions_CP" />
											</p>
											<!-- US3381 -->
											<!-- Start -->
											<!--
											<p>
												<span  class="TandC_Content_Format"
													data-translationKey="optionalProducts_TermsAndConditions_CP_Additions" />
											</p>
											-->
											<!-- End -->
											<!-- US3381 -->
											<br><table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
											<p>
												<span
													data-translationKey="optionalProducts_SignatureAgreement1" />
											</p>
											</div>
											<div class="warningDIV" id="warningDIVCP" name="warningDIVCP">
												<center>
												<p class="warningHeader" id="warningHeaderCP" name="warningHeaderCP"><span data-translationKey="optionalProducts_WarningHeader"/></p>
											</center>
											<div class="warningText signatureCredentialsContainer" id="warningTextCP" name="warningTextCP">
											<p>
												<span data-translationKey="optionalProducts_SignatureAgreement2" />
											</p>
											<p>
												<span data-translationKey="optionalProducts_CPProducts" />
											</p>
											<p>
												<span data-translationKey="sigScreen_Date" /><label id="optionalProducts_SignDateCP">
											</p>
											</div>

										<br>
										<center>
											<div class="signatureContainer sugnatureFixes">
												<div class="signatureBorder"
													id="optionalProductsScreen_CP_SingnatureContainer">
													<div class="signature" id="signature_CP" />
												</div>
											</div>
											<br> <span id="signature_Reset_Button2"
												class="button grayflat sigResetButton proceedButtonWidth"> <span
												class="buttonText"
												data-translationKey="signatureScreen_Reset_Button_Label"></span>
											</span>
										</center>
										<div class="signatureCredentialsContainer">
										<label id="signatureScreen_UserName">${ClientName}</label>
										<div class="agreementBoxContainerEX" style="display: table"
											id="optionalProduct_CP_AcceptBox_Area">
											<div class="rightContaier">
												<div class="wiciCheckBox">
													<input type="checkbox"
														id="optionalProducts_CP_Agreement"> <label
														for="optionalProducts_CP_Agreement"></label>
												</div>
											</div>
											<div class="leftContainer  opCheckBoxLabel" style="padding-top: 0; display: table-cell; vertical-align: middle;">
												<label data-translationkey="optionalProducts_TermsAndConditions16"></label>
											</div>
											</div>
											</div>
											</div>
<br>
<p  class="paddingLeft60">
	<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</p>
<br>
										</div>
<br>
<br>
										<!--<div style="padding-left: 60px;" >
	<input class="fieldValuesCheckBoxField" id="optionalProducts_CP_Agreement" type="checkbox" />
	<span class="floatLeft" data-translationKey="signatureScreen_TermsAndConditions_AcceptBox"></span>
</div> -->
									</div>
								</div>
							</td>
						</tr>
					</div>

					<!-- End Credit Protector    -->

					<!-- Start CIdentity Watch Classic    -->

					<div id="optionalProductsIdentityWatchItem">
						<tr class="fieldRow">
							<td
								class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign elementWithTop5">
<div class="wiciRadioButton">
								<input
								id="optionalProducts_IW_CheckField" type="radio"
								name="additionalInformation_OptionalProducts" />
<label for="optionalProducts_IW_CheckField"></label>
</div>
							</td>
							<td class="fieldValuesCell fieldLabelsCellWithCheckBox"><span
								class="elementWithBoldFont"
								data-translationKey="optionalProducts_IdentityWatch_Title"></span>
							</td>
						</tr>
<tr>
<td   class="paddingTop2">
</td>
<td   class="paddingTop2">
							<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</td>
</tr>
						<tr class="fieldRow fieldValuesCell">
							<td class="fieldValuesCell fieldValuesTopMargin" colspan="2"
								id="optionalProducts_IW_Area">
								<div class="elementWithRightMargin15">
									<div id="additionalInformation_OptionalProducts_IW_Table"
										class="privacyArea">
										<div class="paddingLeft60">
											<p>
												<span class="TandC_Title_Format"
													data-translationKey="optionalProducts_TermsAndConditions_IW_Title" />
											</p>
											<p>
												<span
													data-translationKey="optionalProducts_TermsAndConditions_IW" />
											</p>
											<p>
												<span class="TandC_Content_Format"
													data-translationKey="optionalProducts_TermsAndConditions_IW_Additions" />
											</p>
											<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
											<p>
												<span data-translationKey="optionalProducts_SignatureAgreement1" />
											</p>
											</div>
											<div class="warningDIV" id="warningDIVIW" name="warningDIVIW">
												<center>
												<p class="warningHeader" id="warningHeaderIW" name="warningHeaderIW"><span data-translationKey="optionalProducts_WarningHeader"/></p>
											</center>
											<div class="warningText signatureCredentialsContainer" id="warningTextIW" name="warningTextIW"> 
											<p>
												<span data-translationKey="optionalProducts_SignatureAgreement2" />
											</p>
											<p>
												<span data-translationKey="optionalProducts_IWProducts" />
											</p>
											<p>
												<span data-translationKey="sigScreen_Date" /><label
													id="optionalProducts_SignDateIW">

											</p>
											</p>
										</div>
										<br>
										<center>
											<div class="signatureContainer sugnatureFixes">
												<div class="signatureBorder"
													id="optionalProductsScreen_IW_SingnatureContainer">
													<div class="signature" id="signature_IW" />
												</div>
											</div>
											<br> <span id="signature_Reset_Button3"
												class="button grayflat sigResetButton proceedButtonWidth"> <span
												class="buttonText"
												data-translationKey="signatureScreen_Reset_Button_Label"></span>
											</span>
										</center>
										<br>
										<div class="signatureCredentialsContainer"> 
											<div class="agreementBoxContainerEX" style="display: table"
												id="optionalProduct_IW_AcceptBox_Area">
												<div class="rightContaier">
													<div class="wiciCheckBox">
														<input type="checkbox" id="optionalProducts_IW_Agreement">
														<label for="optionalProducts_IW_Agreement"></label>
													</div>
												</div>
												<div class="leftContainer  opCheckBoxLabel" style="padding-top: 0; display: table-cell; vertical-align: middle;">
													<label
														data-translationkey="optionalProducts_TermsAndConditions16"></label>
												</div>
											</div>
											</div>
											</div>
<br>
<p  class="paddingLeft60">
	<table id="optionalProducts_SelectedProductTable" class="stretchThisTable"/>
</p>
<br>
										</div>
<br>
<br>
										<!--<div style="padding-left: 60px;" >
	<input class="fieldValuesCheckBoxField" id="optionalProducts_IW_Agreement" type="checkbox" />
	<span class="floatLeft" data-translationKey="signatureScreen_TermsAndConditions_AcceptBox"></span>
</div> -->

									</div>
									<div>

							</td>
						</tr>
					</div>

					<!-- End Identity Watch Classic    -->

					<!-- Start No Do not Enrol me -->

					<div id="optionalProductsNACheckFieldItem">
						<tr class="fieldRow">
							<td
								class="fieldLabelsCell fieldCellSize5 fieldLabelsCellWithTopAlign elementWithTop17">
								 <div class="wiciRadioButton marginTop23">
								<input
								id="optionalProducts_NA_CheckField" type="radio"
								name="additionalInformation_OptionalProducts"/>
 								<label for="optionalProducts_NA_CheckField"></label> </div>
							</td>
							<td class="fieldValuesCell marginTop23"><span
								class="elementWithBoldFont marginTopMinus3"
								data-translationKey="optionalProducts_DoNotEnrolMe"></span>
							</td>
						</tr>
					</div>
			</tbody>
			<tfoot class="height0">
			</tfoot>
			</table>
		</center>
	</div>

	<!-- End No Do not Enrol me -->
	<br>
	<br>
	<center>
		<span id="optionalProducts_ProceedButton"
			class="button greenflat proceedToConfirmationButtonWidth"> <span
			class="buttonText" data-translationKey="optionalProducts_Proceed"></span>
		</span>
	</center>

	<p class="TandC_Content_Format">
		<span data-translationKey="optionalProducts_TermsAndConditions25_Top" />
		<!-- UAT 39 - CP Revitalization, Missed Requirement -->
		<!-- US4083 - Code changes Reverted //--> 
		{{if !cpEnable }}
		<span id="optionalProducts_TermsAndConditions25_CP_Text" data-translationKey="optionalProducts_TermsAndConditions25_CP" />
		<span data-translationKey="optionalProducts_TermsAndConditions25_ID" />
		{{/if}}
		<span data-translationKey="optionalProducts_TermsAndConditions25_Bottom" />
	</p>
</div>
</script>
