<script id="WICILoginScreen-template" type="text/x-jquery-tmpl">
    <div class="ScreenLayout" id="loginScreen_PageContents">
        <br>
        <div class="flipAlignRight">
            <select id="language_choser" data-role="slider">
                <option value="E" selected>En</option>
                <option value="F">Fr</option>
            </select>
            <br>
            <br>
                <!-- <span id="loginScreen_TestPrintButton" class="button red login_TestPrintButton rightalign">
                    <span class="buttonText" data-translationKey="settings_testPrintButton"></span>
                </span> -->
        </div>

        <br>
        <br>
        <center>
            <div id="CTFSLogo" class="Login_CanadianTireLogo"></div>
        </center>
        <br>
        <br>
        <br>
        <div id="loginScreen_FieldsArea">
            <center>
                <div class="wrapLoginTable">
                    <table id="loginFieldsTable" class="loginTableWidth">
                        <tr class="fieldRow">
                            <td class="fieldLabelsTopCell fieldSize55">
                                <!--<span data-translationKey="loginScreen_UserID_Label"></span>//-->
                                <span data-translationKey="loginScreen_EmployerID_Label"></span>
                            </td>
                            <td class="fieldValuesTopCell">
                                <!--<input class="fieldValuesTextField upperCaseField" id="userIDTextField" type="text" maxlength="20" tabindex=1/>//-->
                                <input class="fieldValuesTextField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="employerIDTextField" type="text" maxlength="1" tabindex=1/>
                            </td>
                        </tr>
                        <tr class="fieldRow" id="retail_DropDown_Row">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_RetailNetWork_Label"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <select id="retailNetWorkId" class="fieldValuesTextField" tabindex=1></select>
					   
                            </td>
                        </tr>
                        <tr class="fieldRow">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_Location_Number"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField upperCaseField" id="locationNumberTextField" type="text" maxlength="5" tabindex=2/>
                            </td>
                        </tr>
                        <tr class="fieldRow hidden">
                            <td class="fieldLabelsBottomCell fieldSize55">
                                <span data-translationKey="loginScreen_AgentID_Label"></span>
                            </td>
                            <td class="fieldValuesBottomCell">
                                <input class="fieldValuesTextField upperCaseField" id="agentIDTextField" type="text" maxlength="8" tabindex=3/>
                            </td>
                        </tr>
                       
                        <!-- US4454 ---->
                        <tr class="fieldRow hidden">
                            <td class="fieldLabelsBottomCell fieldSize55">
                                <span data-translationKey="loginScreen_Password_Label"></span>
                            </td>
                            <td class="fieldValuesBottomCell">
                                <input class="fieldValuesTextField upperCaseField" id="passwordTextField" type="password" maxlength="6" tabindex=4/>
                            </td>
                        </tr>
                        <!-- US4454 ---->
                        <tr class="fieldRow ">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_First_Name"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField upperCaseField" id="firstNameTextField" maxlength="30" type="text" tabindex=3/>
                            </td>
                        </tr>
                        <tr class="fieldRow">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_Last_Name"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField upperCaseField" id="lastNameTextField" maxlength="30" type="text" tabindex=4/>
                            </td>
                        </tr>
                         <tr class="fieldRow" id="employeeNumberID_Row">
                            <td class="fieldLabelsCell fieldSize55">
                                <span data-translationKey="loginScreen_EmployeeNumberID_Label"></span>
                            </td>
                            <td class="fieldValuesCell">
                                <input class="fieldValuesTextField" id="employeeNumberIDTextField" type="tel" maxlength="9" tabindex=2/>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <center>
                    <div id="signature_training_completion">
                           <br>
                           <center>
	                           <div class="signatureTitle">
	                           <span class="signatureTitleFont" data-translationKey="loginScreen_signatureBox_title"></span>
	                           </div>
                           </center>
                           <br>
							<div class="signatureContainer sugnatureFixesLogine">
								<div class="signatureBorder" id="loginScreen_SingnatureContainer">
											<div class="signature" id="signatureOfStaffMember"/>
								</div>
							</div>
							<br>
							<span id="signature_Reset_Button_login_Screen" class="button grayflat sigResetButton proceedButtonWidth"> 
							         <span class="buttonText" data-translationKey="signatureScreen_Reset_Button_Label"></span>
							</span>
				    </div>			
					</center>
                    <br>
                    <center>
			               <div id="OtherStaff_TitleAreaYesNO" >
	                           <table id="titleTable" class="stretchThisTable" >
	                             <tr >
	                                 <td class="fieldLabelsSingleCellYesNo">
	                                      <span data-translationKey="loginscreen_toggleTitle"></span>
	                                 </td>
	                                 <td class="fieldValuesOneCellFlipYesNo fieldValuesCellFlipYesNo">
	                                        <select name="flipStaffMember" id="flipStaffMember" data-role="slider">
								                        <option id="flipStaffMember_no" value="N">No</option>
								                        <option id="flipStaffMember_yes" value="Y">Yes</option>
							                </select> 
	                                 </td>	                    
	                            </tr>
	                          </table>
			              </div>
			              <br>
			              <table id="loginFieldsTable_OtherstaffMember" class="loginTableWidth">
		                        <tr class="fieldRow ">
		                            <td class="fieldLabelsTopCell fieldSize55">
		                                <span data-translationKey="loginScreen_First_Name"></span>
		                            </td>
		                            <td class="fieldValuesCell">
		                                <input class="fieldValuesTextField upperCaseField" id="firstNameOtherStaffMemberTextField" maxlength="30" type="text" tabindex=3/>
		                            </td>
		                        </tr>
		                        <tr class="fieldRow">
		                            <td class="fieldLabelsCell fieldSize55">
		                                <span data-translationKey="loginScreen_Last_Name"></span>
		                            </td>
		                            <td class="fieldValuesCell">
		                                <input class="fieldValuesTextField upperCaseField" id="lastNameOtherStaffMemberTextField" maxlength="30" type="text" tabindex=4/>
		                            </td>
		                        </tr>
		                         <tr class="fieldRow" id="employeeNumberID_OtherStaffMember_Row">
		                            <td class="fieldLabelsCell fieldSize55">
		                                <span data-translationKey="loginScreen_EmployeeNumberID_Label"></span>
		                            </td>
		                            <td class="fieldValuesCell">
		                                <input class="fieldValuesTextField" id="employeeNumberIDOtherStaffMemnerTextField" type="tel" maxlength="9" tabindex=2/>
		                            </td>
		                        </tr>
                        </table>
		           </center>
                </div>
            </center>
            <br>
            <center>
                <span id="loginScreen_LoginButton" class="button greenflat loginButtonWidth">
                    <span class="buttonText" data-translationKey="loginScreen_Button_Label"></span>
                </span>
                <br>
            </center>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</script>
