<script id="creditCardDescription-template" type="text/x-jquery-tmpl">
<!-- US3011 -->
<div id="creditCardDescription" class="creditCard"> 
<!-- US3964 -->
<!--
	<div id="piTopList" class="piDescriptionList">
		<div class="col-sm-4">
			<a href="#" id="topBanner10XImage" class="topBanner10XImageBlock" />
		</div>
		<div class="col-sm-8">
			<div class="liContent">
				<span class="liTitle overviewNSTableRedText" data-translationKey="personalInfo_Loyalty_HeaderRed"></span>
				<br>
				<ul class="simpleList" id="rewardsOnPurchasList">
					<li>
						<span class="listItemText" data-translationKey="personalInfo_Loyalty_PersonalInf_Bullet1"></span>
					</li>
					
					<li>
						<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet2"></span>
					</li>
					
					<li>
						<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet3"></span>
					</li>
					<li>
						<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet4"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>			
</div>  -->

<!-- US4591 Starts-->
     <div id="piTopList" class="piDescriptionList elementTop10">
	      <table class="whiteTableWithoutBorder cardInformationTable">
	          <tr>
	               <td class="Width_TD_70">
	               <!-- add if condition for OMX and OMZ cards -->
	                 {{if cardType === "OMX"}}
	                   <p class="personalInfoPageTextSub_subTitle" data-translationKey="personalInformation_ApplyForTriangleMastercard"></p>
	                 {{else cardType === "OMZ"}}  
	                    <p class="personalInfoPageTextSub_subTitle" data-translationKey="personalInformation_ApplyForWorld_elite_card"></p>
	                 {{/if}}
	               </td>
	                 {{if cardType === "OMX"}}
	                   <td class="Width_TD_30 OMXCard4percentage"></td>
	                 {{else cardType === "OMZ"}}   
	                    <td class="Width_TD_30 OMZCard4percentage"></td>
	                 {{/if}}
	                 </td>
	          </tr>
	      </table>
     </div> 
<!-- US4591 Ends-->

<!--  US3083 
{{if !app.isNSSelected() }}
<div id="creditCardDescription" class="creditCard"> 
			<ul id="piTopList" class="piDescriptionList">
				
				<li class ="firstListItem">
					<a href="#" id="omcCard" class="creditCardBlock" />
	        	</li>
	        	
				<li class="listItem">
					<div class="liContent">
						<span class="liTitle" data-translationKey="personalInformation_liTitle1"></span>
						<br>
						<ul class="simpleList" id="rewardsOnPurchasList">
							<li>
								<span class="listItemText" data-translationKey="personalInformation_RewardsOnPurchases1"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInformation_RewardsOnPurchases2"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInformation_RewardsOnPurchases3"></span>
							</li>
							<li>
								<span class="listItemText" data-translationKey="personalInformation_RewardsOnPurchases4"></span>
							</li>
						</ul>
					</div>
	        	</li>
</ul>
		</div>
{{/if}} 
{{if app.isNSSelected() }}
<div id="creditCardDescription" class="creditCard"> 
			<ul id="piTopList" class="piDescriptionList">
				
				<li class ="firstListIteml">
					<a href="#" id="topBanner10XImage" class="topBanner10XImageBlock" />
	        	</li>
	        	
				<li class="listItem">
					<div class="liContent">
						<span class="liTitle overviewNSTableRedText" data-translationKey="personalInfo_Loyalty_HeaderRed"></span>
						<br>
						<ul class="simpleList" id="rewardsOnPurchasList">
							<li>
								<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet1"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet2"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet3"></span>
							</li>
							<li>
								<span class="listItemText" data-translationKey="personalInfo_Loyalty_Bullet4"></span>
							</li>
						</ul>
					</div>
		</li>
	</ul>
</div>	
{{/if}}  -->		
<!--				<li class="listItem">
					<div class="liContent">
						<span class="liTitle" data-translationKey="personalInformation_liTitle2"></span>
						<br>
						<ul class="simpleList" id="cardmemberBenefits">
							<li>
								<span class="listItemText" data-translationKey="personalInformation_cardmemberBenefits1"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInformation_cardmemberBenefits2"></span>
							</li>
							
							<li>
								<span class="listItemText" data-translationKey="personalInformation_cardmemberBenefits3"></span>
							</li>
							<li>
								<span class="listItemText" data-translationKey="personalInformation_cardmemberBenefits4"></span>
							</li>
							<li>
								<span class="listItemText" data-translationKey="personalInformation_cardmemberBenefits5"></span>
							</li>
						</ul>
					</div>
	  </li> -->
			
</script>