<script id="pageHeader-template" type="text/x-jquery-tmpl">
	<!--<header class="pageHeader redGradient">-->
	<span>
	<!-- US3964 Start //-->
	<header class="container-fluid whitePageHeader">
	
   	<div class="row">

		
			<div class="col-xs-12 col-sm-5 col-md-3" >
				<!-- <img src="app/images/ctfs_tab_with_logo.png" /> -->
				<div data-translationKey="PageHeader_CanadianTireTabLogo"></div>
				
			</div>
			<!-- <div class="col-xs-3 col-sm-3 col-md-8" > -->
				
					<div class="col-xs-12 col-sm-3 col-md-5 box-narrow"   >
						<!-- <p class="callout" style="text-align:center" data-translationKey="Header_NeedHelp"></p>
						<p class="icon-phone"> <span data-translationKey="Header_CallUsAt"></span>
							<strong> <span class="headerPhone" data-translationKey="header_Phone"></span></strong>
						</p> -->
						<div data-translationKey="PageHeader_CanadianTireNeedHelp"></div>
					</div>
					<div class="col-xs-9 col-sm-2"   >
						<div class="headerLogo"></div>
					</div>
					<div class="col-xs-2 col-sm-2"   >
					<!-- <div class="headerLogo" > </div> -->
						{{if switchLanguageButtonId}}
							<div class="languageRegion" >
							<span class="languageLink" id="${switchLanguageButtonId}"  data-translationKey="language_English_link"></span>						
							</div>
						{{/if}}	
					</div>
				
            <!-- </div> -->
		</div>
	<!-- US3964 End//-->
	{{if previousButtonId}}
			<a href="#" data-theme="r" data-role="button" id="${previousButtonId}" class="pageNavigationButton previous ui-btn ui-btn-icon-left ui-corner-left ui-btn-up-r">
				<!--<span class="buttonAltText" data-translationKey="pageHeader_previous"></span>-->
				<span class="buttonAltText"></span>
			</a>
		{{/if}}	
		
		{{if settingsButtonId}}
			<div data-role="content">  
			<a href="##uploadOptions" data-theme="r" data-role="button" id="${settingsButtonId}" class="pageNavigationButton settings ui-btn ui-btn-icon-right ui-corner-right ui-btn-up-r"
				data-rel="dialog" data-transition="slidedown">
				<!-- <span class="buttonAltText" data-translationKey="pageHeader_settings"></span> -->
				<span class="buttonAltText"></span>
			</a>
			</div>
		{{/if}}
		
		{{if nextButtonId}}
			<a href="#" data-theme="r" data-role="button" id="${nextButtonId}" class="pageNavigationButton next ui-btn ui-btn-icon-right ui-corner-right ui-btn-up-r">
				<!--<span class="buttonAltText" data-translationKey="pageHeader_next"></span> -->
				<span class="buttonAltText"></span>
			</a>
		{{/if}}		
	</header>
	
</script>